
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    1
    }
<div class="jumbotron">
    <h1>后台管理系统</h1>
    <p>...</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">more&nbsp;&nbsp;》</a></p>
</div>

