
@{
    ViewBag.Title = "Off_CheckIn_List";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    5
    }
@model PagedList.IPagedList<PeriodAid.Models.Off_Checkin>
@using PagedList.Mvc;
@using PeriodAid.Models
<div class="row">
    <div class="col-md-8">
            <div role="presentation" class="dropdown">
                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="drop-btn" aria-haspopup="true" aria-expanded="false" href="javascript:;">
                    <span id="drop-name">查询菜单</span>&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="drop-btn">
                    <li><a class="btn-filter" href="javascript:;" data-target="/OfflineSales/Off_CheckIn_List_ajax?status=0" data-rel="0">无数据</a></li>
                    <li><a class="btn-filter" href="javascript:;" data-target="/OfflineSales/Off_CheckIn_List_ajax?status=0" data-rel="0">未签到</a></li>
                    <li><a class="btn-filter" href="javascript:;" data-target="/OfflineSales/Off_CheckIn_List_ajax?status=1" data-rel="1">未签退</a></li>
                    <li><a class="btn-filter" href="javascript:;" data-target="/OfflineSales/Off_CheckIn_List_ajax?status=2" data-rel="2">未提报</a></li>
                    <li><a class="btn-filter" href="javascript:;" data-target="/OfflineSales/Off_CheckIn_List_ajax?status=3" data-rel="3">未确认</a></li>
                    <li><a class="btn-filter" href="javascript:;" data-target="/OfflineSales/Off_CheckIn_List_ajax?status=4" data-rel="4">已确认</a></li>
                    <li><a class="btn-filter" href="javascript:;" data-target="/OfflineSales/Off_CheckIn_List_ajax?status=5" data-rel="5">已结算</a></li>
                    <li><a class="btn-filter" href="javascript:;" data-target="/OfflineSales/Off_CheckIn_List_ajax?status=6" data-rel="6">进场费</a></li>
                    <li><a class="btn-filter" href="javascript:;" data-target="/OfflineSales/Off_CheckIn_List_ajax?status=7" data-rel="7">出场费</a></li>
                    <li><a class="btn-filter" href="javascript:;" data-target="/OfflineSales/Off_CheckIn_List_ajax?status=-1" data-rel="-1">已作废</a></li>
                </ul>
            </div>
    </div>
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="销售查询" id="search-query">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" id="search-btn"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<br />
<div class="container-fluid" id="expenseslist">
    
</div>
<input type="hidden" id="status-val" />
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/OfflineSales/Off_CheckIn_List_ajax",
                success: function (data) {
                    $("#expenseslist").html(data);
                }
            });
            $(document).delegate(".cancel-btn", "click", function () {
                var cfm = confirm("确认要删除信息吗？");
                if (cfm) {
                    var link_url = $(this).attr("href");
                    $.ajax({
                        url: link_url,
                        type: "post",
                        success: function (data) {
                            if (data == "SUCCESS") {
                                $.ajax({
                                    url: "/OfflineSales/Off_CheckIn_List_ajax",
                                    data:{
                                        status: $("#status-val").val(),
                                        query: $("#search-query").val()
                                    },
                                    success: function (data) {
                                        $("#expenseslist").html(data);
                                    }
                                });
                            }
                            else if(data == "FAIL"){
                                alert("无法作废")
                            }
                        }
                    });
                }
                return false;
            });
        });
        $(".btn-filter").click(function () {
            //$(".btn-filter").removeClass("btn-success btn-default").addClass("btn-default");
            var button = $(this);
            var url = $(button).attr("data-target");
            var name = $(button).text();
            $("#drop-name").text(name);
            $("#status-val").val($(button).attr("data-rel"));
            $.ajax({
                url: url,
                success: function (data) {
                    //alert("33");
                    //$(button).removeClass("btn-default").addClass("btn-success");
                    //$(button).remove().
                    $("#expenseslist").html(data);
                }
            });
        });
        $("#search-btn").click(function () {
            
            var url = "/OfflineSales/Off_CheckIn_List_ajax"
            $.ajax({
                url: url,
                data:{
                    status: $("#status-val").val(),
                    query:$("#search-query").val()
                },
                success: function (data) {
                    $("#expenseslist").html(data);

                }
            })


        })
    </script>
}
