
@{
    ViewBag.Title = "Off_RedPack_List";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingNine";
}
<div class="row">
    <div class="col-md-4 col-md-offset-8">
        <div class="input-group">
            <input type="text" class="form-control input-sm" id="redpack-query" placeholder="搜索店铺 / 姓名" />
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" id="redpack-search"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<br />
<div id="redpack-list">

</div>
<script>
    $(function () {
        $.ajax({
            url: "/OfflineSales/Off_RedPack_List_Ajax",
            success: function (data) {
                $("#redpack-list").html(data)
            }
        });
        $("#redpack-search").click(function () {
            var query = $("#redpack-query").val();
            var link_url = "/OfflineSales/Off_RedPack_List_Ajax"
            $.ajax({
                url: link_url,
                data: {
                    query:query
                },
                success: function (data) {
                    $("#redpack-list").html(data)
                }
            })
        })
    });
</script>