
@{
    ViewBag.Title = "Off_Statistic_Store";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    7
    }
<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="开始时间" id="data-startTime">
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="结束时间" id="data-endTime">
            </div>
            <div class="col-md-4">
                @Html.DropDownList("StoreSystem", ViewBag.SystemList as SelectList, new { @class = "form-control" })
                
            </div>
        </div>
        <span id="danger" class="text-danger h5"></span><br />
        <div id="map" class="row" style="display:none;">
            <div class="col-md-12">
                <div id="myChart_Bar" style="min-width:500px;height:500px"></div>
            </div><br />
            <div class="col-md-12">
                <div id="myChart_Pie" style="min-width:400px;height:400px"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-7">
                <input id="storeName" name="storeName" class="form-control" placeholder="门店名称" /><br />
                <select multiple id="StoreList" name="StoreList" class="form-control input-sm" style="height:400px; font-size:1em;display:none"></select>
            </div>
            <div class="col-md-4">
                <button id="data-btn" class="btn btn-info">查看</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/highcharts.js"></script>
<script>
    $("#data-startTime").datepicker({
        dateFormat: 'yy-mm-dd'
    }); 
    $("#data-endTime").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $("#StoreSystem").change(function () {
        $.ajax({
            url: "/OfflineSales/Off_Add_Schedule_StoreList",
            type: "post",
            data: {
                storesystem: $("#StoreSystem").val()
            },
            success: function (data) {
                $("#StoreList").show();
                $("#StoreList").html("");
                for (var i = 0; i < data.StoreList.length; i++) {
                    $("#StoreList").append("<option value='" + data.StoreList[i].ID + "'>" + data.StoreList[i].StoreName + "</option>");
                }

            }
        });
    });
    $("#data-btn").click(function () {
        var start = $("#data-startTime").val();
        var end = $("#data-endTime").val();
        var storeid = encodeURI(encodeURI($("#StoreList").val()));
        var selectvalue = $("#StoreList").val() + "";
        var managerArray = selectvalue.split(',');
        for (var i = 0; i < managerArray.length; i++) {
            var optionitem = $("option[value='" + managerArray[i] + "']").text();
            $("#storeName").val(optionitem);
        }
        var link_url = "/OfflineSales/Off_Statistic_Store_Ajax";
        if (start > end) {
            $("#danger").text("开始时间不能大于结束时间")
        } else if (start == "" || end == "") {
            $("#danger").text("时间不能为空")
        } else {
            $("#danger").addClass("hidden")
            $.ajax({
                url: link_url,
                data: {
                    startdate: start,
                    enddate: end,
                    storeid: storeid
                },
                success: function (data) {
                    if (data.data.length == 0) {
                        alert("该区域门店下的这段时间内没有销售数据");
                    } else {
                        $("#map").show();
                        var resultdata = data.data;
                        var totalarray = new Array();//销售总额
                        var datearray = new Array();//显示时间
                        var total_brown = 0;
                        var total_black = 0;
                        var total_lemon = 0;
                        var total_honey = 0;
                        var total_dates = 0;
                        for (var i = 0; i < data.data.length; i++) {
                            var deeint = parseInt(data.data[i].date.replace(/\D/igm, ""));
                            var dee = new Date(deeint)
                            datearray.push(dee.Format("MM-dd"));
                            var totaltemp = resultdata[i].brown + resultdata[i].black + resultdata[i].dates + resultdata[i].honey + resultdata[i].lemon;//每天销售总额
                            totalarray.push(totaltemp);
                            total_brown += resultdata[i].brown;
                            total_black += resultdata[i].black;
                            total_dates += resultdata[i].dates;
                            total_honey += resultdata[i].honey;
                            total_lemon += resultdata[i].lemon;
                        };
                        $("#myChart_Bar").highcharts({
                            chart: {
                            },
                            title: {
                                text: optionitem + '每天销售总额柱状图(单位：盒/天)'
                            },
                            xAxis: {
                                categories: datearray
                            },
                            series: [{
                                type: 'column',
                                name: '销售额度',
                                data: totalarray
                            }] 
                        });
                        $("#myChart_Pie").highcharts({
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false
                            },
                            title: {
                                text: optionitem + '每天销售总额饼状图(单位：盒/天)'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: false
                                    },
                                    showInLegend: true
                                }
                            },
                            series: [{
                                type: 'pie',
                                name: '销售额度',
                                data: [
                                    {
                                        name: '黑糖姜茶',
                                        y: total_black,
                                        //sliced: true,
                                        //selected: true,
                                        color: "#201510"
                                    },
                                    {
                                        name: '红糖姜茶',
                                        y: total_brown,
                                        //sliced: true,
                                        //selected: true,
                                        color: "#b11c36"
                                    },
                                    {
                                        name: '柠檬姜茶',
                                        y: total_lemon,
                                        //sliced: true,
                                        //selected: true,
                                        color: "#fdf796"
                                    },
                                    {
                                        name: '红枣姜茶',
                                        y: total_dates,
                                        //sliced: true,
                                        //selected: true,
                                        color: "#e94f30"
                                    },
                                    {
                                        name: '蜂蜜姜茶',
                                        y: total_honey,
                                        //sliced: true,
                                        //selected: true,
                                        color: "#ecb268"
                                    }]
                            }]
                        });
                    }
                }
            })
        }
    });
    Date.prototype.Format = function (fmt) { //author: meizz   
        var o = {
            "M+": this.getMonth() + 1,                 //月份   
            "d+": this.getDate(),                    //日   
            "h+": this.getHours(),                   //小时   
            "m+": this.getMinutes(),                 //分   
            "s+": this.getSeconds(),                 //秒   
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度   
            "S": this.getMilliseconds()             //毫秒   
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };
</script>

