
@{
    ViewBag.Title = "Off_Product_List";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingEight";
}
<div class="row">
    <div class="col-xs-8">
        <a class="btn btn-info btn-sm" id="add-btn"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增产品</a>
    </div>  
</div><br />
<div id="contentList">

</div>
<script>
    $(function () {
        var link_url = "/OfflineSales/Off_Product_List_Ajax"
        $.ajax({
            url: link_url,
            success: function (data) {
                $("#contentList").html(data)
            }
        })
    });
</script>