<div class="row">
    <div class="col-xs-8">
        <a class="btn btn-info btn-sm" id="add-btn"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增促销员信息</a>
        <a class="btn btn-info btn-sm" href="/OfflineSales/UploadSeller" style="margin-left:5px;"><i class="fa fa-upload"></i>&nbsp;&nbsp;上传促销员信息</a>
    </div>
    <div class="col-xs-4">
        <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="搜索销售员" id="search-query">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" id="search-btn"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>

