
@{
    ViewBag.Title = "Off_Schedule_Statistic";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    2
    }
@section header{
    <style>
        .count{
        list-style-type:none;
        padding-left:1px;
        }
        .count li {
        padding:10px 0 10px 0;
        }
    </style>
    }
<div id="countList" class="container">
    <div class="hidden" id="currentdate">@(Convert.ToDateTime(ViewBag.CurrentDate).ToString("yyyy-MM-dd"))</div>
    <div class="row">
        <div class="col-md-4">
            <input type="text" id="date-time" name="date-time" class="form-control" placeholder="活动时间">
        </div>
        <div class="col-md-2">
            <button id="search-btn" class="btn btn-primary">搜索</button>
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-4">
            <ul class="count">
                <li class="row">
                    <div class="col-md-4 h5"><strong>门店总数：</strong></div>
                    <div class="col-md-8">
                        
                            <div id="totalcount" class="progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;text-align:center;">
                                60%
                            </div>
       
                    </div>
                    @*<div class="input-group">
                        <div class="input-group-addon"><small>门店总数</small></div>
                        <input type="text" id="totalcount" class="input-sm form-control" value="" disabled/>
                    </div>*@
                </li>
                <li class="row">
                    <div class="col-md-4 h5"><strong>已签到：</strong></div>
                    <div class="col-md-8">
                        
                            <div id="selfcount" class="progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;text-align:center;">
                                60%
                            </div>
                       
                    </div>
                    @*<div class="input-group">
                        <div class="input-group-addon"><small>已签到</small></div>
                        <input type="text" id="selfcount" class="input-sm form-control" value="" disabled/>
                    </div>*@
                </li>
                <li class="row">
                    <div class="col-md-4 h5"><strong>代签到：</strong></div>
                    <div class="col-md-8">
                       
                            <div id="proxycount" class="progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="text-align:center;">
                                60%
                            </div>
                        
                    </div>
                    @*<div class="input-group">
                        <div class="input-group-addon"><small>代签</small></div>
                        <input type="text" id="proxycount" class="input-sm form-control" value="" disabled/>
                    </div>*@
                </li>
                <li class="row">
                    <div class="col-md-4 h5"><strong>其他：</strong></div>
                    <div class="col-md-8">                       
                            <div id="restcount" class="progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;text-align:center;">
                                60%
                            </div>                       
                    </div>
                </li>
                <li class="row">
                    <div class="col-md-4 h5"><strong>签到率：</strong></div>
                    <div class="col-md-8">
                        <div id="rate" style="margin-top:-7px;"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="row text-center">
                <div id="myChart_Pie" style="min-width:300px;height:300px"></div>
            </div>
        </div>
</div>
<script src="~/Scripts/highcharts.js"></script>
<script>
    $("#date-time").datepicker({
        dateFormat: 'yy-mm-dd'
    })
    $(function () {
        $("#date-time").val($("#currentdate").text())
        var url = "/OfflineSales/Off_Schedule_Statistic_Ajax";
        $.ajax({
            url: url,
            type: "post",
            data: {
                datetime: $("#currentdate").text()
            },
            success: function (data) {
                if (data.result == "SUCCESS") {
                    $("#totalcount").text(data.totalcount);
                    $("#totalcount").addClass("width", data.totalcount + "%");
                    $("#totalcount").attr({
                        "aria-valuenow": data.totalcount,
                        "aria-valuemax": data.totalcount
                    });
                    $("#selfcount").text(data.selfcount);
                    $("#selfcount").css("width", ((parseFloat(data.selfcount) / parseFloat(data.totalcount)) * 100 + "%"));
                    $("#selfcount").attr({
                        "aria-valuenow": data.selfcount,
                        "aria-valuemax": data.totalcount
                    });
                    $("#proxycount").text(data.proxycount);
                    $("#proxycount").css("width", ((parseFloat(data.proxycount) / parseFloat(data.totalcount)) * 100 + "%"));
                    $("#proxycount").attr({
                        "aria-valuenow": data.proxycount,
                        "aria-valuemax": data.totalcount
                    });
                    $("#restcount").text(data.restcount);
                    $("#restcount").css("width", ((parseFloat(data.restcount) / parseFloat(data.totalcount)) * 100 + "%"));
                    $("#restcount").attr({
                        "aria-valuenow": data.restcount,
                        "aria-valuemax": data.totalcount
                    });
                    $("#rate").text(((data.selfcount / data.totalcount) * 100).toFixed(2) + "%");
                    //$("#countList").html(data);
                    //制作饼状图
                    $("#myChart_Pie").highcharts({
                        chart: {
                            plotBackgroundColor: null,
                            plotBorderWidth: null,
                            plotShadow: false
                        },
                        title: {
                            text: '活动签到数据饼状图'
                        },
                        tooltip: {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions: {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',
                                dataLabels: {
                                    enabled: false
                                },
                                showInLegend: true
                            }
                        },
                        series: [{
                            type: 'pie',
                            name: '活动签到',
                            data: [
                                {
                                    name: '签到',
                                    y: data.selfcount,
                                    //sliced: true,
                                    //selected: true,
                                    color: "#d9534f"
                                },
                                {
                                    name: '代签到',
                                    y: data.proxycount,
                                    //sliced: true,
                                    //selected: true,
                                    color: "#f0ad4e"
                                },
                                {
                                    name: '其他',
                                    y: data.restcount,
                                    //sliced: true,
                                    //selected: true,
                                    color: "#5bc0de"
                                }]
                        }]
                    });
                }
            }

        });
        $("#search-btn").click(function () {
            var url = "/OfflineSales/Off_Schedule_Statistic_Ajax";
            var datetime = $("#date-time").val();
            //alert(datetime)
            $.ajax({
                url: url,
                type: "post",
                data: {
                    datetime: datetime
                },
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        $("#totalcount").text(data.totalcount);
                        $("#totalcount").addClass("width", data.totalcount + "%");
                        $("#totalcount").attr({
                            "aria-valuenow": data.totalcount,
                            "aria-valuemax": data.totalcount
                        });
                        $("#selfcount").text(data.selfcount);
                        $("#selfcount").css("width", ((parseFloat(data.selfcount) / parseFloat(data.totalcount)) * 100 + "%"));
                        $("#selfcount").attr({
                            "aria-valuenow": data.selfcount,
                            "aria-valuemax": data.totalcount
                        });
                        $("#proxycount").text(data.proxycount);
                        $("#proxycount").css("width", ((parseFloat(data.proxycount) / parseFloat(data.totalcount)) * 100 + "%"));
                        $("#proxycount").attr({
                            "aria-valuenow": data.proxycount,
                            "aria-valuemax": data.totalcount
                        });
                        $("#restcount").text(data.restcount);
                        $("#restcount").css("width", ((parseFloat(data.restcount) / parseFloat(data.totalcount)) * 100 + "%"));
                        $("#restcount").attr({
                            "aria-valuenow": data.restcount,
                            "aria-valuemax": data.totalcount
                        });
                        $("#rate").val(((data.selfcount / data.totalcount) * 100).toFixed(2) + "%");
                        //$("#countList").html(data);
                        //制作饼状图
                        $("#myChart_Pie").highcharts({
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false
                            },
                            title: {
                                text: '活动签到数据饼状图'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: false
                                    },
                                    showInLegend: true
                                }
                            },
                            series: [{
                                type: 'pie',
                                name: '活动签到',
                                data: [
                                    {
                                        name: '签到',
                                        y: data.selfcount,
                                        //sliced: true,
                                        //selected: true,
                                        color: "#d9534f"
                                    },
                                    {
                                        name: '代签到',
                                        y: data.proxycount,
                                        //sliced: true,
                                        //selected: true,
                                        color: "#f0ad4e"
                                    },
                                    {
                                        name: '其他',
                                        y: data.restcount,
                                        //sliced: true,
                                        //selected: true,
                                        color: "#5bc0de"
                                    }]
                            }]
                        });
                    }
                }
            })
            return false
        });
    })
    
   
</script>

