@model IEnumerable<PeriodAid.Controllers.ScheduleList>

@{
    ViewBag.Title = "Off_ScheduleList";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@Html.Partial("Off_Sales_Control")
<br />
<a class="btn btn-info btn-sm" id="add-btn" href="/OfflineSales/Off_Add_Schedule"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增活动预约</a><br /><br />
<div>
    <table class="table table-condensed table-striped" style="table-layout:fixed; width:100%;">
        <tr>
            <th style="width:60%">
                活动预定时间
            </th>
            <th style="width:20%">
                活动门店数量
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Encode(item.Subscribe.ToString("yyyy-MM-dd"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.ActionLink("查看", "Off_ScheduleDetails", new { date = item.Subscribe }, new { @class = "btn btn-info btn-sm edit-button" })
                </td>
            </tr>
        }

    </table>
</div>