
@{
    ViewBag.Title = "Off_Statistic_Store";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingSeven";
}
<table class="offline-search-box">
    <tr>
        <td>
            <label>开始时间：</label>
            <input type="text" class="form-control input-sm offline-search-inline" placeholder="开始时间" id="data-startTime">
        </td>
        <td>
            <label>结束时间：</label>
            <input type="text" class="form-control input-sm offline-search-inline" placeholder="结束时间" id="data-endTime">
        </td>
    </tr>
    <tr>
        <td>
            <label>销售系统：</label>
            @Html.DropDownList("StoreSystem", ViewBag.SystemList as SelectList, new { @class = "form-control input-sm offline-search-inline" })
        </td>
        <td>
            <label>系统门店：</label>
            <select class="form-control input-sm offline-search-inline" id="StoreList" name="StoreList"></select>
            <input id="storeName" name="storeName" class="form-control hidden input-sm offline-search-inline" placeholder="门店名称" />
        </td>
        <td>
            <ul class="list-inline list-unstyled offline-search-btn">
                <li><button id="data-btn" class="btn btn-info btn-sm data-btn" data-salary="day"><i class="fa fa-search"></i>&nbsp;&nbsp;日数据</button></li>
                <li><button id="mounthdata-btn" class="btn btn-info btn-sm data-btn" data-salary="month"><i class="fa fa-search"></i>&nbsp;&nbsp;月工资</button></li>
            </ul>
        </td>
    </tr>
    <tr><td id="danger" class="text-danger h5"></td></tr>
</table>
<div id="map" class="row" style="display:none">
    <div class="col-md-6">
        <div id="myChart_Bar" style="min-width:500px;height:400px"></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div id="myChart_Pie" style="min-width:500px;height:400px"></div>
    </div>
</div>
<div id="myChart_Column" style="min-width:500px;height:400px"></div>
<script src="~/Scripts/highcharts.js"></script>
<script>
    $("#data-startTime").datepicker({
        dateFormat: 'yy-mm-dd'
    }); 
    $("#data-endTime").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $("#StoreSystem").change(function () {
        $.ajax({
            url: "/OfflineSales/Off_Add_Schedule_StoreList",
            type: "post",
            data: {
                storesystem: $("#StoreSystem").val()
            },
            success: function (data) {
                $("#StoreList").html("");
                for (var i = 0; i < data.StoreList.length; i++) {
                    $("#StoreList").append("<option value='" + data.StoreList[i].ID + "'>" + data.StoreList[i].StoreName + "</option>");
                }

            }
        });
    });
    $(".data-btn").click(function () {
        var start = $("#data-startTime").val();
        var end = $("#data-endTime").val();
        var storeid = encodeURI(encodeURI($("#StoreList").val()));
        var type = $(this).attr("data-salary");
        var selectvalue = $("#StoreList").val() + "";
        var managerArray = selectvalue.split(',');
        for (var i = 0; i < managerArray.length; i++) {
            var optionitem = $("option[value='" + managerArray[i] + "']").text();
            $("#storeName").val(optionitem);
        }
        if (start > end) {
            $("#danger").text("开始时间不能大于结束时间")
        } else if (start == "" || end == "") {
            $("#danger").text("时间不能为空")
        } else {
            $("#danger").addClass("hidden")
            $.ajax({
                url: "/OfflineSales/Off_Statistic_Store_Ajax",
                data: {
                    startdate: start,
                    enddate: end,
                    storeid: storeid,
                    type:type
                },
                success: function (data) {
                    if (data.data.length == 0) {
                        alert("该区域门店下的这段时间内没有销售数据");
                    } else {
                        $("#map").show();
                        var resultdata = data.data;
                        var totalarray = new Array();//销售总额
                        var datearray = new Array();//显示时间
                        for (var i = 0; i < data.data.length; i++) {
                            var deeint = parseInt(data.data[i].Date.replace(/\D/igm, ""));
                            var dee = new Date(deeint)
                            datearray.push(dee.Format("MM-dd"));
                            var totaltemp = resultdata[i].SalesCount//每天销售总额
                            totalarray.push(totaltemp);
                        };
                        $("#myChart_Bar").highcharts({
                            chart: {
                            },
                            title: {
                                text: optionitem + '每天销售总额柱状图(单位：盒/天)'
                            },
                            xAxis: {
                                categories: datearray
                            },
                            series: [{
                                type: 'column',
                                name: '销售额度',
                                data: totalarray
                            }] 
                        });
                        statistic_store_products(start, end, storeid, type)
                        statistic_store_salary(start, end, storeid, type)
                    }
                }
            })
        }
    });
    Date.prototype.Format = function (fmt) { //author: meizz   
        var o = {
            "M+": this.getMonth() + 1,                 //月份   
            "d+": this.getDate(),                    //日   
            "h+": this.getHours(),                   //小时   
            "m+": this.getMinutes(),                 //分   
            "s+": this.getSeconds(),                 //秒   
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度   
            "S": this.getMilliseconds()             //毫秒   
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };
    function statistic_store_products(start, end, storeid, type) {
        var selectvalue = $("#StoreList").val() + "";
        var managerArray = selectvalue.split(',');
        for (var i = 0; i < managerArray.length; i++) {
            var optionitem = $("option[value='" + managerArray[i] + "']").text();
            $("#storeName").val(optionitem);
        }
        $.ajax({
            url: "/OfflineSales/Off_Statistic_Store_Product_Ajax",
            data: {
                startdate: start,
                enddate: end,
                storeid: storeid,
                type: type
            },
            success: function (data) {
                //alert(data.data[0].ProductId)
                var productarry = new Array();
                for (var i = 0; i < data.data.length; i++) {
                    var productlist = {
                        name: data.data[i].SimpleName,
                        y: data.data[i].SalesCount
                    }
                    productarry.push(productlist)
                }
                //console.log(productarry)
                $('#myChart_Pie').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: optionitem + '每天各个种类销售总额饼状图(单位：盒/天)'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: '销售额度',
                        data: productarry
                    }]
                });
            }
        })
    }
    function statistic_store_salary(start, end, storeid, type) {
        var selectvalue = $("#StoreList").val() + "";
        var managerArray = selectvalue.split(',');
        for (var i = 0; i < managerArray.length; i++) {
            var optionitem = $("option[value='" + managerArray[i] + "']").text();
            $("#storeName").val(optionitem);
        }
            $.ajax({
                url: "/OfflineSales/Off_Statistic_Store_Salary_Ajax",
                data: {
                    startdate: start,
                    enddate: end,
                    storeid: storeid,
                    type: type
                },
                success: function (data) {
                    if (data.data.length == 0) {
                        alert("该区域门店下的这段时间内没有销售数据");
                    } else {
                        var datearray = new Array();
                        var salaryarry = new Array();
                        var debitarry = new Array();
                        var bonusarry = new Array();
                        for (var i = 0; i < data.data.length; i++) {
                            var deeint = parseInt(data.data[i].Date.replace(/\D/igm, ""));
                            var dee = new Date(deeint)
                            datearray.push(dee.Format("MM-dd"));
                            var totalsalary = data.data[i].Salary
                            salaryarry.push(totalsalary);
                            var totaldebit = Math.abs(data.data[i].Debit)
                            debitarry.push(totaldebit);
                            var totalbonus = data.data[i].Bonus
                            bonusarry.push(totalbonus);
                        }
                        $('#myChart_Column').highcharts({
                            chart: {
                                zoomType: 'xy'
                            },
                            title: {
                                text: optionitem + '工资表'
                            },
                            //subtitle: {
                            //    text: 'Source: WorldClimate.com'
                            //},
                            xAxis: [{
                                categories: datearray
                            }],
                            yAxis: [{ // Primary yAxis
                                labels: {
                                    enabled: false
                                },
                                title: {
                                    text: '',
                                }
                            }, { // Secondary yAxis
                                title: {
                                    text: ''
                                },
                                labels: {
                                    enabled: false
                                },
                            }, { // Secondary yAxis
                                title: {
                                    text: '',
                                },
                                labels: {
                                    enabled: false
                                },
                            }],
                            tooltip: {
                                shared: true
                            },

                            series: [{
                                name: '扣款',
                                color: '#89A54E',
                                type: 'column',
                                yAxis: 2,
                                data: debitarry,
                                //tooltip: {
                                //    valueSuffix: ' mm'
                                //}

                            }, {
                                name: '工资',
                                color: '#4572A7',
                                type: 'column',
                                data: salaryarry,
                                //tooltip: {
                                //    valueSuffix: '°C'
                                //}
                            }, {
                                name: '奖金',
                                color: '#f10000',
                                type: 'column',
                                yAxis: 1,
                                data: bonusarry,
                                //tooltip: {
                                //    valueSuffix: '°C'
                                //}
                            }]
                        });
                    }
                }
            })
    }
</script>