
@{
    ViewBag.Title = "Off_Statistic_Seller";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    7
    }
<div class="row">
    <div class="col-md-2">
        <input type="text" class="form-control" placeholder="开始时间" id="data-startTime">
    </div>
    <div class="col-md-2">
        <input type="text" class="form-control" placeholder="结束时间" id="data-endTime">
    </div>
    <div class="col-md-3">
        <input id="seller" class="form-control" placeholder="促销员" />
    </div>
    <div class="col-md-2">
        <button id="data-btn" class="btn btn-info">查看</button>
    </div>
</div><br />
<div id="map" class="row" style="display:none;">
    <h4 class="text-center"><strong>促销员每天销售总额折线图(单位：盒/天)</strong></h4><br />
    <div class="row">
        <div class="col-md-6"><canvas id="myChart_Line_seller" width="500" height="400"></canvas></div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <ul class="count list-unstyled h6">
                <li>
                    <span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:rgba(220,220,220,1)"></span> 历史平均销量
                </li>
                <li>
                    <span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:rgba(151,187,205,1)"></span> 促销员销量
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="~/Scripts/Chart.js"></script>
<script>
    $("#data-startTime").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $("#data-endTime").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $("#data-btn").click(function () {
        var start = $("#data-startTime").val();
        var end = $("#data-endTime").val();
        var sellerid = $("#seller").val();
        var link_url = "/OfflineSales/Off_Statistic_Seller_Ajax";
        $.ajax({
            url: link_url,
            data: {
                startdate: start,
                enddate: end,
                sellerid: sellerid
            },
            success: function (data) {
                if (data.data.length == 0) {
                    alert("该促销员在此时间内无数据")
                } else {
                    $("#map").show();                  
                    var resultdata = data.data;
                    var totalarray = new Array();
                    var datearray = new Array();
                    var evatotalarry = new Array();
                    for (var i = 0; i < resultdata.length; i++) {
                        var deeint = parseInt(resultdata[i].Date.replace(/\D/igm, ""));
                        var dee = new Date(deeint)
                        datearray.push(dee.Format("MM-dd"));
                        var totaltemp = isNumber(resultdata[i].Item_Brown) + isNumber(resultdata[i].Item_Black) + isNumber(resultdata[i].Item_Lemon) + isNumber(resultdata[i].Item_Honey) + isNumber(resultdata[i].Item_Dates);
                        totalarray.push(totaltemp);
                        var avgtotaltemp = resultdata[i].AVG_BROWN + resultdata[i].AVG_BLACK + resultdata[i].AVG_LEMON + resultdata[i].AVG_HONEY + resultdata[i].AVG_DATES;
                        evatotalarry.push(avgtotaltemp)                        
                    }
                    console.log(datearray);
                    console.log(totalarray);
                    console.log(evatotalarry);
                    //促销员每天销售总额折线图
                    var data_Line_seller = {
                        labels: datearray,
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0.5)",
                                strokeColor: "rgba(217,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                data: evatotalarry
                            },
                            {
                                fillColor: "rgba(151,187,205,0.5)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                data: totalarray
                            }
                        ]
                    }

                    var ctx_Line_seller = $("#myChart_Line_seller").get(0).getContext("2d");
                    new Chart(ctx_Line_seller).Line(data_Line_seller);

                }
 
                
            }
        })
    })
    Date.prototype.Format = function (fmt) { //author: meizz   
        var o = {
            "M+": this.getMonth() + 1,                 //月份   
            "d+": this.getDate(),                    //日   
            "h+": this.getHours(),                   //小时   
            "m+": this.getMinutes(),                 //分   
            "s+": this.getSeconds(),                 //秒   
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度   
            "S": this.getMilliseconds()             //毫秒   
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
    function isNumber(num) {
        if (!isNaN(num)) {
            return 0;
        }
        else {
            return num;
        }
    }
</script>

