@model IEnumerable<PeriodAid.Controllers.ScheduleList>

@{
    ViewBag.Title = "Off_ScheduleList";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    2
}
<br />
<div>
    <a class="btn btn-info btn-sm" id="add-btn" href="/OfflineSales/Off_Add_Schedule"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增活动预约</a>
    <div class="btn-group" style="margin-left:5px;">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            活动记录 &nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="/OfflineSales/Off_ScheduleList">最新记录</a></li>
            <li><a href="/OfflineSales/Off_ScheduleList?history=true">历史记录</a></li>
        </ul>
    </div>
</div>
<br /><br />
<div>
    <table class="table table-condensed table-striped" style="table-layout:fixed; width:100%;">
        <tr>
            <th style="width:40%">
                活动预定时间
            </th>
            <th style="width:12%">
                活动门店数量
            </th>
            <th>已完成门店数量</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="ellipsis">
                    @Html.Encode(item.Subscribe.ToString("yyyy-MM-dd"))
                </td>
                <td class="ellipsis">
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.Encode(item.Unfinished)
                </td>
                <td class="ellipsis">
                    @Html.ActionLink("查看", "Off_ScheduleDetails", new { date = item.Subscribe }, new { @class = "btn btn-info btn-sm edit-button" })
                </td>
            </tr>
        }

    </table>
</div>