
@{
    ViewBag.Title = "Off_Expenses_List";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    3
    }
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a class="btn-filter" data-rel="0">进场费</a></li>
            <li role="presentation"><a class="btn-filter" data-rel="1">活动费</a></li>
        </ul>
    </div>
</div><br />
<div class="col-md-12" id="expenseslist">

</div>

@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/OfflineSales/Off_Expenses_AjaxList",
                success: function (data) {
                    $("#expenseslist").html(data);
                }
            });
            $(document).on("click", ".cancel-btn", function () {
                $.ajax({
                    
                })
            });
        });
        $(".btn-filter").click(function () {
            var button = $(this);
            $(this).parent("li").addClass("active").siblings().removeClass("active");
            //var url = $(button).attr("data-target");        
            //alert(url)
            //var name = $(button).text();
            //$("#drop-name").text(name);
            $("#status-val").val($(button).attr("data-rel"));
            $.ajax({
                url: "/OfflineSales/Off_Expenses_AjaxList?type=" + $("#status-val").val(),
                success: function (data) {
                    $("#expenseslist").html(data);
                }
            });
        });
    </script>
    }


