
@{
    ViewBag.Title = "Off_Statistic_StoreSystem";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    7
    }
    <div class="row">
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="开始时间" id="data-startTime">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="结束时间" id="data-endTime">
        </div>
        <div class="col-md-3">
            @Html.DropDownList("StoreSystem",ViewBag.SystemList as SelectList, new { @class="form-control"})
        </div>
        <ul class="col-md-5 list-inline list-unstyled">
            <li><button id="data-btn" class="btn btn-info">查看销量</button></li>
            <li><button id="datedata-btn" class="btn btn-info">查看日销量工资</button></li>
            <li><button id="mounthdata-btn" class="btn btn-info">查看月销量工资</button></li>
        </ul>
    </div>
<span id="danger" class="text-danger h5"></span>    
<br />
    <div id="map" class="row" style="display:none">
        <div class="col-md-6">
            <div id="myChart_Bar" style="min-width:500px;height:400px"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div id="myChart_Pie" style="min-width:500px;height:400px"></div>
        </div>
    </div>
<div id="myChart_Column" style="min-width:500px;height:400px"></div>
<script src="~/Scripts/highcharts.js"></script>
<script>
    $("#data-startTime").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $("#data-endTime").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $("#data-btn").click(function () {
        var start = $("#data-startTime").val();
        var end = $("#data-endTime").val();
        var storesystem = $("#StoreSystem").val();
        var link_url = "/OfflineSales/Off_Statistic_StoreSystem_Ajax";
        if (start > end) {
            $("#danger").text("开始时间不能大于结束时间")
        } else if (start == "" || end == "") {
            $("#danger").text("时间不能为空")
        }else {
            $("#danger").addClass("hidden")
            $.ajax({
                url: link_url,
                data: {
                    startdate: start,
                    enddate: end,
                    storesystem: storesystem
                },
                success: function (data) {
                    if (data.data.length == 0) {
                        alert("该区域在此时间内无数据");
                    } else {
                        $("#map").show();
                        //区域销售折线图
                        var resultdata = data.data;
                        var totalarray = new Array();
                        var datearray = new Array();
                        for (var i = 0; i < resultdata.length; i++) {
                            var deeint = parseInt(data.data[i].Date.replace(/\D/igm, ""));
                            var dee = new Date(deeint)
                            datearray.push(dee.Format("MM-dd"));
                            var totaltemp = resultdata[i].SalesCount
                            totalarray.push(totaltemp);
                        }
                        $("#myChart_Bar").highcharts({
                            chart: {
                            },
                            title: {
                                text: storesystem + '每天销售总额折线图(单位：盒/天)'
                            },
                            xAxis: {
                                categories: datearray
                            },
                            series: [{
                                type: 'spline',
                                name: '销售额度',
                                data: totalarray,
                                marker: {
                                    lineWidth: 2,
                                    lineColor: Highcharts.getOptions().colors[3],
                                    fillColor: 'white'
                                }
                            }]
                        });

                    };
                    $.ajax({
                        url: "/OfflineSales/Off_Statistic_StoreSystem_Product_Ajax",
                        data: {
                            startdate: start,
                            enddate: end,
                            storesystem: storesystem
                        },
                        success: function (data) {
                            //alert(data.data[0].ProductId)
                            var productarry = new Array();
                            for (var i = 0; i < data.data.length; i++) {
                                var productlist = {
                                    name: data.data[i].SimpleName,
                                    y: data.data[i].SalesCount
                                }
                                productarry.push(productlist)
                            }
                            //console.log(productarry)
                            $('#myChart_Pie').highcharts({
                                chart: {
                                    plotBackgroundColor: null,
                                    plotBorderWidth: null,
                                    plotShadow: false
                                },
                                title: {
                                    text: storesystem + '每天各个种类销售总额饼状图(单位：盒/天)'
                                },
                                tooltip: {
                                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                },
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        dataLabels: {
                                            enabled: false
                                        },
                                        showInLegend: true
                                    }
                                },
                                series: [{
                                    type: 'pie',
                                    name: '销售额度',
                                    data: productarry
                                }]
                            });
                        }
                    })
                }
            });
            return false
        }
    });
    $("#myChart_Column").highcharts({
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: '每日销量工资柱状图'
        },
        xAxis: [{
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        }],
        yAxis: [{ // Primary yAxis
            labels: {
                //format: '元',
                style: {
                    color: '#89A54E'
                }
            },
            title: {
                text: '工资（元）',
                style: {
                    color: '#89A54E'
                }
            }
        }, { // Secondary yAxis
            title: {
                text: '奖金（元）',
                style: {
                    color: '#4572A7'
                }
            },
            labels: {
                //format: '元',
                style: {
                    color: '#4572A7'
                }
            },
            opposite: true
        },
        { // Secondary yAxis
            title: {
                text: '扣款（元）',
                style: {
                    color: '#5672b7'
                }
            },
            labels: {
                //format: '元',
                style: {
                    color: '#5672b7'
                }
            },
            opposite: true
        }],
        tooltip: {
            shared: true
        },

        series: [{
            name: '奖金',
            color: '#4572A7',
            type: 'column',
            yAxis: 1,
            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
            tooltip: {
                valueSuffix: ' 元'
            }

        }, {
            name: '工资',
            color: '#89A54E',
            type: 'column',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6],
            tooltip: {
                valueSuffix: '元'
            }
        }, {
            name: '扣款',
            color: '#f10000',
            type: 'column',
            yAxis:2,
            data: [8.5, 6.9, 9.5, 10.5, 18.2, 15.5, 25.2, 46.5, 23.3, 8.3, 13.9, 9.6],
            tooltip: {
                valueSuffix: '元'
            }
        }]
    });
    Date.prototype.Format = function (fmt) { //author: meizz   
        var o = {
            "M+": this.getMonth() + 1,                 //月份   
            "d+": this.getDate(),                    //日   
            "h+": this.getHours(),                   //小时   
            "m+": this.getMinutes(),                 //分   
            "s+": this.getSeconds(),                 //秒   
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度   
            "S": this.getMilliseconds()             //毫秒   
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>

