
@{
    ViewBag.Title = "Off_Statistic_StoreSystem";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    7
    }
    <div class="row">
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="开始时间" id="data-startTime">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="结束时间" id="data-endTime">
        </div>
        <div class="col-md-3">
            @Html.DropDownList("StoreSystem",ViewBag.SystemList as SelectList, new { @class="form-control"})
        </div>
        <div class="col-md-2">
            <button id="data-btn" class="btn btn-info">查看</button>
        </div>
    </div>
<span id="danger" class="text-danger h5"></span>    
<br />
    <div id="map" class="row" style="display:none">
        <div class="col-md-6">
            <div id="myChart_Bar" style="min-width:500px;height:400px"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div id="myChart_Pie" style="min-width:450px;height:400px"></div>
        </div>
    </div>
<script src="~/Scripts/highcharts.js"></script>
<script>
    $("#data-startTime").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $("#data-endTime").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $("#data-btn").click(function () {
        var start = $("#data-startTime").val();
        var end = $("#data-endTime").val();
        var storesystem = $("#StoreSystem").val();
        var link_url = "/OfflineSales/Off_Statistic_StoreSystem_Ajax";
        if (start > end) {
            $("#danger").text("开始时间不能大于结束时间")
        } else if (start == "" || end == "") {
            $("#danger").text("时间不能为空")
        }else {
            $("#danger").addClass("hidden")
            $.ajax({
                url: link_url,
                data: {
                    startdate: start,
                    enddate: end,
                    storesystem: storesystem
                },
                success: function (data) {
                    if (data.data.length == 0) {
                        alert("该区域在此时间内无数据");
                    }else {
                        $("#map").show();
                        //区域销售折线图
                        var resultdata = data.data;
                        var totalarray = new Array();
                        var datearray = new Array();
                        var total_brown = 0;
                        var total_black = 0;
                        var total_lemon = 0;
                        var total_honey = 0;
                        var total_dates = 0;
                        for (var i = 0; i < resultdata.length; i++) {
                            var deeint = parseInt(data.data[i].date.replace(/\D/igm, ""));
                            var dee = new Date(deeint)
                            datearray.push(dee.Format("MM-dd"));
                            var totaltemp = resultdata[i].brown + resultdata[i].black + resultdata[i].dates + resultdata[i].honey + resultdata[i].lemon;
                            totalarray.push(totaltemp);
                            total_brown += resultdata[i].brown;
                            total_black += resultdata[i].black;
                            total_lemon += resultdata[i].lemon;
                            total_dates += resultdata[i].dates;
                            total_honey += resultdata[i].honey;
                        }
                        $("#myChart_Bar").highcharts({
                            chart: {
                            },
                            title: {
                                text: storesystem + '每天销售总额折线图(单位：盒/天)'
                            },
                            xAxis: {
                                categories: datearray
                            },
                            //series: [{
                            //    type: 'column',
                            //    name: '柱状图',
                            //    data: totalarray
                            //}, 
                            series: [{
                                type: 'spline',
                                name: '销售额度',
                                data: totalarray,
                                marker: {
                                    lineWidth: 2,
                                    lineColor: Highcharts.getOptions().colors[3],
                                    fillColor: 'white'
                                }
                            }]
                        });
                        $('#myChart_Pie').highcharts({
                            chart: {
                                plotBackgroundColor: null,
                                plotBorderWidth: null,
                                plotShadow: false
                            },
                            title: {
                                text: storesystem + '每天各个种类销售总额饼状图(单位：盒/天)'
                            },
                            tooltip: {
                                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                            },
                            plotOptions: {
                                pie: {
                                    allowPointSelect: true,
                                    cursor: 'pointer',
                                    dataLabels: {
                                        enabled: false
                                    },
                                    showInLegend: true
                                }
                            },
                            series: [{
                                type: 'pie',
                                name: '销售额度',
                                data: [
                                    {
                                        name: '黑糖姜茶',
                                        y: total_black,
                                        //sliced: true,
                                        //selected: true,
                                        color: "#201510"
                                    },
                                    {
                                        name: '红糖姜茶',
                                        y: total_brown,
                                        sliced: true,
                                        selected: true,
                                        color: "#b11c36"
                                    },
                                    {
                                        name: '柠檬姜茶',
                                        y: total_lemon,
                                        //sliced: true,
                                        //selected: true,
                                        color: "#fdf796"
                                    },
                                    {
                                        name: '红枣姜茶',
                                        y: total_dates,
                                        //sliced: true,
                                        //selected: true,
                                        color: "#e94f30"
                                    },
                                    {
                                        name: '蜂蜜姜茶',
                                        y: total_honey,
                                        //sliced: true,
                                        //selected: true,
                                        color: "#ecb268"
                                    },
                                ]
                            }]
                        });
                    }
                }
            });
            return false
        }
    });
    Date.prototype.Format = function (fmt) { //author: meizz   
        var o = {
            "M+": this.getMonth() + 1,                 //月份   
            "d+": this.getDate(),                    //日   
            "h+": this.getHours(),                   //小时   
            "m+": this.getMinutes(),                 //分   
            "s+": this.getSeconds(),                 //秒   
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度   
            "S": this.getMilliseconds()             //毫秒   
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>

