
@{
    ViewBag.Title = "Off_CheckIn_List";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    5
    }
<div class="col-md-12">
   
</div>
<br />
<div class="col-md-12" id="expenseslist">

</div>

@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/OfflineSales/Off_CheckIn_List_ajax",
                success: function (data) {
                    $("#expenseslist").html(data);
                }
            });
            $(document).delegate(".cancel-btn", "click", function () {
                var cfm = confirm("确认要删除信息吗？");
                if (cfm) {
                    var link_url = $(this).attr("href");
                    $.ajax({
                        url: link_url,
                        type: "post",
                        success: function (data) {
                            if (data == "SUCCESS") {
                                $.ajax({
                                    url: "/OfflineSales/Off_CheckIn_List_ajax",
                                    success: function (data) {
                                        $("#expenseslist").html(data);
                                    }
                                });
                            }
                        }
                    });
                }
                return false;
            });
        });
        $(".btn-filter").click(function () {
            $(".btn-filter").removeClass("btn-success btn-default").addClass("btn-default");
            var button = $(this);
            var url = $(button).attr("href");
            $.ajax({
                url: url,
                success: function (data) {
                    //alert("33");
                    $(button).removeClass("btn-default").addClass("btn-success");
                    $("#expenseslist").html(data);
                }
            });
            return false;
        });
        
    </script>
}
