
@{
    ViewBag.Title = "Off_Statistic_StoreSystem";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    7
    }
    <div class="row">
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="开始时间" id="data-startTime">
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" placeholder="结束时间" id="data-endTime">
        </div>
        <div class="col-md-3">
            <select class="form-control" id="StoreSystem" name="StoreSystem">
                <option value="-区域-">-区域-</option>
                <option value="北国系统">北国系统</option>
                <option value="卜蜂莲花">卜蜂莲花</option>
                <option value="承德宽广">承德宽广</option>
                <option value="大润发">大润发</option>
                <option value="贵阳北京华联">贵阳北京华联</option>
                <option value="国泰">国泰</option>
                <option value="邯郸美食林">邯郸美食林</option>
                <option value="河南南阳">河南南阳</option>
                <option value="华联">华联</option>
                <option value="华润">华润</option>
                <option value="家乐福">家乐福</option>
                <option value="乐购">乐购</option>
                <option value="农工商">农工商</option>
                <option value="欧尚">欧尚</option>
                <option value="三江购物">三江购物</option>
                <option value="山西金威">山西金威</option>
                <option value="世纪联华">世纪联华</option>
                <option value="苏果">苏果</option>
                <option value="苏州精品超市">苏州精品超市</option>
                <option value="天津华润">天津华润</option>
                <option value="沃尔玛">沃尔玛</option>
                <option value="郑州丹尼斯">郑州丹尼斯</option>
            </select>
        </div>
        <div class="col-md-2">
            <button id="data-btn" class="btn btn-info">查看</button>
        </div>
    </div><br />
    <div id="map" class="row" style="display:none">
        <div class="col-md-6">
            <h4 class="text-center"><strong>区域每天销售总额折线图(单位：盒/天)</strong></h4><br />
            <div id="line-map"><canvas id="myChart_Line" width="500" height="400"></canvas></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h4 class="text-center"><strong>区域每天各个种类销售总额柱状图(单位：盒/天)</strong></h4><br />
            <div class="row">
                <div id="pie-map" class="col-md-6"><canvas id="myChart_Pie" width="250" height="250"></canvas></div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <ul class="list-unstyled h6">
                        <li>
                            <span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:#201510"></span> 黑糖姜茶
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:#b11c36"></span> 红糖姜茶
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:#fdf796"></span> 柠檬姜茶
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:#ecb268"></span> 蜂蜜姜茶
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-stop" aria-hidden="true" style="color:#e94f30"></span> 红枣姜茶
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<script src="~/Scripts/Chart.js" type="text/javascript"></script>
<script>
    $("#data-startTime").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $("#data-endTime").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $("#data-btn").click(function () {
        var start = $("#data-startTime").val();
        var end = $("#data-endTime").val();
        var storesystem = $("#StoreSystem").val();
        var link_url = "/OfflineSales/Off_Statistic_StoreSystem_Ajax";
        $.ajax({
            url: link_url,
            data: {
                startdate: start,
                enddate: end,
                storesystem: storesystem
            },
            success: function (data) {
                if (data.data.length == 0) {
                    alert("该区域在此时间内无数据");
                } else {
                    $("#map").show();
                    //区域销售折线图
                    var resultdata = data.data;
                    var totalarray = new Array();
                    var datearray = new Array();
                    var total_brown = 0;
                    var total_black = 0;
                    var total_lemon = 0;
                    var total_honey = 0;
                    var total_dates = 0;
                    for (var i = 0; i < resultdata.length; i++) {
                        var deeint = parseInt(data.data[i].date.replace(/\D/igm, ""));
                        var dee = new Date(deeint)
                        datearray.push(dee.Format("MM-dd"));
                        var totaltemp = resultdata[i].brown + resultdata[i].black + resultdata[i].dates + resultdata[i].honey + resultdata[i].lemon;
                        totalarray.push(totaltemp);
                        total_brown += resultdata[i].brown;
                        total_black += resultdata[i].black;
                        total_lemon += resultdata[i].lemon;
                        total_dates += resultdata[i].dates;
                        total_honey += resultdata[i].honey;
                    }
                    console.log(datearray);
                    console.log(totalarray);
                    var data_Line = {
                        labels: datearray,
                        datasets: [
                            {
                                fillColor: "rgba(220,220,220,0)",
                                strokeColor: "rgba(233,48,83,1)",
                                pointColor: "rgba(233,48,83,1)",
                                pointStrokeColor: "#fff",
                                data: totalarray
                            }
                        ]
                    };
                    //区域各个种类销售柱状图
                    var data_Pie = [
                                       {
                                           value: total_black,
                                           color: "#201510",
                                           label: '黑糖姜茶'
                                       },
                                       {
                                           value: total_brown,
                                           color: "#b11c36",
                                           label: '红糖姜茶'
                                       },
                                       {
                                           value: total_lemon,
                                           color: "#fdf796",
                                           label: '柠檬姜茶'
                                       },
                                       {
                                           value: total_dates,
                                           color: "#e94f30",
                                           label: '红枣姜茶'
                                       },
                                       {
                                           value: total_honey,
                                           color: "#ecb268",
                                           label: '蜂蜜姜茶'
                                       }
                    ];
                    //折线图数据参考
                    var defaults = {

                        //Boolean - If we show the scale above the chart data			
                        scaleOverlay: false,

                        //Boolean - If we want to override with a hard coded scale
                        scaleOverride: false,
                        //** Required if scaleOverride is true **
                        //Number - The number of steps in a hard coded scale
                        scaleSteps: 20,

                        //Number - The value jump in the hard coded scale
                        scaleStepWidth: 20,

                        // Y 轴的起始值
                        scaleStartValue: 0,

                        // 是否显示网格
                        scaleShowGridLines: false,

                        // 是否使用贝塞尔曲线? 即:线条是否弯曲
                        bezierCurve: true,

                        // 线条的宽度, 即:数据集
                        datasetStrokeWidth: 1,

                        // 是否填充数据集
                        datasetFill: true,

                        pointHitDetectionRadius: 1
                    };
                    $("#myChart_Line").remove();
                    $("#myChart_Pie").remove();
                    $("#line-map").html("<canvas id=\"myChart_Line\" width=\"500\" height=\"400\"></canvas>");
                    $("#pie-map").html("<canvas id=\"myChart_Pie\" width=\"250\" height=\"250\"></canvas>")
                    //var ctx_Line = $("#myChart_Line").get(0).getContext("2d");
                    var ctx = document.getElementById("myChart_Line").getContext("2d");
                    new Chart(ctx).Line(data_Line, defaults);
                    //var ctx_Pie = $("#myChart_Pie").get(0).getContext("2d");
                    var ctx = document.getElementById("myChart_Pie").getContext("2d")
                    new Chart(ctx).Pie(data_Pie);
                    //$("#map").html(data)
                }
            }
        });
        return false
    });
    Date.prototype.Format = function (fmt) { //author: meizz   
        var o = {
            "M+": this.getMonth() + 1,                 //月份   
            "d+": this.getDate(),                    //日   
            "h+": this.getHours(),                   //小时   
            "m+": this.getMinutes(),                 //分   
            "s+": this.getSeconds(),                 //秒   
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度   
            "S": this.getMilliseconds()             //毫秒   
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    }
</script>

