
@{
    ViewBag.Title = "Off_Manager_Announcement_List";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    6
}
<div>
    <a class="btn btn-info btn-sm" id="add-btn" href="/OfflineSales/Off_Manager_Announcement_Create"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增活动</a>
</div><br />
<div id="list">

</div>
@section scripts{
    <script>
        $(function () {
            var url = "/OfflineSales/Off_Manager_Announcement_List_Ajax"
            $.ajax({
                url: url,
                success: function (list) {
                    $("#list").html(list);
                }
            });
        });


    </script>
}



