
@{
    ViewBag.Title = "线下门店信息";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    1
    }
<div class="row">
    <div class="col-xs-8">
        <a class="btn btn-info btn-sm" id="add-btn"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增门店信息</a>
        <a class="btn btn-info btn-sm" href="/OfflineSales/UploadStore" style="margin-left:5px;"><i class="fa fa-plus"></i>&nbsp;&nbsp;上传数据</a>
    </div>
    <div class="col-xs-4">
        <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="搜索门店名称" id="search-query">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" id="search-btn"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div>
<br />
<div id="list-container">

</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            ...
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/OfflineSales/Off_Store_ajaxlist",
                success: function (data) {
                    $("#list-container").html(data);
                }
            });

        });
        $("#search-btn").click(function () {
            $.ajax({
                url: "/OfflineSales/Off_Store_ajaxlist",
                data:{
                    query: $("#search-query").val()
                },
                success: function (data) {
                    $("#list-container").html(data);
                }
            });
        });
        $("#add-btn").click(function () {
            var link_url = "/OfflineSales/Off_CreateStore";
            $.ajax({
                url: link_url,
                success: function (data) {
                    $("#addcontent").html(data);
                    $('#addModal').modal()
                }
            });
            return false;
        });
    </script>
    }

