
@{
    ViewBag.Title = "门店系统首页";
    Layout = "~/Views/Shared/_OfflineSalesLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a href="/OfflineSales/Create_Store_System" class="btn btn-default btn-block btn-lg">增加门店系统</a>
        </div>
        <br />
        <div class="col-xs-12">
            <a href="/OfflineSales/List_Store_System" class="btn btn-default btn-block btn-lg">门店系统列表</a>
        </div>
        <br />
        <div class="col-xs-12">
            <a href="/OfflineSales/Create_Store" class="btn btn-default btn-block btn-lg">增加门店</a>
        </div>
        <br />
        <div class="col-xs-12">
            <a href="/OfflineSales/List_Store" class="btn btn-default btn-block btn-lg">门店列表</a>
        </div>
    </div>
</div>

