@{
    ViewBag.Title = "上传月销售报表";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
@section page{
    2
    }

<br />
<h4><b>上传月销售数据</b></h4>
<div class="row">
    @using (Html.BeginForm("UploadMonthInfo", "OfflineSales", FormMethod.Post, new { enctype = "multipart/form-data",id = "file-from" }))
    {
        <div class="col-xs-4">
            <div class="input-group">
                <input type="file" name="xlsxfile" id="xlsxfile" class="form-control input-sm" accept=".xlsx" />
                <span class="input-group-btn">
                    <button class="btn btn-success btn-sm" id="rev">上传</button>
                </span>
            </div>
        </div>
        <div class="col-xs-8">
            <a class="btn btn-info btn-sm" href="~/Content/xlsx/店铺月报表-Template.xlsx">下载模板</a>
        </div>
    }
</div>
<script>
    $("#rev").click(function () {
        if ($("#xlsxfile").val() == "") {
            alert("无文件上传")
        }
        else {
        $("#file-from").submit()
        }
        return false
    })


</script>