@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
<div class="jumbotron offline-error">
    <div class="container">
        <h1 class="text-danger">权限不足</h1>
        <h2 class="text-danger">检测到您的账号权限不足，请联系系统管理人员</h2>
    </div>
</div>

