@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="jumbotron offline-error">
    <div class="container">
        <h1 class="text-danger">错误</h1>
        <h2 class="text-danger">抱歉，您访问的页面地址有误或者该页面不存在</h2>
    </div>
</div>
