@{
    ViewBag.Title = "ClientList";
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}

<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>经销商信息：</label>
            <input class="form-control input-sm offline-search-inline" id="client-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="client-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<a class="btn btn-info btn-sm" id="add-client" style="margin-bottom:18px;"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增经销商信息</a>
<div id="client_list_content"></div>
<ol class="breadcrumb text-center">
    <li><a href="/SalesProcess/ClientList">经销商</a></li>
    <li><a href="/SalesProcess/ContentList">联系人</a></li>
</ol>
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/SalesProcess/ClientListPartial",
                data: {
                    page: 1,
                    query: $("#client-query").val()
                },
                success: function (data) {
                    $("#client_list_content").html(data)
                }
            });
        })
        //搜索
        $("#client-search").click(function () {
            $.ajax({
                url: "/SalesProcess/ClientListPartial",
                data: {
                    page: 1,
                    query: $("#client-query").val()
                },
                success: function (data) {
                    $("#client_list_content").html(data)
                }
            })
        });
        //换平台
        $(".plattform-btn").on("click", function () {
            $.ajax({
                url: "/SalesProcess/ClientListPartial",
                data: {
                    plattformId: $(this).attr("data-id"),
                    page: 1,
                    query: $("#client-query").val(),
                    plattformType: getUrlParam('plattformType')
                },
                success: function (data) {
                    $("#client_list_content").html(data)
                    
                }
            })
        })
        //新增
        $("#add-client").on("click", function () {
            $.ajax({
                url: '/SalesProcess/AddClientPartial',
                data: {
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')
                }
            })
        })
        var locUrl = window.location.pathname;
        $(".breadcrumb li a").each(function (index, el) {
            var href = this.getAttribute("href");
            if (href == locUrl) {
                $(this).parent("li").addClass('active');
            }
        });
    </script>
    }