@{
    ViewBag.Title = "CRM_undelivered";
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>订单名称：</label>
            <input class="form-control input-sm offline-search-inline" id="storage-product-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="storage-product-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#" aria-controls="home" data-val="1" role="tab" data-toggle="tab" id="CRM_undelivered">待发货</a></li>
        <li role="presentation"><a href="#" aria-controls="profile" data-val="1" role="tab" data-toggle="tab" id="CRM_delivered">已发货</a></li>
        <li style="float:right"><a class="btn btn-xs btn-success" id="change_status" role="button">转为发货</a></li>
</ul>
<div id="undelivered_list_content">
</div>


@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/SalesProcess/GetUserToken/",
                success: function (data) {
                    var user = JSON.parse(data["data"])
                    var user_token = user["data"]["user_token"]
                    $.ajax({
                        url: "/SalesProcess/GetCrmInfo/",
                        data: {
                            user_token: user_token
                        },
                        success: function (data) {
                            var mychars = []
                            var crmInfo = JSON.parse(data["data"])
                            var CRMInfo = crmInfo["data"]
                            console.log(CRMInfo)
                            for (var i = 0; i < CRMInfo["contracts"].length; i++) {
                                mychars.push({
                                    'contract_id': CRMInfo["contracts"][i]["id"],
                                    'customer_id': CRMInfo["contracts"][i]["customer_id"],
                                    'customer_name': CRMInfo["contracts"][i]["customer_name"],
                                    'status': CRMInfo["contracts"][i]["status"],
                                    'sign_date': CRMInfo["contracts"][i]["updated_at"],
                                    'updated_at': CRMInfo["contracts"][i]["updated_at"]
                                });
                            }
                            //非异步请求，数据保存需要时间
                            $.ajax({
                                url: "/SalesProcess/SaveCRMInfo/",
                                async: false,
                                type: "post",
                                dataType: "json",
                                data: JSON.stringify(mychars)
                            })
                            //数据保存完再请求数据页面
                            $.ajax({
                                url: "/SalesProcess/CRM_undeliveredPartical/",
                                success: function (data) {
                                    $("#undelivered_list_content").html(data)
                                }
                            })
                        }
                    })
                    //订单状态修改加回传CRM（具体修改内容见控制器）
                    $("#change_status").click(function () {
                        $.ajax({
                            url: "/SalesProcess/UpdateCRM/",
                            data: {
                                user_token: user_token
                            },
                            success: function (data) {
                                console.log(data)
                                $.ajax({
                                    url: "/SalesProcess/GetCrmInfo/",
                                    data: {
                                        user_token: user_token
                                    },
                                    success: function (data) {
                                        alert("已转为[已发货]订单")
                                        //回到已发货
                                        $.ajax({
                                            url: "/SalesProcess/CRM_deliveredPartical/",
                                            success: function (data) {
                                                $("#CRM_undelivered").parent().removeClass("active")
                                                $("#CRM_delivered").parent().addClass("active")
                                                $("#undelivered_list_content").html(data)
                                            }
                                        })
                                    }
                                })
                            }
                        })
                    })
                }
            })

            $("#CRM_undelivered").click(function () {
                $.ajax({
                    url: "/SalesProcess/CRM_undeliveredPartical/",
                    success: function (data) {
                        $("#undelivered_list_content").html(data)
                    }
                })
            })

            $("#CRM_delivered").click(function () {
                $.ajax({
                    url: "/SalesProcess/CRM_deliveredPartical/",
                    success: function (data) {
                        $("#undelivered_list_content").html(data)
                    }
                })
            })
        });
    </script>
}
