@{
    ViewBag.Title = "CRM_undelivered";
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
@*<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>订单名称：</label>
            <input class="form-control input-sm offline-search-inline" id="storage-product-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="storage-product-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>*@
<div class="select-btn">
    <a class="btn btn-info btn-sm status-btn" id="first_btn" data-val="3531567" ><i class="fa fa-times-circle"></i>&nbsp;&nbsp;未同步ERP订单</a>
    <a class="btn btn-info btn-sm status-btn" id="second_btn" data-val="3531568" ><i class="fa fa-question-circle"></i>&nbsp;&nbsp;已同步ERP订单</a>
    <a class="btn btn-info btn-sm status-btn" id="third_btn" data-val="3764330"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;已发货订单</a>
    <a class="btn btn-info btn-sm status-btn" id="renovate_btn"><i class="fa fa-refresh"></i>&nbsp;&nbsp;刷新</a>
</div>
<div id="undelivered_list_content" style="margin-top:20px">
</div>
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/SalesProcess/getThreeLevelAddress/",
                type:"post",
                data: {
                    full_address:"上海 上海市 青浦区 赵巷12号301小区22 "
                },
                success: function (data) {
                    console.log(data)
                }
            })
            
        });
    </script>
}
