@{
    ViewBag.Title = "CRM_undelivered";
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
@*<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>订单名称：</label>
            <input class="form-control input-sm offline-search-inline" id="storage-product-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="storage-product-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>*@
<div class="select-btn">
    <a class="btn btn-info btn-sm status-btn" id="first_btn" data-val="3779515" ><i class="fa fa-times-circle"></i>&nbsp;&nbsp;待发货</a>
    <a class="btn btn-info btn-sm status-btn" id="second_btn" data-val="3780205" ><i class="fa fa-question-circle"></i>&nbsp;&nbsp;发货待审核</a>
    <a class="btn btn-info btn-sm status-btn" id="third_btn" data-val="3779516"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;已发货</a>
    <a class="btn btn-info btn-sm status-btn" id="renovate_btn"><i class="fa fa-refresh"></i>&nbsp;&nbsp;刷新</a>
</div>
<div id="undelivered_list_content" style="margin-top:20px">
</div>


@section scripts{
    <script>
        $(function () {
            $("#first_btn").addClass("btn-danger")
            // 获取user_token
            $.ajax({
                url: "/SalesProcess/GetUserToken/",
                success: function (data) {
                }
            })
            //// 获取crm客户数据
            //$.ajax({
            //    url: "/SalesProcess/GetCustomer/",
            //    success: function (data) {
            //    }
            //})
            //// 获取crm合同数据
            //$.ajax({
            //    url: "/SalesProcess/GetCrmInfo/",
            //    success: function (data) {
            //        //数据保存完再请求数据页面
            //        $.ajax({
            //            url: "/SalesProcess/CRM_undeliveredPartical/",
            //            data: {
            //                status: $("#first_btn").attr("data-val")
            //            },
            //            success: function (data) {
            //                $("#undelivered_list_content").html(data)
            //            }
            //        })
            //    }
            //})
            //// 获取合同详情
            //$.ajax({
            //    url: "/SalesProcess/GetCrmDetailInfo/",
            //    success: function (data) {
            //    }
            //})

            // 获取产品信息
            $.ajax({
                url: "/SalesProcess/GetProduct/",
                success: function (data) {
                    var crm = JSON.parse(data.data)
                    console.log(crm)
                }
            })
            // 选择
            $(".status-btn").on("click", function () {
                var that = $(this)
                $(".select-btn .status-btn").removeClass("btn-danger");
                that.addClass("btn-danger");
                $.ajax({
                    url: "/SalesProcess/CRM_undeliveredPartical",
                    data: {
                        status: $(this).attr("data-val"),
                    },
                    success: function (data) {
                        $("#undelivered_list_content").html(data)
                    }
                })
            })
            // 刷新
            $("#renovate_btn").on("click", function () {
                window.location.reload();
            })
        });
    </script>
}
