@model IEnumerable<PeriodAid.Models.CRM_Contract>
@{
    ViewBag.Title = "CRM_undelivered";
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
<style>
    #tm-view-loading{
    left: 10px;
    width: 1000px;
    height: 750px;
    position: absolute;
    background: white;
    z-index: 1000;
    }
    
</style>
@*<table class="offline-search-box">
        <tr>
            <td class="pull-right">
                <label>订单名称：</label>
                <input class="form-control input-sm offline-search-inline" id="storage-product-query" placeholder="搜索内容" />
                <a class="btn btn-info btn-sm" id="storage-product-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
            </td>
        </tr>
    </table>*@
<div class="select-btn">
    <a class="btn btn-info btn-sm status-btn" id="first_btn" data-val="3531567"><i class="fa fa-times-circle"></i>&nbsp;&nbsp;未同步ERP订单</a>
    <a class="btn btn-info btn-sm status-btn" id="second_btn" data-val="3531568"><i class="fa fa-question-circle"></i>&nbsp;&nbsp;已同步ERP订单</a>
    <a class="btn btn-info btn-sm status-btn" id="third_btn" data-val="3890335"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;部分发货订单</a>
    <a class="btn btn-info btn-sm status-btn" id="fourth_btn" data-val="3764330"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;全部发货订单</a>
    <a class="btn btn-info btn-sm status-btn" id="renovate_btn"><i class="fa fa-refresh"></i>&nbsp;&nbsp;刷新</a>
    <a class="btn btn-info btn-sm float-right btn-danger" id="refresh_org"><i class="fa fa-refresh"></i>&nbsp;&nbsp;组织架构刷新</a>
</div>
<ul class="nav nav-tabs" style="margin-top:20px" role="tablist">
    <li role="presentation" class="shop-list-li active"><a class="shop_btn" aria-controls="home" role="tab" data-toggle="tab" data-id="0" style="cursor:pointer">全部订单</a></li>
    <li role="presentation" class="shop-list-li"><a class="shop_btn" aria-controls="profile" role="tab" data-toggle="tab" data-id="006" style="cursor:pointer">线下订单</a></li>
    @foreach (var code in ViewBag.shopList)
    {
        <li role="presentation" class="shop-list-li"><a class="shop_btn" aria-controls="profile" role="tab" data-toggle="tab" data-id="@code" style="cursor:pointer">@code</a></li>
    }
</ul>
<div class="tm-veiw-loading text-center" id="tm-view-loading" style="height:100%">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i><br><h4>数据加载中，请勿刷新界面！</h4>
</div>
<div id="undelivered_list_content">
</div>
<script src="~/Scripts/jquery-2.1.3.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/distpicker.data.js"></script>
@section scripts{
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $("#refresh_org").hide()
            $("#tm-view-loading").show()
            $.ajax({
                url: "/SalesProcess/CRM_undeliveredPartical/",
                data: {
                    status: $("#first_btn").attr("data-val"),
                    shopCode:"0"
                },
                success: function (data) {
                    $("#undelivered_list_content").html(data)
                    $("#tm-view-loading").hide()
                }
            })
            $("#first_btn").addClass("btn-danger")
            // 刷新
            $("#renovate_btn").on("click", function () {
                var that = $(this)
                $("#undelivered_list_content").hide()
                $("#undelivered_list_content").html("")
                that.addClass("disabled")
                $(".status-btn").addClass("disabled")
                $("#tm-view-loading").show()
                // 获取crm客户数据
                $.ajax({
                    url: "/SalesProcess/GetCustomer/",
                    type: "post",
                    data: {
                        url_api: "/api/v2/customers/"
                    },
                    success: function (data) {
                    }
                })
                // 获取crm合同数据
                $.ajax({
                    url: "/SalesProcess/GetCrmInfo/",
                    type: "post",
                    data: {
                        url_api: "/api/v2/contracts/"
                    },
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            $("#tm-view-loading").hide()
                            $(".status-btn").removeClass("disabled")
                            //数据保存完再请求数据页面
                            $.ajax({
                                url: "/SalesProcess/CRM_undeliveredPartical/",
                                data: {
                                    status: $("#first_btn").attr("data-val"),
                                    shopCode: "0",
                                },
                                success: function (data) {
                                    $("#undelivered_list_content").show().html(data)
                                    $("#first_btn").addClass("btn-danger")
                                    $("#renovate_btn").removeClass("btn-danger")
                                }
                            })
                        } else {
                            confirm("数据获取失败", "是否刷新", function (Confirm) {
                                if (Confirm) {
                                    window.location.reload();
                                }
                            })
                        }
                    }
                })
            })
            // 选择
            $(".status-btn").on("click", function () {
                var that = $(this)
                $(".select-btn .status-btn").removeClass("btn-danger");
                that.addClass("btn-danger");
                $.ajax({
                    url: "/SalesProcess/CRM_undeliveredPartical",
                    data: {
                        page:1,
                        status: that.attr("data-val"),
                        shopCode: $(".active").children(".shop_btn").attr("data-id")
                    },
                    success: function (data) {
                        $("#undelivered_list_content").html(data)
                    }
                })
            })
            // 店铺选择
            $(".shop_btn").on("click", function () {
                var that = $(this)
                $.ajax({
                    url: "/SalesProcess/CRM_undeliveredPartical",
                    data: {
                        page: 1,
                        status: $(".btn-danger").attr("data-val"),
                        shopCode: that.attr("data-id"),
                    },
                    success: function (data) {
                        $("#undelivered_list_content").html(data)
                    }
                })
            })
        });
    </script>
}
