@{
    ViewBag.Title = "CRM_undelivered";
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
@*<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>订单名称：</label>
            <input class="form-control input-sm offline-search-inline" id="storage-product-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="storage-product-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>*@
<div class="select-btn">
    <a class="btn btn-info btn-sm status-btn" id="first_btn" data-val="3779515" ><i class="fa fa-times-circle"></i>&nbsp;&nbsp;待发货</a>
    <a class="btn btn-info btn-sm status-btn" data-val="3780205" ><i class="fa fa-question-circle"></i>&nbsp;&nbsp;发货待审核</a>
    <a class="btn btn-info btn-sm status-btn" data-val="3779516"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;已发货</a>
    <a class="btn btn-info btn-sm status-btn" id="renovate_btn"><i class="fa fa-refresh"></i>&nbsp;&nbsp;刷新</a>
</div>
@*<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#" aria-controls="home" data-val="3779515" class="status-btn" role="tab" data-toggle="tab">待发货</a></li>
    <li role="presentation"><a href="#" aria-controls="profile" data-val="3780205" role="tab" class="status-btn" data-toggle="tab">发货待审核</a></li>
    <li role="presentation"><a href="#" aria-controls="profile" data-val="3779516" role="tab" class="status-btn" data-toggle="tab">已发货</a></li>       
</ul>*@
<div id="undelivered_list_content" style="margin-top:20px">
</div>


@section scripts{
    <script>
        $(function () {
            $("#first_btn").addClass("btn-danger")
            $.ajax({
                url: "/SalesProcess/GetUserToken/",
                success: function (data) {
                    var user = JSON.parse(data["data"])
                    var user_token = user["data"]["user_token"]
                    $.ajax({
                        url: "/SalesProcess/GetCrmInfo/",
                        data: {
                            user_token: user_token
                        },
                        success: function (data) {
                            var mychars = []
                            var crmInfo = JSON.parse(data["data"])
                            var CRMInfo = crmInfo["data"]
                            console.log(CRMInfo)
                            for (var i = 0; i < CRMInfo["contracts"].length; i++) {
                                mychars.push({
                                    'user_id': CRMInfo["contracts"][i]["user_id"],
                                    'user_name': CRMInfo["contracts"][i]["user_name"],
                                    'contract_id': CRMInfo["contracts"][i]["id"],
                                    'customer_id': CRMInfo["contracts"][i]["customer_id"],
                                    'customer_name': CRMInfo["contracts"][i]["customer_name"],
                                    'status': CRMInfo["contracts"][i]["status"],
                                    'sign_date': CRMInfo["contracts"][i]["updated_at"],
                                    'updated_at': CRMInfo["contracts"][i]["updated_at"]
                                });
                            }
                            //非异步请求，数据保存需要时间
                            $.ajax({
                                url: "/SalesProcess/SaveCRMInfo/",
                                async: false,
                                type: "post",
                                dataType: "json",
                                data: JSON.stringify(mychars)
                            })
                            
                        }
                    })
                }
            })
            //数据保存完再请求数据页面
            $.ajax({
                url: "/SalesProcess/CRM_undeliveredPartical/",
                data: {
                    status: $("#first_btn").attr("data-val")
                },
                success: function (data) {
                    $("#undelivered_list_content").html(data)
                }
            })
            // 选择
            $(".status-btn").on("click", function () {
                var that = $(this)
                $(".select-btn .status-btn").removeClass("btn-danger");
                that.addClass("btn-danger");
                $.ajax({
                    url: "/SalesProcess/CRM_undeliveredPartical",
                    data: {
                        status: $(this).attr("data-val"),
                    },
                    success: function (data) {
                        $("#undelivered_list_content").html(data)
                    }
                })
            })
            // 刷新
            $("#renovate_btn").on("click", function () {
                window.location.reload();
            })
        });
    </script>
}
