@{
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
<select class="select_view">
    <option id="select_information_product">全部信息</option>
    <option id="select_information_order">最新信息</option>
</select>
<select class="select_view">
    <option id="select_product">产品</option>
    <option id="select_order">订单</option>
</select>
@section scripts{
    <script>
        $(function () {

            $.ajax({
                url: "/SalesProcess/GetUserToken/",
                success: function (data) {
                    var user = JSON.parse(data["data"])
                    var user_token = user["data"]["user_token"]
                    $.ajax({
                        url: "/SalesProcess/GetCrmInfo/",
                        data: {
                            user_token: user_token
                        },
                        success: function (data) {
                            var crmInfo = JSON.parse(data["data"])
                            var CRMInfo = crmInfo["data"]
                            console.log(CRMInfo)
                            var mychars = []
                            for (var i = 0; i < CRMInfo["contracts"].length; i++) {
                                mychars.push({
                                    'contract_id': CRMInfo["contracts"][i]["id"],
                                    'customer_id': CRMInfo["contracts"][i]["customer_id"]
                                });
                            }
                            //$.ajax({
                            //    url: "/SalesProcess/getERPItems_Count/",
                            //    data:{},
                            //    success: function (data) {
                            //        console.log(data)
                            //    }
                            //})
                            $.ajax({
                                url: "/SalesProcess/SaveCRMInfo/",
                                type: "post",
                                dataType: "json",
                                data: JSON.stringify(mychars),
                                success: function (data) {

                                }
                            })
                        }
                    })
                }
            })
            })
            
        
    </script>

}
