@model IEnumerable<PeriodAid.Models.MD_SubOrder>
<div>
    <table class="table table-hover">
        <tr style="background-color:#f9f9f9">
            <th style="width:15%">平台单号</th>
            <th style="width:15%">客户名称</th>
            <th style="width:10%">未发次数</th>
            <th style="width:10%">首单发货日期</th>
            <th style="width:30%">邮寄地址</th>
            <th style="width:20%"></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
            </tr>
        }
    </table>
</div>