@{
    ViewBag.Title = "MD_show";
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>搜索内容：</label>
            <input class="form-control input-sm offline-search-inline" style="height:30px" id="order_query" placeholder="请输入内容" data-toggle="tooltip" data-placement="bottom" title="支持【订单号/订单名称/客户名称】的模糊搜索" />
            <a class="btn btn-info btn-sm" id="order_search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<div class="tm-veiw-loading text-center" id="tm-view-loading" style="height:100%">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i><br><h4>数据加载中，请勿刷新界面！</h4>
</div>
<div id="order_list">
</div>
@section scripts{
    <script>
        $(function () {
            $("#tm-view-loading").hide()
        })
    </script>
    
    
    }