@model PeriodAid.Models.SP_OrderPrice
<table class="table">
    <tr>
        <th style="width:15%">产品名称</th>
        <th style="width:15%">单价</th>
        <th style="width:10%">箱规</th>
        <th style="width:15%">订货数量（箱）</th>
        <th style="width:15%">金额</th>
        <th style="width:15%"></th>
    </tr>
    <tr>
        <td>共计：</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td>--</td>
        <td></td>
    </tr>
</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modal-content">
        </div>
    </div>
</div>