@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>订单信息：</label>
            <input class="form-control input-sm offline-search-inline" id="order-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="order-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<a class="btn btn-info btn-sm" id="add-order" style="margin-bottom:18px;"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增订单</a>
@*<form action="/SalesProcess/UploadOrder" method="post" enctype="multipart/form-data" id="up-file-form">
    <input type="text" id="file-date" readonly="readonly" autocomplete="off" name="file-date" style="height:29px;position: relative;top: -8px;padding-left:5px" />
    <input type="file" id="file-name" name="file-name" class="hidden" />
    <a class="btn btn-info btn-sm" id="add-order" style="margin-bottom:18px;"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增订单</a>
    <input type="submit" class="btn btn-danger btn-sm" id="file-form-sub"  style="margin-top:-18px" value="提交" />
</form>*@
<ol class="breadcrumb">
    当前位置：
    <li class="active">订单管理</li>
    <li><a style="cursor:pointer" onclick="backBtn()">返回上一页</a></li>
</ol>
<div id="order_list_content"></div>
@section scripts{
    <script>
        $(function () {
            // 上传订单
            //$("#file-form-sub").attr("disabled", true)
            //$('#file-name').change(function () {
            //    $("#file-form-sub").removeAttr("disabled")
            //    if ($(this).val() != "") {
            //        var file = $("#file-name").val();
            //        var fileName = file.lastIndexOf('\\')
            //        strName = file.substring(fileName + 1)
            //        $('#add-order').text(strName)
            //        var Name = strName.substring(0, strName.indexOf(".")).toUpperCase()
            //    } else {
            //        $('#add-order').text("选择文件")
            //    }
            //})
            //$('#add-order').on('click', function () {
            //    $('#file-name').trigger('click')
            //})
            //window.moment = Kalendae.moment;
            //var k4 = new Kalendae.Input('file-date', {
            //    months: 1,
            //    mode: 'single',
            //    titleFormat: "MM月, YYYY年",
            //    format: "YYYY-MM-DD"
            //})

             //
            $.ajax({
                url: "/SalesProcess/OrderListPartial",
                data: {
                    query: $("#order-query").val(),
                    clientId: getUrlParam("clientId")
                },
                success: function (data) {
                    $("#order_list_content").html(data)
                }
            })
            
        })
         //添加
        $("#add-order").on("click", function () {
            $.ajax({
                url: '/SalesProcess/AddOrderPricrPartial',
                data: {
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')
                }
            })
        })
        // 搜索
        $("#order-search").on("click", function () {
            $.ajax({
                url: "/SalesProcess/OrderListPartial",
                data: {
                    query: $("#order-query").val(),
                    clientId: getUrlParam("clientId")
                },
                success: function (data) {
                    $("#order_list_content").html(data)
                }
            })
        })
    </script>
    
    }