
@{
    ViewBag.Title = "SalesList";
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>渠道信息：</label>
            <input class="form-control input-sm offline-search-inline" id="sales-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="sales-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<a class="btn btn-info btn-sm" id="add-sales" style="margin-bottom:18px;"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增渠道信息</a>
<ol class="breadcrumb">
    当前位置：
    <li class="active">渠道管理</li>
    <li><a style="cursor:pointer" onclick="backBtn()">返回上一页</a></li>
</ol>
<input id="clientId" value="@ViewBag.clientId" hidden/>
<form method="post" enctype="multipart/form-data" id="up-file-form">
    <input type="file" id="file-name" name="file-name" class="hidden" />
    <a href="javascript:;" id="upload" style="margin-left:0">选择文件</a>
    <input type="submit" class="btn btn-danger" id="file-form-sub" style="padding:3px 12px;width:auto" value="导入订货单" />
</form>
<div id="sales_list_content">
    <div class="h2 hidden">暂无权限,请联系管理员</div>
</div>
@section scripts{
<script>
    $(function () {
        $.ajax({
            url: "/SalesProcess/SalesListPartial",
            data: {
                page: 1,
                query: $("#sales-query").val(),
                clientId: getUrlParam("clientId")
            },
            success: function (data) {
                if (data == "FAIL") {
                    $("#sales_list_content div").removeClass("hidden")
                } else {
                    $("#sales_list_content").html(data)
                }
            }
        });
        if ($("#clientId").val() == "") {
            $("#up-file-form").remove();
        }
        var salesAction = "/SalesProcess/SalesSystemOrder?clientId=" + $("#clientId").val();
        $("#up-file-form").attr("action", salesAction);
    })
    // 搜索
    $("#sales-search").on("click", function () {
        $.ajax({
            url: "/SalesProcess/SalesListPartial",
            data: {
                page: 1,
                query: $("#sales-query").val(),
                clientId: getUrlParam("clientId")
            },
            success: function (data) {
                if (data == "FAIL") {
                    $("#sales_list_content div").removeClass("hidden")
                } else {
                    $("#sales_list_content").html(data)
                }
            }
        })
    })
    // 添加
    $("#add-sales").on("click", function () {
        $.ajax({
            url: '/SalesProcess/AddSalesPartial',
            data: {
            },
            success: function (data) {
                $('#modal-content').html(data)
                $("#myModal").modal('show')
            }
        })
    })


    $("#file-loading").hide()
    $('#upload').on('click', function () {
        $('#file-name').trigger('click')
    })
    // 显示文件名
    $('#file-name').change(function () {
        if ($(this).val() != "") {
            var file = $("#file-name").val();
            var fileName = file.lastIndexOf('\\')
            var strName = file.substring(fileName + 1)
            $('#upload').text(strName)
        } else {
            $('#upload').text("选择文件")
        }
    })
    $('#file-form-sub').on('click', function () {
        var fileVal = $('#file-name').val();
        if (fileVal == '') {
            errorAlert('请选择上传文件')
            return false;
        } else {
            alert('提交成功')
            $('#upload').text("选择文件")
        }
    })
</script>
    }

