
@{
    Layout = "~/Views/Shared/_SalesProcessLayout.cshtml";
}
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>业务员信息：</label>
            <input class="form-control input-sm offline-search-inline" id="seller-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="seller-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<h2>业务员信息</h2>
<a class="btn btn-info btn-sm" id="add-seller" style="margin-bottom:18px;"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增业务员</a>
<div id="seller_list_content"></div>
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/SalesProcess/SellerListPartial",
                data: {
                    page: 1,
                    query: $("#seller-query").val(),
                },
                success: function (data) {
                    $("#seller_list_content").html(data)
                }
            });
        })
        // 搜索
        $("#seller-search").on("click", function () {
            $.ajax({
                url: "/SalesProcess/SellerListPartial",
                data:{
                    page: 1,
                    query: $("#seller-query").val(),
                },
                success: function (data) {
                    $("#seller_list_content").html(data)
                }
            })
        })
        // 添加
        $("#add-seller").on("click", function () {
            $.ajax({
                url: '/SalesProcess/AddSellerPartial',
                data: {
                },
                success: function (data) {
                    $('#modal-content').html(data)
                    $("#myModal").modal('show')
                }
            })
        })
    </script>

}

