<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h2>订单详情</h2>
    <iframe src="~/Content/dialog/Create.pdf" width="550"></iframe>
    <button type="button" class="btn btn-default close-order" data-dismiss="modal">关闭</button>
</div>



