@foreach (var contact in ViewBag.Contact)
{
    <div class="view-contact-div">
        <a style="width:15%;">@contact.Contact_Name</a>
        <a style="width:15%;">@contact.Contact_Mobile</a>
        <a style="width:15%;">@contact.Contact_Address</a>
    </div>

}






