
@{
    ViewBag.Title = "线下门店信息";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingOne";
}
<table class="offline-search-box">
    <tr>
        <td class="pull-right">        
            <label>渠道选择：</label>
            @Html.DropDownList("storesystem", ViewBag.QD as SelectList, "- 全部 -", new {@class= "form-control input-sm offline-search-inline"})
            <input class="form-control input-sm offline-search-inline" id="offstore-search-query" placeholder="搜索门店" />
            <a class="btn btn-info btn-sm" id="offstore-search-btn"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<div>
<a class="btn btn-info btn-sm" id="offstore-store-create"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增门店信息</a>
</div>
<br />
<div id="offstore-list">

</div>
@Html.Partial("modal")
<script>
    $("#storesystem").on("change", function () {
        if ($("#storesystem").val() != "") {
            $.ajax({
                url: "/OffStore/StoreListPartial",
                data: {
                    query: $("#storesystem :selected").text()
                },
                success: function (data) {
                    $("#offstore-list").html(data);
                }
            });
        } else {
            $.ajax({
                url: "/OffStore/StoreListPartial",
                data: {
                    query: $("#storesystem").val()
                },
                success: function (data) {
                    $("#offstore-list").html(data);
                }
            });
        }
    })
    window.onload = function () {
        var StoreIndex = new PageBtn({
            init: {
                url: "/OffStore/StoreListPartial",
                partialBox: "#offstore-list"
            },
            search: {
                btn: "#offstore-search-btn",
                url: "/OffStore/StoreListPartial",
                query: "#offstore-search-query"
            },
            add: {
                btn: "#offstore-store-create",
                url: "/OffStore/CreateStorePartial",
                head:"新增门店"
            }
        });
        StoreIndex.init()
    }
</script>