
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>寿全斋-扫码立得</title>
    <meta name="author" content="寿全斋电子商务有限公司">
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body style="background-color:#efefef">
    <div class="container" style="margin-top:40px; margin-bottom:40px;">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6">
                <img class="img-responsive img-circle" src="~/Content/images/period-aid-logo.png" />
            </div>
            </div>
            <div class="col-xs-3"></div>
        </div>
    <div class="hidden">
        <span id="openId">@ViewBag.openId</span>
        <span id="amount">@ViewBag.amount</span>
        <span id="prepay_id"></span>
    </div>
    <div style="background-color:white;margin-bottom:66px;">
        <section class="container">
            <br />
            <h4><strong>支付金额</strong></h4>
            <h2><strong>￥<span class="true_amount"></span></strong></h2>
            <hr />
            <h4 class="text-muted"><span class="true_amount"></span>元每盒</h4>
        </section>
    </div>
    <div class="container">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-block btn-danger btn-lg" id="paybutton">确认支付</button>
    </div>
    <br /><br /><br />
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>

    <script type="text/javascript">
        $(function () {
            if ($("#openId").text() == "") {
                window.location.href = "/Pay/Error";
            }
            $(".true_amount").text(powAmount(parseInt($("#amount").text()) / 100, 2));
        });
        function powAmount(amount, _pow_) {
            var amount_bak = amount;
            var base = 10;
            if (isNaN(amount)) {
                alert(amount + '必须为数字');
                return;
            }
            if (isNaN(_pow_)) {
                alert(_pow_ + '必须为数字');
                return;
            }
            amount = Math.round((amount - Math.floor(amount)) * Math.pow(base, _pow_));
            amount = amount < 10 ? '.0' + amount : '.' + amount
            amount = Math.floor(amount_bak) + amount;
            return amount;
        }

        function callpay(appId, timeStamp, nonceStr, _package, paySign) {
            WeixinJSBridge.invoke(
                'getBrandWCPayRequest', {
                    "appId": appId,     //公众号名称，由商户传入
                    "timeStamp": timeStamp,         //时间戳，自1970年以来的秒数
                    "nonceStr": nonceStr, //随机串
                    "package": _package,
                    "signType": "MD5",         //微信签名方式:
                    "paySign": paySign //微信签名
                },
                function (res) {
                    if (res.err_msg == "get_brand_wcpay_request:ok") {
                        window.location.href = "/Pay/Gambling_Success?" + _package;
                    }
                    // 使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回    ok，但并不保证它绝对可靠。
                    else if (res.err_msg == "get_brand_wcpay_request:cancel") {
                        $("#paybutton").removeAttr("disabled").removeClass("disabled").text("确认支付");
                    }
                    else if (res.err_msg == "get_brand_wcpay_request:fail") {
                        alert("交易失败");
                        $("#paybutton").removeAttr("disabled").removeClass("disabled").text("确认支付");
                    }
                }
            );
        }
        function onBridgeReady() {
            
            $("#paybutton").click(function () {
                var $btn = $(this);
                $btn.attr("disabled", "disabled").addClass("disabled").html("<i class='fa fa-spinner fa-spin fa-fw'></i>");
                $.ajax({
                    type: "post",
                    url: "/Pay/setFixMoney",
                    data: {
                        __RequestVerificationToken: $("input[name=__RequestVerificationToken]").val(),
                        "_openId": $("#openId").text(),
                        "body": "寿全斋 扫码立得",
                        "amount": $("#amount").text()
                    },
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            //alert("SUCCESS");
                            $("#prepay_id").text(data.prepay_id);
                            var _appId;
                            var _timeStamp;
                            var _nonceStr;
                            var _package;
                            var _paySign;
                            $.ajax({
                                type: "get",
                                url: "/Pay/createPay",
                                data: {
                                    "prepay_id": $("#prepay_id").text()
                                },
                                success: function (data) {
                                    if (data.result == "SUCCESS") {
                                        _appId = data.appid;
                                        _timeStamp = data.timeStamp;
                                        _nonceStr = data.nonceStr;
                                        _package = data.package;
                                        _paySign = data.paySign;
                                        callpay(_appId, _timeStamp, _nonceStr, _package, _paySign);
                                        result = true;
                                    }
                                    else if (data.result == "FAIL") {
                                        alert("false");
                                    }
                                }
                            });
                        }
                        else if (data.result == "FAIL") {
                            alert(data.msg);
                            $btn.removeAttr("disabled").removeClass("disabled").text("确认支付");
                        }
                    }
                });
            });
        }
        if (typeof WeixinJSBridge == "undefined") {
            if (document.addEventListener) {
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            } else if (document.attachEvent) {
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        } else {
            onBridgeReady();
        }
    </script>
</body>
</html>
