body {
    background: #fafafa;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

label, p, span {
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
}

.weui_uploader_files {
    margin-bottom: 0;
    padding: 0;
}

.weui_uploader_input_wrp {
    margin-bottom: 0;
    width: 79px;
    height: 79px;
}

.error-label {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background-color: #E64340;
    opacity: 0.9;
    z-index: 9999;
}

#error-label-close {
    position: fixed;
    top: 0;
    padding-top: 8px;
}

.action_sheet_cell_primary {
    color: #04BE02;
}

.action_sheet_cell_danger {
    color: #d9534f;
}

.weui_cell_ft_none {
    color: #888;
}

.weui_panel a:hover, .weui_panel a:visited{
    color:#000;
    text-decoration:none;
}



