body {
    background: #fafafa;
}

a:hover {
    text-decoration: none;
    color: #fff;
}

label, p, span {
    font-size: 16px;
    line-height: 24px;
    margin: 0px;
}

.weui_uploader_files {
    margin-bottom: 0;
    padding: 0;
}

.weui_uploader_input_wrp {
    margin-bottom: 0;
    width: 79px;
    height: 79px;
}

.error-label {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background-color: #E64340;
    opacity: 0.9;
    z-index: 9999;
}

#error-label-close {
    position: fixed;
    top: 0;
    padding-top: 8px;
}

.action_sheet_cell_primary {
    color: #04BE02;
}

.action_sheet_cell_danger {
    color: #d9534f;
}

.weui_cell_ft_none {
    color: #888;
}

.weui_panel a:hover, .weui_panel a:visited{
    color:#000;
    text-decoration:none;
}
.offsales_item{
    background:#fff;
    border-top:solid 1px #efefef;
    padding:5px 0 4px 0;
}
.offsales_title{
    font-size:1em;
    overflow:hidden;/* 内容超出宽度时隐藏超出部分的内容 */
    text-overflow:ellipsis;/* 当对象内文本溢出时显示省略标记(...) ；需与overflow:hidden;一起使用。*/
    white-space:nowrap;/* 不换行 */
}
.offsales_input{
    font-size:1em;
    height:1.4em;
    line-height:1.4em;
    padding:0;
    outline:0;
    border:none;
}


