.left-nav ul {
    background-color: #111;
    color: lightgrey;
}
.img-center {
    margin: auto auto;
    padding: 20px;
    font-size:16px;
    color:lightgray;
}
.img-sircle {
    border-radius: 50%;
}
.img-box {
    font-size: 72px;
}
.img-color-01 {
    color: #0094ff;
}
.infinite-scroll-preloader {
    margin-bottom: 10px;
    text-align: center;
}
    .infinite-scroll-preloader .preloader {
        width: 34px;
        height: 34px;
    }
.demo-card-header-pic .card-header {
    height: 40vw;
    background-size: cover;
    background-position: center;
}
.list-unstyled {
    list-style: none;
    padding:0;
}
.list-inline {
   list-style:none;
   padding-left:15px;
}
.hidden {
    display: none;
}
.preloader-text {
    text-align: center;
}
.picker-modal-bg ul {
    background-color:#cfd5da;
    padding-left:7.5%;
    padding-right:7.5%;
}
