.img-center {
    margin: auto auto;
    padding: 20px;
    font-size:16px;
    color:lightgray;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.img-circle {
    border-radius: 50%;
}
.left-nav ul {
    background-color: #111;
    color: lightgrey;
}
.leftnav-margin-10 {
    margin: 10px 0;
}

.media-box {
    width: 60px;
    height: auto;
    margin-right: 10px;
}
.font-style-01 {
    font-size: 12px;
    margin-top: 9px;
}
.font-style-02 {
    font-weight: bold;
    font-size: 36px;
}
html.ios-gt-8 .list-block li.media-item .item-title, html.ios-gt-8 .list-block.media-list .item-title {
    font-weight: 400;
}
