
html, body{
    font-family:微软雅黑, Arial;
    font-size:12px;
    line-height: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:微软雅黑, Arial;
}
ul,li,a{
    text-decoration:none;
    list-style:none;
}
a:hover,a:visited,a:focus{
    text-decoration:none;
}
.ver_icon:before{
    vertical-align:middle;
}
ul,li{
    padding:0;
    margin:0;
}
.text-shadow{
    text-shadow:2px 2px 2px #666;
}
body,html{
    width:100%;
}
/*颜色*/
.btn-blue{
    color: #fff;
    background-color: #3da8f5;
    border-color: #3da8f5;
}
.color-orange{
    color:#ff8547;
}
.color-blue{
    color:#3da8f5;
}
.color-red{
    color:#E51C23;
}
.color-green{
    color:#259B24;
}
.color-lightgreen{
    color:#8BC34A;
}
.color-gray{
    color:#808080;
}
.color-white{
    color:#fff;
}
.bg-white{
    background-color:#fff;
}
/*颜色结束*/



/*工具样式*/
.sortable-ghost div{
    visibility:hidden;
}
.sortable-ghost {
  border:none!important;
  font-size:0;
  opacity:0.8 !important;
  content:none!important;
  background-color:#ccc!important;
}
.sortable-drag{
    cursor: -webkit-grabbing;
    cursor:move !important;
    border:2px solid;
    opacity:1 !important;
}
.tm_img-circle{
    vertical-align:middle;
    border-radius: 50%
}
.tm_avatar {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.tm_personal-avatar {
    margin-top:-4px;
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
}
.tm_item-avatar {
    margin-top:-1px;
    display: inline-block;
    position: relative;
    width: 26px;
    height: 26px;
}
.tm_back{
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.tm_back:hover{
   opacity: .5;
}
.icon-size{
    display:block;
    font-size:22px;
}
.disabled{
    background-color:#ccc;
    color:black;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}
.clear-float:before,.clear-float:after {
    content:"";
    display:table;
}
.clear-float:after { clear:both; }/* For IE 6/7 (trigger hasLayout) */
.clear-float { zoom:1; }
.padding-10{
    padding:10px;
}
.margin-bottom-10{
    margin-bottom:10px;
}
.margin-0{
    margin:0!important;
}
.show{
    display:block !important;
}
.hide{
    display:none !important;
}
/*工具样式结束*/


/*错误样式*/
input.has-error,textarea.has-error,select.has-error{
    border-color: #b94a48;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
/*错误样式结束*/

/*行为样式*/
.write-box input{
    padding:25px 5px; /*非modal表单input样式*/
}
.add-btn{
   cursor:pointer;
}
.add-btn:hover{
    color:#3da8f5;     /*争对点击按钮变表单*/
}
a.close{
    opacity:1;
    font-size:12px;
    text-decoration:none;
    float: right;
    font-weight: bold;
    line-height: 2;
    color: #3da8f5;
    text-shadow: 0 1px 0 #fff;
    margin-top: -2px;
    margin-right:10px;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
/*行为样式结束*/


/*dropdown样式改造*/
.procedure-dropdown-toggle{
    padding:5px 5px 5px 0;
}
.tm-dropdown-area{
    position:absolute;
    z-index:9999;
}
.tm_dropdown.dropdown-menu.tm_procedure-dropdown{
    left:0;
}
.tm_dropdown.dropdown-menu{
    padding:0;
}
.tm_dropdown.dropdown-menu.tm_dropdown_width{
    vertical-align:middle;
    top:40px;
    left:473px;
    width:250px;      
}
.tm_dropdown .tm_dropdown_list{
    overflow:auto;
}
.tm_dropdown.dropdown-menu ul{
    margin:0;
    padding:0;
}
.tm_dropdown.dropdown-menu .divider{
   margin:0;
}
.tm_dropdown.dropdown-menu ul li{
    font-size:0;
}
.tm_dropdown.dropdown-menu ul li a{
    outline:none;
    color:#262626;
}
.tm_dropdown.dropdown-menu ul li>*{
    text-decoration:none;
    display:block;
    padding:10px;
    font-size:14px;
}
.tm_dropdown.dropdown-menu ul li a:hover{
    background-color:rgba(0,0,0,0.1);
}
/*dropdown结束*/


/*导航改造*/
#app-header .navbar{
    margin-bottom:0;
}
.navbar-right.navbar-border>li:not(:last-child)>a:after{
    content: ' ';
    display: inline-block;
    position: absolute;
    top: 0;
    height: 22px;
    width: 1px;
    margin: 13px 0;
    background: #E5E5E5;
    transition: all 218ms 100ms;
    right: 0;
}
.tm_task-navbar{
    border-bottom:1px solid #e5e5e5;
}
.tm_task-navbar .breadcrumb.navbar-breadcrumb{
    margin:0;
    padding:0;
}
.tm_task-navbar .navbar-underline li{
    padding:0 10px;
}
.tm_task-navbar .navbar-breadcrumb>li>a{
    text-decoration:none;
    display:block;
    padding: 15px 0px;
    line-height:20px;
}
.tm_task-navbar .navbar-breadcrumb>li:before{
    display:none;
}
.tm_task-navbar .navbar-breadcrumb>li:not(:first-child)>a:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.tm_task-navbar .navbar-underline li a{
    font-weight:700;
    display:block;
}
.navbar-underline li a.active{
   border-bottom:3px solid  #3da8f5;
}
.navbar-underline li a:hover{
    box-sizing:border-box;
    border-bottom:3px solid  #3da8f5;
    transition:  all 0.3s ease-out;
   -moz-transition:  all 0.3s ease-out;	/* Firefox 4 */
   -webkit-transition:  all 0.3s ease-out;	/* Safari 和 Chrome */
   -o-transition:  all 0.3s ease-out;	/* Opera */
}
/*导航改造结束*/

/*主页项目card*/
.card-item {
    color:#fff;
    width: 100%;
    background-size: 100% auto; 
    background-repeat: no-repeat; 
    background-color:#ccc;
    position:relative;
    cursor: pointer;
    margin-bottom: 10px;
    padding:2px 2px;
    border-radius:5px;
    top:-1px;
    height:100px;
   transition:  all 300ms ease;
   -moz-transition:  all 300ms ease;	/* Firefox 4 */
   -webkit-transition:  all 300ms ease;	/* Safari 和 Chrome */
   -o-transition:  all 300ms ease;	/* Opera */
}
.card-item:hover{
   -moz-box-shadow: 0px 8px 15px #ccc; /* 老的 Firefox */
   -webkit-box-shadow:0px 8px 15px #ccc;
   box-shadow:0px 8px 15px #ccc;
   top:-5px;
}
.card-header,.card-footer{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:100%;
    position:relative;
    z-index:1;
    padding:5px 8px;
    font-weight:700;
}
.card-header-left,.card-footer-left{
   box-sizing:border-box;
   max-width:80%;
}
.card-header-right,.card-footer-right{
   box-sizing:border-box;
   max-width:20%;

}
.card-header-left,.card-header-right,.card-footer-left,.card-footer-left{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.card-header-right{
    opacity:0.6;
}
.card-header-right:hover{
    opacity:1;
}
.card-body{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position:relative;
    padding:10px 8px;
    height:40px;
    z-index:1;
}
.card-title{
    font-size:14px;
}
.card-mask{
    background-image: linear-gradient(to bottom, rgba(56, 56, 56, 0.3) 0%, rgba(56, 56, 56, 0) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d383838', endColorstr='#00383838', GradientType=0);
    position: absolute;
    top: 0;
    right:0;
    height: 75%;
    width: 100%;
    border-radius: 4px 4px 0 0;
    z-index: 0;
}
#add-task-card-btn{
    padding:15px 0;
}
#add-task-card{
    text-align:center;
}
#add-task-card a{
    color:#808080;
    display:block;
    text-decoration:none;
}
#add-task-card a:hover{
    color:#3da8f5;
}
#add-task-card-word{
    font-size:20px;
    text-decoration:none;
}
.edit-cover-img{
    width:260px;
    height:100px;
    display:block;
}
/*主页项目card结束*/

/*面板*/
.tm_panel-wrap{
    z-index:-1;
    position: fixed;
    top: 104px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
   transition:  all 300ms ease;
   -moz-transition:  all 300ms ease;	/* Firefox 4 */
   -webkit-transition:  all 300ms ease;	/* Safari 和 Chrome */
   -o-transition:  all 300ms ease;	/* Opera */
}
.tm_panel-container{
    position:relative;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height:100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.tm_panel-item.tm_panel-item-add{
    height:auto;
    opacity:1;
    left:0;
    transition:  all 300ms ease;
   -moz-transition:  all 300ms ease;	
   -webkit-transition:  all 300ms ease;	
   -o-transition:  all 300ms ease;	
}
.tm_add_panel_hide .tm_panel-item-add{
    height:0;
    width:0;
    opacity:0;
}
.tm_add_panel_hide .tm_control_panel_show{
    opacity:1;
    display:block;
}
.tm_control_panel_show{
    color:#fff;
    display:none;
    opacity:0;
    z-index:999999;
    position:fixed;
    left:0;
    background-color:#3da8f5;
    width:14px;
    line-height:40px;
    top:115px;
    height:80px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    word-break:break-word;
    cursor:pointer;
    vertical-align:middle;
    transition:  all 300ms ease;
   -moz-transition:  all 300ms ease;	
   -webkit-transition:  all 300ms ease;	
   -o-transition:  all 300ms ease;	
}
.tm_control_panel_hide{
    width:60px;
    position:absolute;
    right:0;
    top:0;
    background-color:#3da8f5;
    height:100%;
    text-align:center;
    color:#fff;
    padding:10px;
    cursor:pointer;
       transition:  all 300ms ease;
   -moz-transition:  all 300ms ease;	
   -webkit-transition:  all 300ms ease;
   -o-transition:  all 300ms ease;
}
.tm_panel-item{
    position: relative;
    height: 100%;
    width: 288px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-right: 10px;
    vertical-align: top;
    background-color: #EEEEEE;
    border-radius: 3px;
        transition:  all 300ms ease;
   -moz-transition:  all 300ms ease;	/* Firefox 4 */
   -webkit-transition:  all 300ms ease;	/* Safari 和 Chrome */
   -o-transition:  all 300ms ease;	/* Opera */
}
.tm_panel-item:last-child{
   margin-right: 0px;
}
.tm_panel-header,.tm_panel-footer{
    font-size:16px;
    position:absolute;
    left:0;
    width:100%;
    height:40px;
    line-height:35px;
    padding:5px 10px 0 10px;
}
.tm_panel-footer{
    bottom:0;
}
.tm_panel-header{
    top:0;
}
.tm_panel-header:hover{
    cursor:move;
    cursor: -webkit-grabbing;
}
.tm_panel-body{
    position:absolute;
    top:40px;
    bottom:40px;
    width:100%;
    overflow: hidden;
    overflow-x: visible;
}
.tm_panel-footer>.tm_panel-footer-left,.tm_panel-footer>.tm_panel-footer-left,.tm_panel-header>.tm_panel-header-left,.tm_panel-header>.tm_panel-header-left{
    max-width:30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tm_panel-footer>.tm_panel-footer-right,.tm_panel-footer>.tm_panel-footer-right,.tm_panel-header>.tm_panel-header-right,.tm_panel-header>.tm_panel-header-right{
    text-align:right;
    max-width:70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*面板结束*/

/*面板列表*/
.tm_list-show{
    padding:5px 0;
}
.tm_list-container{
    height:100%;
    overflow:auto;
}
.tm_list-show .tm_list-item:hover{
    opacity:0.8;
}
.tm_list-container .tm_list-item.tm_list-finish{
    opacity:0.6;
}
.tm_list-item{
    opacity:1;
    cursor:pointer;
    box-sizing:border-box;
    border-left:10px solid #fff;
    box-sizing:border-box;
    border-radius:2px;
    background-color:#fff;
    margin:8px;
    padding:0px 10px 0px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tm_list-control{
    opacity:1;
    cursor:pointer;
    margin-top:0;
    box-sizing:border-box;
    border-radius:2px;
    background-color:#fff;
    margin:0 8px 8px 8px;
    padding:8px;
}
.btn-get-form{
    display:block;
    padding:10px;
}
.tm_list-item_top,.tm_list-item_bottom{
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tm_item_left{
    height:40px;
    line-height:40px;
    max-width:75%;
    float:left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tm_item_right{
    vertical-align:middle;
    max-width:30%;
    height:40px;
    line-height:40px;
    float:right;
    box-sizing:border-box;
    vertical-align:middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tm_list-item .tm_item_left>input[type="checkbox"]{
    margin:0;
    text-align:center;
    vertical-align:middle;
    height:20px;
    width:20px;
}
/*面版列表结束*/


/*modal改写*/
.tm_modal .modal-body{
    height:400px;
    overflow:auto;
}
.tm_modal_list-footer{
    padding:10px 0px;
}
.tm_modal_list-header{
    border:1px solid #ccc;
    border-radius: 4px;
    padding:0 10px;
    cursor:pointer;
}
.tm_modal_body ul>.tm_modal_list-header{
    border-bottom:none;
}
.tm_left_icon{
    padding: 5px 5px 5px 0;
}
.tm_modal_list-left {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 30px;
    line-height: 30px;
    float: left;
    width:80px;
}
.tm_modal_list-middle{
    max-width:50%;
    box-sizing:border-box;
    float:left;
    height:30px;
    line-height:30px;
            overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tm_modal_list-right{
    height:30px;
    line-height:30px;
    float:right;
}
/*modal改写结束*/

/*参与者区域*/
ul.participator_area li{
    float:left;
    padding:5px 5px 0 0;
    text-align:center;
    vertical-align:middle;
}
ul.participator_area li .user_circle{
    text-decoration:none;
    border:1px solid #ccc;
    display: block;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    width:25px;
    height:25px;
    border-radius:50%;
    background-color:#ccc;
}
ul.participator_area li:last-child{
    background-color:none;
}
ul.participator_area li .create_user_circle{
    background-color:#3da8f5;
    border:none;
}
ul.participator_area li .create_user_circle i{
    color: white;
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center
}

/*子任务关联样式*/
a.btn_subtask_detail{
    text-decoration:none;
}
#add-subtask{
    display:block;
    padding:5px;
}

/* Modal 关联样式 */
.edit-title{
    margin-bottom:10px;
}
.modal-dropdown{
    margin-right:10px;
}
.modal-dropdown button{
    background-color:inherit;
    border:none;
}

/*侧边栏*/
.tm_subject_panel{
    position: fixed;
    z-index:-1;
    width: 350px;
    top: 103px;
    right: 0;
    bottom: 0;
    background-color: #F7F7F7;
    overflow: hidden;
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.1);
    opacity: 0;
    -webkit-transform: translate3d(360px, 0px, 0px);
    transform: translate3d(360px, 0px, 0px);
    transition: 0.25s cubic-bezier(0, 1, 0.39, 1);
}
.tm_subject_panel .list-group-item{
    display:block;
    border-left:none;
    border-right:none;
}
.tm_subject_panel .list-group-item:first-child{
    border-top:none;
}
.tm_subject_active .tm_subject_panel{
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
   transform: translate3d(0px, 0px, 0px);
  transition: 0.25s cubic-bezier(0, 1, 0.39, 1);
  overflow: initial;
}
.tm_subject_container{
    position: relative;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
     overflow:hidden;
}
.tm_subject_panel_header,.tm_subject_panel_footer{
    text-align:center;
    width:100%;
    height:40px;
    line-height:40px;
    position:absolute;
    left:0;
}
.tm_subject_panel_body{
    width:100%;
    position:absolute;
    top:40px;
    bottom:40px;
    overflow:auto;
}
.tm_subject_panel_header{
    top:0;
    border-bottom:1px solid #e5e5e5;
}
.tm_subject_panel_footer{
    bottom:0;
    border-top:1px solid #e5e5e5;
}
.daily_schedule_content{
    padding:0 40px;
}
.subject_task_num{
    font-size:20px;
}
.tm_subject_panel .tm_personal-avatar{
    height:25px;
    width:25px;
    margin-top:3px;
}
.subject_avatar_box{
    padding:0 5px 0 0 ;
}
/*侧边栏结束*/

/*模拟导航列表*/
.modal-nav-panel{
    background-color:#F7F7F7;
    border-bottom:1px solid #e5e5e5;
    position:relative;
}
.tm_modal_ul_wrap{
    padding:0;
    height:450px;
    overflow:auto;
}

.tm_modal_ul_wrap .list-group-item{
    cursor:pointer;
    border-radius:0px;
    border-right:none;
    border-left:5px solid #fff;
    transition:  all 300ms ease;
   -moz-transition:  all 300ms ease;	/* Firefox 4 */
   -webkit-transition:  all 300ms ease;	/* Safari 和 Chrome */
   -o-transition:  all 300ms ease;	/* Opera */
}
.tm_modal_ul li:first-child,.tm_modal_list_ul li:first-child{
    border-top:none;
}
#tm_colstraff_area{
    padding:0 10px;
}
.tm_modal_ul_wrap.modal-list-panel {
    border:none;
}
.tm_modal_ul_wrap{
    border-right:1px solid #e5e5e5;
}
.tm_modal_nav_ul .list-group-item.tm_active{
    border-left:5px solid #3da8f5;
}
.list-group-item:hover{
   background-color:rgba(0,0,0,0.1)
}
.tm_modal_nav_ul .list-group-item:hover{
    border-left:5px solid #3da8f5;
}
.tm_empty_content{
    text-align:center;
    line-height:250px;
    position:absolute;
    left:50%;
    top:50%;
    height:250px;
    width:250px;
    transform:translate(-125px,-125px)
}
.tm_modal_list_li:hover{
    background-color:#E5E5E5;
}
.tm_modal_list_li{
    width:100%;
    cursor:pointer;
    height:50px;
    border-bottom:1px solid #E5E5E5; 
}
.tm_item_middle{
    max-width:75%;
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tm_item_border{
    height:50px;
    width:8px;
    background-color:#ccc;
}
.tm_item_avatar{
    padding:0 10px;
    text-align:center;
    height:50px;
    line-height:50px;
}
.tm_middle_content{
    max-width:100%;
    height:25px;
    line-height:25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tm_modal_list_li .tm_item_left{
    max-width:100%;
    height:25px;
    line-height:25px;
            overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tm_modal_list_li .tm_item_right {
    padding:0 5px;
    height:50px;
    line-height:50px;
    max-width:30%;
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}




/*修改日志删选样式*/
.bootstrap-select  .filter-option{
    text-align:center !important;
}
.btn-group-justified>.btn-group:not(:last-child) .btn{
    border-right:none;
}
.form-control.bootstrap-select{
    display:block !important;
}
.minus-icon{
    height:0px;
    width:0px;
    text-align:center;
    line-height:23px;
    font-size:18px;
    display:none;
    transition:  all 0.5s ease-out;
   -moz-transition:  all 0.5s ease-out;	/* Firefox 4 */
   -webkit-transition:  all 0.5s ease-out;	/* Safari 和 Chrome */
   -o-transition:  all 0.5s ease-out;	/* Opera */

}
.user_circle:hover{
    opacity:0.8;
}
.user_circle:hover .minus-icon{
    height:23px;
    width:23px;
    display:block;
}

/*任务评论*/
.tm_modal-comment{
    padding:5px 15px;
    background-color:#ccc;
}
.tm_modal-comment-input input{
    padding:6px;
    width:100%;
}
.btn_delete_comment{
    display:none;
}
.tm_modal_list_li:hover .btn_delete_comment{
    display:block;
}
/*任务评论结束*/


/*文件面板*/
.tm_panel-container-file{
    top:10px;
    background-color:#fff;
    max-width:85%;
    min-width:600px;
    margin:0 auto;
    height:100%;
}
.tm_panel-file{
    background-color:#f8f8f8;
}
.tm_files_header,.tm-files_control{
    height:56px;
    font-size:14px;
    border-bottom:1px solid #E5E5E5;
    padding:18px;
}
.tm_files_titile{
    font-size:18px;
}
.tm_files_header div{
    max-width:50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tm_btn{
    padding:0 5px;
}
.tm_files_checkbox{
    text-align:center;
    width:5%;
}
.tm_files_checkbox input{
    height:20px;
    width:20px;
}
.tm_files_info{
    height:20px;
    width:80%;
}
.tm_files_info *{
    display:inline-block;
}
.tm_files_body_ul_li .tm_files_middle{
    line-height:30px;
    height:58px;
    padding:18px 0;
}
.tm_files_middle{
    width:80%;
}
.tm_files_name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:40%;
}
.tm_files_name input{
    height:30px;
}
.tm_files_size,.tm_files_author{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:20%;
}
.tm_files_time{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:20%;
}
.tm_files_link{
    opacity:0;
    transition:  all 0.5s ease-in-out;
   -moz-transition:  all 0.5s ease-in-out;	/* Firefox 4 */
   -webkit-transition:  all 0.5s ease-in-out;	/* Safari 和 Chrome */
   -o-transition:  all 0.5s ease-in-out;	/* Opera */
}
.tm-files_ul_item{
    cursor:pointer;
    height:56px;
    font-size:14px;
    padding:18px;
}
.tm_files_wrap{
    height:100%;
}
.tm_files_body{
    height:65%;
    overflow:auto;
}
.tm_files_link a{
    padding:10px 5px;
    font-size:18px;
}
.tm_files_body_ul_li{
    cursor:pointer;
    padding:0 18px;
}
.tm_files_body_ul_li:hover{
    background-color:#e5e5e5;
}
.tm_files_body_ul_li:hover .tm_files_link{
    opacity:1;
}
.tm_files_body_ul_li .tm_files_checkbox{
    padding:13.5px 0;
}
.tm_files_body_ul_li .tm_files_type {
    padding:13px 0;
}
.tm_files_type img{
    height:32px;
    width:32px;
}
.tm_files_type {
    font-size:16px;
    width: 5%;
}
.tm_files_body_ul_li .tm_files_middle{
    padding:18px 0px;
}
.tm_files_middle.tm_files_text{
    font-size:16px;
    padding:15px 0;
}
.tm_files_text .tm_files_link{
    font-size:25px;
}



/*文件面板结束*/







