html, body{
    font-family:微软雅黑, Arial;
    font-size:12px;
    line-height: 20px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:微软雅黑, Arial;
}
form{
    position:relative;
}
ul,li,a{
    text-decoration:none;
    list-style:none;
}
a:hover,a:visited,a:focus{
    text-decoration:none;
    outline:none;
}
.ver_icon:before{
    vertical-align:middle;
}
ul,li{
    padding:0;
    margin:0;
}
.text-shadow{
    text-shadow:2px 2px 2px #666;
}
body,html{
    width:100%;
}
/*默认样式开始*/
/*布局样式*/
/*布局样式结束*/
/*颜色*/
.btn-blue{
    color: #fff;
    background-color: #3da8f5;
    border-color: #3da8f5;
}
.color-orange{
    color:#ff8547;
}
.color-blue{
    color:#3da8f5;
}
.color-red{
    color:#E51C23;
}
.color-green{
    color:#259B24;
}
.border-blue{
    border-color:#3da8f5 !important;
}
.border-green{
    border-color:#259B24 !important;
}
.border-red{
    border-color:#FF4F3E !important;
}
.color-lightgreen{
    color:#8BC34A;
}
.color-gray{
    color:#808080;
}
.color-white{
    color:#fff;
}
.bg-white{
    background-color:#fff;
}
.over-deadline{
    background: #FF4F3E;
    padding: 2px;
    border-radius: 2px;
    color: #fff;
}
/*颜色结束*/
/*头部筛选*/
#shared_select_condition{
    background:#f7fbfe;
    margin:20px
}
#toggle_view_div{
    position:relative;
    background:#f7fbfe
}
.toggle_hide_div{
    margin-left: 10px;
    line-height: 38px;
    display:inline-block
}
.toggle_hide_div span{
    background: #deefff;
    color: #0b73df;
    padding: 5px;
}


.select_condition_div{
    margin-left:10px;
    line-height:38px;
}
.share_inline_div{
    display: inline-block;
    margin-left: 50px;
}
.select_condition_div2{
    position:relative;
    width: 190px;
    display: inline-block;
    height:41px
}
.shared_ul{
    margin:0
}
.shared_ul li {
    padding:0 13px;
    display: inline-block;
    line-height:28px;
    font-size:12px;
}
.shared_section_li_active{
    background:#deefff;
}
.shared_section_li_active .active{
    color:#0b73df
}
.shared_ul li a{
    text-decoration:none;
    color:#323232;
    cursor:pointer;
    display:inline-block;
    width:100%
}
.shared_view_date{
    line-height: normal;
    font-size: 12px;
    display: inline-block;
    padding: 4px 15px 4px 0;
    width: 200px;
    text-align: center;
    margin-left: 0;
}
.shared_view_div{
    line-height: normal;
    font-size: 12px;
    display: inline-block;
    padding: 4px 15px 4px 0;
    width: 200px;
    text-align: center;
    margin-left: 0;
    position:relative;
    height:26px;
    border:1px solid #9a9a9a;
}
.shared_view_span_active{
    border:1px solid #5897fb;
}
/*隐藏的DIV*/
.hidden_div{
    font-size: 12px;
    display: inline-block;
    width: 200px;
    text-align: center;
    border:1px solid #5897fb;
    position:absolute;
    top:24px;
    left:-1px;
    z-index:9999;
    background:#fff
}
.hidden_div input{
    line-height: normal;
    font-size: 12px;
    display: inline-block;
    padding: 4px 15px 4px 0;
    width: 190px;
    margin-left: 0;
}
.hidden_div select{
    line-height: normal;
    font-size: 12px;
    display: inline-block;
    padding: 4px 15px 4px 0;
    width: 190px;
    margin-left: 0;
    border: none
}
.select_view option:hover{
    background:#5897fb;
    color:#fff;
    font-weight:600
}
/*修改滚动条样式*/
.select_view::-webkit-scrollbar {/*滚动条整体样式*/
            width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
            height: 4px;
        }
.select_view::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: rgba(0,0,0,0.2);
}
.select_view::-webkit-scrollbar-track { /*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 0;
        background: rgba(0,0,0,0.1);
    }

/*修改滚动条样式结束*/
/*隐藏的DIV结束*/
/*小图标样式*/
.arrows_view {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(images/select2.png)no-repeat 0 1px;
    background-position: -4px -7px;
    top: 12px;
    right: -17px;
    position: absolute;
}
.glass_view {
    display: block;
    width: 10px;
    height: 10px;
    background: url(images/select2.png)no-repeat 0 1px;
    background-position: -4px -8px;
    position: absolute;
    right: 3px;
    top: 7px;
}
.glass_view_active {
    display: block;
    width: 10px;
    height: 10px;
    background: url(images/select2.png)no-repeat 0 1px;
    background-position: -22px -7px;
    position: absolute;
    right: 3px;
    top: 7px;
}

.cancel_view_btn{
     display: inline-block;
     width: 10px;
     height: 10px;
     background: url(images/select2.png)no-repeat 0 1px;
     background-position: -47px -2px;
     top: 13px;
     right: 0px;
     position: absolute;
}
.glass_cancel_view_btn{
    display: block;
    width: 10px;
    height: 10px;
    background: url(images/select2.png)no-repeat 0 1px;
    background-position: -48px -2px;
    position: absolute;
    right: 19px;
    top: 7px;
}
/*小图标结束*/
/*搜索*/
.search_contain_div{
    position:relative
}
.search_icon{
    display: block;
    width: 20px;
    height: 20px;
    background: url('images/select2.png')no-repeat 0 1px;
    background-position: -41px -22px;
    position: absolute;
    right: 3px;
    top: 1px;
}
/*搜索结束*/
/*头部筛选结束*/
/*默认样式结束*/
/*评论样式*/
 .ylcon {
        width: 100%;
        min-width: 320px;
    }
.tit {
        height: 26px;
        line-height: 26px;
        padding: 0px 15px;
        position: relative;
        font-size: 15px;
        color: #aaa;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    }
.story {
    border-bottom: 1px dashed #cecece;
    padding: 0 15px 3px;
    position: relative;
}
.story_t {
    font-size: 1.2em;
    color: rgba(0,0,0,1);
    padding-top: 12px;
}
.story_m {
    color: rgba(0,0,0,1);
    line-height: 21px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 1.2em;
    padding: 2px 0;
}
.story_time {
    color: rgba(0,0,0,1);
    padding: 2px 0;
}
.story_hf {
    background: rgb(245,245,245);
    font-size: 1.2em;
    border: 1px solid rgba(204,204,204,0.2);
    border-radius: 2px;
    color: rgba(0,0,0,1);
    padding: 2px;
    margin-bottom: 5px;
}
.opbtn {
    position: absolute;
    top: 0;
    right: 0;
}    
#comment_text{
    width:60%;
    border-radius:5px;
    margin:10px auto
}
#comment_container{
    width:80%;
    display:inline-block;
    text-align:left
}
#com_detial{
    width:80%;
    border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    outline:none;
    height:34px;
    border:1px solid #d8dde5;
    text-indent:10px
}
#save-btn{
    padding:6px 11px;
    margin-left: -4px;
    margin-top: -2px
}
/*评论样式结束*/
/*公司详细信息样式*/
.contact_shared_view{
    display:inline-block;
    padding-bottom:10px;
    font-size: 14px;
}
/*公司详细信息样式结束*/
/*部分视图样式*/
.list_content_container{
    padding:0 20px;
    width:100%;
    white-space: nowrap;
}
.freezing::-webkit-scrollbar {/*滚动条整体样式*/
            width: 8px;     /*高宽分别对应横竖滚动条的尺寸*/
            height: 8px;
        }
.freezing::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
            border-radius: 5px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: rgba(0,0,0,0.2);
}
.freezing::-webkit-scrollbar-track { /*滚动条里面轨道*/
        -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 0;
        background: rgba(0,0,0,0.1);
    }
#freezing_record{
    overflow:scroll;
    /*height: 268px;*/
}
#freezing_company{
    overflow:scroll;
    /*height: 344px;*/
}
/*分页样式*/
.paging_container{
    height:41px;
    display:inline-block;
    margin-left:-10px
}
.paging_container div{
    display:inline-block;
    margin-top:11px;
    margin-bottom:11px;
    font-size:14px;
    float:left;
}
.share_select_page{
        height:22px;
        line-height:18px;
        padding: 0 10px 2px 15px;
        margin:-1px 20px 0 20px;
    }
.share_view_paging{
    margin-right:20px
}
.page_info{
    height:21px;
    line-height:18px;
    width:28px;
    text-indent:7px
}
.page_san_zuo {
    width:0;
    height:0;
    border-width:8px 0 8px 15px;
    border-style:solid;
    border-color:transparent transparent transparent #ccc;
    float:right;
    margin-top: 3px;
    margin-left: 9px;
    cursor: pointer;
}
.page_san_you {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 15px solid #ccc;
    border-bottom: 8px solid transparent;
    float:left;
    margin-top: 3px;
    margin-right: 9px;
    cursor: pointer;
}
.page_san_zuo:hover {
    width:0;
    height:0;
    border-width:8px 0 8px 15px;
    border-style:solid;
    border-color:transparent transparent transparent #607d9a;
    float:right;
    margin-top: 3px;
    margin-left: 9px;
    cursor: pointer;
}
.page_san_you:hover{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 15px solid #607d9a;
    border-bottom: 8px solid transparent;
    float:left;
    margin-top: 3px;
    margin-right: 9px;
    cursor: pointer;
}
.share_page_sum{
    margin-left:10px
}
/*分页样式结束*/
/*评论*/
/*评论结束*/

/*部分视图样式结束*/