
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>冷泡姜茶-制作教程</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/example.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style>
        p {
            font-size: 14px;
            line-height: 24px;
            padding:3px 0 0 0;
        }
        h2 {
        font-weight:bold;
        }
        img {
        padding:5px 0 5px 0;
        }
    </style>
</head>
<body>
    <article class="weui_article">
        <h1><strong>冷泡姜茶-制作教程</strong></h1>
        <section>
            <h2>一、冷泡姜茶</h2>
            <p>
                <img class="img-responsive" src="http://cdn.shouquanzhai.cn/Content/tutorial-cold-01.jpg"/>
                需要准备工具：红糖姜茶x3条、柠檬姜茶x1条、冷泡壶(1L)、剪刀、冷水
            </p>
            <p>
                ①	将3条红糖姜茶和1条柠檬姜茶用剪刀剪开，倒入冷泡壶中。
                <img class="img-responsive" src="http://cdn.shouquanzhai.cn/Content/tutorial-cold-02.jpg" />
            </p>
            <p>
                ②	倒入三分之一冷水后，盖盖子摇晃至均匀。
                <img class="img-responsive" src="http://cdn.shouquanzhai.cn/Content/tutorial-cold-03.jpg" />
            </p>
            <p>
                ③	再灌入冷水至1L满。冷泡姜茶即制作完成！
                <img class="img-responsive" src="http://cdn.shouquanzhai.cn/Content/tutorial-cold-04.jpg" />
            </p>
            <p>
                ④	再倒入试饮杯中！(*注意 倒入三分之一即可) 快让顾客品尝一杯爽口的姜茶吧！
                <img class="img-responsive" src="http://cdn.shouquanzhai.cn/Content/tutorial-cold-05.jpg" />
            </p>
        </section> 
        <section>
            <h2>二、冷泡升级-冰镇姜茶</h2>
            <ul class="list-unstyled">
                <li>如果卖场有条件，可以制作更适宜夏日饮用的“冰镇姜茶”</li>
                <li>除了上述所需道具：红糖姜茶x3条、柠檬姜茶x1条、冷泡壶(1L)、剪刀、冷水</li>
                <li>还需准备：冰桶、冰块(可问卖场生鲜部门借取)、自来水</li>
            </ul>
            <p>
                ①	冰块倒入冰桶中 [*注意该冰块不可食用]
                <img class="img-responsive" src="http://cdn.shouquanzhai.cn/Content/tutorial-cold-06.jpg" />
            </p>
            <p>
                ②	 加入二分一冰桶的自来水，制成冰水混合液。
                <img class="img-responsive" src="http://cdn.shouquanzhai.cn/Content/tutorial-cold-07.jpg" />
            </p>
            <p>
                ③	将泡好的冷泡姜茶，放入冰水混合液中3-5分钟即可！
                <img class="img-responsive" src="http://cdn.shouquanzhai.cn/Content/tutorial-cold-08.jpg" />
            </p>
        </section>
        <section>
            <h2>三、没有条件制作</h2>
            <p>
                如果你可怜到没有冷水，没有冰块，只有热水的情况。我们还能这么干！
            </p>
            <p>
                ①	加入3条红糖姜茶和1条柠檬姜茶，并倒入热水冲泡。
                <img class="img-responsive" src="http://cdn.shouquanzhai.cn/Content/tutorial-cold-09.jpg" />
            </p>
            <p>
                ②	在冰桶中注入二分之一自来水（代替冰水），可起到降温作用。放置姜茶变凉即可。
                <img class="img-responsive" src="http://cdn.shouquanzhai.cn/Content/tutorial-cold-10.jpg" />
            </p>
            <p style="text-indent:2em;">好了，今天教大家的三种冷泡姜茶制作方法大家记住了没有？如果还不理解可以观看视频哟？各位促销员，大家加油哦！</p>
        </section>
    </article>
</body>
</html>
