@model PeriodAid.Models.P_Presents

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GirlFriend_Result</title>
</head>
<body>
    <div>
        <h2>订单状态</h2>
    </div>
</body>
</html>
