
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/example.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>闺蜜礼</title>
    <style>
        .background {
            background-color: #fe8594;
            padding:20px 0;
        }
        .info-text{
            padding:10px;
            border-radius:5px;
            background-color:#fff;
        }
        p{
            font-size:12px;
            margin:5px 0;
            line-height:16px;
        }
        input.error{ border: 1px solid red;color:red}
    </style>
</head>
<body>
    <div class="container-fluid">
        <img src="//cdn.shouquanzhai.cn/Content/girlfriend_bg_01.jpg" class="img-responsive" />
    </div>
    <div class="container background">
        <div class="row">
            <div class="col-xs-1"></div>
            @using (Html.BeginForm("GirlFriend_Start", "Custom", FormMethod.Post, new { @id = "regionForm" }))
            {
                <div class="col-xs-10">
                    <div class="info-text">
                        <p>【活动规则】</p>
                        <p>
                            1. 凡在2016年5月1日-2016年5月30日期间，在寿全斋微信官方商城任意消费过1次以上，即可参与活动。</p>
                        <p>
                            2. 参与者填写【闺蜜】地址及信息，【闺蜜】即可获赠寿全斋姜茶1盒，参与者无需再支付额外费用及运费，真正免费！（地址等信息请谨慎填写，无法更改！）
                        </p>
                        <p>
                            3. 此活动仅限微信用户，每个微信id限参与1次。
                        </p>
                    </div>
                    <p>请输入您之前在寿全斋微信商城购买记录中所填过的收货人手机号，用于验证参与资格。</p>
                    <input type="hidden" value="@ViewBag.OpenId" id="openid" name="openid" />
                    <div class="text-center">
                        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="手机号码" />
                        <button class="btn btn-danger btn-block" style="background-color:#bc1f3e; margin-top:16px;">确认</button>
                    </div>
                </div>

            }
            <div class="col-xs-1"></div>
        </div>
    </div>
    <div class="container-fluid">
        <img src="//cdn.shouquanzhai.cn/Content/girlfriend_bg_03.jpg" class="img-responsive" />
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>
        $(function () {
            //验证
            $.validator.setDefaults({
                submitHandler: function (form) {
                    form.submit();
                }
            });
            $.validator.addMethod("phone", function (value, element) {
                var tel = /^(13[0-9]|14[0-9]|15[0-9]|18[0-9])\d{8}$/;
                return this.optional(element) || (tel.test(value));
            }, "请正确填写您的手机号码");
            $().ready(function () {
                $("#regionForm").validate({
                    rules: {
                        mobile: {
                            required: true,
                            phone: true
                        }
                    },
                    messages: {
                        mobile: {
                            required: "请填写手机号",
                            phone: "请正确填写您的手机号码"
                        }
                    },
                    debug: true,
                    errorPlacement: function (error, element) {
                        element.attr("placeholder", error.text());
                    }
                });
            });
        });
    </script>
</body>
</html>
