
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>phone-ad</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        
    </style>
</head>
<body>
    <div class="container"style="background-color:#f3f3f3;">
        <div>
            <img src="~/Content/images/phone-ban.png" class="img-responsive" alt="Responsive image" />
        </div>
        <div style="color:#777;">
            <h5 style="line-height:20px;">感谢您购买寿全斋相关产品，即日起至2016年8月31日，凡在全国各大丽妍雅集门店出示该短信，即可免费体验高端APM皮肤测试一次。</h5>
            <h5 style="line-height:20px;">该测试使用高端APM测试系统——新型便携式皮肤显微镜，能迅速了解皮肤水份、弹性、皮脂、毛孔、色斑等问题并进行全面分析，对肌肤进行全方位诊断，全面了解面部肌肤状况。</h5>
            <div style="color:#333;">
                <strong>活动时间：</strong>2016年3月8日-2016年8月31日（10:00-21:00）<br />
                <strong>活动门店：</strong>丽妍雅集全国各大门店<br />
                
            </div>
            <h6 style="color:#555;line-height:20px;">
            为了减少您不必要的等候，建议提前与门店工作人员进行电话预约。<br />
            感谢您对寿全斋的支持，祝您生活愉快。</h6>
        </div>
        <div>
            <strong style="color:red;">链接地址明细：</strong>
            <br /><strong>丽妍雅集上海店</strong>
                <p>港汇店：<br />虹桥路1号港汇广场5楼517  64477705</p>
                <p>久光店：<br />南京西路1618号久光百货5楼D535  62883482</p>
                <p>仲盛店：<br />都市路5001号仲盛世界商城5F06室  34633581</p>
                <p>嘉里店：<br />花木路1378号嘉里城商场L123   20221831</p>
                <p>1885店：<br />浦东新区商城路665号B幢109   33901597</p>
                <p>新天地店：<br />湖滨路222号企业天地1栋2层7B    63406336</p>
                <p>光启店：<br />宜山路455号2楼253   36522728</p>
                <p>中环店：<br />淮海中路381号中环广场2层210  63353561</p>
                <p>安信店：宝山牡丹江路1238号安信广场B区210室    66592951</p>
            <strong>丽妍雅集其他区域门店：</strong>
               <p>苏州久光店：<br />苏州旺墩路268号久光百货1C-01室   0512-66961130</p>
                <p>苏州美罗店：<br />苏州观前街245号美罗商城东6楼   0512-69165931</p>
                <p>大连店：<br />大连中山区友好街11号久光百货702室   0411-39896881</p>
                <p>济南店：<br />济南市历下区泉城路188号恒隆广场468铺位    0531-55638021</p>
                <p>天津店：<br />河东区六纬路238号嘉里汇2层2026a   022-27127823</p>
            
        </div>
    </div>
</body>
</html>
