@model PeriodAid.Models.UNI_MchBill

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UNI_Result</title>
</head>
<body>
    <div>
        @Model.StatusCode
    </div>
</body>
</html>
