@model PeriodAid.Models.UNI_MchBill

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>寿全斋 校园行动</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/example.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style>
        .bg {
            background-image: url("/Content/images/bg.png");
            background-size: 100% auto;
        }
        .maintext{
            padding:10px 20px;
        }
        .info{
            font-size:1em;line-height:1.4em;color:#fff;
        }
    </style>
</head>
<body class="bg">
    <div class="container" style="padding-top:10%">
        <div><img src="~/Content/images/logo.png" style="width:50px; display:block; margin:auto;" /></div>
    </div>
    <div class="maintext text-center text-muted">
        <h3 class="text-success">订单成功！</h3>
        <p class="info">
            您的订单已确认，并且红包已由寿全斋微信公众号发出，请退出后查收！<br /><br />
            感谢您对寿全斋的关注和支持
        </p>
    </div>
    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 text-center" style="color:#fff;">
            <img class="img-rounded img-responsive" src="~/Content/images/qrcode_for_sqz1760.jpg" />
            长按关注寿全斋公众号
        </div>

        <div class="col-xs-3"></div>
    </div>
    <br /><br />
</body>
</html>
