@{
    ViewBag.Title = "AnnouncementList";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingSix";
}
<div>
   
     <a class="btn btn-info btn-sm" href="/OffManager/CreateAnnouncement"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增活动</a>
</div><br />
<div id="offmanager-announcement-list">

</div>
<script>
    $(function () {
        $.ajax({
            url: "/OffManager/AnnouncementListPartial",
            success: function (data) {
                $("#offmanager-announcement-list").html(data);
            }
        });
    });
</script>


