@{
    ViewBag.Title = "AnnouncementList";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingSix";
}
<div class="container">
    <ul class="list-inline list-unstyled row">
        <li><a class="btn btn-info btn-sm" href="/OffManager/CreateAnnouncement"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增活动</a></li>
    </ul>
</div><br />
<div id="offmanager-announcement-list">

</div>
<script>
    $(function () {
        $.ajax({
            url: "/OffManager/AnnouncementListPartial",
            success: function (list) {
                $("#offmanager-announcement-list").html(list);
            }
        });
    });
</script>


