
@{
    ViewBag.Title = "RequestList";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingSix";
}
<div id="offmanager-request-list">

</div>
@Html.Partial("modal")
<script>
    $(function () {
        $.ajax({
            url: "/OffManager/RequestListPartial",
            success: function (list) {
                $("#offmanager-request-list").html(list)
            }
        })
    });
</script>

