
@{
    ViewBag.Title = "TaskList";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingSix";
}
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>管理员：</label>
            <input class="form-control input-sm offline-search-inline" id="offmanager-task-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="offmanager-task-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<div id="offmanager-task-list">
   
</div>
<script>
    $(function () {
        $.ajax({
            url: "/OffManager/TaskListPartial",
            success: function (data) {
                $("#offmanager-task-list").html(data)
            }
        });
        //搜索
        $("#offmanager-task-search").click(function () {
            var query = $("#offmanager-task-query").val()
            $.ajax({
                url: "/OffManager/TaskListPartial",
                data: {
                    query: query
                },
                success: function (data) {
                    $("#offmanager-task-list").html(data)
                }
            })
        });
    })
</script>