@model IEnumerable<PeriodAid.Models.Off_Manager_Announcement>
@{
    ViewBag.Title = "督导管理 重点工作";
    ViewBag.Current = 0;
    Layout = "~/Views/Seller/_Wx_Manager_Layout.cshtml";
}
@section header{
    <style type="text/css">
        .check-icon {
            top: -60px;
            right: 15px;
            position: relative;
            height: 0px;
        }
    </style>

}
<div class="hd">
    <h3 class="page_title text-center">督导管理 重点工作</h3>
</div>
<div class="weui_panel">
    <div class="weui_panel_hd">督导重点工作列表</div>
    @foreach (var item in Model)
    {
        <div class="weui_panel_bd" style="border-bottom:1px solid #e5e5e5;">
            <div class="weui_media_box weui_media_text" style="padding:10px 15px 0 15px;">
                <h4 class="weui_media_title text-info"><b>@Html.Encode(item.Title)</b></h4>
                <p class="h6 text-muted" style="line-height:1.8em;">@Html.Raw(@Html.Encode(item.Content).Replace("\n", "<br />"))</p>
                <ul class="weui_media_info">
                    <li class="weui_media_info_meta">@Html.Encode(item.SubmitTime.ToString("yyyy年MM月dd日"))</li>
                    <li class="weui_media_info_meta weui_media_info_meta_extra">优先级：@Html.Encode(item.Priority)</li>
                </ul>
            </div>
            @if (item.Status)
            {
                <div class="text-right check-icon">
                    <i class="fa fa-check-square-o fa-4x text-success"></i>
                </div>
            }
        </div>
    }
</div>
<br />
<div class="container">
    <a href="/Seller/Wx_Manager_Task" class="weui_btn weui_btn_default" id="submit-btn">
        返回首页
    </a>
</div>
<br /><br />