
@{
    ViewBag.Title = "督导管理 签到";
    ViewBag.Current = 0;
    Layout = "~/Views/Seller/_Wx_Manager_Layout.cshtml";
}
<div class="hd">
    <h3 class="page_title text-center">督导管理 签到</h3>
</div>
<div class="weui_cells_title">督导重点工作</div>
<div class="weui_panel weui_panel_access" style="margin-top:0">
    <div class="weui_panel_bd">
        <a href="@Url.Action("Wx_Manager_AnnouncementList","Seller")" class="weui_media_box weui_media_appmsg">
            <div class="weui_media_hd">
                <i class="fa fa-calendar-check-o fa-4x text-info"></i>
            </div>
            <div class="weui_media_bd">
                <span class="weui_media_title h4"><b>本周工作&nbsp;(@Html.Encode(ViewBag.Weekly))</b></span>
                <p class="weui_media_desc" style="margin-top:5px;">当前重点工作项目: @Html.Encode(ViewBag.AnnounceCount)</p>
            </div>
        </a>
    </div>
</div>
<div class="weui_cells_title">今日签到</div>
<div class="weui_cells weui_cells_access">
    <a class="weui_cell salary_details" href="/Seller/Wx_Manager_AddCheckIn" id="add-btn">
        <div class="weui_cell_bd weui_cell_primary">
            <p>添加签到信息</p>
        </div>
        <div class="weui_cell_ft">已签到 @ViewBag.CheckInCount 次</div>
    </a>
    <a class="weui_cell salary_details" href="/Seller/Wx_Manager_TaskReport">
        <div class="weui_cell_bd weui_cell_primary">
            <p>工作日报</p>
        </div>
        <div class="weui_cell_ft"></div>
    </a>
</div>
<div class="weui_cells_title">信息查询</div>
<div class="weui_cells weui_cells_access">
    <a class="weui_cell salary_details" href="/Seller/Wx_Manager_CheckInView">
        <div class="weui_cell_bd weui_cell_primary">
            <p>查看个人签到信息</p>
        </div>
        <div class="weui_cell_ft"></div>
    </a>
    @if (User.IsInRole("Senior"))
    {
    <a class="weui_cell salary_details" href="/Seller/Wx_Senior_AllCheckInList">
        <div class="weui_cell_bd weui_cell_primary">
            <p>查看其他签到</p>
        </div>
        <div class="weui_cell_ft"></div>
    </a>
    }
</div>
<div class="weui_cells_title">需求提报</div>
<div class="weui_cells weui_cells_access">
    <a class="weui_cell salary_details" href="/Seller/Wx_Manager_Request_Create">
        <div class="weui_cell_bd weui_cell_primary">
            <p>店铺需求提报</p>
        </div>
        <div class="weui_cell_ft"></div>
    </a>
    <a class="weui_cell salary_details" href="/Seller/Wx_Manager_Request_List">
        <div class="weui_cell_bd weui_cell_primary">
            <p>已提报需求列表</p>
        </div>
        <div class="weui_cell_ft"></div>
    </a>
</div>
<br /><br />
@section scripts{
<script>
    $("#add-btn").click(function () {
        //alert($(this).attr("disabled"));
        if ($(this).attr("disabled") != "disabled") {
            $("#add-btn").attr("disabled", "disabled").text("载入中...");
            var url = $(this).attr("href");
            window.location.href = url;
        }
        return false;
    });
</script>
    }

