body {
    background:#f1f1f1;
}
.logo{
    margin:40px 0;
}

.jc-demo-box{
    margin-top:40px;
    padding:9px;
    border:solid 1px #ccc;
    border-radius:5px;

}
.logo-icon{
    font-size:96px;
}