@model PeriodAid.Models.Employee
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="Add-SubjectLabel">项目团队</h4>
</div>
<div class="modal-body">
    <div class="form-group">
        <div class="h4 edit-title">当前人员
            <span title="添加参与人" data-toggle="tooltip" data-placement="top"><a href="javascript:;" class="create_user_circle user_circle" id="add-employee" data-aid=""><i class="fa fa-plus ver_icon" aria-hidden="true"></i></a></span></div>
        <div class="clear-float">
            @foreach (var emp in ViewBag.AttendList)
            {
                <div class="menu-attend-item" data-aid="@emp.Id" title="@emp.NickName" data-toggle="tooltip" data-placement="top">
                    @if (emp.ImgUrl == null)
                    {
                        <span style="background-image:url('../../Content/images/defaultphoto.gif');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                    }
                    else
                    {
                        <span style="background-image: url('http://cdn2.shouquanzhai.cn/@emp.ImgUrl');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                    }
                </div>
            }
        </div>
        <br />
        <div class="clear-float">
            @foreach (var emp in ViewBag.AttendList1)
            {
                <div class="menu-attend-item" data-aid="@emp.Id" title="@emp.NickName" data-toggle="tooltip" data-placement="top">
                    @if (emp.ImgUrl == null)
                    {
                        <span style="background-image:url('../../Content/images/defaultphoto.gif');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                    }
                    else
                    {
                        <span style="background-image: url('http://cdn2.shouquanzhai.cn/@emp.ImgUrl');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                    }
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    //添加参与者按钮事件
    $("#add-employee").on("click", function () {
        //获取增加参与人模板
        GetTemplate("/TaskManagement/Subject_CollaboratorAddPartial", function (data) {
            //成功
            $("#Add-Collaborator .modal-content").html(data);
            $('#Add-Collaborator').modal('show');
        }, function () {
            //失败 
        })
    });
    //删除参与者按钮事件
    $(".minus-icon").on("click", function () {
        var that = $(this);
        _data = {
            AssignmentId: $("#modal-header-assignment").attr("data-aid"),
            EmployeeId: that.parent().parent().attr("data-cid")
        }
        CustomConfirm("是否要删除此联系人?", function () {
            EditForAjax("/TaskManagement/DeleteAssignmentCollaborator", _data, function (data) {
                //成功
                //获取参与人模板
                GetAssignment_CollaboratorPartial($("#modal-header-assignment").attr("data-aid"), function (data) {
                    $("#modal_collaborator_area").html(data);
                });
            }, function (data) {
                //失败
            })
        })
    })
</script>