
@{
    ViewBag.Title = "未找到用户";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
}
<div class="container">
    <br /><br /><br />
    <h3>您的账号尚未开通相关权限，请联系管理员注册账号</h3><br /><br />
    <div class="h3"><a href="/OffCommon/Index" class="btn btn-primary">返回首页</a></div>
</div>
