@model IEnumerable<PeriodAid.Models.OperationLogs>
@{
    ViewBag.Title = "GetLogs";
    Layout = null;
}
@foreach (var m in Model)
{

    <li class="clear-float tm_modal_list_li">
        <div class="tm_item_avatar float-left" title="" data-toggle="tooltip" data-placement="right" data-original-title="孟煜">
            <span style="background-image:url('http://cdn2.shouquanzhai.cn/Subject/SubjectCover/131435362956644032.jpg');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
        </div><div class="tm_item_middle float-left">
            <div class="tm_middle_top tm_middle_content" title="" data-toggle="tooltip" data-placement="top" data-original-title="修改了项目:项目管理系统"><span>@m.LogContent</span></div><div class="tm_middle_bottom tm_middle_content clear-float">
                <div class="tm_item_left">
                    <span class="color-gray">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </span><span class="finish_subtask">@m.LogTime.ToString("yyyy-MM-dd HH:ss")</span>
                </div>
            </div>
        </div>
    </li>
}


