@using PeriodAid.Models;
@model PeriodAid.Models.Employee
@{
    ViewBag.ImgUrl=Model.ImgUrl;
    ViewBag.Title = "Task_Management_Home";
    Layout = "~/Views/Shared/_TaskManagementLayout.cshtml";
}
<div id="app-content">
    <div class="wrapper">
        <div class="container" id="subject-container">
            <div class="content-inner" id="personal_active_subject">
            </div>
            <div class="content-inner" id="personal_finish_subject">
            </div>
        </div>
    </div>
</div>
@section scripts{ 
    <script>
        //Ajax获取各类型项目
        GetActiveSubject("#personal_active_subject")
        GetFinishSubject("#personal_finish_subject")
        //项目详细点击
        $(function () {
            //进入项目详情
            $("#subject-container").on("click", ".card-item", function () {
                var linkid = $(this).attr("data-link")
                if (linkid) {
                    location.href = "/TaskManagement/Subject_Detail?SubjectId=" + linkid
                }
            });
            //修改卡片即项目信息
            $("#subject-container").on("click", ".card-edit-btn", function () {
                $.ajax({
                    url: "/TaskManagement/EditSubject",
                    data: {
                        SubjectId: $(this).attr("data-link")
                    },
                    success: function (data) {
                        if (data != "FAIL") {
                            $("#Create-Subject-Content").html(data);
                            $("#Add-Subject").modal();
                        }
                        else {
                            ErrorAlert("获取项目基本信息失败。")
                        }
                    }
                })
                return false;
            });
            
        })
        
    </script>

}