@using PeriodAid.Models;
@model PeriodAid.Models.Employee
@{
    ViewBag.ImgUrl=Model.ImgUrl;
    ViewBag.Title = "Task_Management_Home";
    Layout = "~/Views/Shared/_TaskManagementLayout.cshtml";
}
<!--Subject Area-->
<div id="app-content">
    <div class="wrapper">
        <div class="container" id="subject-container">
            <div class="content-inner" id="personal_star_subject">
            </div>
            <div class="content-inner" id="personal_active_subject">
            </div>
            <div class="content-inner" id="personal_finish_subject">
            </div>
        </div>
    </div>
</div>
<!--Subject Area End-->

<!-- Edit Subject Modal -->
<div class="modal fade" id="Edit-Subject" role="dialog" aria-labelledby="editModalLabel" style="overflow-y:auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="Edit-Subject-Content">
        </div>
    </div>
</div>
<!-- Edit Subject Modal End-->

@section scripts{ 
    <script>
        //Ajax获取各类型项目
        GetStarSubject("#personal_star_subject")
        GetActiveSubject("#personal_active_subject")
        GetFinishSubject("#personal_finish_subject")
        //项目详细点击
        $(function () {
            //进入项目详情
            $("#subject-container").on("click", ".card-item", function () {
                var linkid = $(this).attr("data-link")
                if (linkid) {
                    location.href = "/TaskManagement/Subject_Detail?SubjectId=" + linkid
                }
            });

            //修改卡片即项目信息
            $("#subject-container").on("click", ".card-edit-btn", function () {
                $.ajax({
                    url: "/TaskManagement/EditSubject",
                    data: {
                        id: $(this).attr("data-link")
                    },
                    success: function (data) {
                        if (data != "FAIL") {
                            $("#Edit-Subject-Content").html(data);
                            $("#Edit-Subject").modal();
                        }
                        else {
                            ErrorAlert("当前用户没有修改项目信息的权限")
                        }
                    }
                })
                return false;
            });
            
        })
        
    </script>

}