@using PeriodAid.Models;
@{
    ViewBag.Title = "Task_Management_Home";
    Layout = "~/Views/Shared/_TaskManagementLayout.cshtml";
}
<div id="app-content">
    <div class="wrapper">
        <div class="container">
            <div class="content-inner" id="personal_star_subject">
            </div>
            <div class="content-inner" id="personal_active_subject">
            </div>
            <div class="content-inner" id="personal_finish_subject">
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="Add-Subject" role="dialog" aria-labelledby="myModalLabel" style="overflow-y:auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新建项目</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateSubject", "TaskManagement", FormMethod.Post, new { @id = "add_subject_form", @class = "validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <input class="subject-name form-control" placeholder="项目名称" name="SubjectTitle">
                    </div>
                    <div class="form-group">
                        <textarea class="subject-description form-control" placeholder="项目简介（选填）" name="Remarks"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btn_add_subject">新建</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="Edit-Subject" role="dialog" aria-labelledby="editModalLabel" style="overflow-y:auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">项目设置</h4>
            </div>
            <div class="modal-body" id="Edit-Subject-Content">
                
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        GetStarSubject("#personal_star_subject")
        GetActiveSubject("#personal_active_subject")
        GetFinishSubject("#personal_finish_subject")
        //项目详细点击
        $(function () {
            $("#personal_active_subject").on("click", ".card-item", function () {
                var linkid = $(this).attr("data-link")
                if (linkid) {
                    location.href = "/TaskManagement/Subject_Detail?SubjectId=" + linkid
                }
            });
            //星标占位
            $("#personal_active_subject").on("click", ".card-header-right", function () {
                //ErrorAlert("功能正在开发中.....")
                $.ajax({
                    url: "/TaskManagement/EditSubject",
                    data: {
                        id: $(this).attr("data-link")
                    },
                    success: function (data) {
                        if (data != "FAIL") {
                            $("#Edit-Subject-Content").html(data);
                            $("#Edit-Subject").modal();
                        }
                        else {
                            ErrorAlert("当前用户没有修改项目信息的权限")
                        }
                    }
                })

                return false;
            });
            

        })
        function openUpload() {
            $("#report-file").trigger("click");
        }
        $(document).delegate("#report-file", "change", function () {
            Report_ajaxFileUpload();
        });
        function Report_ajaxFileUpload() {
            $.ajaxFileUpload({
                url: '/TaskManagement/UploadSubjectCoverFileAjax', //用于文件上传的服务器端请求地址
                type: 'post',
                secureuri: false, //是否需要安全协议，一般设置为false
                fileElementId: 'report-file', //文件上传域的ID
                dataType: 'json', //返回值类型 一般设置为json
                success: function (data, status)  //服务器成功响应处理函数
                {
                    console.log(data)
                    if (typeof (data.error) != 'undefined') {
                        if (data.error != '') {
                            alert(data.error);
                        } else {
                            $("#PicUrl").val(data.imgurl);
                            $("#PicUrl-img").attr("src", "http://cdn2.shouquanzhai.cn/" + data.imgurl);
                        }
                    }
                },
                error: function (data, status, e)//服务器响应失败处理函数
                {
                    alert(e);
                }
            });
            return false;
        }
    </script>
    
}