@{
    ViewBag.Title = "Task_Management_Home";
    Layout = "~/Views/Shared/_TaskManagementLayout.cshtml";
}
<div id="app-content">
    <div class="wrapper">
        <div class="container">
            <div class="content-inner" id="personal_star_subject">
            </div>
            <div class="content-inner" id="personal_active_subject">
            </div>
            <div class="content-inner" id="personal_finish_subject">
            </div>
        </div>
    </div>
</div> 