@using PeriodAid.Models;
@{
    ViewBag.Title = "Task_Management_Home";
    Layout = "~/Views/Shared/_TaskManagementLayout.cshtml";
}
<div id="app-content">
    <div class="wrapper">
        <div class="container">
            <div class="content-inner" id="personal_star_subject">
            </div>
            <div class="content-inner" id="personal_active_subject">
            </div>
            <div class="content-inner" id="personal_finish_subject">
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="Add-Subject" role="dialog" aria-labelledby="myModalLabel" style="overflow-y:auto">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">新建项目</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateSubject", "TaskManagement", FormMethod.Post, new { @id = "add_subject_form", @class = "validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="form-group">
                        <input class="subject-name form-control" placeholder="项目名称" name="SubjectTitle">
                    </div>
                        <div class="form-group">
                            <textarea class="subject-description form-control" placeholder="项目简介（选填）" name="Remarks"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="btn_add_subject">新建</button>
                        </div>
                }

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        GetStarSubject("#personal_star_subject")
        GetActiveSubject("#personal_active_subject")
        GetFinishSubject("#personal_finish_subject")
        //项目详细点击
        $("#personal_active_subject").on("click", ".card-item", function () {
            var linkid = $(this).attr("data-link")
            if (linkid) {
                location.href = "/TaskManagement/Subject_Detail?SubjectId=" + linkid
            }
        });
        //星标占位
        $("#personal_active_subject").on("click", ".card-header-right", function () {
            ErrorAlert("功能正在开发中.....")
            return false;
        })
    </script>
    
}