<div class="tm-view-header clear-float">
    <div class="tm-view-header-left float-left">
        <div class="tm-my-view-control tm-view-control" id="tm-view-subcontrol">
            <a href="javascript:;" class="tm-view-control-link active" data-href="/TaskManagement/PersonalRecentAssignmentPartial">任务</a>
            <a href="javascript:;" class="tm-view-control-link" data-href="/TaskManagement/PersonalRecentSubtaskPartial">子任务</a>
        </div>
    </div>
    <div class="tm-view-header-right float-right">
        <div class="tm-view-control" id="tm-view-thirdcontrol">
            <ul>
                <li class="tm-view-control-sort dropdown">
                    <a href="javascript:;" id="tm-view-dropdown-progress" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="tm-select-title">最近一周</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-progress">
                        <li>
                            <a href="javascript:;" class="tm-select-range selected tm-select" data-type="week">最近一周</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="tm-select-range tm-select" data-type="month">最近一月</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="tm-select-range tm-select" data-type="year">最近一年</a>
                        </li>
                    </ul>
                </li>
                <li class="tm-view-control-sort tm-has-line dropdown">
                    <a href="javascript:;" id="tm-view-dropdown-undefined" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="tm-select-title">按时间排序</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-undefined">
                        <li><a href="javascript:;" class="tm-select-sort-type tm-select selected" data-type="timesort">按时间排序</a></li>
                        <li><a href="javascript:;" class="tm-select-sort-type tm-select" data-type="subjectsort">按项目排序</a></li>
                    </ul>
                </li>
                <li class="tm-view-control-sort">
                    <a href="/TaskManagement/GetExcelDataForAssignment" id="tm-view-download-excel">
                        <i class="fa fa-download color-blue" aria-hidden="true"></i>
                        导出excel
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tm-view-content-container  tm-view-container" id="tm-view-scroll-container">
    <input type="hidden" id="tm-view-page" name="tm-view-page" value="0"/> 
    <div class="tm-view-loading-content" id="tm-view-loading-content"> 
    </div>
    <div class="tm-veiw-loading text-center" id="tm-view-loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i>
        <span class="sr-only">正在加载...</span>
    </div>
</div>
<script>
    $(function () {
                var _initlink = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href");
                $.ajax({
                    url: _initlink,
                    data: {
                        page: parseInt($("#tm-view-page").val()),
                        timerange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
                        sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
                    },
                    success: function (data) {
                        if (data == "FAIL") {
                            ErrorAlert("获取数据失败。");
                        } else {
                            setTimeout(function () {
                                $("#tm-view-loading-content").append(data);
                                $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                                $("#tm-view-loading").hide();
                                var _loading = false;
                                controlscroll(_loading,false);
                            },500)
                        }
                    },
                    error: function () {
                        ErrorAlert("请求失败。");
                    }
                })
    })
    $("#tm-view-subcontrol").on("click", ".tm-view-control-link", function () {
        if (!$(this).hasClass("active")) {
            $("#tm-view-loading-content").html("");
            $("#tm-view-loading").show();
            $(this).parent().find(".tm-view-control-link.active").removeClass("active");
            $("#tm-view-page").val("0");
            $(this).addClass("active");
            var _initlinksub = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href");
            $.ajax({
                url: _initlinksub,
                data: {
                    page: parseInt($("#tm-view-page").val()),
                    timerange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
                    sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
                },
                success: function (data) {
                    if (data == "FAIL") {
                        ErrorAlert("获取数据失败。");
                    } else {
                        setTimeout(function () {
                            $("#tm-view-loading-content").append(data);
                            $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                            $("#tm-view-loading").hide();
                            var _loading = false;
                            if ($(".tm-view-nomore").length > 0 || $(".tm-view-loading-empty").length > 0) {                               
                                $("#tm-view-scroll-container").unbind("scroll");
                                $("#tm-view-page").val("0");
                            } else {
                                controlscroll(_loading, true);
                            }
                        }, 500);
                    }
                },
                error: function () {
                    ErrorAlert("请求失败。");
                }
            })
        }
    })
    $("#tm-view-thirdcontrol").on("click", ".tm-select", function (e) {
        if (!$(this).hasClass("selected")) {
            $("#tm-view-loading-content").html("");
            $("#tm-view-loading").show();
            $(this).parent().parent().find(".tm-select.selected").removeClass("selected");
            $(this).addClass("selected");
            $("#tm-view-page").val("0");
            $(this).parents(".tm-view-control-sort").find(".tm-select-title").html($(this).html());
            var _initthirdlink = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href");
            $.ajax({
                url: _initthirdlink,
                data: {
                    page: parseInt($("#tm-view-page").val()),
                    timerange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
                    sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
                },
                success: function (data) {
                    if (data == "FAIL") {
                        ErrorAlert("获取数据失败。");
                    } else {
                        setTimeout(function () {                           
                            $("#tm-view-loading-content").append(data);
                            $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                            $("#tm-view-loading").hide();
                            var _loading = false;
                            if ($(".tm-view-nomore").length > 0 || $(".tm-view-loading-empty").length > 0) {
                                $("#tm-view-scroll-container").unbind("scroll");
                                $("#tm-view-page").val("0");
                            } else {
                                controlscroll(_loading, true);
                            }
                        }, 500)
                    }
                },
                error: function () {
                    ErrorAlert("请求失败。");
                }
            })
        }
    });
    function controlscroll(_loading, newscroll) {
        if (newscroll) {
            $("#tm-view-scroll-container").unbind("scroll");
        }
        $("#tm-view-scroll-container").scroll(function (e) {
            var _dis = parseInt($("#tm-view-loading-content").height()) - parseInt($("#tm-view-scroll-container").height());
            if ($(this).scrollTop() >= _dis) {
                if (_loading) {
                    return false;
                } else {
                    _loading = !_loading;
                    $(".tm-view-more").remove();
                    $("#tm-view-loading").show();
                    var _link = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href");
                    $.ajax({
                        url: _link,
                        data: {
                            page: parseInt($("#tm-view-page").val()),
                            timerange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
                            sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
                        },
                        success: function (data) {
                            if (data == "FAIL") {
                                ErrorAlert("获取数据失败。");
                            } else {
                                setTimeout(function () {
                                    $("#tm-view-loading-content").append(data);
                                    $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                                    $("#tm-view-loading").hide();
                                    if ($(".tm-view-nomore").length > 0) {
                                        $("#tm-view-scroll-container").unbind("scroll");
                                        $("#tm-view-page").val("0");
                                    } else {
                                        _loading = !_loading;
                                    }
                                }, 500)
                            }
                        },
                        error: function () {
                            ErrorAlert("请求失败。");
                        }
                    })
                }
            }
        })
    }
</script>
