<div class="tm-view-header clear-float">
    <div class="tm-view-header-left float-left">
        <div class="tm-my-view-control tm-view-control">
            <a href="javascript:;" class="tm-view-control-link active">我参与的</a>
            <a href="javascript:;" class="tm-view-control-link">我负责的</a>
            <a href="javascript:;" class="tm-view-control-link">我执行的</a>
        </div>
    </div>
    <div class="tm-view-header-right float-right">
        <div class="tm-view-control">
            <ul>
                <li class="tm-view-control-sort dropdown">
                    <a href="javascript:;" id="tm-view-dropdown-progress" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span>已完成</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-progress">
                        <li>
                            <a href="#" class="selected">已完成</a>
                        </li>
                        <li>
                            <a href="#">未完成</a>
                        </li>
                    </ul>
                </li>
                <li class="tm-view-control-sort tm-has-line dropdown">
                    <a href="javascript:;" id="tm-view-dropdown-undefined" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span>按时间排序</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-undefined">
                        <li><a href="#" class="selected">按时间排序</a></li>
                        <li><a href="#">按项目排序</a></li>
                    </ul>
                </li>
                <li class="tm-view-control-sort">
                    <a href="javascript:;">
                        <i class="fa fa-download color-blue" aria-hidden="true"></i>
                        导出excel
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tm-view-content-container  tm-view-container">
    <div class="tm-veiw-loading text-center" id="tm-view-loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i>
        <span class="sr-only">正在加载...</span>
    </div>
</div>


