@model IEnumerable<PeriodAid.Models.Assignment>
    @if (Model.Count() >= 20)
    {
        <ul>
            @foreach (var item in Model)
            {
                <li class="clear-float tm-view-li">
                    <div class="float-left tm-view-avatar" data-toggle="tooltip" data-placement="right" data-original-title="孟煜">
                        @if (item.Holder.ImgUrl == null)
                        {
                            <span style="background-image:url('../../Content/images/defaultphoto.gif');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                        }
                        else
                        {
                            <span style="background-image: url('http://cdn2.shouquanzhai.cn/@item.Holder.ImgUrl');" class="tm_avatar tm_img-circle tm_item-avatar"></span>

                        }
                    </div>
                    <div class="tm-view-checkbox float-left">
                        <input type="checkbox" class="tm-checkbox-input" />
                    </div>
                    <div class="tm-view-info float-left">
                        <div class="tm-view-info-top">
                            <span>创建时间:@Html.Encode(item.CreateTime.ToString("yyyy-MM-dd"))</span>&nbsp;
                        </div>
                        <div class="tm-view-info-bottom">
                            <span>创建时间:@Html.Encode(item.CreateTime.ToString("yyyy-MM-dd"))</span>&nbsp;
                        </div>
                    </div>

                </li>
            }
        </ul>
        <div class="tm-view-more color-blue">-&nbsp;下拉加载更多&nbsp;-</div>
    }
    else
    {
        if (ViewBag.currentpage == 0&&Model.Count()==0)
        {
            <div class="tm-view-loading-empty">
                <i class="fa fa-sticky-note-o color-blue fa-4x" aria-hidden="true"></i><br />
                <strong class="color-blue">没有任何数据</strong>
            </div>
        }
        else
        {
            <ul>
                @foreach (var item in Model)
                {
                    <li class="clear-float tm-view-li">
                        <div class="float-left tm-view-avatar" data-toggle="tooltip" data-placement="right" data-original-title="孟煜">
                            @if (item.Holder.ImgUrl == null)
                        {
                                <span style="background-image:url('../../Content/images/defaultphoto.gif');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                            }
                            else
                            {
                                <span style="background-image: url('http://cdn2.shouquanzhai.cn/@item.Holder.ImgUrl');" class="tm_avatar tm_img-circle tm_item-avatar"></span>

                            }
                        </div>
                        <div class="tm-view-checkbox float-left">
                            <input type="checkbox" class="tm-checkbox-input" />
                        </div>
                        <div class="tm-view-info float-left">
                            <div class="tm-view-info-top">
                                <span>创建时间:@Html.Encode(item.CreateTime.ToString("yyyy-MM-dd"))</span>&nbsp;
                            </div>
                            <div class="tm-view-info-bottom">
                                <span>创建时间:@Html.Encode(item.CreateTime.ToString("yyyy-MM-dd"))</span>&nbsp;
                            </div>
                        </div>

                    </li>
                }
            </ul>
            <div class="tm-view-nomore color-blue">-&nbsp;没有更多数据啦&nbsp;-</div>
        }
    }
