<div class="tm-view-header clear-float">
    <div class="tm-view-header-left float-left">
        <div class="tm-my-view-control tm-view-control" id="tm-view-subcontrol">
            <a href="javascript:;" class="tm-view-control-link active" data-href="/TaskManagement/PersonalRecentAssignmentPartial" data-link="tm-view-assignment-content">任务</a>
            <a href="javascript:;" class="tm-view-control-link" data-href="/TaskManagement/PersonalRecentSubtaskPartial" data-link="tm-view-subtask-content">子任务</a>
        </div>
    </div>
    <div class="tm-view-header-right float-right">
        <div class="tm-view-control" id="tm-view-thirdcontrol">
            <ul>
                <li class="tm-view-control-sort dropdown">
                    <a href="javascript:;" id="tm-view-dropdown-progress" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="tm-select-title">最近一周</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-progress">
                        <li>
                            <a href="javascript:;" class="tm-select-range selected tm-select" data-type="week">本周</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="tm-select-range tm-select" data-type="month">本月</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="tm-select-range tm-select" data-type="year">今年</a>
                        </li>
                    </ul>
                </li>
                <li class="tm-view-control-sort tm-has-line dropdown">
                    <a href="javascript:;" id="tm-view-dropdown-undefined" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="tm-select-title">按截止时间排序</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-undefined">
                        <li><a href="javascript:;" class="tm-select-sort-type tm-select selected" data-type="deadtimesort">按截止时间排序</a></li>
                        <li><a href="javascript:;" class="tm-select-sort-type tm-select" data-type="subjectsort">按项目排序</a></li>
                    </ul>
                </li>
                <li class="tm-view-control-sort">
                    <a href="/TaskManagement/GetExcelDataForAssignment" id="tm-view-download-excel">
                        <i class="fa fa-download color-blue" aria-hidden="true"></i>
                        导出excel
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="tm-view-content-container  tm-view-container" id="tm-view-scroll-container">
    <input type="hidden" id="tm-view-page" name="tm-view-page" value="0"/> 
    <div class="tm-view-loading-content" id="tm-view-assignment-content"> 
    </div>
    <div class="tm-view-loading-content hidden" id="tm-view-subtask-content">

    </div>
    <div class="tm-veiw-loading text-center" id="tm-view-loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i>
        <span class="sr-only">正在加载...</span>
    </div>
</div>
<script>
    $(function () {
                var _initlink = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href");
                $.ajax({
                    url: _initlink,
                    data: {
                        page: parseInt($("#tm-view-page").val()),
                        timerange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
                        sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
                    },
                    success: function (data) {
                        if (data == "FAIL") {
                            ErrorAlert("获取数据失败。");
                        } else {
                            setTimeout(function () {
                                $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                                $("#tm-view-assignment-content").append(data);
                                $("#tm-view-loading").hide();
                                if ($("#tm-view-assignment-content .tm-view-nomore").length > 0 || $("#tm-view-assignment-content .tm-view-loading-empty").length > 0) {
                                    $("#tm-view-scroll-container").unbind("scroll");
                                    $("#tm-view-page").val("0");
                                } else {
                                    controlscroll("tm-view-assignment-content", "tm-view-scroll-container")();
                                }
                            },500)
                        }
                    },
                    error: function () {
                        ErrorAlert("请求失败。");
                    }
                })
    })
    $("#tm-view-subcontrol").on("click", ".tm-view-control-link", function () {
        if (!$(this).hasClass("active")) {
            var _link = $(this).attr("data-link");
            $(".tm-view-loading-content").addClass("hidden");
            $("#" + _link).removeClass("hidden").html("");
            $("#tm-view-loading").show();
            $(this).parent().find(".tm-view-control-link.active").removeClass("active");
            $("#tm-view-page").val("0");
            $(this).addClass("active");
            var _initlinksub = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href");
            $.ajax({
                url: _initlinksub,
                data: {
                    page: parseInt($("#tm-view-page").val()),
                    timerange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
                    sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
                },
                success: function (data) {
                    if (data == "FAIL") {
                        ErrorAlert("获取数据失败。");
                    } else {
                        setTimeout(function () {
                            $("#" + _link).html(data);
                            $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                            $("#tm-view-loading").hide();
                            if ($("#" + _link).find(".tm-view-nomore").length > 0 || $("#" + _link).find(".tm-view-loading-empty").length > 0) {
                                $("#tm-view-scroll-container").unbind("scroll");
                                $("#tm-view-page").val("0");
                            } else {
                                controlscroll(_link, "tm-view-scroll-container")();
                            }
                        }, 500);
                    }
                },
                error: function () {
                    ErrorAlert("请求失败。");
                }
            })
        }
    })
    $("#tm-view-thirdcontrol").on("click", ".tm-select", function (e) {
        if (!$(this).hasClass("selected")) {
            var _link = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-link");
            var _initthirdlink = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href");
            $("#" + _link).html("");
            $("#tm-view-loading").show();
            $(this).parent().parent().find(".tm-select.selected").removeClass("selected");
            $(this).addClass("selected");
            $("#tm-view-page").val("0");
            $(this).parents(".tm-view-control-sort").find(".tm-select-title").html($(this).html());
            $.ajax({
                url: _initthirdlink,
                data: {
                    page: parseInt($("#tm-view-page").val()),
                    timerange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
                    sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
                },
                success: function (data) {
                    if (data == "FAIL") {
                        ErrorAlert("获取数据失败。");
                    } else {
                        $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                        setTimeout(function () {                           
                            $("#" + _link).append(data);
                            $("#tm-view-loading").hide();
                            if ($("#" + _link).find(".tm-view-nomore").length > 0 || $("#" + _link).find(".tm-view-loading-empty").length > 0) {
                                $("#tm-view-scroll-container").unbind("scroll");
                                $("#tm-view-page").val("0");
                            } else {
                                controlscroll(_link, "tm-view-scroll-container")();
                            }
                        }, 500)
                    }
                },
                error: function () {
                    ErrorAlert("请求失败。");
                }
            })
        }
    });
    function controlscroll(containerEle,scrollEle) {
        var _loading = false;
        var _container = containerEle;
        var _scroll = scrollEle;
        function subcontrol() {
            $("#" + _scroll).unbind("scroll");
            $("#" + _scroll).scroll(function (e) {
                var _dis = parseInt($("#" + _container).height()) - parseInt($("#" + _scroll).height());
                if ($("#" + _scroll).scrollTop() >= _dis) {
                    if (_loading) {                        
                        return false;
                    } else {
                        _loading = !_loading;
                        $(".tm-view-more").remove();
                        $("#tm-view-loading").show();
                        var _link = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href");
                        $.ajax({
                            url: _link,
                            data: {
                                page: parseInt($("#tm-view-page").val()),
                                timerange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
                                sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
                            },
                            success: function (data) {
                                if (data == "FAIL") {
                                    ErrorAlert("获取数据失败。");
                                } else {
                                    $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                                    setTimeout(function () {
                                        $("#" + _container).append(data);
                                        $("#tm-view-loading").hide();
                                        if ($("#" + _container).find(".tm-view-nomore").length > 0) {
                                            $("#" + _scroll).unbind("scroll");
                                            $("#tm-view-page").val("0");
                                        } else {
                                            _loading = !_loading;
                                        }
                                    }, 500)
                                }
                            },
                            error: function () {
                                ErrorAlert("请求失败。");
                            }
                        })
                    }
                }
            })
        }
        return subcontrol;
    }
</script>
