<div class="tm-view-header clear-float">
    <div class="tm-view-header-left float-left">
        <div class="tm-my-view-control tm-view-control" id="tm-view-subcontrol">
            <a href="javascript:;" class="tm-view-control-link active" data-href="/TaskManagement/PersonalInvolvedAssignmentPartial" data-link="tm-view-col-content">参与的任务</a>
            <a href="javascript:;" class="tm-view-control-link" data-href="/TaskManagement/PersonalResponsibleAssignmentPartial" data-link="tm-view-res-content">发起的任务</a>
            <a href="javascript:;" class="tm-view-control-link" data-href="/TaskManagement/AllUserAssignmentPartial" data-link="tm-view-exe-content">所有人的任务</a>
        </div>
    </div>
    <div class="tm-view-header-right float-right">
        <div class="tm-view-control" id="tm-view-thirdcontrol">
            <ul>
                <li class="tm-view-control-sort dropdown">
                    <a href="javascript:;" id="tm-view-dropdown-progress" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="tm-select-title">所有</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-progress">
                        <li>
                            <a href="javascript:;" class="tm-select-range tm-select selected">所有</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="tm-select-range tm-select" data-type="finish">已完成</a>
                        </li>
                        <li>
                            <a href="javascript:;" class="tm-select-range tm-select" data-type="unfinish">未完成</a>
                        </li>
                    </ul>
                </li>
                <li class="tm-view-control-sort dropdown">
                    <a href="javascript:;" id="tm-view-dropdown-undefined" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="tm-select-title">按截止时间排序</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-undefined">
                        <li><a href="javascript:;" class="tm-select-sort-type tm-select selected" data-type="deadtimesort">按截止时间排序</a></li>
                        <li><a href="javascript:;" class="tm-select-sort-type tm-select" data-type="subjectsort">按项目排序</a></li>
                    </ul>
                </li>
                @*<li class="tm-view-control-sort">
                    <a href="javascript:;">
                        <i class="fa fa-download color-blue" aria-hidden="true"></i>
                        导出excel
                    </a>
                </li>*@
            </ul>
        </div>
    </div>
</div>
<div class="tm-view-content-container  tm-view-container" id="tm-view-scroll-container">
    <input type="hidden" id="tm-view-page" name="tm-view-page" value="0" />
    <div class="tm-view-loading-content" id="tm-view-col-content">
    </div>
    <div class="tm-view-loading-content hidden" id="tm-view-res-content">
    </div>
    <div class="tm-view-loading-content hidden" id="tm-view-exe-content">
    </div>
    <div class="tm-veiw-loading text-center" id="tm-view-loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i>
        <span class="sr-only">正在加载...</span>
    </div>
</div>
<script>
    $(function () {
        $(".tm-view-more").show();
        //初始化数据地址
        var _initlink = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href");
        var _data = {
            page: parseInt($("#tm-view-page").val()),
            datarange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
            sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
        }
        //获取页面初始化数据
        GetTemplate(_initlink, _data, function (data) {
            //成功
            $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);   //更新页面数
            setTimeout(function () {
                $("#tm-view-col-content").append(data);        //放入数据
                $("#tm-view-loading").hide();                  //隐藏加载动画
                //判断第一次数据是否为空或者有加载更多
                /*if ($("#tm-view-col-content .tm-view-nomore").length > 0 || $("#tm-view-col-content .tm-view-loading-empty").length > 0) {
                    //注销滚动条事件
                    $("#tm-view-scroll-container").unbind("scroll");
                    //页面归0
                    $("#tm-view-page").val("0");
                } else {
                    //绑定滚动条事件
                    //controlscroll("tm-view-col-content", "tm-view-scroll-container")();
                }*/
            }, 500)
        }, function (data) {
            //失败
        })
    })


    //页面导航切换
    $("#tm-view-subcontrol").on("click", ".tm-view-control-link", function () {
        var that = $(this);
        if (!that.hasClass("active")) {
            var _link = that.attr("data-link");             //获取tab对应的页面
            $(".tm-view-loading-content").addClass("hidden"); //隐藏所有的数据页面
            $("#" + _link).removeClass("hidden").html("");    //tab所对应的页面清空并显示
            $("#tm-view-loading").show();                     //加载动画打开
            that.parent().find(".tm-view-control-link.active").removeClass("active"); //tab样式更改
            $("#tm-view-page").val("0");
            that.addClass("active"); //当前tab样式更改
            var _initlinksub = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href"); //数据请求地址
            var _data = {
                page: parseInt($("#tm-view-page").val()),
                datarange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
                sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
            }
            //请求数据
            GetTemplate(_initlinksub, _data, function (data) {
                //成功
                $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                setTimeout(function () {
                    //填入数据
                    $("#" + _link).html(data);
                    //隐藏加载动画
                    $("#tm-view-loading").hide();
                    //判读数据是否空或者无需加载下一次
                    /*if ($("#" + _link).find(".tm-view-nomore").length > 0 || $("#" + _link).find(".tm-view-loading-empty").length > 0) {
                        //移除滚动条事件
                        $("#tm-view-scroll-container").unbind("scroll");
                        //页面归0
                        $("#tm-view-page").val("0");
                    } else {
                        //添加滚动条事件
                        controlscroll(_link, "tm-view-scroll-container")();
                    }*/
                }, 500);
            }, function (data) {
                //失败
            })
        }
    })

    //页面筛选切换
    $("#tm-view-thirdcontrol").on("click", ".tm-select", function (e) {
        var that = $(this);
        if (!that.hasClass("selected")) {
            var _link = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-link");     //获取当前tab对应的页面
            var _initthirdlink = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href"); //获取数据请求地址
            $("#" + _link).html("");  //清空当前tab对应的页面数据
            $("#tm-view-loading").show(); //展示滚动条
            that.parent().parent().find(".tm-select.selected").removeClass("selected");  //移除选择样式
            that.addClass("selected");                                                   //当前选择项怎加样式
            $("#tm-view-page").val("0");
            that.parents(".tm-view-control-sort").find(".tm-select-title").html(that.html()); //更新当前选择项标题名称
            //获取数据模板
            var _data = {
                page: parseInt($("#tm-view-page").val()),
                datarange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
                sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
            }
            GetTemplate(_initthirdlink, _data, function (data) {
                //成功
                $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                setTimeout(function () {
                    $("#" + _link).append(data);
                    $("#tm-view-loading").hide();
                    /*if ($("#" + _link).find(".tm-view-nomore").length > 0 || $("#" + _link).find(".tm-view-loading-empty").length > 0) {
                        $("#tm-view-scroll-container").unbind("scroll");
                        $("#tm-view-page").val("0");
                    } else {
                        controlscroll(_link, "tm-view-scroll-container")();
                    }*/
                }, 500)
            }, function (data) {
                //失败

            })
        }
    });

    $(".tm-my-view-content").on("click", ".tm-view-more", function () {
        $(".tm-view-more").hide();
        $("#tm-view-loading").show();
        var _initlink = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href");
        var _data = {
            page: parseInt($("#tm-view-page").val()),
            datarange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
            sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
        }
        var _link = $("tm-view-control-link").attr("data-link");             //获取tab对应的页面
        GetTemplate(_initlink, _data, function (data) {
            setTimeout(function () {
                $("#tm-view-col-content").append(data);        //放入数据
                $("#tm-view-res-content").append(data);
                $("#tm-view-exe-content").append(data);
                //$("#tm-view-scroll-container").append(data);
                $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                $("#tm-view-loading").hide();                  //隐藏加载动画
            }, 500)
        }, function (data) {
            //失败
        })
    })

    //控制滚动条 containerEle==可滚动内容元素 scrollEle==滚动条元素
    function controlscroll(containerEle,scrollEle) {
        var _loading = false;
        var _container = containerEle;
        var _scroll = scrollEle;
        function subcontrol() {
            $("#" + _scroll).unbind("scroll");
            $("#" + _scroll).scroll(function (e) {
                var _dis = parseInt($("#" + _container).height()) - parseInt($("#" + _scroll).height());
                if ($("#" + _scroll).scrollTop() >= _dis) {
                    if (_loading) {
                        return false;
                    } else {
                        _loading = !_loading;
                        $(".tm-view-more").remove();
                        $("#tm-view-loading").show();
                        var _link = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href");
                        GetTemplate(_link, {
                            page: parseInt($("#tm-view-page").val()),
                            datarange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
                            sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
                        }, function (data) {
                            //成功
                            $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                            setTimeout(function () {
                                $("#" + _container).append(data);
                                $("#tm-view-loading").hide();
                                if ($("#" + _container).find(".tm-view-nomore").length > 0) {
                                    $("#" + _scroll).unbind("scroll");
                                    $("#tm-view-page").val("0");
                                } else {
                                    _loading = !_loading;
                                }
                            }, 500)
                        }, function (data) {
                            //失败
                        })
                    }
                }
            })
        }
        return subcontrol;
    }

</script>


