@model IEnumerable<PeriodAid.Models.Subject>
<ul>
    @foreach (var m in Model)
    {
        <li data-original-index="3"><a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false"><span class="text">许亦安</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
    }
</ul>