
<div id="tm-my-view" class="tm-my-view tm-view">
    <div class="tm-view-header tm-my-view-header">
        <div class="tm-my-view-control tm-view-control">
            <h3><a data-href="/TaskManagement/SubjectCompletedAssignmentList">已完成的任务</a></h3>
        </div>
        <div class="tm-hidden-view tm-view-header-close">
            <button type="button" class="close"><span aria-hidden="true">×</span></button>
        </div>
    </div>
    <div class="tm-view-content tm-my-view-content">
        <div class="tm-view-content-wrap  tm-view-wrap tm-my-view-wrap">
            <div class="tm-view-header clear-float">
                <div class="tm-view-header-left float-left">
                </div>
                <div class="tm-view-header-right float-right">
                    <div class="tm-view-control" id="tm-view-thirdcontrol">
                        <ul>
                            <li class="tm-view-control-sort dropdown">
                                <a href="javascript:;" id="tm-view-dropdown-progress" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="tm-select-title">根据人员排序</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-progress">
                                    @foreach (var item in ViewBag.Collaborator)
                                    {
                                        <li>
                                            <a href="javascript:;" class="tm-select-range tm-select collaborator_select" data-empid="@item.Id">@item.NickName</a>
                                        </li>
                                    }
                                </ul>
                            </li>
                        </ul>
                        @*<div class="tm-view-nomore color-blue">-&nbsp;没有更多数据啦&nbsp;-</div>*@
                    </div>
                </div>
            </div>
            <div class="tm-view-content-container  tm-view-container" id="tm-view-scroll-container">
                <input type="hidden" id="tm-view-page" name="tm-view-page" value="0" />
                <div class="tm-view-loading-content" id="tm-view-col-content">
                    
                </div>
                <div class="tm-view-loading-content hidden" id="tm-view-res-content">
                </div>
                <div class="tm-view-loading-content hidden" id="tm-view-exe-content">
                </div>
                <div class="tm-veiw-loading text-center" id="tm-view-loading">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i>
                    <span class="sr-only">正在加载...</span>
                </div>
            </div>   
        </div>
    </div>
</div>   

    <script>
    $(function () {
        //初始化加载数据地址
        var init_link = $(".tm-my-view-header .tm-view-control-link.active").attr("data-href");
        var _data = {
            page: parseInt($("#tm-view-page").val()),
            datarange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
            sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
        }
        if (init_link) {
            //获取初始化数据
            GetTemplate(init_link, {}, function (data) {
                //成功
                console.log(data)
                $(".tm-my-view-wrap").html(data);
            }, function (data) {
                //失败
            });
        }

        $.ajax({
            url: '/Taskmanagement/SubjectCompletedAssignmentListPartial',
            type: 'post',
            data: {
                subjectId: $("#panel-wrap").attr("data-sid")
            },
            success: function (data) {
                //console.log(data)
                $("#tm-view-col-content").html(data);
                
            }
        })
        $(".collaborator_select").click(function () {
            console.log($(this).attr("data-empid"));
            $.ajax({
                url: '/Taskmanagement/SubjectCompletedAssignmentListPartial',
                type: 'post',
                data: {
                    subjectId: $("#panel-wrap").attr("data-sid"),
                    employeeId: $(this).attr("data-empid")
                },
                success: function (data) {
                    $("#tm-view-col-content").html(data);
                    
                }
            })
        })

        $(".tm-my-view-content").on("click", ".tm-view-more", function () {
            $(".tm-view-more").hide();
            $("#tm-view-loading").show();
            var _initlink = $("#tm-view-subcontrol .tm-view-control-link.active").attr("data-href");
            var _data = {
                page: parseInt($("#tm-view-page").val()),
                datarange: $("#tm-view-thirdcontrol .tm-select-range.selected").attr("data-type"),
                sorttype: $("#tm-view-thirdcontrol .tm-select-sort-type.selected").attr("data-type")
            }
            var _link = $("tm-view-control-link").attr("data-link");             //获取tab对应的页面
                

            GetTemplate(_initlink, _data, function (data) {
                setTimeout(function () {
                    $("#tm-view-col-content").append(data);        //放入数据
                    $("#tm-view-res-content").append(data);
                    $("#tm-view-exe-content").append(data);
                    //$("#tm-view-scroll-container").append(data);
                    $("#tm-view-page").val(parseInt($("#tm-view-page").val()) + 1);
                    $("#tm-view-loading").hide();                  //隐藏加载动画
                }, 500)
            }, function (data) {
                //失败
            })
        })




    });

    </script>

