@model PeriodAid.Models.Employee
<!--My View-->
<div id="tm-calendar-view" class="tm-calendar-view tm-view">
    <div class="tm-view-header tm-calendar-view-header">
        <div class="tm-calendar-view-close tm-control-calendar-panel tm-view-header-select">
            <button type="button" class="close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="tm-calendar-view-control tm-view-control">
            <a href="javascript:;" class="tm-calendar-view-control tm-calendar-prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <span class="tm-calendar-view-control tm-calendar-currentmonth color-blue">@Html.Encode(DateTime.Now.ToString("yyyy-MM"))</span>
            <a href="javascript:;" class="tm-calendar-view-control tm-calendar-next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="tm-calendar-view-close tm-control-calendar-panel tm-view-header-close">
            <button type="button" class="close"><span aria-hidden="true">×</span></button>
        </div>
    </div>
    <div class="tm-view-content tm-calendar-view-content">
        <div class="tm-view-content-wrap  tm-view-wrap tm-calendar-view-wrap" id="tm-calendar-view-wrap">
            @*<div class="tm-calendar-view-menu">1</div>*@
            <div class="tm-calendar-view-panel">
                <div class="tm-calendar-inner">
                    <div class="tm-calendar-inner-header tm-calendar-month-header">
                        <ul class="clear-float">
                            <li>星期一</li>
                            <li>星期二</li>
                            <li>星期三</li>
                            <li>星期四</li>
                            <li>星期五</li>
                            <li>星期六</li>
                            <li>星期日</li>
                        </ul>
                    </div>
                    <div class="tm-calendar-inner-body tm-caleder-month-body">
                        <ul class="tm-calendar-weekofmonth clear-float">
                            <li class="tm-calendar-weekofday tm-calendar-prevmonth-weekofday">31</li>
                            <li class="tm-calendar-weekofday">1</li>
                            <li class="tm-calendar-weekofday">2</li>
                            <li class="tm-calendar-weekofday">3</li>
                            <li class="tm-calendar-weekofday">4</li>
                            <li class="tm-calendar-weekofday">5</li>
                            <li class="tm-calendar-weekofday">6</li>
                        </ul>
                        <ul class="tm-calendar-weekofmonth clear-float">
                            <li class="tm-calendar-weekofday">7</li>
                            <li class="tm-calendar-weekofday">8</li>
                            <li class="tm-calendar-weekofday">
                                <strong class="tm-calendar-currentday">9</strong>
                            </li>
                            <li class="tm-calendar-weekofday">10</li>
                            <li class="tm-calendar-weekofday">11</li>
                            <li class="tm-calendar-weekofday">12</li>
                            <li class="tm-calendar-weekofday">13</li>
                        </ul>
                        <ul class="tm-calendar-weekofmonth clear-float">
                            <li class="tm-calendar-weekofday">14</li>
                            <li class="tm-calendar-weekofday">15</li>
                            <li class="tm-calendar-weekofday">16</li>
                            <li class="tm-calendar-weekofday">17</li>
                            <li class="tm-calendar-weekofday">18</li>
                            <li class="tm-calendar-weekofday">19</li>
                            <li class="tm-calendar-weekofday">20</li>
                        </ul>
                        <ul class="tm-calendar-weekofmonth clear-float">
                            <li class="tm-calendar-weekofday">21</li>
                            <li class="tm-calendar-weekofday">22</li>
                            <li class="tm-calendar-weekofday">23</li>
                            <li class="tm-calendar-weekofday">24</li>
                            <li class="tm-calendar-weekofday">25</li>
                            <li class="tm-calendar-weekofday">26</li>
                            <li class="tm-calendar-weekofday">27</li>
                        </ul>
                        <ul class="tm-calendar-weekofmonth clear-float">
                            <li class="tm-calendar-weekofday">28</li>
                            <li class="tm-calendar-weekofday">29</li>
                            <li class="tm-calendar-weekofday">30</li>
                            <li class="tm-calendar-weekofday">31</li>
                            <li class="tm-calendar-weekofday tm-calendar-nextmonth-weekofday">1</li>
                            <li class="tm-calendar-weekofday tm-calendar-nextmonth-weekofday">2</li>
                            <li class="tm-calendar-weekofday tm-calendar-nextmonth-weekofday">3</li>
                        </ul>
                        <ul class="tm-calendar-weekofmonth clear-float">
                            <li class="tm-calendar-weekofday tm-calendar-nextmonth-weekofday">4</li>
                            <li class="tm-calendar-weekofday tm-calendar-nextmonth-weekofday">5</li>
                            <li class="tm-calendar-weekofday tm-calendar-nextmonth-weekofday">6</li>
                            <li class="tm-calendar-weekofday tm-calendar-nextmonth-weekofday">7</li>
                            <li class="tm-calendar-weekofday tm-calendar-nextmonth-weekofday">8</li>
                            <li class="tm-calendar-weekofday tm-calendar-nextmonth-weekofday">9</li>
                            <li class="tm-calendar-weekofday tm-calendar-nextmonth-weekofday">10</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--My View End-->
<script>
    (function ($) {
        var TmDatePicker = {};
        //获取今日数据
        TmDatePicker.getToday = function () {
            var today = new Date();
            var year = today.getFullYear();
            var month = parseInt(today.getMonth() + 1) < 10 ? "0" + parseInt(today.getMonth() + 1) : parseInt(today.getMonth() + 1);
            var day = parseInt(today.getDate()) < 10 ? "0" + parseInt(today.getDate()) : parseInt(today.getDate());
            var date = year + "-" + month + "-" + day;
            return {
                month: today.getMonth() + 1,
                year: today.getFullYear(),
                day: today.getDate(),
                fulldate:date
            };
        }

        //默认获取42个格子的所有日期数据
        TmDatePicker.getMonthDate = function (year, month) {
            var resdata = [];
            if (typeof (year) != "number" || typeof (month) != "number") {
                throw new Error('typeof yaer/month is not a number!');
            } else {
                var firstdayofmonth = new Date(year, month - 1, 1);     //本月的第一天
                var lastdayofmonth = new Date(year, month, 0);        //本月的最后一天
                var lastdayoflastmonth = new Date(year, month - 1, 0);   //上个月的最后一天
                var firstdayofweekday = firstdayofmonth.getDay();  //计算每月第一天是星期几
                if (firstdayofweekday === 0) firstdayofweekday = 7     //星期日转化为7
                var lastdayscount = firstdayofweekday - 1;           //上个月需要补充的天数
                var lastdateoflastmonth = lastdayoflastmonth.getDate();  //获取上个月最后一天是几号
                var lastdateofmonth = lastdayofmonth.getDate();         ///获取本月最后一天是几号
                for (var i = 0; i < 42; i++) {
                    var virtualdate = i + 1 - lastdayscount;
                    var currentdate = virtualdate;
                    var currentmonth = month;
                    var currrentyear = firstdayofmonth.getFullYear();
                    if (virtualdate <= 0) {
                        //上个月
                        currentmonth = month - 1;
                        currentdate = lastdateoflastmonth + virtualdate;
                    } else if (virtualdate > lastdateofmonth) {
                        //下个月
                        currentmonth = month + 1;
                        currentdate = currentdate - lastdateofmonth;
                    }
                    if (currentmonth === 0) {
                        currrentyear -= 1;
                        currentmonth = 12;
                    } else if (currentmonth === 13) {
                        currrentyear += 1;
                        currentmonth = 1;
                    }
                    resdata.push({
                        year: currrentyear,
                        month: currentmonth,
                        date: currentdate,
                        virtualdate: virtualdate
                    });
                }
                return {
                    currrentyear: firstdayofmonth.getFullYear(),
                    currentmonth: firstdayofmonth.getMonth() + 1,
                    lastday: lastdateofmonth,
                    days: resdata
                }

            }

        }

        //创建日历模板
        TmDatePicker.createPanel = function (datearray) {
            var _html = "<div class=\"tm-calendar-view-panel\" id=\"tm-calender-picker\">" +
                "<div class=\"tm-calendar-inner\">" +
                    "<div class=\"tm-calendar-inner-header tm-calendar-month-header\">" +
                        "<ul class=\"clear-float\">" +
                            "<li>星期一</li>" +
                            "<li>星期二</li>" +
                            "<li>星期三</li>" +
                            "<li>星期四</li>" +
                            "<li>星期五</li>" +
                            "<li>星期六</li>" +
                            "<li>星期日</li>" +
                        "</ul></div><div class=\"tm-calendar-inner-body tm-caleder-month-body\">";
            var _htmlbodyfooter = "</div></div></div>";
            for (i = 0; i < datearray.days.length; i++) {
                if (i % 7 == 0) {
                    if (datearray.days[i].virtualdate <= 0) {
                        _html += "<ul class=\"tm-calendar-weekofmonth clear-float\">" +
                                "<li class=\"tm-calendar-weekofday tm-calendar-prevmonth-weekofday\">" + datearray.days[i].date + "</li>"
                    } else if (datearray.days[i].virtualdate > datearray.lastday) {
                        _html += "<ul class=\"tm-calendar-weekofmonth clear-float\">" +
        "<li class=\"tm-calendar-weekofday tm-calendar-nextmonth-weekofday\">" + datearray.days[i].date + "</li>"
                    } else {
                        _html += "<ul class=\"tm-calendar-weekofmonth clear-float\">" +
        "<li class=\"tm-calendar-weekofday\">" + datearray.days[i].date + "</li>"
                    }
                } else if (i % 7 == 6) {
                    if (datearray.days[i].virtualdate <= 0) {
                        _html += "<li class=\"tm-calendar-weekofday tm-calendar-prevmonth-weekofday\">" + datearray.days[i].date + "</li></ul>";
                    } else if (datearray.days[i].virtualdate > datearray.lastday) {
                        _html += "<li class=\"tm-calendar-weekofday tm-calendar-nextmonth-weekofday\">" + datearray.days[i].date + "</li></ul>";
                    } else {
                        _html += "<li class=\"tm-calendar-weekofday\">" + datearray.days[i].date + "</li></ul>";
                    }
                } else {
                    if (datearray.days[i].virtualdate <= 0) {
                        _html += "<li class=\"tm-calendar-weekofday tm-calendar-prevmonth-weekofday\">" + datearray.days[i].date + "</li>";
                    } else if (datearray.days[i].virtualdate > datearray.lastday) {
                        _html += "<li class=\"tm-calendar-weekofday tm-calendar-nextmonth-weekofday\">" + datearray.days[i].date + "</li>";
                    } else {
                        _html += "<li class=\"tm-calendar-weekofday\">" + datearray.days[i].date + "</li>";
                    }
                }
            };
            _html += _htmlbodyfooter;
            return _html;
        }

        //判断传入参数是否为数组
        TmDatePicker.isArray = function (obj) {
            return Object.prototype.toString.call(obj) === '[object Array]';
        }

        //获取参数对应的值
        TmDatePicker.getOptionValue = function (option) {
            if (TmDatePicker.userOptions[option]) {
                return TmDatePicker.userOptions[option];
            } else {
                return TmDatePicker.defaultOptions[option];
            }
        }

        //绑定事件
        TmDatePicker.bindEvent = function () {
            var next = TmDatePicker.getOptionValue("nextbtn");
            var prev = TmDatePicker.getOptionValue("prebtn");
            $(prev).on("click", function () {
                TmDatePicker.currentmonth -= 1;
                if (TmDatePicker.currentmonth < 1) {
                    TmDatePicker.currentmonth = 12;
                    TmDatePicker.currentyear -= 1;
                }
                TmDatePicker.createUi()
            });
            $(next).on("click", function () {
                TmDatePicker.currentmonth += 1;
                if (TmDatePicker.currentmonth > 12) {
                    TmDatePicker.currentmonth = 1;
                    TmDatePicker.currentyear += 1;
                }
                TmDatePicker.createUi()
            })
        }
        TmDatePicker.createUi = function () {
            var container = TmDatePicker.getOptionValue("container");
            var showtimearea = TmDatePicker.getOptionValue("showtimearea");
            var month = TmDatePicker.currentmonth;
            var year = TmDatePicker.currentyear;
            var datearray = TmDatePicker.getMonthDate(year, month);
            var html = TmDatePicker.createPanel(datearray);
            $("#tm-calender-picker").remove();
            $(container).append(html);
            $(showtimearea).html(year + "-" + (month < 10 ? "0" + month : month));
            var onpagechanged = TmDatePicker.getOptionValue("onpagechanged");
            if (typeof (onpagechanged) == "function") {
                onpagechanged(TmDatePicker);
            } else {
                console.log("onpagechanged必须是个函数!")
            }
        }
        TmDatePicker.createUiInit = function () {
            var container = TmDatePicker.getOptionValue("container");
            var month = TmDatePicker.getOptionValue("currentmonth");
            var year = TmDatePicker.getOptionValue("currentyear");
            TmDatePicker.currentmonth = month;
            TmDatePicker.currentyear = year;
            var datearray = TmDatePicker.getMonthDate(year, month);
            var html = TmDatePicker.createPanel(datearray);
            $(container).append(html);
            TmDatePicker.bindEvent();
            var onpagechanged = TmDatePicker.getOptionValue("onpagechanged");
            if (typeof (onpagechanged) == "function") {
                onpagechanged(TmDatePicker);
            } else {
                console.log("onpagechanged必须是个函数!")
            }
        }
        TmDatePicker.defaultOptions = {
            container: "body",                              //默认会append在body里面
            currentdate: TmDatePicker.getToday().fulldate , //默认时间
            currentmonth: TmDatePicker.getToday().month,    //默认当前月份
            currentyear: TmDatePicker.getToday().year,      //默认当前年份
            nextbtn: ".tm-calendar-next",                    
            prebtn: ".tm-calendar-prev",
            showtimearea:".tm-calendar-currentmonth",
            onpagechanged: function (e) {

            },

        };
        TmDatePicker.Init = function (options) {
            if (arguments.length > 1) {
                console.log("参数过多")
            } else {
                if (typeof (options) == "object" && !TmDatePicker.isArray(options)) {
                    console.log("通过");
                    TmDatePicker.userOptions = options;
                    TmDatePicker.createUiInit();
                } else {
                    console.log("参数不合法");
                };
            }

        }
        window.TmDatePicker = TmDatePicker;
    })(jQuery);
    console.log(TmDatePicker.Init({
        container: "#tm-calendar-view-wrap",
        onpagechanged: function (e) {
            console.log(e);
            alert(1);
        }
    }));
</script>
