@model PeriodAid.Models.Employee
<!--My View-->
<div id="tm-calendar-view" class="tm-calendar-view tm-view">
    <div class="tm-view-header tm-calendar-view-header">
        <div class="tm-view-header-select">
            <span>任务</span>
            <span>子任务</span>
        </div>
        <div class="tm-calendar-view-control tm-view-control">
            <a href="javascript:;" class="tm-calendar-view-control tm-calendar-prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <span class="tm-calendar-view-control tm-calendar-currentmonth color-blue">@Html.Encode(DateTime.Now.ToString("yyyy-MM"))</span>
            <a href="javascript:;" class="tm-calendar-view-control tm-calendar-next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <div class="tm-calendar-view-close tm-control-calendar-panel tm-view-header-close">
            <button type="button" class="close"><span aria-hidden="true">×</span></button>
        </div>
    </div>
    <div class="tm-view-content tm-calendar-view-content">
        <div class="tm-view-content-wrap  tm-view-wrap tm-calendar-view-wrap" id="tm-calendar-view-wrap">
            @*<div class="tm-calendar-view-menu">1</div>*@
        </div>
    </div>
</div>
<!--My View End-->
<script>
    TmDatePicker.Init({
        container: "#tm-calendar-view-wrap",
        onpagechanged: function (e) {
            var pickerdata = e;
            $.ajax({
                url: "/TaskManagement/EmployeeMonthDataOfTask",
                type: "post",
                data: {
                    month: e.currentmonth,
                    year: e.currentyear
                },
                success: function (data) {
                    var _len = data.data.length;
                    for (i = 0; i < _len; i++) {
                        if (data.data[i].typeCode == 1) {
                            $(".tm-calendar-currentmonth-weekofday .tm-calendar-monthofdate[date-day=" + data.data[i].DeadTime + "]").parent().append("<div class=\"tm-calendar-task\">" + data.data[i].Name + "</div>");
                        } else {
                            $(".tm-calendar-currentmonth-weekofday .tm-calendar-monthofdate[date-day=" + data.data[i].DeadTime + "]").parent().append("<div class=\"tm-calendar-subtask\">" + data.data[i].Name + "</div>");
                        }
                       
                    }
                }
            })
        }
    });
</script>
