@using PeriodAid.Models;
@model PeriodAid.Models.Subject
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">@Html.Encode(Model.SubjectTitle+"的操作日志")</h4>
</div>
<div class="container-fluid">
    <div class="btn-group btn-group-justified" role="group" style="padding:10px;">
        <div class="btn-group">
            <select class="selectpicker" id="tm_select_straff" data-width="100%">
                <option>张三</option>
            </select>
        </div>
        <div class="btn-group">
            <select class="selectpicker" id="tm_select_type" data-width="100%">
                <option>任务</option>
                <option>项目</option>
                <option>子任务</option>
                <option>文件</option>
            </select>
        </div>
        <div class="btn-group">
            <select class="selectpicker" id="tm_select_time" data-width="100%">
                <option>全部</option>
                <option>当日</option>
            </select>
        </div>
    </div>
    <div class="tm_modal_ul_wrap modal-list-Panel">
        <ul class="list-group tm_modal_list_ul" id="tm_modal_logs_area">
            <li class="clear-float tm_modal_list_li">
                <div class="tm_item_avatar float-left" title="" data-toggle="tooltip" data-placement="right" data-original-title="孟煜">
                    <span style="background-image:url('http://cdn2.shouquanzhai.cn/Subject/SubjectCover/131435362956644032.jpg');" class="tm_avatar tm_img-circle tm_item-avatar"></span>
                </div>
                <div class="tm_item_middle float-left">
                    <div class="tm_middle_top tm_middle_content" title="" data-toggle="tooltip" data-placement="top" data-original-title="修改了项目:项目管理系统">
                        <span>修改了项目:项目管理系统</span>
                    </div>
                    <div class="tm_middle_bottom tm_middle_content clear-float">
                        <div class="tm_item_left">
                            <span class="color-gray"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <span class="finish_subtask">2017/7/5 17:02:33</span>
                        </div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
</div>
<script>
    $(document).ready(function () {
        $('#tm_select_straff').selectpicker({
            liveSearch: true,
            liveSearchPlaceholder: "搜索人员",
            title:"人员选择"
        });
        $('#tm_select_type').selectpicker({
            title: "类型"
        });
        $('#tm_select_time').selectpicker({
            title: "时间"
        });
    });
    $.ajax({
        url: $(".tm_active").attr("data-href"),
        data: {
            SubjectId: $("#Panel-wrap").attr("data-sid")
        },
        success: function (data) {
            $("#tm_modal_list_area").html(data);
            $("#loading-p").hide();
        },
        error: function () {
            ErrorAlert("操作失败。");
        }
    })
    $(".tm_modal-nav").on("click", ".list-group-item", function () {
        $(".list-group-item").removeClass("tm_active");
        $(this).addClass("tm_active");
        $("#loading-p").show();
        $.ajax({
            url: $(this).attr("data-href"),
            data:{
                SubjectId:$("#Panel-wrap").attr("data-sid")
            },
            success: function (data) {
                $("#tm_modal_list_area").html(data);
                $("#loading-p").hide();
            },
            error: function () {
                ErrorAlert("操作失败。");
            }
        })
    })
</script>

