@model PeriodAid.Models.ApplicationUser
@{
    Layout = "~/Views/Shared/_PeriodAidLayout.cshtml";
}

<nav class="navbar navbar-fixed-top">
    <div class="container user-userinfo container-body">
        <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6 text-center">
                <img src="@Model.ImgUrl" class="img-circle img-responsive" style="width:100px; height:100px; margin:auto;" />
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>
</nav>

<br />
<div class="container container-body" style="margin-top:150px; margin-bottom:20px;">
    <div class="row tag">
        <div class="col-xs-2 text-center tag-header">
            <span class="glyphicon glyphicon-cog img-circle tag-icon"></span>
        </div>
        <div class="col-xs-10 tag-body">
            <a href="/PeriodAid/Setting" class="tag-link">设置</a>
        </div>
    </div>
    <div class="row tag">
        <div class="col-xs-2 text-center tag-header">
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>
        <div class="col-xs-10 tag-body">
            <a class="tag-link" href="/WxAccount/Wx_RedirectUpdateUser">更新微信个人信息</a>
        </div>
    </div>
    <br />
    <div class="row tag">
        <div class="col-xs-2 text-center tag-header">
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </div>
        <div class="col-xs-10 tag-body">
            我的购物车
        </div>
    </div>
    <br />
    <div class="row tag">
        <div class="col-xs-2 text-center tag-header">
            <span class="glyphicon glyphicon-asterisk"></span>
        </div>
        <div class="col-xs-10 tag-body">
            关于我们
        </div>
    </div>
    <div class="row tag">
        <div class="col-xs-2 text-center tag-header">
            <span class="glyphicon glyphicon-glass"></span>
        </div>
        <div class="col-xs-10 tag-body">
            隐私申明
        </div>
    </div>
    <div class="row tag">
        <div class="col-xs-2 text-center tag-header">
            <span class="glyphicon glyphicon-edit"></span>
        </div>
        <div class="col-xs-10 tag-body">
            意见反馈
        </div>
    </div>
</div>
