
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>寿全斋语音</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style type="text/css">
        .topmodel-background {
            background: url(http://cdn.shouquanzhai.cn/Content/webapp_voice_background.jpg) no-repeat;
        }
        #audio-image{
            width:230px;
            height:230px;
            background:url(/Content/audio/audio_01_background.jpg);
            margin:auto;
        }
        .start-animate{
            animation: 10s linear 0s normal none infinite rotate;
        }
        #player-control{
            position:absolute;
            width:48px;
            height:48px;
            font-size:48px;
            line-height:230px;
            opacity:0.5;
            color:#666;
            margin:auto;
            margin-top:-230px;
            margin-left:-24px;
            padding:0px;
        }
        @@keyframes rotate {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(360deg);
            }
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="col-xs-12 text-center">
            <div id="audio-image" class="img-circle"></div>
            <a id="player-control" href="javascript:void(0)" class="text-center"><i class="fa fa-play"></i></a>
        </div>
        <audio class="hidden" src="~/Content/audio/audio_01.mp3" id="audio" controls="controls"></audio>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        var status = "init";
        var audio = document.getElementById('audio');
        $(function () {
            init();
            $("#player-control").click(function () {
                if (status == "init") {
                    $("#audio-image").addClass("start-animate");
                    $("#player-control").html("<i class=\"fa fa-pause\"></i>")
                    status = "play";
                    audio.play();
                }
                else if (status == "play") {
                    $("#audio-image").css("animationPlayState", "paused");
                    $("#player-control").html("<i class=\"fa fa-play\"></i>");
                    status = "stop";
                    audio.pause();
                }
                else if (status == "stop") {
                    $("#audio-image").css("animationPlayState", "running");
                    $("#player-control").html("<i class=\"fa fa-pause\"></i>");
                    status = "play";
                    audio.play();
                }

            });
            audio.addEventListener("ended", function () {
                status = "init";
                $("#audio-image").removeClass("start-animate");
                $("#player-control").html("<i class=\"fa fa-refresh\"></i>");
            }, false);

        });
        function init() {
            var window_width = $(window).width() > 640 ? 640 : $(window).width();
            var img_height = $(window).width() > 640 ? 1024 : parseInt($(document).width() / 640 * 1024);

            $("#topmodel-bg").css("width", window_width).css("height", img_height).addClass("topmodel-background");
            $("#topmodel-bg").css({
                "-moz-background-size": window_width + "px " + img_height + "px",
                "-webkit-background-size": window_width + "px " + img_height + "px",
                "-o-background-size": window_width + "px " + img_height + "px",
                "background-size": window_width + "px " + img_height + "px"
            });
            $("#open-modal").css({
                "margin-top": parseInt(img_height * 0.48)
            }).removeClass("hidden");
        }
    </script>
</body>
</html>
