
@{
    ViewBag.Title = "Vip_Tag_Create";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    @*<div id="content">
        <a class="a" href="javascript:;" myname="333">test1</a>
    </div>
    <a id="add" href="#">add</a>
    <script>
        function test(abc, i) {
            if (i <= 5) {
                alert(abc);
                setTimeout(test, 1000, abc, i + 1);
            }
        }
        test("bbc", 0);
        //setTimeout(test, 5000, "ccd");
        //setInterval(test, 1000, "bac");
    </script>
    <div id="b">bbc</div>*@
    <div class="jumbotron" style="margin-bottom:0">
        <h1>后台管理系统</h1>
        <p>线上销售数据</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">More&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a></p>
    </div>
    <div class="container">
        <h2 style="font-size:30px;">
            联系我们
        </h2>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h4><strong>上海寿全斋电子商务有限公司</strong></h4>
                <address>
                    <p>
                        上海市闵行区吴中路1189号726室<br>
                        中国 上海 201103<br>
                        <abbr title="Phone">
                            <span class="glyphicon glyphicon-phone-alt"></span>:
                        </abbr>
                        (021) 6126 3569<br>
                        <abbr title="Fax">
                            <span class="glyphicon glyphicon-print"></span>:
                        </abbr>
                        (021)6126 3509<br>
                        <abbr title="Email">
                            <span class="glyphicon glyphicon-envelope"></span>:
                        </abbr>
                        <a href="mailto:info@shouquanzhai.cn">info@shouquanzhai.cn</a>
                    </p>
                </address>
            </div>
            <div class="col-md-6">
                <h4><strong>关注寿全斋官方微信平台</strong></h4>
                <address>
                    <p><img src="http://www.shouquanzhai.cn/Content/image/web/wx_q2code.jpg" class="img-responsive" alt="寿全斋微信"></p>
                </address>
            </div>
        </div>
    </div>
</body>
</html>
