@{
    ViewBag.Title = "运行结果";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
    ViewBag.page = 2;
}

<table class="table table-striped table-condensed"  style="table-layout: fixed;width:100%;">
    <tr>
        <th style="width:10%;">行号</th>
        <th style="width:90%;">错误信息</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="ellipsis">
            @if (item.line > 0)
            {
                if (item.error)
                {
                    <span class="text-danger">第 @item.line 行</span>
                }

                else
                {
                    <span class="text-success">第 @item.line 行</span>
                }

            }
            else
            {
                if (item.error)
                {
                    <span class="text-danger">运行结果</span>
                }
                else
                {
                    <span class="text-success">运行结果</span>
                }
            }
        </td>
        <td class="ellipsis">@item.message</td>
    </tr>
}

</table>
