
@{
    ViewBag.Title = "Off_Statistic_Seller";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingSeven";
}
<table class="offline-search-box">
    <tr>
        <td>
            <label>开始时间：</label>
            <input type="text" class="form-control input-sm offline-search-inline" placeholder="开始时间" id="start-date">
        </td>
        <td>
            <label>结束时间：</label>
            <input type="text" class="form-control input-sm offline-search-inline" placeholder="结束时间" id="end-date">
        </td>
        <td>
            <label>促销姓名：</label>
            <input id="offstatistic-seller" class="form-control input-sm offline-search-inline" placeholder="促销员" />
            <input id="offstatistic-project" class="form-control input-sm offline-search-inline hidden" />
        </td>
        <td>
            <a class="btn btn-info btn-sm offstatistic-seller-btn"><i class="fa fa-search"></i>&nbsp;&nbsp;查看</a>
        </td>
    </tr>
    <tr>
        <td>
            <br />
            <input id="offstatisric-seller-item" name="seller-item" class="form-control input-sm hidden" disabled />
        </td>
    </tr>
    <tr><td id="danger" class="text-danger h5"></td></tr>
</table>
<div id="map" class="row" style="display:none;">
    <div id="myChart_Bar" style="min-width:500px;height:400px"></div>
</div>