
@{
    ViewBag.Title = "StoreStatistic";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingSeven";
}
<table class="offline-search-box">
    <tr>
        <td>
            <label>开始时间：</label>
            <input type="text" class="form-control input-sm offline-search-inline-01" placeholder="开始时间" id="start-date">
        </td>
        <td>
            <label>结束时间：</label>
            <input type="text" class="form-control input-sm offline-search-inline-01" placeholder="结束时间" id="end-date">
        </td>
    </tr>
    <tr>
        <td>
            <br />
            <label>销售系统：</label>
            @Html.DropDownList("StoreSystem", ViewBag.SystemList as SelectList, new { @class = "form-control input-sm offline-search-inline-01", id = "StoreSystem" })
        </td>
        <td>
            <br />
            <label>系统门店：</label>
            <select id="StoreList" name="StoreList" class="form-control input-sm offline-search-inline-01"></select>
        </td>
        <td>
            <br />
            <ul class="list-inline list-unstyled offline-search-btn">
                <li><button id="data-btn" class="btn btn-info btn-sm offstatistic-store-btn" data-salary="day"><i class="fa fa-search"></i>&nbsp;&nbsp;日数据</button></li>
                <li><button id="mounthdata-btn" class="btn btn-info btn-sm offstatistic-store-btn" data-salary="month"><i class="fa fa-search"></i>&nbsp;&nbsp;月数据</button></li>
            </ul>
        </td>
    </tr>
    <tr><td id="danger" class="text-danger h5"></td></tr>
</table>
<div id="map" class="row" style="display:none">
    <div class="col-md-6">
        <div id="myChart_Bar" style="min-width:500px;height:400px"></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div id="myChart_Pie" style="min-width:500px;height:400px"></div>
    </div>
</div>
<div id="myChart_Column" style="min-width:500px;height:400px"></div>
<script>
    $(function () {
        $("#StoreSystem").change(function () {
            $.ajax({
                url: "/OffCommon/StoreListAjax",
                type: "post",
                data: {
                    storesystem: $("#StoreSystem").val()
                },
                success: function (data) {
                    $("#StoreList").html("");
                    for (var i = 0; i < data.StoreList.length; i++) {
                        $("#StoreList").append("<option value='" + data.StoreList[i].ID + "'>" + data.StoreList[i].StoreName + "</option>");
                    }
                }
            })
        });
    });
</script>
