
@{
    ViewBag.Title = "Download_Order_List";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
    ViewBag.Page = 1;
}
<div class="row">
    <div class="col-xs-4">
        <input type="text" class="form-control start-date" placeholder="开始时间">
    </div>
    <div class="col-xs-4">
        <input type="text" class="form-control end-date" placeholder="结束时间">
    </div>
    <div class="col-xs-2">
        <button class="btn btn-info" id="query">下载</button>
    </div>
</div><br />
<div id="table-content">

</div>
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/ERPOrder/Download_Order_List_Ajax",
                success: function (data) {
                    $("#table-content").html(data);
                }
            })
        });
        $(".start-date").datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $(".end-date").datepicker({
            dateFormat: 'yy-mm-dd'
        })
        $("#query").click(function () {
            var start = $('.start-date').val();
            var end = $('.end-date').val();
            //var status = status
            var link_url = "/ERPOrder/Download_Order_Start_Ajax"
            $.ajax({
                url: link_url,
                data: {
                    st: start,
                    et: end
                },
                type: "post",
                success: function (data) {

                }
            });
            alert("开始下载");
            $.ajax({
                url: "/ERPOrder/Download_Order_List_Ajax",
                success: function (data) {
                    $("#table-content").html(data);
                }
            });
        })
    </script>
    }


