

@{
    ViewBag.Title = "Download_Member_List";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
    ViewBag.Page = 1;
}
<div class="row">
    <div class="col-xs-4">
        <input type="text" class="form-control start-date" placeholder="开始时间">
    </div>
    <div class="col-xs-4">
        <input type="text" class="form-control end-date" placeholder="结束时间">
    </div>
    <div class="col-xs-1">
        <button class="btn btn-info" id="query">下载</button>
    </div>
    <div class="col-xs-1">
        <button class="btn btn-primary" id="reset">刷新</button>
    </div>
</div><br />
<div id="table-content">

</div>
<script src="~/Scripts/jeDate-gh-pages/jedate/jedate.min.js"></script>
<script>
        $(function () {
            $.ajax({
                url: "/ERPOrder/Download_Member_List_Ajax",
                success: function (data) {
                    $("#table-content").html(data);
                }
            })
        });
        var start = {
            dateCell: '.start-date',
            format: 'YYYY-MM-DD',
            //minDate: jeDate.now(0), //设定最小日期为当前日期
            festival: false,
            //maxDate: '2099-06-16 23:59:59', //最大日期
            isTime: true,
            choosefun: function (datas) {
                end.minDate = datas; //开始日选好后，重置结束日的最小日期
            }
        };
        var end = {
            dateCell: '.end-date',
            format: 'YYYY-MM-DD',
            //minDate: jeDate.now(0), //设定最小日期为当前日期
            festival: false,
            //maxDate: '2099-06-16 23:59:59', //最大日期
            isTime: true,
            choosefun: function (datas) {
                start.maxDate = datas; //将结束日的初始值设定为开始日的最大日期
            }
        };
        jeDate(start);
        jeDate(end);
        $("#query").click(function () {
            var start = $('.start-date').val();
            var end = $('.end-date').val();
            var link_url = "/ERPOrder/Download_Vips_Start_Ajax";
            if (start == '', end == '') {
                window.alert("无数据下载")
            } else {
                $.ajax({
                    url: link_url,
                    data: {
                        st: start,
                        et: end
                    },
                    type: "post",
                    success: function (data) {
                    }

                });
                alert("开始下载");
                $.ajax({
                    url: "/ERPOrder/Download_Member_List_Ajax",
                    success: function (data) {
                        $("#table-content").html(data);
                        $(".start-date").val('');
                        $(".end-date").val('');
                    }
                });
            }

        })
        $("#reset").click(function () {
            var link_url = "/ERPOrder/Download_Member_List_Ajax"
            $.ajax({
                url: link_url,
                type: "post",
                success: function (data) {
                    $("#table-content").html(data);
                    
                }
            });
        })
</script>