

@{
    ViewBag.Title = "Download_Member_List";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
    ViewBag.Page = 1;
}
<div class="row">
    <div class="col-xs-4">
        <input type="text" class="form-control hasDatepicker start-date" placeholder="开始时间">
    </div>
    <div class="col-xs-4">
        <input type="text" class="form-control hasDatepicker end-date" placeholder="结束时间">
    </div>
    <div class="col-xs-1">
        <button class="btn btn-info" id="query">下载</button>
    </div>
    <div class="col-xs-1">
        <button class="btn btn-primary" id="reset">刷新</button>
    </div>
</div><br />
<div id="table-content">

</div>
