
    <option>寿全斋天猫旗舰店</option>
    <option>一号店旗舰店</option>
    <option>京东旗舰店</option>
    <option>一号店自营旗舰店</option>
    <option>天猫自营旗舰店</option>
    <option>京东自营旗舰店</option>
    <option>微信旗舰店</option>
    <option>其他旗舰店</option>
