
@{
    ViewBag.Title = "GenericData_List";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
    ViewBag.page = 2;
}
<div class="container">
    <div class="col-md-3"><a class="btn btn-info btn-sm" href="/ERPOrder/Create_GenericData"><i class="fa fa-plus"></i>&nbsp;&nbsp;上传数据</a></div>
</div>
<br />
<div id="generric_list">

</div>
<div class="hidden" id="pagenumber">
    @ViewBag.Page
</div>
<script>
    $(function () {
        var link_url = "/ERPOrder/GenericData_List_Ajax";
        $.ajax({
            url: link_url,
            success: function (data) {
                $("#generric_list").html(data);
            }
        });
    })
</script>
