@model PeriodAid.Models.generic_data

@{
    ViewBag.Title = "GenericData_Statistic";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
    ViewBag.page = 3;
}

<div class="row">
    <div class="col-md-3"> 
        <input class="form-control input-sm" id="start-date" name="start-date" placeholder="开始时间" />
        <span id="danger" class="text-danger h6"></span>
    </div>
    <div class="col-md-3"> <input class="form-control input-sm" id="end-date" name="end-date" placeholder="结束时间" /></div>
    <div class="col-md-4">
        <div class="input-group">
            <input type="text" class="form-control input-sm" placeholder="搜索门店名称" id="search-query">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="button" id="search-btn"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </div>
</div><br /><br />
<div id="container" style="min-width:700px;height:400px"></div>
<script src="~/Scripts/highcharts.js"></script>
<script src="~/Scripts/jeDate-gh-pages/jedate/jedate.min.js"></script>
<script>
    $(function () {
        Date.prototype.Format = function (fmt) { //author: meizz   
            var o = {
                "M+": this.getMonth() + 1,                 //月份   
                "d+": this.getDate(),                    //日   
                "h+": this.getHours(),                   //小时   
                "m+": this.getMinutes(),                 //分   
                "s+": this.getSeconds(),                 //秒   
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度   
                "S": this.getMilliseconds()             //毫秒   
            };
            if (/(y+)/.test(fmt))
                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt))
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
        //start--搜索
        var start = {
            dateCell: '#start-date',
            format: 'YYYY-MM',
            //minDate: jeDate.now(0), //设定最小日期为当前日期
            festival: false,
            //maxDate: '2099-06-16 23:59:59', //最大日期
            isTime: true,
            choosefun: function (datas) {
                end.minDate = datas; //开始日选好后，重置结束日的最小日期
            }
        };
        var end = {
            dateCell: '#end-date',
            format: 'YYYY-MM',
            //minDate: jeDate.now(0), //设定最小日期为当前日期
            festival: false,
            //maxDate: '2099-06-16 23:59:59', //最大日期
            isTime: true,
            choosefun: function (datas) {
                start.maxDate = datas; //将结束日的初始值设定为开始日的最大日期
            }
        };
        jeDate(start);
        jeDate(end);
        $("#search-btn").click(function () {
            var start = $("#start-date").val();
            var end = $("#end-date").val();
            var query = $("#search-query").val();
            var link_url = "/ERPOrder/GenericData_Satistic_Ajax";
            if (start > end) {
                $("#danger").text("开始时间不能大于结束时间")
            } else if (start == "" || end == "") {
                $("#danger").text("时间不能为空")
            } else {
                $.ajax({
                    url: link_url,
                    type: "post",
                    data: {
                        startdate: start,
                        enddate: end,
                        storename: query
                    },
                    success: function (data) {
                        if (data.data.length == 0) {
                            $("#danger").addClass("hidden")
                            alert("该门店在此时间内无数据");
                        } else {
                            $("#danger").addClass("hidden")
                            var resulttotal = data.data;
                            var datearray = new Array();
                            var order_count = new Array();//订单数
                            var delivery_amount = new Array();//运费
                            var advertisement_fee = new Array();//广告费
                            var roi = new Array();//ROI
                            var sales_amount = new Array();//销售额
                            var uv = new Array();//访客数
                            var convertion = new Array()//转化率
                            var guest_avg_price = new Array()//客单价
                            var pv = new Array()//浏览量
                            for (var i = 0; i < resulttotal.length; i++) {
                                var date = parseInt(resulttotal[i].date.replace(/\D/igm, ""));
                                var newdate = new Date(date)
                                datearray.push(newdate.Format("MM-dd"));//时间
                                var order = resulttotal[i].order_count
                                order_count.push(order);//订单数
                                var delivery = resulttotal[i].delivery_amount
                                delivery_amount.push(delivery);//运费
                                var advertisement = resulttotal[i].advertisement_fee;
                                advertisement_fee.push(advertisement);//广告费
                                var ro = resulttotal[i].roi
                                roi.push(ro);//ROI
                                var sales = resulttotal[i].sales_amount
                                sales_amount.push(sales)//销售额
                                var u = resulttotal[i].uv
                                uv.push(u)//访客数
                                var conver = resulttotal[i].convertion
                                convertion.push(conver)//转化率
                                var price = resulttotal[i].guest_avg_price
                                guest_avg_price.push(price)//客单价
                                var p = resulttotal[i].pv
                                pv.push(p)//浏览量
                            }
                            //start--店铺月度销售额图表
                            //Highcharts.setOptions({
                            //    lang: {
                            //        numericSymbols: null
                            //    }
                            //});//Y轴数值单位限制，默认值[k,M,G,T,P,E]
                            $('#container').highcharts({
                                chart: {
                                    type: 'spline'
                                },
                                title: {
                                    text: '店铺月度销售额图表'
                                },
                                //subtitle: {
                                //    text: 'Source: WorldClimate.com'
                                //},
                                xAxis: {
                                    categories: datearray
                                },
                                yAxis: [{
                                    title: {
                                        text: '',
                                    },
                                    labels: {
                                        enabled: false
                                    },
                                }, {
                                    title: {
                                        text: '',
                                    },
                                    labels: {
                                        enabled: false
                                    },
                                }, {
                                    title: {
                                        text: '',
                                    },
                                    labels: {
                                        enabled: false
                                    },
                                }, {
                                    title: {
                                        text: '',
                                    },
                                    labels: {
                                        enabled: false
                                    },
                                }, {
                                    title: {
                                        text: '',
                                    },
                                    labels: {
                                        enabled: false
                                    },
                                }, {
                                    title: {
                                        text: '',
                                    },
                                    labels: {
                                        enabled: false
                                    },
                                }, {
                                    title: {
                                        text: '',
                                    },
                                    labels: {
                                        enabled: false
                                    },
                                }, {
                                    title: {
                                        text: '',
                                    },
                                    labels: {
                                        enabled: false
                                    },
                                }, {
                                    title: {
                                        text: '',
                                    },
                                    labels: {
                                        enabled: false
                                    },
                                }, ],
                                tooltip: {
                                    shared: true,
                                    enabled: false
                                },
                                legend: {
                                    itemMarginTop: 3,
                                    itemMarginBottom: 10
                                },
                                plotOptions: {
                                    column: {
                                        pointPadding: 0.2,
                                        borderWidth: 0,
                                    },
                                    spline: {
                                        dataLabels: {
                                            enabled: true
                                        },
                                        enableMouseTracking: false
                                    },
                                
                                    series: {
                                        showCheckbox: true,
                                        events: {
                                            checkboxClick: function (event) {
                                                if (event.checked == true) {
                                                    this.show();
                                                    //alert(this.name)                                                    
                                                }
                                                else {
                                                    this.hide();
                                                }
                                            },
                                            legendItemClick: function (event) {//return false 即可禁用LegendIteml，防止通过点击item显示隐藏系列
                                                return false;
                                            }
                                        }
                                    },
                                },
                                series: [{
                                    name: '运费',
                                    color: '#d7e633',
                                    yAxis:6,
                                    data: delivery_amount,
                                    visible: false//默认不显示
                                }, {
                                    name: '推广费',
                                    color: '#e6be33',
                                    yAxis:7,
                                    data: advertisement_fee,
                                    visible: false//默认不显示
                                }, {
                                    name: 'ROI',
                                    color: '#e68c33',
                                    yAxis:8,
                                    data: roi,
                                    visible: false//默认不显示
                                    
                                }, {
                                    name: '订单数',
                                    color:'#e63333',
                                    yAxis: 2,
                                    data: order_count,
                                    visible: false//默认不显示
                                }, {
                                    name: '销售额',
                                    color: '#e63398',
                                    yAxis: 0,
                                    data: sales_amount,
                                    selected: true//默认checkbox勾选
                                    
                                }, {
                                    name: '访客数',
                                    color: '#db33e6',
                                    yAxis: 1,
                                    data: uv,
                                    visible: false//默认不显示
                                }, {
                                    name: '转化率',
                                    color: '#33e687',
                                    yAxis: 4,
                                    data: convertion,
                                    visible: false//默认不显示
                                }, {
                                    name: '客单价',
                                    color: '#90e633',
                                    yAxis: 5,
                                    data: guest_avg_price,
                                    visible: false//默认不显示
                                }, {
                                    name: '浏览量',
                                    color: '#336ae6',
                                    yAxis: 3,
                                    data: pv,
                                    visible: false//默认不显示
                                }]
                            });//end
                        }
                    }
                })
            }
        })//end
       
    });
    
</script>
