
@{
    ViewBag.Title = "Vip_Tag_Setup";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
}
<!--筛选器，可筛选内容包括（店铺(必选)，购买频次，付款总金额，客单价，位置信息，购买时间，标签）-->
<!--筛选以后，弹出预计人数，点击确认，进行打标操作-->
<!--打标前会判断会员时候以后改标签，避免重复打标-->
<br />
<div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-6">
                <label class="control-label col-md-3">店铺名称：</label>
                <div class="col-md-9">
                    <select class="form-control">
                        <option>上海中原店</option>
                        <option selected>上海长阳店</option>
                        <option selected>上海闵行店</option>
                        <option selected>上海张江店</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-3">位置信息：</label>
                <div class="col-md-9">
                    <input class="form-control"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label class="control-label col-md-3">购买频次：</label>
                <div class="col-md-9">
                    <input class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-3">付款总金额：</label>
                <div class="col-md-9">
                    <input class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label class="control-label col-md-3">客单价：</label>
                <div class="col-md-9">
                    <input class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <label class="control-label col-md-3">购买时间：</label>
                <div class="col-md-9">
                    <input class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label class="control-label col-md-3">标签：</label>
                <div class="col-md-9">
                    <input class="form-control" />
                </div>
            </div>
            <div class="col-md-6" style="margin-top:15px;">
                <button class="btn btn-info btn-xs" id="setup-btn">筛选</button>
                <div class="col-md-5 col-md-offset-1">
                    <span>共有&nbsp;<input class="num" style="border: 1px solid #cccccc;border-radius:2px;width:50px;" value=""/>&nbsp;会员打标</span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2">
                <input type="button" value="确认" class="btn btn-success btn-tre"  style="margin-left:-15px;" />
                <a href="/ERPOrder/Vip_Tag_Create" class="btn btn-default" style="margin-left:10px;">返回</a>
            </div>
        </div>
</div>
<script>
    $("#setup-btn").click(function () {
        alert("对已填的信息进行会员打标筛选")
        $(".num").attr("value", "1258224")
    });
    $(".btn-tre").click(function () {
        alert("打标前会判断会员时候以后改标签，避免重复打标")
        $(this).val("确认中...").attr("disabled", "disabled")
        setTimeout(3000);
    });
</script>
