@model IEnumerable<PeriodAid.Models.tags>
@{
    ViewBag.Title = "Vip_Tag_Create";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
}
<!--当前已有标签的列表以及对应的会员数，可以额外添加/删除对应的标签，并且删除会员的标签信息-->
<div class="row">
    <div class="col-md-8">
        <a class="btn btn-info btn-sm" href="/ERPOrder/Vip_Tag_Setup"><i class="fa fa-plus"></i>&nbsp;&nbsp;筛选会员打标</a>
        <a class="btn btn-info btn-sm" href="/ERPOrder/Vip_Tag_Upload"><i class="fa fa-plus"></i>&nbsp;&nbsp;上传会员打标</a>
    </div>
</div><br />
<table class="table" style="width:100%">
    <tr>
        <th>
            标签名称
        </th>
        <th>
            会员数量
        </th>
        <th>
            最后打标时间
        </th>
        <th></th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>@Html.Encode(item.name)</th>
            <th>@Html.Encode(item.totalcount)</th>
            <th></th>
            <th></th>
        </tr>
    }
</table>
<script>
    $("#add-btn").click(function () {
        alert("添加新的会员打标信息")
    });
    $("#false-btn").click(function () {
        alert("删除该会员打标信息")
    })
</script>
