
@{
    ViewBag.Title = "Vip_Tag_Setup";
    Layout = "~/Views/ERPOrder/_ERPOrder_Layout.cshtml";
}
<!--筛选器，可筛选内容包括（店铺(必选)，购买频次，付款总金额，客单价，位置信息，购买时间，标签）-->
<!--筛选以后，弹出预计人数，点击确认，进行打标操作-->
<!--打标前会判断会员时候以后改标签，避免重复打标-->
<h2>Vip_Tag_Setup</h2>

