@model IEnumerable<PeriodAid.Models.Wx_SellerTaskMonthStatistic>

<table class="table table-hover table-condensed" style="width:100%;table-layout:fixed">
    <tr class="offline-table-background">
        <th style="width:30%">
            店铺名称
        </th>
        <th style="width:30%">
            暗促人员
        </th>
        <th style="width:30%">
            得分
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Off_Seller.Off_Store.StoreName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Off_Seller.Name)
        </td>
        <td>
            @Html.Encode(((double)item.AttendanceCount/100)*3*100)
        </td>
        <td>
            @Html.ActionLink("查看明细", "TaskSellerQueryMonthBySellerPartial", new { sellerid = item.Off_Seller.Id, month=ViewBag.Month }, new { @class="btn btn-xs btn-info offseller-taskpartial-btn"})
        </td>
    </tr>
}

</table>
