@model IEnumerable<PeriodAid.Models.Wx_SellerTaskAlert>
@{
    ViewBag.Title = "TaskSellerAlert";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingTen";
}
<br />
<table class="table table-hover table-condensed" style="width:100%;table-layout:fixed">
    <tr class="offline-table-background">
        <th>ID</th>
        <th>日期</th>
        <th>店铺名称</th>
        <th>库存数量</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinStorage)
            </td>
        </tr>
    }
</table>