@model IEnumerable<PeriodAid.Models.Off_SellerTask>

@{
    ViewBag.Title = "TaskSellerHome";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingTen";
}
<h4>暗促详情</h4>
<hr />
<div class="container">
    <h5>基本信息</h5>
    <br />
    <table class="offline-search-box">
        <tbody>
            <tr>
                <td>
                    <label>暗促人员：</label>
                    <span>测试</span>
                </td>
                <td>
                    <label>绑定门店：</label>
                    <span>欧尚-上海南汇店</span>
                </td>
                <td>
                    <label>选择时间：</label>
                    <select class="form-control input-sm offline-search-inline-01" id="sellertask-checkindate">
                        <option>2016-06-01</option>
                        <option>2016-06-01</option>
                        <option>2016-06-01</option>
                        <option>2016-06-01</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
</div>
<div class="container" id="sellertask-detail">
    <h5>库存详情</h5>
    <br />
    <table class="table table-bordered text-center" id="plist" style="width:100%">
        <tbody>
            <tr class="offline-table-background">
                <th class="text-center" style="width:50%">产品名称</th>
                <th class="text-center" style="width:50%">产品库存</th>
            </tr>
            <tr>
                <td>
                    红糖姜茶
                </td>
                <td>20</td>
            </tr>
            <tr>
                <td>
                    黑糖姜茶
                </td>
                <td>20</td>
            </tr>
        </tbody>
    </table>
    <hr />
    <h5>签到图片</h5>
    <br />
    <div class="col-md-12">
        <div id="sellertask-img-list">
            <div class="img-list" data-rel="131172114907560788.jpg" style="background-image:url('//cdn2.shouquanzhai.cn/checkin-img/131172114907560788.jpg')"></div>
            <div class="img-list" data-rel="131172114907560788.jpg" style="background-image:url('//cdn2.shouquanzhai.cn/checkin-img/131172114907560788.jpg')"></div>
            <div class="img-list" data-rel="131172114907560788.jpg" style="background-image:url('//cdn2.shouquanzhai.cn/checkin-img/131172114907560788.jpg')"></div>
        </div>
    </div>
</div>
<div class="modal fade modal-box">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modal-head">新增报表</h4>
            </div>
            <div class="modal-body modal-con">
                <img id="img-view" class="img-thumbnail img-responsive" />
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    $("#sellertask-checkindate").change(function () {
        var date = $(this).val();
        $.ajax({
            url: "",
            type: "",
            data: {
                data:date
            },
            success: function (data) {
                $("#sellertask-detail").html(data)
            }
        })
    });
    $(".img-list").click(function () {
        var link_url = "//cdn2.shouquanzhai.cn/checkin-img/" + $(this).attr("data-rel");
        $(".modal-box").modal();
        $("#img-view").attr("src",link_url);
        $(".modal-head").text("签到图片");
    });
</script>
