
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingOne";
}
<div class="jumbotron ">
    <span class="h3"><span class="glyphicon glyphicon-tasks text-primary"></span>&nbsp;&nbsp;任务管理系统隆重上线</span>
    <br /><br />
    <p><a class="btn btn-primary btn-sm" href="/TaskManagement/Index" role="button">点击进入<i class="fa fa-chevron-right" aria-hidden="true"></i></a></p>
</div>
<div class="jumbotron ">
    <span class="h3"><span class="glyphicon glyphicon-tasks text-primary"></span>&nbsp;&nbsp;库存管理系统隆重上线</span>
    <br /><br />
    <p><a class="btn btn-primary btn-sm" href="/PlattformInventory/PlattformInventory_form?plattformId=1" role="button">点击进入<i class="fa fa-chevron-right" aria-hidden="true"></i></a></p>
</div>
<div class="jumbotron " style="margin-bottom:0">
    <span class="h2">上海寿全斋电子商务有限公司</span>
    <p>线下促销管理系统</p>
    <p><a class="btn btn-primary btn-sm" href="#" role="button">More&nbsp;&nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a></p>
</div><br />
<div>
    <h2 style="font-size:30px;">
        联系我们
    </h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h4><strong>上海寿全斋电子商务有限公司</strong></h4><br />
            <address>
                <p>
                    上海市闵行区吴中路1189号726室<br>
                    中国 上海 201103<br>
                    <abbr title="Phone">
                        <span class="glyphicon glyphicon-phone-alt"></span>:
                    </abbr>
                    (021) 6126 3569<br>
                    <abbr title="Fax">
                        <span class="glyphicon glyphicon-print"></span>:
                    </abbr>
                    (021)6126 3509<br>
                    <abbr title="Email">
                        <span class="glyphicon glyphicon-envelope"></span>:
                    </abbr>
                    <a href="mailto:info@shouquanzhai.cn">info@shouquanzhai.cn</a>
                </p>
            </address>
        </div>
        <div class="col-md-6">
            <h4><strong>关注寿全斋官方微信平台</strong></h4><br />
            <address>
                <p><img src="http://www.shouquanzhai.cn/Content/image/web/wx_q2code.jpg" class="img-responsive" alt="寿全斋微信"></p>
            </address>
        </div>
    </div>
</div>