
@{
    ViewBag.Title = "Off_Product_List";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingEight";
}
<div class="container">
    <ul class="list-inline list-unstyled row">
        <li><a class="btn btn-info btn-sm" id="offproduct-product-create"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增产品</a></li>
    </ul>
</div>
<br />
<div id="offproduct-product-list">

</div>
@Html.Partial("modal")
<script>
    $(function () {
        $.ajax({
            url: "/OffProduct/ProductListPartial",
            success: function (data) {
                $("#offproduct-product-list").html(data)
            }
        })
    });
    //新增产品
    $("#offproduct-product-create").click(function () {
        var link_url = "/OffProduct/CreateTemplate"
        var head = "新增产品呢"
        $.ajax({
            url: link_url,
            success: function (data) {
                $(".modal-con").html(data);
                $(".modal-box").modal();
                $(".modal-head").text(head)
            }
        })
        return false
    });
</script>