@model PeriodAid.Models.Examination



<div class="text-center col-xs-12">
    <h2>考试完成</h2>
    <h5>正确度：@Model.ExaminationDetails.Count(m => m.Result == true)/@Model.MaxSequence</h5>
</div>
<br /><br />
@if (Model.ExaminationStatus)
{
    <div class="text-center col-xs-12">
        完成时间：@Model.ExaminationFinishTime.ToString()
    </div>
}
else
{
    <div class="text-center col-xs-12">
        <button class="btn btn-success btn-lg" id="checkout">修正错误题目</button>
    </div>
}
<script>
    $(function () {
        $("#exam-status").text("Finish");
        $("#checkout").click(function () {
            window.location.href = "/Examination/CheckoutExam?examId=" + $("#exam-id").text();
        });
    });
</script>