@model PeriodAid.Models.TestQuestion


<div class="row">
    <div class="col-sm-12">

    </div>
    <div class="col-sm-12">
        <b>@Model.QuestionContent</b>
    </div>
    @foreach (var item in Model.TestAnswer)
    {
        <div class="col-sm-12">
            <div class="answer-item" data-target="@item.ID">
                @item.AnswerContent
            </div>
        </div>
    }
</div>
<script>
    $(function () {
        $(".answer-item").click(function () {
            var item = $(this);
            $(".answer-item").removeClass("answer-activ");
            item.addClass("answer-activ");
        });
    });
</script>
