@model PeriodAid.Models.ExaminationDetails

<div class="row">
    <div class="col-sm-12">

    </div>
    <div class="col-sm-12">
        <b>@Model.TestQuestion.QuestionContent</b>
    </div>
    @foreach (var item in Model.TestQuestion.TestAnswer)
    {
        <div class="col-sm-12">
            <div class="answer-item" data-target="@item.ID">
                @item.AnswerContent
            </div>
        </div>
    }
    <br /><br />
    <div class="col-sm-12 text-center">
        <button class="btn btn-success btn-lg" id="checkout-next">下一题</button>
    </div>
    <span id="details-id" class="hidden">@Model.ID</span>
</div>
<script>
    $(function () {
        $(".answer-item").click(function () {
            var item = $(this);
            $(".answer-item").removeClass("answer-activ");
            item.addClass("answer-activ");
        });
        $("#checkout-next").click(function () {
            if ($(".answer-activ").length == 1) {
                $.ajax({
                    url: "/Examination/SubmitCheckout",
                    data: {
                        detailsId: $("#details-id").text(),
                        answerId: $(".answer-activ").attr("data-target")
                    },
                    success: function (data) {
                        if (data.result == "SUCCESS") {
                            var r = data.questionresult;
                            if (r == false)
                                alert("错误");
                            $.ajax({
                                url: "/Examination/getNextCheckout",
                                data: {
                                    examId: $("#exam-id").text()
                                },
                                success: function (data) {
                                    $("#exam-content").html(data);
                                }
                            });
                        }
                    }
                });
            }
            else {
                alert("请选择答案");
            }
        });
    });
</script>