
@{
    ViewBag.Title = "暗促人员绑定";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingFour";

}
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>促销员：</label>
            <input class="form-control input-sm offline-search-inline" id="offseller-bindseller-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="offseller-bindseller-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<div>
    <ul class="nav nav-tabs row">
        <li role="presentation" class="active"><a class="offseller-bindseller-filter" data-rel="false" href="javascript:;">未绑定促销员</a></li>
        <li role="presentation"><a class="offseller-bindseller-filter" data-rel="true" href="javascript:;">已绑定促销员</a></li>
    </ul>
</div>
<br />
<div id="offseller-bindseller-list">

</div>
@Html.Partial("modal")
<input class="hidden" id="offseller-bindseller-bool" />
<script>
    $(function () {
        $.ajax({
            url: "/OffSeller/BindSellerListPartial",
            success: function (data) {
                $("#offseller-bindseller-list").html(data)
            }
        });
        //标签页
        $(".offseller-bindseller-filter").click(function () {
            $(this).parent("li").addClass("active").siblings().removeClass("active");
            $("#offseller-bindseller-bool").val($(this).attr("data-rel"));
            $.ajax({
                url: "/OffSeller/BindSellerListPartial?bind=" + $("#offseller-bindseller-bool").val(),
                success: function (data) {
                    $("#offseller-bindseller-list").html(data);
                }
            });
            return false;
        });
        //搜索
        $("#offseller-bindseller-query").val(decodeURIComponent($("#offseller-bindseller-query").val()));
        $("#offseller-bindseller-search").click(function () {
            var url = "/OffSeller/BindSellerListPartial";
            var cuxa = $("#offseller-bindseller-query").val();
            var bool = $("#offseller-bindseller-bool").val();
            $.ajax({
                url: url,
                data: {
                    query: cuxa,
                    bind:bool
                },
                success: function (data) {
                    $("#offseller-bindseller-list").html(data);
                }
            })
        })
    });
</script>

