@{
    ViewBag.Title = "线下门店信息";
    Layout = "~/Views/Shared/_WebContentLayout.cshtml";
    ViewBag.Current = "headingEight";
}
@Html.Partial("modal")
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>活动选择:</label>
            @Html.DropDownList("ccg", ViewBag.ccg as SelectList, new { @class = "form-control input-sm offline-search-inline",@id="select-input" })
            <input class="form-control input-sm offline-search-inline" id="cc-search-query" placeholder="搜索优惠券" />
            <a class="btn btn-info btn-sm" id="cc-search-btn"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<div>
    <a class="btn btn-info btn-sm" id="cc-create"><i class="fa fa-plus"></i>&nbsp;&nbsp;添加优惠券</a>
</div>
<br />
<div id="cc-list"></div>
<script>
    $.ajax({
        url: "/WebContent/CheckCodeListPartial",
        data: {
            query: $("#cc-search-query").val(),
            groupid: $("#select-input").val()
        },
        success: function (data) {
            $("#cc-list").html(data);
        }
    });
    //活动选择变化
    $("#select-input").on("change", function () {
        $.ajax({
            url: "/WebContent/CheckCodeListPartial",
            data: {
                query: $("#cc-search-query").val(),
                groupid: $("#select-input").val()
            },
            success: function (data) {
                $("#cc-list").html(data);
            }
        });
    });
    //搜索
    $("#cc-search-btn").click(function () {
        alert("加载中.....", "", function () {
            window.location.reload();
        }, { type: 'info' });
        $(".BeAlert_button .BeAlert_confirm").html("取消");
        $.ajax({
            url: "/WebContent/CheckCodeListPartial",
            data: {
                query: $("#cc-search-query").val(),
                groupid: $("#select-input").val()
            },
            success: function (data) {
                setTimeout(function () {
                    $(".BeAlert_overlay,.BeAlert_box").remove();
                    $("#cc-list").html(data);
                }, 500)
            }
        })
    });
</script>




