@model PeriodAid.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "忘记了密码?";
}
<div style="overflow:hidden">
    <div class="row">
        <div class="col-md-3" style="background-color:grey;opacity:0.9;position:absolute;left:37.5%;top:32.5%;">
            <section id="loginForm">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                    @Html.AntiForgeryToken()
                    <form class="form-horizontal">
                        <div class="modal-header">
                            <h3 class="modal-title col-md-6"><strong>忘记密码</strong></h3>
                        </div>
                        <br />
                        <div class="row">
                            <div class="input-group col-md-10 col-md-offset-1">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    </div>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" ,@placeholder="请输入注册邮箱地址"})
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3"><button type="submit" value="获取电子邮件" class="btn btn-success btn-block">发送重置邮件</button></div>
                        </div>
                    </form>
                }
            </section>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}