
@{
    ViewBag.Title = "促销员信息";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingFour";
}
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>促销员：</label>
            <input class="form-control input-sm offline-search-inline" id="offseller-seller-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="offseller-seller-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<div>
    <ul class="list-inline list-unstyled row">
        <li><a class="btn btn-info btn-sm" id="offseller-seller-create"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增促销员信息</a></li>
        <li><a class="btn btn-info btn-sm" id="offseller-seller-upload"><i class="fa fa-upload"></i>&nbsp;&nbsp;上传促销员信息</a></li>
        <li><a class="btn btn-info btn-sm" id="offseller-seller-updown"><i class="fa fa-download"></i>&nbsp;&nbsp;下载工资表</a></li>
    </ul>
</div>
<div id="offseller-seller-list">

</div>
@Html.Partial("modal")
<div class="modal fade" id="modal-downloadsalary">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">下载工资数据表</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="start-date" class="sr-only">开始时间</label>
                            <input type="text" id="start-date" class="form-control input-sm" placeholder="开始时间" />
                        </div>
                        <div class="form-group">
                            <label for="end-date" class="sr-only">开始时间</label>
                            <input type="text" id="end-date" class="form-control input-sm" placeholder="结束时间" />
                        </div>
                        <button type="submit" class="btn btn-default btn-sm" id="modal-downloadsalary-submit"><i class="fa fa-download"></i>&nbsp;&nbsp;下载</button>
                    </form><br />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $(function () {
        $.ajax({
            url: "/OffSeller/SellerListPartial",
            success: function (data) {
                $("#offseller-seller-list").html(data);
            }
        });
        //搜索
        $("#offseller-seller-search").click(function () {
            $.ajax({
                url: "/OffSeller/SellerListPartial",
                data: {
                    query: $("#offseller-seller-query").val()
                },
                success: function (data) {
                    $("#offseller-seller-list").html(data);
                }
            })
        });
        //新增促销员
        $("#offseller-seller-create").click(function () {
            var link_url = "/OffSeller/AddSellerPartial"
            var head = "新增促销员信息"
            $.ajax({
                url: link_url,
                success: function (data) {
                    $(".modal-con").html(data);
                    $(".modal-box").modal();
                    $(".modal-head").text(head)
                }
            })
            return false
        });
        //上传促销员信息
        $("#offseller-seller-upload").click(function () {
            var link_url = "/OffSeller/UploadSeller"
            var head = "上传促销员信息"
            $.ajax({
                url: link_url,
                success: function (data) {
                    $(".modal-con").html(data);
                    $(".modal-box").modal();
                    $(".modal-head").text(head)
                }
            })
            return false
        });
        //下载工资表
        $("#offseller-seller-updown").click(function () {
            $("#modal-downloadsalary").modal();
        });
        $("#modal-downloadsalary-submit").click(function () {
            var start = $("#start-date").val();
            var end = $("#end-date").val();
            window.location.href = "/OffSeller/DownloadSalaryFile?start=" + start + "&end=" + end;
            return false;
        });
    });
</script>
