
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>寿全斋 - 百家企业送姜茶</title>
    <meta name="author" content="寿全斋电子商务有限公司">
    <link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <style type="text/css">
        body {
            background: url(/Content/images/upfeathers.png);
        }
    </style>
</head>
<body>
    <div class="container text-center"><br /><br /><br /><br /><br />
        <h3 class="text-danger"><b>发生错误</b></h3>
        <h4>请重新授权页面后登陆</h4>
    <br /><br /><br />
    </div>
</body>
</html>
