@model PeriodAid.Models.CustomOrder
@{
    ViewBag.Title = "CustomSuccess";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container text-center">
    <br /><br />
    <span class="logo-icon text-success"><i class="fa fa-check-circle"></i></span>
    <h3 class="text-success">图片处理成功</h3><br />
    <h4>您的订单号<br />
    @Model.OrderNumber</h4>
    <br />
    <h4>(3/3)</h4>
</div>

