@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>红包系统</title>
    <link href="/Content/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
            <ul class="list-unstyled text-center">
                <li style="background-color:#b11c39;">
                    <img class="img-responsive center-block img-rounded" src="~/Content/images/redmoney_01.png" style="padding-top:6%; padding-bottom:6%; margin:auto;">
                </li>
                <li class="text-center">
                    <img src="~/Content/images/redmoney_02.png" class="img-responsive" style="padding-top:4%;padding-bottom:6%; margin:auto;">
                </li>
                <li>
                    <h2 class="text-center" style="color:#b31a38"><span class="glyphicon-ok-sign glyphicon text-success" aria-hidden="true"></span>&nbsp;&nbsp;红包已发放</h2>
                    <br />
                    <h4>返回微信领取红包</h4>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>