<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">无限循环</div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="infinitescroll">
        <div class="page-content infinite-scroll">
            <div class="list-block">
                <ul>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片一</div>
                            <div class="item-after">2016-07-06</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片二</div>
                            <div class="item-after">2016-07-02</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片三</div>
                            <div class="item-after">2016-07-01</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片四</div>
                            <div class="item-after">2016-07-03</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片五</div>
                            <div class="item-after">2016-07-05</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片六</div>
                            <div class="item-after">2016-07-04</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片七</div>
                            <div class="item-after">2016-07-08</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片六</div>
                            <div class="item-after">2016-07-04</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片七</div>
                            <div class="item-after">2016-07-08</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片六</div>
                            <div class="item-after">2016-07-04</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片七</div>
                            <div class="item-after">2016-07-08</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片六</div>
                            <div class="item-after">2016-07-04</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片七</div>
                            <div class="item-after">2016-07-08</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片六</div>
                            <div class="item-after">2016-07-04</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片七</div>
                            <div class="item-after">2016-07-08</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片六</div>
                            <div class="item-after">2016-07-04</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片七</div>
                            <div class="item-after">2016-07-08</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片六</div>
                            <div class="item-after">2016-07-04</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片七</div>
                            <div class="item-after">2016-07-08</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片六</div>
                            <div class="item-after">2016-07-04</div>
                        </div>
                    </li>
                    <li class="item-content">
                        <div class="item-inner">
                            <div class="item-title">图片七</div>
                            <div class="item-after">2016-07-08</div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--加载提示-->
            <div class="infinite-scroll-preloader">
                <div class="preloader"></div>
            </div>
        </div>
    </div>
</div>