
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">库存查看</div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="managersystem-warning">
        <div class="page-content">
            <div class="list-block">
                <div class="list-group">
                    <ul>
                        <li class="list-group-title">库存销量不足50</li>
                        <li>
                            <a href="#" class="item-content item-link manager-warning-open">
                                <div class="item-inner">
                                    <div class="item-title">大润发-江山店</div>
                                    <div class="item-after">点击查看</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="item-content item-link manager-warning-open">
                                <div class="item-inner">
                                    <div class="item-title">大润发-象山店</div>
                                    <div class="item-after">点击查看</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="picker-modal picker-info">
                <div class="toolbar">
                    <div class="toolbar-inner">
                        <div class="left"></div>
                        <div class="right"><a href="#" class="close-picker">关闭</a></div>
                    </div>
                </div>
                <div class="picker-modal-inner">
                    <div class="list-block">
                        <div class="list-group picker-modal-bg">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">红糖姜茶</div>
                                            <div class="item-title">22</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">黑糖姜茶</div>
                                            <div class="item-title">35</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">柠檬姜茶</div>
                                            <div class="item-title">33</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
