

<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">历史记录</div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div data-page="personalinformation" class="page">
        <div class="page-content">
            <form action="send-here.html" method="GET" class="ajax-submit">
                <div class="list-block">
                    <ul>
                        <!-- Text inputs -->
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">姓名</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Your name">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">邮箱</div>
                                    <div class="item-input">
                                        <input type="email" placeholder="E-mail">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">电话</div>
                                    <div class="item-input">
                                        <input type="number" placeholder="Phone">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">开户行</div>
                                    <div class="item-input">
                                        <input type="text" placeholder="Bank">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">银行卡号</div>
                                    <div class="item-input">
                                        <input type="number" placeholder="Card">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">身份证</div>
                                    <div class="item-input">
                                        <input type="number" placeholder="ID Card">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>
            <div class="content-block">
                <a  href="#" type="submit" class="button button-big button-fill color-green">提交</a>
            </div>
        </div>
    </div>
</div> 