
@{
    ViewBag.Title = "日销售信息";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingTwo";
}
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>门店名称：</label>
            <input class="form-control input-sm offline-search-inline" id="offsales-search-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="offsales-search-btn"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<div>
    <ul class="list-inline list-unstyled row">
        <li><a class="btn btn-info btn-sm" id="offsales-add-daily"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增报表</a></li>
        <li><a class="btn btn-info btn-sm" id="offsales-upload-daily"><i class="fa fa-calendar-plus-o"></i>&nbsp;&nbsp;上传日报表</a></li>
        <li><a class="btn btn-danger btn-sm" id="offsale-batchdelete">删除信息</a></li>
        <li><a class="btn btn-info btn-sm" id="offseller-seller-updown"><i class="fa fa-download"></i>&nbsp;&nbsp;下载促销信息</a></li>
    </ul>
</div><br />
<div id="offsales-list">

</div>

@Html.Partial("modal")
<div class="modal fade" id="modal-downloadsales">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">下载工资数据表</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="start-date" class="sr-only">开始时间</label>
                            <input type="text" id="start-date" class="form-control input-sm" placeholder="开始时间" />
                        </div>
                        <div class="form-group">
                            <label for="end-date" class="sr-only">开始时间</label>
                            <input type="text" id="end-date" class="form-control input-sm" placeholder="结束时间" />
                        </div>
                        <button type="submit" class="btn btn-default btn-sm" id="modal-downloadsalary-submit"><i class="fa fa-download"></i>&nbsp;&nbsp;下载</button>
                    </form><br />
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script>
    $(function () {
        $.ajax({
            url: "/OffSales/DailySalesListPartial",
            success: function (data) {
                $("#offsales-list").html(data);
            }
        });
    });
    //日报表搜索
    $("#offsales-search-btn").click(function () {
        $.ajax({
            url: "/OffSales/DailySalesListPartial",
            data: {
                query: $("#offsales-search-query").val()
            },
            success: function (data) {
                $("#offsales-list").html(data);
            }
        });
    });
    //新增日报表
    $("#offsales-add-daily").click(function () {
        var url = "/OffSales/CreateSalesDailyPartial"
        var head="新增日报表"
        $.ajax({
            url: url,
            data: {
                random: Date.now()
            },
            success: function (data) {
                $(".modal-con").html(data);
                $(".modal-box").modal();
                $(".modal-head").text(head)
            }
        });
        return false
    });
    //上传日报表
    $("#offsales-upload-daily").click(function () {
        var url = "/OffSales/UploadDailySales"
        var head = "上传日报表"
        $.ajax({
            url: url,
            data: {
                random: Date.now()
            },
            success: function (data) {
                $(".modal-con").html(data);
                $(".modal-box").modal();
                $(".modal-head").text(head)
            }
        });
        return false
    });
    //日报表批量删除
    $("#offsale-batchdelete").click(function () {
        var url = "/OffSales/DeleteDailySalesBatchAjax"
        var link_url = "/OffSales/DailySalesListPartial"
        var $list = $("#offsales-list")
        // 判断是否至少选择一项
        var checkedNum = $("input[name='subChk']:checked").length;
        if (checkedNum == 0) {
            alert("请选择至少一项！");
            return;
        }
        // 批量选择
        if (confirm("确定要删除所选项目？")) {
            var checkedList = new Array();
            $("input[name='subChk']:checked").each(function () {
                checkedList.push($(this).val());
            });
            $.ajax({
                type: "post",
                url: url,
                data: {
                    ids: checkedList.toString()
                },
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        setTimeout(function () {
                            $.ajax({
                                url: link_url,
                                success: function (data) {
                                    $list.html(data)
                                }
                            });
                            alert("批量删除成功")
                        }, 1000);
                    }
                }
            });
        }
    });
    //下载工资表
    $("#offseller-seller-updown").click(function () {
        $("#modal-downloadsales").modal();
    });
    $("#modal-downloadsalary-submit").click(function () {
        var start = $("#start-date").val();
        var end = $("#end-date").val();
        window.location.href = "/OffSales/DownloadSalaryFile?start=" + start + "&end=" + end;
        return false;
    });
</script>



