@model IEnumerable<PeriodAid.Models.CustomOrder>

<table class="table table-striped">
    <tr>
        <th class="col-xs-4">
            订单编号
        </th>
        <th class="col-xs-2">
            昵称
        </th>
        <th class="col-xs-2">
            订单状态
        </th>
        <th class="col-xs-4">

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @(item.OrderStatus == 1 ? "上传完毕" : "未完成")
            </td>
            <td class="text-right">
                <a href="~/Content/downloads/@item.CropImage" class="btn btn-default">下载图片</a>&nbsp;&nbsp;
                <a href="~/Content/downloads/@item.OrignalImage" class="btn btn-danger">下载原图</a>
                <a href="javascript:void(0)" class="confirm-done btn btn-success" rel="@item.Id">打印</a>
            </td>
        </tr>
    }

</table>
<script>
    $(".confirm-done").click(function () {
        var btn = $(this);
        var order_id = $(this).attr("rel");
        $.ajax({
            url: "/TestAdmin/AjaxComfirmedOrder",
            data: {
                id: order_id
            },
            success: function (data) {
                if (data.result == "SUCCESS") {
                }
            }
        });
    });
</script>
