
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>寿全斋试题系统</h2>

<a href="/TestAdmin/AddQuestion" class="btn btn-default btn-success">添加试题</a>
<a href="/TestAdmin/QuestonList/3" class="btn btn-default">销售基础试题列表</a>
<a href="/TestAdmin/QuestonList/4" class="btn btn-default">销售定制试题列表</a>
<a href="/TestAdmin/QuestonList/5" class="btn btn-default">客服基础定制列表</a>
<a href="/TestAdmin/QuestonList/6" class="btn btn-default">销售定制试题列表</a><br />

<br /><br />
<a href="/TestAdmin/ExamResultList" class="btn btn-default btn-info">考试结果查看</a>


