@model IEnumerable<PeriodAid.Models.Off_SellerTask>


    @{
        ViewBag.Title = "TaskSellerHome";
        Layout = "~/Views/Shared/_OffLayout.cshtml";
        ViewBag.Current = "headingTen";
    }
<table class="table table-hover table-condensed" table-layout:fixed">
    <tr class="offline-table-background">
        <th>日期</th>
        <th>总库存</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ApplyDate.ToString("yyyy-MM-dd")
            </td>
            <td>
                @Html.Encode(item.Off_SellerTaskProduct.Sum(m => m.StorageCount))
            </td>
            <td>
                @Html.ActionLink("查看数据", "TaskSellerQueryDetails", new { id = item.Id }, new { @class = "btn btn-xs btn-info offseller-taskpartial-btn" })
            </td>
        </tr>
    }
</table>
