
@{
    ViewBag.Title = "ExpensesIndex";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingThree";
}
<div class="container">
    <ul class="nav nav-tabs row">
        <li role="presentation" class="active"><a class="offexpenses-label" href="javascript:;" type="button" data-rel="0">进场费</a></li>
        <li role="presentation"><a class="offexpenses-label" href="javascript:;" type="button" data-rel="1">活动费</a></li>
    </ul>
</div><br />
<div class="container">
    <ul class="list-inline list-unstyled row">
        <li><a class="btn btn-info btn-sm" id="offexpenses-add"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增费用</a></li>
    </ul>
</div>
<br />
<div class="col-md-12" id="offexpenses-list">

</div>
<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-header"></h4>
            </div>
            <div class="modal-body" id="modal-body">

            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $.ajax({
            url: "/OffExpenses/ExpensesListPartial",
            success: function (data) {
                $("#offexpenses-list").html(data);
            }
        });
    });
    $(".offexpenses-label").click(function () {
        var button = $(this);
        $(this).parent("li").addClass("active").siblings().removeClass("active");
        $("#offexpenses-label-status").val($(button).attr("data-rel"));
        $.ajax({
            url: "/OffExpenses/ExpensesListPartial?type=" + $("#offexpenses-label-status").val(),
            success: function (data) {
                $("#offexpenses-list").html(data);
            }
        });
    });
    $("#offexpenses-add").click(function () {
        var url = "/OffExpenses/AddExpensesPartial"
        var header = "新增费用"
        $.ajax({
            url: url,
            success: function (data) {
                $("#modal-header").text(header)
                $("#modal-body").html(data)
                $('#modal').modal()
            }
        });
        return false
    });
</script>






