
@{
    ViewBag.Title = "ExpensesIndex";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingThree";
}
<div class="container">
    <ul class="nav nav-tabs row">
        <li role="presentation" class="active"><a class="offexpenses-label" href="javascript:;" type="button" data-rel="0">进场费</a></li>
        <li role="presentation"><a class="offexpenses-label" href="javascript:;" type="button" data-rel="1">活动费</a></li>
    </ul>
</div><br />
<div class="container">
    <ul class="list-inline list-unstyled row">
        <li><a class="btn btn-info btn-sm" id="offexpenses-add"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增费用</a></li>
    </ul>
</div>
<br />
<div class="col-md-12" id="offexpenses-list">

</div>
@Html.Partial("modal")
<script>
    $(function () {
        $.ajax({
            url: "/OffExpenses/ExpensesListPartial",
            success: function (data) {
                $("#offexpenses-list").html(data);
            }
        });
    });
    //进场费，活动费标签页
    $(".offexpenses-label").click(function () {
        var button = $(this);
        $(this).parent("li").addClass("active").siblings().removeClass("active");
        $("#offexpenses-label-status").val($(button).attr("data-rel"));
        $.ajax({
            url: "/OffExpenses/ExpensesListPartial?type=" + $("#offexpenses-label-status").val(),
            success: function (data) {
                $("#offexpenses-list").html(data);
            }
        });
    });
    //新增费用
    $("#offexpenses-add").click(function () {
        var url = "/OffExpenses/AddExpensesPartial"
        var head = "新增费用"
        $.ajax({
            url: url,
            success: function (data) {
                $(".modal-con").html(data);
                $(".modal-box").modal();
                $(".modal-head").text(head)
            }
        });
        return false
    });
</script>






