
@{
    ViewBag.Title = "RightsList";
    Layout = "~/Views/Shared/_AccountRightsLayout.cshtml";
}
<table class="offline-search-box" style="margin-bottom:10px">
    <tr>
        <td class="float-right">
            <label>姓名：</label>
            <input class="form-control input-sm offline-search-inline" style="height:30px" id="employee_name" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="employee_search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<div id="manager_list">
</div>
@section scripts{
<script>
    $(function () {
        $.ajax({
            url: "/AccountRights/RightsListPartial",
            success: function (data) {
                $("#manager_list").html(data)
            }
        });
        //搜索
        $("#employee_search").click(function () {
            var query = $("#employee_name").val();
            var url = "/AccountRights/RightsListPartial"
            $.ajax({
                url: url,
                data: {
                    query: query
                },
                success: function (data) {
                    $("#manager_list").html(data)
                }
            })
        });
    })
</script>
    }


