@{
    ViewBag.Title = "Calc_Storage";
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";
}
@section header{
    <style>
        .table > tbody > tr > th {
            vertical-align: middle;
        }
        .table > tbody > tr > td{
            vertical-align: middle;
        }
    </style>
}
<h2 style="position:relative;top:30px">入库预估</h2>

@Html.Hidden("PlattformId", (int)ViewBag.PlattformId)
<div id="storage_show" style="position:relative">
    <div class="btn-group" role="group" style="position:absolute;top:-10px;right:130px;z-index:999">
        <button type="button" class="btn btn-primary date-select" data-date="7">7天</button>
        <button type="button" class="btn btn-primary date-select" data-date="15">15天</button>
        <button type="button" class="btn btn-primary date-select" data-date="30">30天</button>
    </div>
    <div class="center-block" id="my-form-content">
        <!-- Tab panes -->
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            /*$(".calc_rate").change(function () {
                $(this).parent().siblings(".calc_value").text(calc_value(this));
            })
            $(".calc_rate").each(function () {
                $(this).parent().siblings(".calc_value").text(calc_value(this));
            });*/
            
            $.ajax({
                url: '/PlattformInventory/Calc_StoragePartial',
                data: {
                    plattformId: getUrlParam('plattformId'),
                    days: $('.date-select').eq(1).attr('data-date')
                },
                success: function (data) {
                    $("#my-form-content").html(data);
                    $('.date-view-select').html($('.date-select').eq(1).attr('data-date') + '天')
                    $('.date-select').eq(1).addClass('active')
                    $('.hot-product').each(function () {
                        if ($(this).attr('data-bind') != 1) {
                            $(this).find('.fire-box').css('opacity', '0')
                        } else if ($(this).attr('data-bind') == 0) {
                            $(this).find('.fire-box').remove();
                        }
                    })
                }
            })
            //获取url中的参数
            function getUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
                var r = window.location.search.substr(1).match(reg);  //匹配目标参数
                if (r != null) return unescape(r[2]); return null; //返回参数值
            }
            $('.date-select').on('click', function () {
                $('.date-select').eq(1).removeClass('active')
                var that=$(this)
                $.ajax({
                    url: '/PlattformInventory/Calc_StoragePartial',
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        days: that.attr('data-date')
                    },
                    success: function (data) {
                        $("#my-form-content").html(data);
                        $('.date-view-select').html(that.attr('data-date') + '天')
                        $('.hot-product').each(function () {
                            if ($(this).attr('data-bind') > 0) {
                                $(this).find('.box').addClass('fire-box')
                            } else if ($(this).attr('data-bind') == 0) {
                                $(this).find('.fire-box').remove();
                            }
                        })
                    }
                })
            })
        });
        /*function calc_value(obj) {           
            var sales = $(obj).parent().siblings(".calc_sales").html();
            var storage = $(obj).parent().siblings(".calc_storage").text();
            var rate = $(obj).val();
            return (sales * rate) - storage <= 0 ? 0 : (sales * rate) - storage;
        }*/
    </script>
    }



