@{
    ViewBag.Title = "Calc_Storage";
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";
}

<h2>入库预估</h2>
<div class="btn-group" role="group" style="position:absolute;top:23px;right:16px">
    <button type="button" class="btn btn-primary date-select" data-date="7">7天</button>
    <button type="button" class="btn btn-primary date-select" data-date="15">15天</button>
    <button type="button" class="btn btn-primary date-select" data-date="30">30天</button>
</div>
<h2></h2>
@Html.Hidden("PlattformId", (int)ViewBag.PlattformId)
<div id="storage_show">
    <div class="center-block" id="my-form-content">
        <!-- Tab panes -->
        
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            /*$(".calc_rate").change(function () {
                $(this).parent().siblings(".calc_value").text(calc_value(this));
            })
            $(".calc_rate").each(function () {
                $(this).parent().siblings(".calc_value").text(calc_value(this));
            });*/
            $.ajax({
                url: '/PlattformInventory/Calc_StoragePartial',
                data: {
                    plattformId: $("#PlattformId").val()
                },
                success: function (data) {
                    $("#my-form-content").html(data);
                }
            })
        });
        /*function calc_value(obj) {           
            var sales = $(obj).parent().siblings(".calc_sales").html();
            var storage = $(obj).parent().siblings(".calc_storage").text();
            var rate = $(obj).val();
            return (sales * rate) - storage <= 0 ? 0 : (sales * rate) - storage;
        }*/

        // 7天 15天 30天
        $('.date-select').on('click', function () {
            $('.date-view-select').html($(this).attr('data-date')+'天')
        })
    </script>
    }



