@{
    ViewBag.Title = "Calc_Storage";
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";
}
@section header{
    <style>
        .table > tbody > tr > th {
            vertical-align: middle;
        }
        .table > tbody > tr > td{
            vertical-align: middle;
        }
    </style>
}
<h2 style="position:relative;top:30px">入库预估</h2>

<div id="storage_show" style="position:relative">
    <div class="btn-group" role="group" style="position:absolute;top:-10px;right:130px;z-index:999">
        
    </div>
    <div class="center-block" id="my-form-content">
        <!-- Tab panes -->
    </div>
</div>
<div class="tm-veiw-loading text-center" id="tm-view-loading" style="height:100%;">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i><br><h4>数据处理中，请稍后...</h4>
</div>
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: '/PlattformInventory/Calc_StoragePartial',
                data: {
                    plattformId: getUrlParam('plattformId'),
                    days: $('.date-select').eq(1).attr('data-date')
                },
                success: function (data) {
                    $("#my-form-content").html(data);
                    $('.date-view-select').html($('.date-select').eq(1).attr('data-date') + '天')
                    $('.date-select').eq(1).addClass('active')
                    $('#tm-view-loading').hide()
                }
            })
            $('.date-select').on('click', function () {
                $('.date-select').eq(1).removeClass('active')
                var that=$(this)
                $.ajax({
                    url: '/PlattformInventory/Calc_StoragePartial',
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        days: that.attr('data-date')
                    },
                    success: function (data) {
                        $("#my-form-content").html(data);
                        $('.date-view-select').html(that.attr('data-date') + '天')
                    }
                })
            })
        });
    </script>
    }



