@{
    ViewBag.Title = "Calc_Storage";
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";
}

<h2></h2>
@Html.Hidden("PlattformId", (int)ViewBag.PlattformId)
<div id="storage_show">
    <div class="center-block" id="my-form-content">
        <!-- Tab panes -->
        
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            /*$(".calc_rate").change(function () {
                $(this).parent().siblings(".calc_value").text(calc_value(this));
            })
            $(".calc_rate").each(function () {
                $(this).parent().siblings(".calc_value").text(calc_value(this));
            });*/
            $.ajax({
                url: '/PlattformInventory/Calc_StoragePartial',
                data: {
                    plattformId: $("#PlattformId").val()
                },
                success: function (data) {
                    $("#my-form-content").html(data);
                }
            })
        });
        /*function calc_value(obj) {           
            var sales = $(obj).parent().siblings(".calc_sales").html();
            var storage = $(obj).parent().siblings(".calc_storage").text();
            var rate = $(obj).val();
            return (sales * rate) - storage <= 0 ? 0 : (sales * rate) - storage;
        }*/

    </script>
    }



