@{
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";
}
<div id="form-view-content">
    <div class="h2">分舱单下载</div>
    <form action="/PlattformInventory/StorageOrder" method="post" enctype="multipart/form-data" id="up-file-form">
        <input type="file" id="file-name" name="file-name" class="hidden" />
        <a href="javascript:;" id="upload" style="margin-left:0">选择文件</a>
        <input type="submit" class="btn btn-danger" id="file-form-sub" style="padding:3px 12px;width:auto" value="提交并下载" />
    </form>
    
    <div class="tm-view-content-container  tm-view-container" id="file-loading" style="top:0;height:500px">
        <div class="tm-veiw-loading text-center" id="tm-view-loading">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i>
            <span class="sr-only">正在加载...</span>
        </div>
    </div>
</div>
@section scripts{
<script>
    $("#file-loading").hide()
    $('#upload').on('click', function () {
        $('#file-name').trigger('click')
    })
    // 显示文件名
    $('#file-name').change(function () {
        if ($(this).val() != "") {
            var file = $("#file-name").val();
            var fileName = file.lastIndexOf('\\')
            var strName = file.substring(fileName + 1)
            $('#upload').text(strName)
        } else {
            $('#upload').text("选择文件")
        }
    })
    $('#file-form-sub').on('click', function () {
        var fileVal = $('#file-name').val();
        if (fileVal == '') {
            errorAlert('请选择上传文件')
            return false;
        } else {
            alert('提交成功')
            $('#upload').text("选择文件")
        }
    })
</script>
    }