
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<form action="/PlattformInventory/uploadfile">
    <input type="file" accept=".xlsx,.csv" />文件上传
</form>

