@{
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";

}
<div class="navbar-default tm_task-navbar" style="padding-top:10px">
    <div id="nav-table-show">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-pills" id="form-select-ul" role="tablist" style="font-size:14px">
            @foreach (var item in ViewBag.storage)
            {
                <li role="presentation" class="form-select-li"><a href="#" role="tab" data-toggle="tab" data-ssid="@item.Id" class="form-select-a" width="250+@item.Id">@item.Storage_Name</a></li>
            }
        </ul>
    </div>
    <div class="text-center h2" style="padding:20px 0;">销量清单</div>
    <div>
        <div class="form-view-header clear-float">
            <div>
                <div class="tm-view-control">
                    <ul class="nav nav-pills" style="float:right">
                        <li class="tm-view-control-sort dropdown">
                            <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
                                <span class="tm-select-title">选择日期</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-progress"></ul>

                        </li>
                        <li>
                            <a href="#">
                                <span>导入Excel文件</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>导出Excel文件</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>      
        <div id="my-form-content">

        </div>
    </div>

</div>
<script>
    // 初始化数据
    $(function () {
        //$('#form-select-ul .form-select-li').eq(0).addClass('active');
        $.ajax({
            url: '/PlattformInventory/PlattformInventory_form/',
            type: 'get',
            data: {
                    
            },
            success: function (data) {
                $('#my-form-content').html(data)
            }
        })
    
    })
    //$('.form-select-li').on('click', function () {
    //    var that = $(this)
    //    if (!that.hasClass('active')) {
    //        var strageName = that.children('.form-select-a').attr('data-ssid')
    //        $.ajax({
    //            url: '/PlattformInventory/PlattformInventory_form/',
    //            type: 'get',
    //            data: {
    //                strageName
    //            },
    //            success: function (data) {
    //                console.log(data)
    //                $('#my-form-content').html(data)
    //            }
    //        })
    //    }

    //})
</script>