@{ 
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";

}


<div class="navbar-default tm_task-navbar" style="padding-top:10px">
    <div id="nav-table-show">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-pills" role="tablist" style="font-size:14px">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">京东上海仓</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">京东北京仓</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">京东武汉仓</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">京东广州仓</a></li>
        </ul>
    </div>
    <div class="text-center h2" style="padding:20px 0;">销量清单</div>
    <div>
        <div class="form-view-header clear-float">
            <div>
                <div class="tm-view-control">
                    <ul class="nav nav-pills" style="float:right">
                        <li>
                            <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
                                <span class="tm-select-title">选择日期</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">day1</a></li>
                                <li><a href="#">day2</a></li>
                                <li><a href="#">day3</a></li>
                                <li><a href="#">day4</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <span>导入Excel文件</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>导出Excel文件</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="center-block">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>产品编号</th>
                                <th>商品名称</th>
                                <th>全国总销量</th>
                                <th>全国总库存</th>
                                <th>总可订购</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1518901</th>
                                <td><a href="http://www.baidu.com/">【京东超市】寿全斋 胎菊 菊花茶 杭白菊 35g/罐</a></td>
                                <td>1</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品2</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品4</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品5</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品6</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>产品编号</th>
                                <th>商品名称</th>
                                <th>全国总销量</th>
                                <th>全国总库存</th>
                                <th>总可订购</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1518901</th>
                                <td>【京东超市】寿全斋 胎菊 菊花茶 杭白菊 35g/罐</td>
                                <td>2</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品2</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品4</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品5</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品6</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>产品编号</th>
                                <th>商品名称</th>
                                <th>全国总销量</th>
                                <th>全国总库存</th>
                                <th>总可订购</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1518901</th>
                                <td>【京东超市】寿全斋 胎菊 菊花茶 杭白菊 35g/罐</td>
                                <td>3</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品2</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品4</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品5</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品6</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="settings">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>产品编号</th>
                                <th>商品名称</th>
                                <th>全国总销量</th>
                                <th>全国总库存</th>
                                <th>总可订购</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1518901</th>
                                <td>【京东超市】寿全斋 胎菊 菊花茶 杭白菊 35g/罐</td>
                                <td>4</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品2</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品4</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品5</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">产品6</th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>





