@{
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";
}
<div id="form-view-content">
    <div id="traffic-view">
        <div style="margin-bottom:10px">
            <form action="/PlattformInventory/UploadTrafficFile" method="post" enctype="multipart/form-data" id="up-traffic-form">
                <input type="text" id="file-date" readonly="readonly" autocomplete="off" name="file-date" style="height:26px;padding-left:5px" />
                <input type="file" id="traffic-name" name="file-name" class="hidden" />
                <a href="javascript:;" id="upload-traffic">选择文件</a>
                <input type="submit" class="btn btn-danger disabled" id="traffic-form-sub" />
            </form>
            <a class="btn btn-primary traffic-submit float-right disabled" href="javascript:;" id="download_calc" style="line-height:15px;top:-27px;z-index:10;margin-right:20px">下载</a>
            <form method="post" id="calc_form"></form>
        </div>
        <div style="padding:0" class="col-md-10">
            <a class="btn btn-danger traffic-submit" href="javascript:;" id="hot-download" onclick="$('#hot_form').submit();">爆款统计下载</a>
            <form method="post" id="hot_form" action="/PlattformInventory/getHotExcel"></form>
        </div>
        <div class="tm-calendar-view tm-view" style="display:block;position: relative;top:0;height: 521px;z-index:0">
            <div class="tm-view-header tm-calendar-view-header">
                <div class="tm-view-header-select">
                </div>
                <div class="tm-calendar-view-control tm-view-control">
                    <a href="javascript:;" class="tm-calendar-view-control tm-calendar-prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <span id="current-date" class="tm-calendar-view-control tm-calendar-currentmonth color-blue">@Html.Encode(DateTime.Now.ToString("yyyy-MM"))</span>
                    <a href="javascript:;" class="tm-calendar-view-control tm-calendar-next"><span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <div class="tm-view-content tm-calendar-view-content">
                <div class="tm-view-content-wrap  tm-view-wrap tm-calendar-view-wrap" id="tm-calendar-view-wrap">
                </div>
            </div>
        </div>
        @*<div class="col-md-5">
            <a class="btn btn-danger traffic-submit" href="javascript:;" id="source-download" onclick="$('#source_form').submit();">渠道统计下载</a>
            <form method="post" id="source_form" action="/PlattformInventory/getHotSourceExcel"></form>
        </div>*@
    </div>
    <div class="tm-view-content-container  tm-view-container" id="file-loading" style="top:0;height:800px">
        <div class="tm-veiw-loading text-center" id="tm-view-loading">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i>
            <span class="sr-only">正在加载...</span>
        </div>
    </div>
</div>
@section scripts{
<script>
    $("#file-loading").hide()
    $('#upload-traffic').click(function () {
        $('#traffic-name').trigger('click')
    })
    //日期格式改变
    $("#file-date").datepicker({ dateFormat: "yy-mm-dd" });
    //星期格式汉化
    $("#file-date").datepicker("option", "dayNamesMin", ["日", "一", "二", "三", "四", "五", "六"]);
    //月份格式汉化
    $("#file-date").datepicker("option", "monthNames", ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]);
    $("#file-date").datepicker();
    // 截取文件名
    $('#traffic-name').change(function () {
        if ($(this).val() != "") {
            var file = $("#traffic-name").val();
            var fileName = file.lastIndexOf('\\')
            strName = file.substring(fileName + 1)
            $('#upload-traffic').text(strName)
            var plattformName = strName.substring(0, strName.indexOf(".")).toUpperCase()
            $(this).attr("data-name", plattformName)
        } else {
            $('#upload-traffic').text("选择文件")
        }
    })
    // 上传
    $("#traffic-form-sub").click(function () {
        $(this).addClass("disabled")
        var dataVal = $('#file-date').val()
        var fileVal = $("#traffic-name").val()
        if (dataVal && fileVal != '') {
            $('#file-loading').show()
            $('#traffic-form-sub').attr('disabled', 'disabled')
            $("#up-traffic-form").ajaxSubmit({
                url: "/PlattformInventory/UploadTrafficFile",
                type: "post",
                data: {
                    plattformId: 1,
                    plattformName: $('#traffic-name').attr("data-name")
                },
                success: function (msg) {
                    if (msg.result == "SUCCESS") {
                        $.ajax({
                            url: "/PlattformInventory/TrafficUploadFilePartial",
                            type: "post",
                            data: {
                                plattformId: getUrlParam('plattformId'),
                                month: $("#current-date").text() + "-01"
                            },
                            success: function (data) {
                                var dataDate = $('.tm-calendar-monthofdate')
                                for (var i = 0; i < dataDate.length; i++) {
                                    var nowDate = dataDate.eq(i).attr('date-day');
                                    for (var j = 0; j < data.length; j++) {
                                        record = data[j].record_date.ToString("yyyy-MM-dd");
                                        if (record == nowDate) {
                                            dataDate.eq(i).parent().addClass('glyphicon glyphicon-star')
                                        }
                                    }
                                }
                                $('#file-loading').hide()
                                $('#traffic-form-sub').removeAttr('disabled')
                                alert("上传成功")
                            },
                            error: function () {
                                errorAlert("请求数据失败。");
                                $("#file-loading").hide();
                                $('#traffic-form-sub').removeAttr('disabled')
                            }
                        });
                    }
                    else {
                        errorAlert("上传失败");
                        $("#file-loading").hide();
                        $('#traffic-form-sub').removeAttr('disabled')
                    }
                }
            });
        } else {
            errorAlert('请选择日期或上传文件')
            $('#file-date').val('')
            $('#upload-traffic').text('选择文件')
        }
        return false;
    });
    // 下载
    $("#file-date").on("change", function () {
        $("#download_calc").removeClass("disabled")
        $("#traffic-form-sub").removeClass("disabled")
    })
    $("#download_calc").on("click", function () {
        $(this).addClass("disabled")
        $.confirm({
            title: '是否需要删除品相',
            content: '',
            boxWidth: '500px',
            theme: 'modern',
            useBootstrap: false,
            buttons: {
                heyThere: {
                    text: '是',
                    action: function () {
                        var html = '<input class="product_select" style="position: relative;top: 1px;left: -9px;display:inline-block;" type="checkbox" value="6440641" name="product">酸梅汁12罐<input class="product_select" style="margin-left:20px;position: relative;top: 1px;left: -9px;display:inline-block;" type="checkbox" value="5922397" name="product">谷物粉+姜茶2'
                        var html2 = '<input class="product_select" style="position: relative;top: 1px;left: -9px;display:inline-block;" type="checkbox" value="5873123" name="product">kuos水<input class="product_select" style="margin-left:50px;position: relative;top: 1px;left: -9px;display:inline-block;" type="checkbox" value="5268081" name="product">谷物粉450g'
                        $.confirm({
                            title: '选择删除品相',
                            content: '<div class="form-group" style="text-align: left;margin-left: 26%;">' + html + '</div>' +
                                '<div class="form-group" style="text-align: left;margin-left: 26%;">' + html2 + '</div>',
                            theme: 'modern',
                            boxWidth: '500px',
                            useBootstrap: false,
                            buttons: {
                                formSubmit: {
                                    text: '提交',
                                    btnClass: 'btn-blue',
                                    action: function () {
                                        var product_list = [];
                                        $("[name='product']:checked").each(function (index, element) {
                                            product_list.push($(this).val())
                                        });
                                        $("#calc_form").attr("action", "/PlattformInventory/getTrafficExcel?date=" + $('#file-date').val() + "&product_code=" + product_list);
                                        $("#calc_form").submit()
                                        product_list = [];
                                    }
                                },
                                取消: function () {
                                    //close
                                },
                            },
                            onContentReady: function () {
                            }
                        })
                    }
                },
                否: function () {
                    var product_list = [];
                    $("#calc_form").attr("action", "/PlattformInventory/getTrafficExcel?date=" + $('#file-date').val() + "&product_code=" + product_list);
                    $("#calc_form").submit()
                },
                关闭: function () {
                    //close
                },
            }
        });

    })
    // 初始化日历
    TmDatePicker.Init({
        container: "#tm-calendar-view-wrap",
        onpagechanged: function (e) {
            $("#file-loading").hide()
            $.ajax({
                url: "/PlattformInventory/TrafficUploadFilePartial",
                type: "post",
                data: {
                    plattformId: getUrlParam('plattformId'),
                    month: e.currentyear + "-" + e.currentmonth
                },
                success: function (data) {
                    var dataDate = $('.tm-calendar-monthofdate')
                    for (var i = 0; i < dataDate.length; i++) {
                        var nowDate = dataDate.eq(i).attr('date-day');
                        for (var j = 0; j < data.length; j++) {
                            record = data[j].record_date.ToString("yyyy-MM-dd");
                            if (record == nowDate) {
                                dataDate.eq(i).parent().addClass('glyphicon glyphicon-star')
                            }
                        }
                    }
                },
                error: function () {
                    errorAlert("请求数据失败。");
                }
            });
        }
    });
</script>
}