<body style="overflow-y:scroll;">

    @using (Html.BeginForm("LeadingIn", "PlattformInventory", FormMethod.Post, new { enctype = "multipart/form-data", id = "form1" }))
    {

        <div style="margin-top: 20px; font-size:12px; width:80%; padding-left:20px;">
            <fieldset id="myfieldset1">
                <legend>物料数据导入</legend>
                <p>
                    选择文件：
                    <input id="FileUpload" type="file" name="FileUpload" style="width: 250px; height: 24px; background: White" />
                    <input id="btnImport" type="submit" value="上传" style="width: 60px; height: 24px;" />
                </p>
                <p style="color: Red; text-align: center;">@ViewBag.error</p>
            </fieldset>
        </div>

    }

</body>