@model IEnumerable<PeriodAid.Models.Product_SummaryViewModel>

        
            <!-- Tab panes -->
<div class="tab-content">
                <div role="tabpanel" class="tab-pane active">
                    <table class="table table-bordered table-hover">
                        <thead>                           
                            <tr>
                                <th>产品编号</th>
                                <th>商品名称</th>                               
                                <th>销量</th>
                                <th>库存</th>
                                <th>全国销量</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.Product.System_Code</th>
                                    <td><a href="#">@item.Product.Item_Name</a></td>
                                    <td>1</td>
                                    <td>@item.Sales_Sum</td>
                                    <td>@Html.Encode(item.Inventory_Sum)</td>
                                </tr>
                            }                                                      
                        </tbody>
                    </table>
                </div>                
</div>
        

<script>
    // 初始化数据
    //$(function () {       
    //        $.ajax({
    //            url: '/PlattformInventory/PlattformInventory_form/',
    //            type: 'get',
    //            data: {
                    
    //            },
    //            success: function (data) {
                    
    //            }
    //        })
    //    })
    $('.form-select-li').on('click', function () {
        var that = $(this)
        if (!that.hasClass('active')) {            
            var strageName = that.children('.form-select-a').attr('data-ssid')
            $.ajax({
                url: '/PlattformInventory/PlattformInventory_form/',
                type: 'get',
                data: {
                    strageName
                },
                success: function (data) {
                    console.log(data)
                    
                }
            })
        }
        
        })
</script>