@model IEnumerable<PeriodAid.Models.Product_SummaryViewModel>
@{
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";

}
@section header{
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
    <style>
        div {
            z-index: 52;
        }
        .nav > li > a{
            padding: 0px 15px;
        }
        #view-head-tr-1>th{
            font-size:15px
        }
        .view-body-tr-1>td{
            font-size:15px
        }
    </style>
}
<div class="navbar-default tm_task-navbar" style="padding-top:10px;background-color:white">
    <div style="padding:20px 0;">
        <div class="text-center h2">数据统计</div>
        <div class="text-center h4">
            <span id="start-time"></span>
            </br>
            <span id="end-time"></span>
            </br>
            <span id="show-storage"></span>
        </div>
        
    </div>
    <div class="form-view-header clear-float">
        <div>
            <div class="tm-view-control">
                <ul class="nav nav-pills" style="float:right">
                    @*<li class="tm-view-control-sort dropdown">
                        <a data-toggle="dropdown" id="form-date-show" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;background-color:#337ab7;">
                            <span class="tm-select-title active" id="start-date-select" style="color:white;font-size:14px;">选择日期</span>
                            <input type="text" class="file-date" id="start-date" name="file-date" style="height: 38px;position:absolute;left: 0;width: 97px;top: 0;cursor:pointer;opacity:0" />
                            <span class="caret color-white"></span>
                        </a>
                    </li>
                    <li class="tm-view-control-sort dropdown">
                        <a data-toggle="dropdown" id="form-date-show" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;background-color:#337ab7;">
                            <span class="tm-select-title active" id="end-date-select" style="color:white;font-size:14px;">选择日期区间</span>
                            <input type="text" class="file-date" id="end-date" name="file-date" style="height: 38px;position:absolute;left: 0;width: 97px;top: 0;cursor:pointer;opacity:0" />
                            <span class="caret color-white"></span>
                        </a>
                    </li>*@
                    <li class="tm-view-control-sort dropdown" style="top:-4px">
                        <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="cursor:pointer;background-color:#337ab7;">
                            <span class="tm-select-title active" id="storage-select" style="color:white;font-size:14px;">所有仓库</span>
                            <span class="caret color-white"></span>
                        </a>
                        <ul class="dropdown-menu tm_dropdown" aria-labelledby="tm-view-dropdown-progress" id="nav-table-show" style="height:300px;overflow-y:auto">
                            <li role="presentation" class="form-select-li all-form-select"><a href="#" role="tab" data-toggle="tab" data-ssid="0" class="form-select-a">所有仓库</a></li>
                            @foreach (var item in ViewBag.storage)
                            {
                                <li>
                                    <a href="#" role="tab" data-toggle="tab" data-ssid="@item.Id" class="form-select-a" style="margin-right:0">@item.Storage_Name</a>
                                </li>
                            }
                        </ul>
                    </li>

                </ul>
            </div>
            <div>
                <input type="text" class="file-date" readonly="readonly" autocomplete="off" id="start-date" name="file-date" placeholder="请选择起始日期" value="" />
                <input type="text"class="file-date" readonly="readonly" autocomplete="off" id="end-date" name="file-date" placeholder="请选择结束日期" />
                <input type="button" id="select-date-btn" class="btn btn-primary" name="statistic_btn" value="查询" style="padding:1px 12px;margin-left:8px" />
            </div>
         </div>
    </div>
    <div id="storage_show">
        
    </div>
    <div class="tm-view-content-container  tm-view-container" id="file-loading" >
        <div class="tm-veiw-loading text-center" id="tm-view-loading">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i>
            <span class="sr-only">正在加载...</span>
        </div>
    </div>
</div>
@section scripts{

    <script>
    // 初始化数据
        $(function () {
            $('#upload').click(function () {
                $('#file-name').trigger('click')
            })
        //日期格式改变
            $(".file-date").datepicker({ dateFormat: "yy-mm-dd" });
        //星期格式汉化
            $(".file-date").datepicker("option", "dayNamesMin", ["日", "一", "二", "三", "四", "五", "六"]);
        //月份格式汉化
            $(".file-date").datepicker("option", "monthNames", ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]);
            $(".file-date").datepicker();
        TmDatePicker.Init({
            container: "#tm-calendar-view-wrap",
            onpagechanged: function (e) {
                $.ajax({
                    url: "/PlattformInventory/CustomUploadFilePartial",
                    type: "post",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        month: e.currentyear + "-" + e.currentmonth
                    },
                    success: function (data) {for (var i = 0; i < data.length; i++) {
                        var record = data[i].record_date.ToString("yyyy-MM-dd");
                    }
                        $('#start-date').val(record)
                        $('#end-date').val(record)
                        if (getUrlParam('plattformId') == 2) {
                            $.ajax({
                                url: '/PlattformInventory/TMS_StorageShow/',
                                type: 'post',
                                data: {
                                    plattformId: getUrlParam('plattformId'),
                                    start:$('#start-date').val(),
                                    end: $('#end-date').val(),
                                },
                                success: function (data) {
                                        $('#storage_show').html(data)
                                        $('#file-loading').hide()
                                        $('.hot-product').each(function () {
                                            if ($(this).attr('data-bind') == 1) {
                                                $(this).find('.box').addClass('fire-box')
                                            }
                                        })
                                }
                            })
                        }
                        else {
                            $.ajax({
                                url: '/PlattformInventory/StorageShow/',
                                type: 'post',
                                data: {
                                    plattformId: getUrlParam('plattformId'),
                                    start:$('#start-date').val(),
                                    end: $('#end-date').val()
                                },
                                success: function (data) {
                                        $('#storage_show').html(data)
                                        $('#file-loading').hide()
                                        $('.view-body-tr').find('.sales-subAccount').addClass('hidden')
                                        $('.hot-product').each(function () {
                                            if ($(this).attr('data-bind') == 1) {
                                                $(this).find('.box').addClass('fire-box')
                                            }
                                        })
                                }
                            })
                        }

                    },
                    error: function () {
                        errorAlert("请求数据失败。");
                    }
                });
            }
        });
        function data_date() {
            for (i = 0; i < $(".date_show").length; i++) {
                var arry =@Html.Raw(Json.Encode(ViewBag.DataDate));
                var arrydata = arry[i].ToString('yyyy-MM-dd');
                var year = arrydata.substring(0, 4);
                var show_year = parseInt($(".ui-state-default").parent().attr("data-year"));
                var show_month = parseInt($(".ui-state-default").parent().attr("data-month")) + 1;
                var show_day = parseInt($(".ui-state-default").text())
                if (show_month < 10) {
                    var _first = parseInt(arrydata.indexOf('-')) + 2;
                    var _end = parseInt(arrydata.indexOf('-')) + 3;
                    var month = arrydata.substring(_first, _end);
                }
                else {
                    var _first = parseInt(arrydata.indexOf('-')) + 1;
                    var _end = parseInt(arrydata.indexOf('-')) + 3;
                    var month = arrydata.substring(_first, _end);
                }
            }
        }
        $("#form-date-show").on("click", function() {
            data_date()
        })
        $('.ui-corner-all').on('click',function(){
            data_date()
        })
        //获取url中的参数
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return unescape(r[2]); return null; //返回参数值
        }
        // 选择城市
        $("#nav-table-show li").on("click", function () {
            var that = $(this);
            $('#file-loading').show();
            $('#storage-select').text(that.text())
            $('#show-storage').text($('#storage-select').text())
            if(getUrlParam('plattformId')==2){
                $.ajax({
                    url: "/PlattformInventory/TMS_StorageShow/",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        Storage: that.children('.form-select-a').attr('data-ssid'),
                        start: $('#start-date').val(),
                        end: $('#end-date').val()
                    },
                    success: function (data) {
                        $('#storage_show').html(data)
                        $('#file-loading').hide()
                        $('.hot-product').each(function () {
                            if ($(this).attr('data-bind') == 1) {
                                $(this).find('.box').addClass('fire-box')
                            }
                        })
                    }
                })
            }else{
                $.ajax({
                    url: '/PlattformInventory/StorageShow/',
                    type: 'post',
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        Storage: that.children('.form-select-a').attr('data-ssid'),
                        start:$('#start-date').val(),
                        end: $('#end-date').val()
                    },
                    success: function (data) {
                        $('#storage_show').html(data)
                        $('#file-loading').hide()
                        $('.hot-product').each(function () {
                            if ($(this).attr('data-bind') == 1) {
                                $(this).find('.box').addClass('fire-box')
                            }
                        })
                    }
                })
            }
            
        })
            // 选择日期
        $('#start-date').change(function(){
            $('#start-time').text($(this).val())
        })
        $('#end-date').change(function(){
            $('#end-time').text($(this).val())
        })
        $('#select-date-btn').click(function () {
            var that=$(this)
            $('#file-loading').show()
            if($('#start-date').val() <= $('#end-date').val()){
                if(getUrlParam('plattformId')==2){
                    $.ajax({
                        url: "/PlattformInventory/TMS_StorageShow/",
                        data: {
                            plattformId: getUrlParam('plattformId'),
                            Storage: that.children('.form-select-a').attr('data-ssid'),
                            start:$('#start-date').val(),
                            end: $('#end-date').val()
                        },
                        success: function (data) {
                            $('#storage_show').html(data)
                            $('#file-loading').hide()
                            $('.hot-product').each(function () {
                                if ($(this).attr('data-bind') == 1) {
                                    $(this).find('.box').addClass('fire-box')
                                }
                            })
                        }
                    })
                }else{
                    $.ajax({
                        url: '/PlattformInventory/StorageShow/',
                        type: 'post',
                        data: {
                            plattformId: getUrlParam('plattformId'),
                            start:$('#start-date').val(),
                            end: $('#end-date').val()
                        },
                        success: function (data) {
                            $('#storage_show').html(data)
                            $('#file-loading').hide()
                            $('.hot-product').each(function () {
                                if ($(this).attr('data-bind') == 1) {
                                    $(this).find('.box').addClass('fire-box')
                                }
                            })
                        }
                    })
                }
            }else{
                errorAlert('请选择正确日期')
                if(getUrlParam('plattformId')==2){
                    $.ajax({
                        url: "/PlattformInventory/TMS_StorageShow/",
                        data: {
                            plattformId: getUrlParam('plattformId'),
                            Storage: that.children('.form-select-a').attr('data-ssid'),
                            start:$('#start-date').val(),
                            end: $('#end-date').val()
                        },
                        success: function (data) {
                            $('#storage_show').html(data)
                            $('#file-loading').hide()
                            $('.hot-product').each(function () {
                                if ($(this).attr('data-bind') == 1) {
                                    $(this).find('.box').addClass('fire-box')
                                }
                            })
                            $('#start-date').val('')
                            $('#end-date').val('')
                            $('#start-time').text('')
                            $('#end-time').text('')
                        }
                    })
                }else{
                    $.ajax({
                        url: '/PlattformInventory/StorageShow/',
                        type: 'post',
                        data: {
                            plattformId: getUrlParam('plattformId'),
                            start:$('#start-date').val(),
                            end: $('#end-date').val()
                        },
                        success: function (data) {
                            $('#storage_show').html(data)
                            $('#file-loading').hide()
                            $('.hot-product').each(function () {
                                if ($(this).attr('data-bind') == 1) {
                                    $(this).find('.box').addClass('fire-box')
                                }
                            })
                            $('#start-date').val('')
                            $('#end-date').val('')
                            $('#start-time').text('')
                            $('#end-time').text('')
                        }
                    })
                }
            }
        })
    })
    // 重置时间显示格式
    String.prototype.ToString = function (format) {
        var dateTime = new Date(parseInt(this.substring(6, this.length - 2)));
        format = format.replace("yyyy", dateTime.getFullYear());
        format = format.replace("yy", dateTime.getFullYear().toString().substr(2));
        format = format.replace("MM", (dateTime.getMonth() + 1) < 10 ? "0" + (dateTime.getMonth() + 1) : (dateTime.getMonth() + 1))
        format = format.replace("dd", dateTime.getDate() < 10 ? "0" + dateTime.getDate() : dateTime.getDate());
        format = format.replace("hh", dateTime.getHours() < 10 ? "0" + dateTime.getHours() : dateTime.getHours());
        format = format.replace("mm", dateTime.getMinutes());
        format = format.replace("ss", dateTime.getSeconds());
        format = format.replace("ms", dateTime.getMilliseconds())
        return format;
        };

    </script>
}