
@{
    ViewBag.Title = "SalesStatistics_View";
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";
}
<div id="select_condition">
    <div class="date_section_select select_condition_div">
        <label class="pull-left">平台选择：</label>
        <ul class="shop_section_ul">
            <li class="dete_section_li_active">
                <a class="shop_select active" data-val="1">京东</a>
            </li>
            @*<li>
                <a class="shop_select" data-val="2">天猫</a>
            </li>*@
        </ul>
    </div>
    <table class="offline-search-box" style="margin-bottom:0">
        <tr>
            <td class="pull-right">
                <label>产品名称：</label>
                <input class="form-control input-sm offline-search-inline" id="sales_product_query" placeholder="搜索内容" />
                <a class="btn btn-info btn-sm" id="sales_product_search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
            </td>
        </tr>
    </table>
</div>


<div id="salesstatistics_list_content">
</div>
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/PlattformInventory/SalesStatistics_PartialView",
                data: {
                    plattformId: $(".shop_section_ul").children(".dete_section_li_active").children(".active").attr("data-val")
                },
                success: function (data) {
                    $("#salesstatistics_list_content").html(data)
                }
            })
            //搜索
            $("#sales_product_search").click(function () {
                $.ajax({
                    url: "/PlattformInventory/SalesStatistics_PartialView",
                    data: {
                        plattformId: $(".shop_section_ul").children(".dete_section_li_active").children(".active").attr("data-val")
                    },
                    success: function (data) {
                        $("#salesstatistics_list_content").html(data);
                    }
                })
            });
            $(".shop_select").click(function () {
                var that = $(this)
                $(".shop_section_ul").children("li").removeClass("dete_section_li_active")
                $(".shop_select").removeClass("active")
                that.addClass("active")
                that.parent("li").addClass("dete_section_li_active")
                $.ajax({
                    url: "/PlattformInventory/SalesStatistics_PartialView",
                    data: {
                        plattformId: that.attr("data-val")
                    },
                    success: function (data) {
                        $("#salesstatistics_list_content").html(data);
                    }
                })
            })
        })
    </script>
    }