<table class="table table-hover">
    <thead>
        <tr>
            <th>系统编码</th>
            <th>产品名称</th>
            <th><a href="#" style="display:inline-block;width:100%;height:100%;position:relative" class="sales_sort" data-val="1">单日销量<i class="fa sort_i" data-sort="dec" style="position:absolute;right:0;top:2px"></i></a></th>
            <th><a href="#" style="display:inline-block;width:100%;height:100%;position:relative" class="sales_sort" data-val="2">近7天销量<i class="fa sort_i" data-sort="dec"  style="position:absolute;right:0;top:2px"></i></a></th>
            <th><a href="#" style="display:inline-block;width:100%;height:100%;position:relative" class="sales_sort" data-val="3">前7天销量<i class="fa sort_i" data-sort="dec"  style="position:absolute;right:0;top:2px"></i></a></th>
            <th>增比</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="sort_partialView">
    </tbody>
</table>
<div class="tm-view-content-container  tm-view-container" id="file-loading">
    <div class="tm-veiw-loading text-center" id="tm-view-loading">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw color-blue"></i>
        <span class="sr-only">正在加载...</span>
    </div>
</div>
<script>
    $.ajax({
        url: "/PlattformInventory/SalesStatisticsSort_PartialView",
        data: {
            plattformId: $(".shop_section_ul").children(".date_section_li_active").children(".active").attr("data-val"),
            query: $("#sales_product_query").val(),
            sortVal: $(".sort_i").eq(0).attr("data-sort"),
            timeVal: $(".sales_sort").eq(0).attr("data-val")
        },
        success: function (data) {
            $("#sort_partialView").html(data)
            $('#file-loading').hide()
        }
    })
    // 分页
    //$(".pagination > li > a").click(function () {
    //    var l = $(this).attr("href");
    //    $.ajax({
    //        url: l,
    //        data: {
    //            plattformId: $("#ul_view").children(".active").children(".shop_select").attr("data-id"),
    //            query: $("#sales_product_query").val(),
    //            sortVal: $(".sort_i").eq(0).attr("data-sort")
    //        },
    //        success: function (data) {
    //            $("#sort_partialView").html(data);
    //        }
    //    });
    //    return false;
    //});
    // 排序
    $(".sales_sort").on("click", function () {
        $('#file-loading').show()
        var that = $(this)
        if (that.children(".sort_i").hasClass("fa-arrow-up")) {
            $(".sort_i").removeClass("fa-arrow-up fa-arrow-down")
            that.children(".sort_i").removeClass("fa-arrow-up color-red")
            that.children(".sort_i").addClass("fa-arrow-down color-blue")
            that.children(".sort_i").attr("data-sort", "dec")
            $.ajax({
                url: "/PlattformInventory/SalesStatisticsSort_PartialView",
                data: {
                    plattformId: $(".shop_section_ul").children(".date_section_li_active").children(".active").attr("data-val"),
                    query: $("#sales_product_query").val(),
                    sortVal: that.children(".sort_i").attr("data-sort"),
                    timeVal: that.attr("data-val")
                },
                success: function (data) {
                    $("#sort_partialView").html(data);
                    $('#file-loading').hide()
                }
            })
        }
        else {
            $(".sort_i").removeClass("fa-arrow-up fa-arrow-down")
            that.children(".sort_i").removeClass("fa-arrow-down color-blue")
            that.children(".sort_i").addClass("fa-arrow-up color-red")
            that.children(".sort_i").attr("data-sort", "asc")
            $.ajax({
                url: "/PlattformInventory/SalesStatisticsSort_PartialView",
                data: {
                    plattformId: $(".shop_section_ul").children(".date_section_li_active").children(".active").attr("data-val"),
                    query: $("#sales_product_query").val(),
                    sortVal: that.children(".sort_i").attr("data-sort"),
                    timeVal: that.attr("data-val")
                },
                success: function (data) {
                    $("#sort_partialView").html(data);
                    $('#file-loading').hide()
                }
            })
        }
        return false;
    })
</script>