<div class="center-block" id="my-form-content">
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>产品编号</th>
                        <th>商品编号</th>
                        <th>商品名称</th>
                        <th>销售数据</th>
                        <th>仓库库存</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.SalesRecord)
                    {
                        <tr>
                            <th scope="row">@item.SS_Product.System_Code</th>
                            <td></td>
                            <td><a href="#">@item.SS_Product.Item_Name</a></td>
                            <td>@item.Sales_Count</td>
                            <td>@item.Storage_Count</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
<script>

</script>