<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>产品名称：</label>
            <input class="form-control input-sm offline-search-inline" id="traffic-product-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="traffic-product-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<h2>渠道分析</h2>
<div id="traffic-list"></div>

<script>
    $(function () {
        // 搜索
        $("#traffic-product-search").click(function () {
            $.ajax({
                url: "/PlattformInventory/TrafficListPartial",
                data: {
                    plattformId: getUrlParam('plattformId'),
                    page: 1,
                    query: $("#traffic-product-query").val(),
                    productId: $("#traffic-list").attr("data-val")
                },
                success: function (data) {
                    $("#traffic-list").html(data);
                }
            })
        });
    })
</script> 


    
    
