@{
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";
}
<div class="hidden">
    @foreach(var list in ViewBag.productList)
    {
        <span id="product-list-name" data-name="@list.Item_Name"></span>
    }
</div>
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>渠道名称：</label>
            <input class="form-control input-sm offline-search-inline" id="traffic-product-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="traffic-product-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<h2>渠道分析</h2>
<div class="text-center h4" id="product-name"></div>
<div class="text-center h4" id="single_day">
    <a class="glyphicon glyphicon-chevron-left" style="padding:0 40px;text-decoration:none;cursor:pointer" id="date-btn-left"></a>
    @foreach (var date in ViewBag.trafficDate)
    {
        <span class="traffci-date-time color-blue" date-time="@date.Year-@date.Month-@date.Day">@date.Year-@date.Month-@date.Day</span>
    }
    <a class="glyphicon glyphicon-chevron-right " style="padding:0 40px;text-decoration:none;cursor:pointer" id="date-btn-right"></a>
</div>
<div class="float-right" style="margin-top:10px">
    <input type="text" id="start_time" class="file-data" name="start_time" placeholder="请选择起始日期" />
    <input type="text" id="end_time" class="file-data" name="end_time" placeholder="请选择结束日期" />
    <input type="button" id="statistic_btn" class="btn btn-primary" name="statistic_btn" value="查询" style="padding:1px 12px;margin-left:8px" />
</div>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="traffic-list-li active"><a aria-controls="home" role="tab" data-toggle="tab" data-id="1" class="plattform-btn" style="cursor:pointer">全部平台</a></li>
    <li role="presentation" class="traffic-list-li"><a aria-controls="profile" role="tab" data-toggle="tab" data-id="417" class="plattform-btn" style="cursor:pointer">APP</a></li>
    <li role="presentation" class="traffic-list-li"><a aria-controls="messages" role="tab" data-toggle="tab" data-id="418" class="plattform-btn" style="cursor:pointer">M站</a></li>
    <li role="presentation" class="traffic-list-li"><a aria-controls="settings" role="tab" data-toggle="tab" data-id="419" class="plattform-btn" style="cursor:pointer">PC</a></li>
    <li role="presentation" class="traffic-list-li"><a aria-controls="settings" role="tab" data-toggle="tab" data-id="420" class="plattform-btn" style="cursor:pointer">手Q</a></li>
    <li role="presentation" class="traffic-list-li"><a aria-controls="settings" role="tab" data-toggle="tab" data-id="421" class="plattform-btn" style="cursor:pointer">微信</a></li>
</ul>
<div id="traffic-list">
</div>
@section scripts{

<script>
    $(function () {
        $(".traffci-date-time").addClass("hidden");
        var last = $(".traffci-date-time").last().index()-1;
        $(".traffci-date-time:eq(" + last + ")").removeClass("hidden");
        var productName = $("#product-list-name").attr("data-name");
        var nowP = $(".traffci-date-time").not($(".traffci-date-time.hidden")).index() - 1;
        var start_time = $(".traffci-date-time:eq(" + nowP + ")").attr("date-time")
        var fileDate = $('.file-data')
        fileDate.datepicker({ dateFormat: "yy-mm-dd" });
        //星期格式汉化
        fileDate.datepicker("option", "dayNamesMin", ["日", "一", "二", "三", "四", "五", "六"]);
        //月份格式汉化
        fileDate.datepicker("option", "monthNames", ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]);
        fileDate.datepicker();
        $.ajax({
            url: "/PlattformInventory/TrafficListPartial",
            data: {
                plattformId: getUrlParam('plattformId'),
                page: 1,
                productId: getUrlParam('productId'),
                single: start_time,
                query: $("#traffic-product-query").val(),
                trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id")
            },
            success: function (data) {
                $("#traffic-list").html(data)
                $("#product-name").text(productName)
            }
        });
        // 搜索
        $("#traffic-product-search").click(function () {
            var nowP = $(".traffci-date-time").not($(".traffci-date-time.hidden")).index() - 1;
            var start_time = $(".traffci-date-time:eq(" + nowP + ")").attr("date-time")
            if ($("#start_time").val() != "" && $("#end_time").val() != "") {
                $.ajax({
                    url: "/PlattformInventory/SumTrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        page: 1,
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"),
                        start: $("#start_time").val(),
                        end: $("#end_time").val(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                    }
                })
            } else {
                $.ajax({
                    url: "/PlattformInventory/TrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        page: 1,
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"),
                        single: start_time,
                        start: $("#start_time").val(),
                        end: $("#end_time").val(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                    }
                })
            }
        });
        // 选平台
        $(".plattform-btn").on("click", function () {
            var nowP = $(".traffci-date-time").not($(".traffci-date-time.hidden")).index() - 1;
            var start_time = $(".traffci-date-time:eq(" + nowP + ")").attr("date-time")
            if ($("#start_time").val() != "" && $("#end_time").val() != "") {

                $.ajax({
                    url: "/PlattformInventory/SumTrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        page: 1,
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(this).attr("data-id"),
                        start: $("#start_time").val(),
                        end: $("#end_time").val(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                    }
                })
            } else {

                $.ajax({
                    url: "/PlattformInventory/TrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        page: 1,
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(this).attr("data-id"),
                        single: start_time,
                        start: $("#start_time").val(),
                        end: $("#end_time").val(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                    }
                })
            }
        })
        // 选择日期
        $("#date-btn-left").on("click", function () {
            var nowP = $(".traffci-date-time").not($(".traffci-date-time.hidden")).index() - 1;
            $(".traffci-date-time:eq(" + nowP + ")").addClass("hidden");
            var pos = nowP - 1;
            $(".traffci-date-time:eq(" + pos + ")").removeClass("hidden");
            $.ajax({
                url: "/PlattformInventory/TrafficListPartial",
                data: {
                    plattformId: getUrlParam('plattformId'),
                    page: 1,
                    query: $("#traffic-product-query").val(),
                    productId: getUrlParam('productId'),
                    trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"),
                    single: $(".traffci-date-time:eq(" + pos + ")").html()
                },
                success: function (data) {
                    $("#traffic-list").html(data);
                }
            })
        })
        $("#date-btn-right").on("click", function () {
            var nowP = $(".traffci-date-time").not($(".traffci-date-time.hidden")).index() - 1;
            $(".traffci-date-time:eq(" + nowP + ")").addClass("hidden");
            var pos = nowP + 1;
            $(".traffci-date-time:eq(" + pos + ")").removeClass("hidden");
            $.ajax({
                url: "/PlattformInventory/TrafficListPartial",
                data: {
                    plattformId: getUrlParam('plattformId'),
                    page: 1,
                    query: $("#traffic-product-query").val(),
                    productId: getUrlParam('productId'),
                    trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"),
                    single: $(".traffci-date-time:eq(" + pos + ")").html()
                },
                success: function (data) {
                    $("#traffic-list").html(data);
                }
            })
        })
        //时间查询
        $("#statistic_btn").on("click", function () {
            if ($("#start_time").val() == "" || $("#end_time").val() == "") {
                errorAlert("请选择日期！");
            }
            else
            {
                $("#single_day").remove()
                $.ajax({
                    url: "/PlattformInventory/SumTrafficListPartial",
                    data: {
                        plattformId: getUrlParam('plattformId'),
                        page: 1,
                        query: $("#traffic-product-query").val(),
                        productId: getUrlParam('productId'),
                        trafficPlattformId: $(".traffic-list-li.active").children(".plattform-btn").attr("data-id"),
                        start: $("#start_time").val(),
                        end: $("#end_time").val(),
                    },
                    success: function (data) {
                        $("#traffic-list").html(data);
                    }
                })
            } 
        })
    })

</script> 
}

    
    
