
@{
    ViewBag.Title = "UploadFileSuccess";
    Layout = "~/Views/Shared/_PlattformInventory.cshtml";
}
<h2>上传成功！</h2>

<script>
    $(function () {
        setTimeout(function () {
            window.location.href = '/PlattformInventory/CustomUploadFile?plattformId=1'
        },1000)
        
    })
</script>
