@model PeriodAid.Models.Seller

@{
    ViewBag.Title = "删除促销员";
    Layout = "~/Views/Shared/_OfflineSalesLayout.cshtml";
}

<h4>是否删除促销员?</h4>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            姓名
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            联系方式
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact)
        </dd>

        <dt>
            性别
        </dt>

        <dd>
           @if (Model.Sex == true)
           {
            <span>男</span>
           }
           else
           {
            <span>女</span>
           }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除促销员" class="btn btn-default btn-danger" />
            <a href="/OfflineSales/List_Seller" class="btn btn-default">返回列表</a>
        </div>
    }
</div>
