@model IEnumerable<PeriodAid.Models.Store>

@{
    ViewBag.Title = "门店列表";
    Layout = "~/Views/Shared/_OfflineSalesLayout.cshtml";
}

<h4>门店列表</h4>
<hr />
<table class="table table-striped h6">
    <tr>
        <th>
            门店系统
        </th>
        <th>
            门店名称
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Store_System.System_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store_Name)
        </td>
        <td>
            <div class="text-right">
                @Html.ActionLink("修改", "Edit_Store", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                @Html.ActionLink("删除", "Delete_Store", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
            </div>
        </td>
    </tr>
}

</table>
