
@{
    ViewBag.Title = "Off_Statistic_StoreSystem";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingSeven";
}
<table class="offline-search-box">
    <tr>
        <td>
            <label>开始时间：</label>
            <input type="text" class="form-control input-sm offline-search-inline" id="data-startTime" placeholder="开始时间" />
        </td>
        <td>
            <label>结束时间：</label>
            <input type="text" class="form-control input-sm offline-search-inline" id="data-endTime" placeholder="结束时间" />
        </td>
        <td>
            <label>销售系统：</label>
            @Html.DropDownList("StoreSystem", ViewBag.SystemList as SelectList, new { @class = "form-control input-sm offline-search-inline" })
        </td>
        <td>
            <ul class="list-inline list-unstyled offline-search-btn">
                <li><a id="data-btn" class="btn btn-info btn-sm data-btn" data-salary="day"><i class="fa fa-search"></i>&nbsp;&nbsp;日数据</a></li>
                <li><a id="mounthdata-btn" class="btn btn-info btn-sm data-btn" data-salary="month"><i class="fa fa-search"></i>&nbsp;&nbsp;月数据</a></li>
            </ul>
        </td>
    </tr>
    <tr><td id="danger" class="text-danger h5"></td></tr>
</table>
<br />
<div id="map" class="row" style="display:none">
    <div class="col-md-6">
        <div id="myChart_Bar" style="min-width:500px;height:400px"></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div id="myChart_Pie" style="min-width:500px;height:400px"></div>
    </div>
</div>
<div id="myChart_Column" style="min-width:500px;height:400px"></div>
<script src="~/Scripts/highcharts.js"></script>
<script>
    $("#data-startTime").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $("#data-endTime").datepicker({
        dateFormat: 'yy-mm-dd'
    });
    $(".data-btn").click(function () {
        var start = $("#data-startTime").val();
        var end = $("#data-endTime").val();
        var storesystem = $("#StoreSystem").val();
        var type = $(this).attr("data-salary");
        if (start > end) {
            $("#danger").text("开始时间不能大于结束时间")
        } else if (start == "" || end == "") {
            $("#danger").text("时间不能为空")
        }else {
            $("#danger").addClass("hidden")
            $.ajax({
                url: "/OfflineSales/Off_Statistic_StoreSystem_Ajax",
                data: {
                    startdate: start,
                    enddate: end,
                    storesystem: storesystem,
                    type:type
                },
                success: function (data) {
                    if (data.data.length == 0) {
                        alert("该区域在此时间内无数据");
                    } else {
                        $("#map").show();
                        //区域销售折线图
                        var resultdata = data.data;
                        var totalarray = new Array();
                        var datearray = new Array();
                        for (var i = 0; i < resultdata.length; i++) {
                            var deeint = parseInt(data.data[i].Date.replace(/\D/igm, ""));
                            var dee = new Date(deeint)
                            datearray.push(dee.Format("MM-dd"));
                            var totaltemp = resultdata[i].SalesCount
                            totalarray.push(totaltemp);
                        }
                        $("#myChart_Bar").highcharts({
                            chart: {
                            },
                            title: {
                                text: storesystem + '每天销售总额折线图(单位：盒/天)'
                            },
                            xAxis: {
                                categories: datearray
                            },
                            series: [{
                                type: 'spline',
                                name: '销售额度',
                                data: totalarray,
                                marker: {
                                    lineWidth: 2,
                                    lineColor: Highcharts.getOptions().colors[3],
                                    fillColor: 'white'
                                }
                            }]
                        });
                        products_statistic(start, end, storesystem, type)
                        salary_statistic(start, end, storesystem, type)
                    };
                    
                }
            });
            return false
        }
    });
    Date.prototype.Format = function (fmt) { //author: meizz   
        var o = {
            "M+": this.getMonth() + 1,                 //月份   
            "d+": this.getDate(),                    //日   
            "h+": this.getHours(),                   //小时   
            "m+": this.getMinutes(),                 //分   
            "s+": this.getSeconds(),                 //秒   
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度   
            "S": this.getMilliseconds()             //毫秒   
        };
        if (/(y+)/.test(fmt))
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        return fmt;
    };
    function products_statistic(start, end, storesystem, type) {
        $.ajax({
            url: "/OfflineSales/Off_Statistic_StoreSystem_Product_Ajax",
            data: {
                startdate: start,
                enddate: end,
                storesystem: storesystem,
                type: type
            },
            success: function (data) {
                //alert(data.data[0].ProductId)
                var productarry = new Array();
                for (var i = 0; i < data.data.length; i++) {
                    var productlist = {
                        name: data.data[i].SimpleName,
                        y: data.data[i].SalesCount
                    }
                    productarry.push(productlist)
                }
                //console.log(productarry)
                $('#myChart_Pie').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: storesystem + '每天各个种类销售总额饼状图(单位：盒/天)'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: '销售额度',
                        data: productarry
                    }]
                });
            }
        })
    }
    function salary_statistic(start, end, storesystem, type) {
            $.ajax({
                url: "/OfflineSales/Off_Statistic_StoreSystem_Salary_Ajax",
                data: {
                    startdate: start,
                    enddate: end,
                    storesystem: storesystem,
                    type: type
                },
                success: function (data) {
                    if (data.data.length == 0) {
                        alert("该区域在此时间内无数据");
                    } else {
                        var datearray = new Array();
                        var salaryarry = new Array();
                        var debitarry = new Array();
                        var bonusarry = new Array();
                        for (var i = 0; i < data.data.length; i++) {
                            var deeint = parseInt(data.data[i].Date.replace(/\D/igm, ""));
                            var dee = new Date(deeint)
                            datearray.push(dee.Format("MM-dd"));
                            var totalsalary = data.data[i].Salary
                            salaryarry.push(totalsalary);
                            var totaldebit = Math.abs(data.data[i].Debit)
                            debitarry.push(totaldebit);
                            var totalbonus = data.data[i].Bonus
                            bonusarry.push(totalbonus);
                        }
                        $('#myChart_Column').highcharts({
                            chart: {
                                zoomType: 'xy'
                            },
                            title: {
                                text: storesystem + '工资表'
                            },
                            xAxis: [{
                                categories: datearray
                            }],
                            yAxis: [{ 
                                labels: {
                                    enabled: false
                                },
                                title: {
                                    text: ''
                                }
                            }, { 
                                labels: {
                                    enabled: false
                                },
                                title: {
                                    text: ''
                                }
                            }, { 
                                labels: {
                                    enabled: false
                                },
                                title: {
                                    text: ''
                                }
                            }],
                            tooltip: {
                                shared: true
                            },

                            series: [{
                                name: '扣款',
                                color: '#89A54E',
                                type: 'column',
                                yAxis: 2,
                                data: debitarry,
                            }, {
                                name: '工资',
                                color: '#4572A7',
                                type: 'column',
                                data: salaryarry,
                            }, {
                                name: '奖金',
                                color: '#f10000',
                                type: 'column',
                                yAxis: 1,
                                data: bonusarry,
                            }]
                        });
                    }
                }
            });       
    }
   
</script>

