
@{
    ViewBag.Title = "日销售信息";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingTwo";
}
@Html.Partial("Off_Sales_Control")
<br />
<div id="list-container">

</div>
<script>
    $(function () {
        $.ajax({
            url: "/OfflineSales/Off_DailySalesInfo_ajaxlist",
            success: function (data) {
                $("#list-container").html(data);
            }
        });

    });
    $("#search-btn").click(function () {
        $.ajax({
            url: "/OfflineSales/Off_DailySalesInfo_ajaxlist",
            data: {
                query: $("#search-query").val()
            },
            success: function (data) {
                $("#list-container").html(data);
            }
        });
    });
    $("#add-btn").click(function () {
        var link_url = "/OfflineSales/Off_CreateSalesDaily"

        $.ajax({
            url: link_url,
            data: {
                random: Date.now()
            },
            success: function (data) {
                $("#addcontent").html(data);
                $("#addModal").modal()
            }
        });
        return false

    });
</script>

