
@{
    ViewBag.Title = "销售记录";
    Layout = "~/Views/Shared/_OfflineSalesLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a href="/OfflineSales/Create_Sales_Data" class="btn btn-default btn-block btn-lg">增加销售记录</a>
        </div>
        <br />
        <div class="col-xs-12">
            <a href="/OfflineSales/List_Sales_Data" class="btn btn-default btn-block btn-lg">销售记录列表</a>
        </div>
        <br />
        <div class="col-xs-12">
            <a href="/OfflineSales/Create_Store_Sales_Month" class="btn btn-default btn-block btn-lg">增加月度销售记录</a>
        </div>
        <br />
        <div class="col-xs-12">
            <a href="/OfflineSales/List_Store_Sales_Month" class="btn btn-default btn-block btn-lg">月度销售记录列表</a>
        </div>
    </div>
</div>