
@{
    ViewBag.Title = "销售员";
    Layout = "~/Views/Shared/_OfflineSalesLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <a href="/OfflineSales/Create_Seller" class="btn btn-default btn-block btn-lg">增加销售员</a>
        </div>
        <br />
        <div class="col-xs-12">
            <a href="/OfflineSales/List_Seller" class="btn btn-default btn-block btn-lg">销售员列表</a>
        </div>
    </div>
</div>
