@model IEnumerable<PeriodAid.Models.VM_Comment>
<style>
    p{
        margin-bottom:5px
    }
</style>
<p class="tit">
    所有评论
</p>
@foreach (var detial in Model)
{
    <div id="messDivId">
        <div class="story">
            <div class="opbtn"></div>
            <p class="story_t">@detial.VM_Employee.Employee_Name</p>
            <p class="story_time">@detial.Comment_Time</p>
            <p class="story_m">@detial.Comment_Detail</p>
        </div>
    </div>
}
<div id="comment_text">
    @using (Html.BeginForm("CreateComment", "VisitManagement", FormMethod.Post, new { @id = "comment-form" }))
    {
        <div class="form-horizontal" style="text-align:center">
            <div>
                <div id="comment_container">
                    <input id="com_detial" autocomplete="off" placeholder="评论内容" />
                    <input type="button" value="确定" id="save-btn" class="btn btn-danger" name="save-btn" />
                </div>
            </div>
        </div>
    }
</div>
<script>
    $("#save-btn").on("click", function () {
        if (!$(this).hasClass("disabled")) {
            $(this).addClass("disabled")
            $("#comment-form").ajaxSubmit({
                url: '/VisitManagement/CreateComment',
                type: 'post',
                data: {
                    detail: $("#com_detial").val(),
                    rec_id: getUrlParam("rec_id")
                },
                success: function (data) {
                    $.ajax({
                        url: "/VisitManagement/Comment_PartialView",
                        data: {
                            rec_id: getUrlParam("rec_id")
                        },
                        success: function (data) {
                            $("#comment_view").html(data)
                        }
                    })
                }
            })
            return false;
        }
    })
</script>