@model IEnumerable<PeriodAid.Models.VM_Comment>

<div class="modal-header">
    <h2>所有评论</h2>
</div>
<div class="modal-body" id="modal-body">
    @foreach (var detial in Model)
    {
        <div id="messDivId">
            <div class="story">
                <div class="opbtn"></div>
                <p class="story_t">@detial.Nick_Name</p>
                <p class="story_time">@detial.Comment_Time.Value.ToString("yyyy-MM-dd HH:mm:ss")</p>
                <p class="story_m">@detial.Comment_Detail</p>
            </div>
        </div>
    }
    <div id="comment_text">
        @using (Html.BeginForm("CreateComment", "VisitManagement", FormMethod.Post, new { @id = "comment-form" }))
        {
            <div class="form-horizontal" style="text-align:center">
                <div>
                    <div id="comment_container">
                        <input id="com_detial" autocomplete="off" placeholder="评论内容" />
                        <input type="button" value="确定" id="save-btn" class="btn btn-danger" name="save-btn" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $("#save-btn").on("click", function () {
        if (!$(this).hasClass("disabled")) {
            $(this).addClass("disabled")
            $("#comment-form").ajaxSubmit({
                url: '/VisitManagement/CreateComment',
                type: 'post',
                data: {
                    detail: $("#com_detial").val(),
                    rec_id: $("#modal-body").attr("data-id")
                },
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        $.ajax({
                            url: "/VisitManagement/Visit_PartialView/",
                            type: "post",
                            data: {
                                visit_date: $("#select_date").val(),
                                dep_id: $(".team_select.active").attr("data-val"),
                                com_type: $(".company_type.active").text(),
                                com_name: $("#company_id .shared_view_span").attr("data-name"),
                                vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                                sort: $(".sort_type.active").attr("data-val"),
                                status: $(".status_type.active").attr("data-val"),
                                page_count: $(".share_select_page option:selected").val(),
                                page: $(".page_info").val(),
                            },
                            success: function (data) {
                                $("#visit_list_content").html(data)
                                if ($("#toggle_btn").hasClass("fa-angle-double-up")) {
                                    $("#freezing_record").css("height", document.documentElement.clientHeight - $(".navbar-default.navbar-fixed-top").outerHeight(true) - $("#toggle_view_div").outerHeight(true) - 46 - 10 - 6  + "px")
                                } else {
                                    $("#freezing_record").css("height", document.documentElement.clientHeight - $(".navbar-default.navbar-fixed-top").outerHeight(true) - $("#toggle_view_div").outerHeight(true) - 46 - 10 - 6 + 20 + "px")
                                }
                                $('.modal-backdrop.in').remove()
                                $('body').removeClass('modal-open')
                            }
                        })
                    } else {
                        $.alert({
                            title: '提示!',
                            type: 'red',
                            content: "请联系管理员开通权限",
                        });
                    }
                    
                }
            })
            return false;
        }
    })
</script>