
@{
    ViewBag.Title = "Visit_View";
    Layout = "~/Views/Shared/_VisitManagementView.cshtml";
}
<style>
    body{
        padding-bottom:0 !important
    }
</style>
<div>
    <div id="toggle_view_div" style="margin-bottom:40px">
        <div id="shared_select_condition">
            <div class="select_condition_div">
                <label class="pull-left">销售团队：</label>
                <ul class="shared_ul visitor_ul">
                    <li class="shared_section_li_active" style="margin-left: 12px">
                        <a class="team_select active" data-val="">全部</a>
                    </li>
                    <li >
                        <a class="team_select" data-val="王者队">王者队</a>
                    </li>
                    <li>
                        <a class="team_select" data-val="飞龙队">飞龙队</a>
                    </li>
                </ul>
            </div>
            <div class="select_condition_div">
                <label class="pull-left">公司类型：</label>
                <ul class="shared_ul company_ul">
                    <li class="shared_section_li_active" style="margin-left: 12px">
                        <a class="company_type active" data-val="1">全部</a>
                    </li>
                    <li>
                        <a class="company_type" data-val="1">现代渠道</a>
                    </li>
                    <li>
                        <a class="company_type" data-val="2">流通</a>
                    </li>
                    <li>
                        <a class="company_type" data-val="3">电商和APP</a>
                    </li>
                    <li>
                        <a class="company_type" data-val="4">餐饮</a>
                    </li>
                </ul>
            </div>
            <div class="select_condition_div">
                <label class="pull-left">考核结果：</label>
                <ul class="shared_ul status_ul">
                    <li class="shared_section_li_active" style="margin-left: 12px">
                        <a class="status_type active" data-val="2">全部</a>
                    </li>
                    <li>
                        <a class="status_type" data-val="0">待审核</a>
                    </li>
                    <li>
                        <a class="status_type" data-val="1">通过</a>
                    </li>
                    <li>
                        <a class="status_type" data-val="-1">驳回</a>
                    </li>
                </ul>
            </div>
            <div class="select_condition_div">
                <label class="pull-left">排序方式：</label>
                <ul class="shared_ul sort_ul">
                    <li class="shared_section_li_active" style="margin-left: 12px">
                        <a class="sort_type active" data-val="0">默认</a>
                    </li>
                    <li>
                        <a class="sort_type" data-val="1">按有无意向</a>
                    </li>
                    <li>
                        <a class="sort_type" data-val="2">按拜访次数</a>
                    </li>
                </ul>
            </div>
            <div class="select_condition_div share_inline_div" style="margin-left:10px">
                <label class="pull-left">拜访日期：</label>
                <div class="select_condition_div2">
                    <input type="text" class="file-date shared_view_date" id="select_date" value="" readonly="readonly" autocomplete="off" name="file-date" placeholder="选择日期" style="margin-left: 12px;cursor: default;" />
                    <b class="cancel_view_btn hidden" id="date_cancel_btn"></b>
                    <b class="arrows_view"></b>
                </div>
            </div>
            @*<div class="select_condition_div share_inline_div">
                <label class="pull-left">公司类型：</label>
                <div class="select_condition_div2">
                    <div type="text" class="shared_view_div" id="company_type" style="margin-left: 12px;background:#fff">
                        <span class="shared_view_span company_view_span" data-name="" style="color:#757575">请选择类型</span>
                        <b class="glass_cancel_view_btn hidden" id="company_cancel_btn"></b>
                        <b class="glass_view background_view"></b>
                        <div class="hidden_div hidden">
                            <select class="select_view" id="company_status" style="font-size:14px">
                                <option selected>全部类型</option>
                                <option>现代渠道</option>
                                <option>流通</option>
                                <option>电商和APP</option>
                                <option>餐饮</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="select_condition_div share_inline_div">
                <label class="pull-left">公司名称：</label>
                <div class="select_condition_div2">
                    <div type="text" class="shared_view_div" id="company_id" style="margin-left: 12px;background:#fff">
                        <span class="shared_view_span company_view_span" data-name="" style="color:#757575">请选择公司</span>
                        <b class="glass_cancel_view_btn hidden" id="company_cancel_btn"></b>
                        <b class="glass_view background_view"></b>
                        <div class="hidden_div hidden">
                            <input class="company_search_input search_input" />
                            <select class="select_view" style="font-size:14px" size="8">
                                @foreach (var name in ViewBag.Company)
                            {
                                    <option>@name.Company_Name</option>
                            }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select_condition_div share_inline_div">
                <label class="pull-left">业务员名称：</label>
                <div class="select_condition_div2">
                    <div type="text" class="shared_view_div" id="visitor_id" style="top:2px;background:#fff">
                        <span class="shared_view_span visitor_view_span" data-name="" style="color:#757575">请选择业务员</span>
                        <b class="glass_cancel_view_btn hidden" id="visitor_cancel_btn"></b>
                        <b class="glass_view background_view"></b>
                        <div class="hidden_div hidden">
                            <div class="search_contain_div">
                                <input class="visitor_search_input search_input" />
                                <b class="search_icon"></b>
                            </div>
                            <select class="select_view" size="8" style="font-size:14px">
                                @foreach (var name in ViewBag.Visitor)
                            {
                                    <option>@name.Employee_Name</option>
                            }
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="toggle_hide_container" class="hidden text-center">
            <div class="toggle_hide_div"><label>销售团队：</label><span id="team_text"></span></div>
            <div class="toggle_hide_div"><label>公司类型：</label><span id="type_text"></span></div>
            <div class="toggle_hide_div"><label>排序方式：</label><span id="sort_text"></span></div>
            <div class="toggle_hide_div"><label>考核结果：</label><span id="status_text"></span></div>
            <div class="toggle_hide_div"><label>拜访日期：</label><span id="visit_date"></span></div>
            <div class="toggle_hide_div"><label>公司名称：</label><span id="name_text"></span></div>
            <div class="toggle_hide_div"><label>业务员名称：</label><span id="visitor_text"></span></div>
        </div>
        <div class="text-center" style="font-size:16px"><i class="fa fa-angle-double-up" id="toggle_btn" style="display:block;width:60px;height:20px;background:#f7fbfe;position:absolute;left:50%;bottom:-20px"></i></div>
    </div>
        <div id="visit_list_content" class="list_content_container"></div>
</div>
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/VisitManagement/Visit_PartialView/",
                type: "post",
                data: {
                    visit_date: $("#select_date").val(),
                    dep_id: $(".team_select.active").attr("data-val"),
                    com_type: $(".company_type.active").text(),
                    com_name: $("#company_id .shared_view_span").attr("data-name"),
                    vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                    sort: $(".sort_type.active").attr("data-val"),
                    status: $(".status_type.active").attr("data-val"),
                },
                success: function (data) {
                    $("#visit_list_content").html(data)
                }
            })
            // 取消
            $("#date_cancel_btn").on("click", function () {
                $("#select_date").val("")
                $("#date_cancel_btn").addClass("hidden")
                $.ajax({
                    url: "/VisitManagement/Visit_PartialView/",
                    type: "post",
                    data: {
                        visit_date: $("#select_date").val(),
                        dep_id: $(".team_select.active").attr("data-val"),
                        com_type: $(".company_type.active").text(),
                        com_name: $("#company_id .shared_view_span").attr("data-name"),
                        vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                        sort: $(".sort_type.active").attr("data-val"),
                        status: $(".status_type.active").attr("data-val"),
                    },
                    success: function (data) {
                        $("#visit_list_content").html(data)
                    }
                })
            })
            $("#company_cancel_btn").on("click", function (event) {
                event.stopPropagation();
                $("#company_cancel_btn").addClass("hidden")
                $("#company_id .shared_view_span").attr("data-name", "")
                $("#company_id .shared_view_span").text("请选择公司")
                $.ajax({
                    url: "/VisitManagement/Visit_PartialView/",
                    type: "post",
                    data: {
                        visit_date: $("#select_date").val(),
                        dep_id: $(".team_select.active").attr("data-val"),
                        com_type: $(".company_type.active").text(),
                        com_name: $("#company_id .shared_view_span").attr("data-name"),
                        vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                        sort: $(".sort_type.active").attr("data-val"),
                        status: $(".status_type.active").attr("data-val"),
                    },
                    success: function (data) {
                        $("#visit_list_content").html(data)
                    }
                })
            })
            $("#visitor_cancel_btn").on("click", function (event) {
                event.stopPropagation();
                $("#visitor_cancel_btn").addClass("hidden")
                $("#visitor_id .shared_view_span").attr("data-name", "")
                $("#visitor_id .shared_view_span").text("请选择业务员")
                $.ajax({
                    url: "/VisitManagement/Visit_PartialView/",
                    type: "post",
                    data: {
                        visit_date: $("#select_date").val(),
                        dep_id: $(".team_select.active").attr("data-val"),
                        com_type: $(".company_type.active").text(),
                        com_name: $("#company_id .shared_view_span").attr("data-name"),
                        vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                        sort: $(".sort_type.active").attr("data-val"),
                        status: $(".status_type.active").attr("data-val"),
                    },
                    success: function (data) {
                        $("#visit_list_content").html(data)
                    }
                })
            })
            // 日期
            $("#select_date").change(function () {
                var that = $(this)
                $("#date_cancel_btn").removeClass("hidden")
                $.ajax({
                    url: "/VisitManagement/Visit_PartialView/",
                    type: "post",
                    data: {
                        visit_date: that.val(),
                        dep_id: $(".team_select.active").attr("data-val"),
                        com_type: $(".company_type.active").text(),
                        com_name: $("#company_id .shared_view_span").attr("data-name"),
                        vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                        sort: $(".sort_type.active").attr("data-val"),
                        status: $(".status_type.active").attr("data-val"),
                    },
                    success: function (data) {
                        $("#visit_list_content").html(data)
                    }
                })
            })
            // 团队
            $(".team_select").on("click", function () {
                var that = $(this)
                $(".visitor_ul li").removeClass("shared_section_li_active")
                $(".team_select").removeClass("active")
                that.parent("li").addClass("shared_section_li_active")
                that.addClass("active")
                $.ajax({
                    url: "/VisitManagement/Visit_PartialView/",
                    type: "post",
                    data: {
                        visit_date: $("#select_date").val(),
                        dep_id: that.attr("data-val"),
                        com_type: $(".company_type.active").text(),
                        com_name: $("#company_id .shared_view_span").attr("data-name"),
                        vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                        sort: $(".sort_type.active").attr("data-val"),
                        status: $(".status_type.active").attr("data-val"),
                    },
                    success: function (data) {
                        $("#visit_list_content").html(data)
                    }
                })
            })
            // 公司类型
            $(".company_type").on("click", function () {
                var that = $(this)
                $(".company_ul li").removeClass("shared_section_li_active")
                $(".company_type").removeClass("active")
                that.parent("li").addClass("shared_section_li_active")
                that.addClass("active")
                $.ajax({
                    url: "/VisitManagement/Visit_PartialView/",
                    type: "post",
                    data: {
                        visit_date: $("#select_date").val(),
                        dep_id: $(".team_select.active").attr("data-val"),
                        com_type: that.text(),
                        com_name: $("#company_id .shared_view_span").attr("data-name"),
                        vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                        sort: $(".sort_type.active").attr("data-val"),
                        status: $(".status_type.active").attr("data-val"),
                    },
                    success: function (data) {
                        $("#visit_list_content").html(data)
                    }
                })
            })
            // 排序
            $(".sort_type").on("click", function () {
                var that = $(this)
                $(".sort_ul li").removeClass("shared_section_li_active")
                $(".sort_type").removeClass("active")
                that.parent("li").addClass("shared_section_li_active")
                that.addClass("active")
                $.ajax({
                    url: "/VisitManagement/Visit_PartialView/",
                    type: "post",
                    data: {
                        visit_date: $("#select_date").val(),
                        dep_id: $(".team_select.active").attr("data-val"),
                        com_type: $(".company_type.active").text(),
                        com_name: $("#company_id .shared_view_span").attr("data-name"),
                        vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                        sort: $(".sort_type.active").attr("data-val"),
                        status: $(".status_type.active").attr("data-val"),
                    },
                    success: function (data) {
                        $("#visit_list_content").html(data)
                    }
                })
            })
            // 考核结果
            $(".status_type").on("click", function () {
                var that = $(this)
                $(".status_ul li").removeClass("shared_section_li_active")
                $(".status_type").removeClass("active")
                that.parent("li").addClass("shared_section_li_active")
                that.addClass("active")
                $.ajax({
                    url: "/VisitManagement/Visit_PartialView/",
                    type: "post",
                    data: {
                        visit_date: $("#select_date").val(),
                        dep_id: $(".team_select.active").attr("data-val"),
                        com_type: $(".company_type.active").text(),
                        com_name: $("#company_id .shared_view_span").attr("data-name"),
                        vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                        sort: $(".sort_type.active").attr("data-val"),
                        status:that.attr("data-val"),
                    },
                    success: function (data) {
                        $("#visit_list_content").html(data)
                    }
                })
            })
            // span 点击
            $(".shared_view_div").on("click", function (event) {
                event.stopPropagation();
                var that = $(this)
                $(".hidden_div").addClass("hidden")
                $(".shared_view_div").removeClass("shared_view_span_active")
                that.addClass("shared_view_span_active")
                that.children(".hidden_div").removeClass("hidden")
                that.children(".background_view").removeClass("glass_view").addClass("glass_view_active")
            })
            // 隐藏的选择列表弹出、隐藏
            $(document).on('click', function () {
                $(".hidden_div").addClass("hidden");
                $(".background_view").removeClass("glass_view_active").addClass("glass_view")
                $(".search_input").val("")
                $(".shared_view_div ").removeClass("shared_view_span_active")
            });
            $("#visitor_id .select_view").click(function (event) {
                $("#visitor_cancel_btn").removeClass("hidden")
                event.stopPropagation();
                var options = $("#visitor_id .select_view option:selected")
                $(this).parents(".hidden_div").addClass("hidden").siblings(".visitor_view_span").html(options.text()).attr("data-name", options.text())
                $(".background_view").removeClass("glass_view_active").addClass("glass_view")
                $.ajax({
                    url: "/VisitManagement/Visit_PartialView/",
                    type: "post",
                    data: {
                        visit_date: $("#select_date").val(),
                        dep_id: $(".team_select.active").attr("data-val"),
                        com_type: $(".company_type.active").text(),
                        com_name: $("#company_id .shared_view_span").attr("data-name"),
                        vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                        sort: $(".sort_type.active").attr("data-val"),
                        status: $(".status_type.active").attr("data-val"),
                    },
                    success: function (data) {
                        $("#visit_list_content").html(data)
                        $(".select_view option").removeAttr("selected")
                    }
                })
            })
            $("#company_id .select_view").click(function (event) {
                event.stopPropagation();
                $("#company_cancel_btn").removeClass("hidden")
                var options = $("#company_id .select_view option:selected")
                $(this).parents(".hidden_div").addClass("hidden").siblings(".company_view_span").html(options.text()).attr("data-name", options.text())
                $(".background_view").removeClass("glass_view_active").addClass("glass_view")
                $.ajax({
                    url: "/VisitManagement/Visit_PartialView/",
                    type: "post",
                    data: {
                        visit_date: $("#select_date").val(),
                        dep_id: $(".team_select.active").attr("data-val"),
                        com_type: $(".company_type.active").text(),
                        com_name: $("#company_id .shared_view_span").attr("data-name"),
                        vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                        sort: $(".sort_type.active").attr("data-val"),
                        status: $(".status_type.active").attr("data-val"),
                    },
                    success: function (data) {
                        $("#visit_list_content").html(data)
                        $(".select_view option").removeAttr("selected")
                    }
                })
            })
            // 搜索
            // visitor
            $(".visitor_search_input").on("input", function () {
                if ($(".visitor_search_input").val() == "") {
                    $("#visitor_id select").removeClass("hidden")
                }
                else {
                    $('.visitor_search_input').typeahead({
                        ajax: {
                            url: '/VisitManagement/QueryVisitor',
                            triggerLength: 1
                        },
                        itemSelected: displayResult,
                        display: 'VisitorName',
                        val: 'Id'
                    });
                    function displayResult(item, val, text) {
                        $(".visitor_view_span").text(text).attr("data-name", text);
                        $("#visitor_id .hidden_div").addClass("hidden")
                        $(".background_view").removeClass("glass_view_active").addClass("glass_view")
                        $(".visitor_search_input").val("")
                        $("#visitor_id select").removeClass("hidden")
                        $("#visitor_cancel_btn").removeClass("hidden")
                        $.ajax({
                            url: "/VisitManagement/Visit_PartialView/",
                            type: "post",
                            data: {
                                visit_date: $("#select_date").val(),
                                dep_id: $(".team_select.active").attr("data-val"),
                                com_type: $(".company_type.active").text(),
                                com_name: $("#company_id .shared_view_span").attr("data-name"),
                                vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                                sort: $(".sort_type.active").attr("data-val"),
                                status: $(".status_type.active").attr("data-val"),
                            },
                            success: function (data) {
                                $("#visit_list_content").html(data)
                            }
                        })
                    }
                    $("#visitor_id select").addClass("hidden")
                }
            });
            //company
            $(".company_search_input").on("input", function () {
                if ($(".company_search_input").val()=="") {
                    $("#company_id select").removeClass("hidden")
                } else {
                    $('.company_search_input').typeahead({
                        ajax: {
                            url: '/VisitManagement/QueryCompany',
                            triggerLength: 1
                        },
                        itemSelected: displayCResult,
                        display: 'CompanyName',
                        val: 'Id'
                    });
                    function displayCResult(item, val, text) {
                        $(".company_view_span").text(text).attr("data-name", text);
                        $("#company_id .hidden_div").addClass("hidden")
                        $(".background_view").removeClass("glass_view_active").addClass("glass_view")
                        $(".company_search_input").val("")
                        $("#company_id select").removeClass("hidden")
                        $("#company_cancel_btn").removeClass("hidden")
                        $.ajax({
                            url: "/VisitManagement/Visit_PartialView/",
                            type: "post",
                            data: {
                                visit_date: $("#select_date").val(),
                                dep_id: $(".team_select.active").attr("data-val"),
                                com_type: $(".company_type.active").text(),
                                com_name: $("#company_id .shared_view_span").attr("data-name"),
                                vis_name: $("#visitor_id .shared_view_span").attr("data-name"),
                                sort: $(".sort_type.active").attr("data-val"),
                                status: $(".status_type.active").attr("data-val"),
                            },
                            success: function (data) {
                                $("#visit_list_content").html(data)
                            }
                        })
                    }
                    $("#company_id select").addClass("hidden")
                }
            })

            // toggle
            $("#toggle_btn").on("click", function () {
                var that = $(this)
                if (that.hasClass("fa-angle-double-up")) {
                    that.addClass("fa-angle-double-down")
                    that.removeClass("fa-angle-double-up")
                    $("#shared_select_condition").hide()
                    $("#toggle_hide_container").removeClass("hidden")
                    $("#team_text").text($(".team_select.active").text())
                    $("#type_text").text($(".company_type.active").text())
                    $("#name_text").text($(".company_view_span").text())
                    $("#visitor_text").text($(".visitor_view_span").text())
                    $("#sort_text").text($(".sort_type.active").text())
                    $("#status_text").text($(".status_type.active").text())
                    if ($("#select_date").val() == "") {
                        $("#visit_date").text("选择日期")
                    }
                    else {
                        $("#visit_date").text($("#select_date").val())
                    }
                    $("#freezing_record").css("height", document.documentElement.clientHeight - $(".navbar-default.navbar-fixed-top").outerHeight(true) - $("#toggle_view_div").outerHeight(true) - 46 - 10 - 6 + 20 + "px")
                }
                else {
                    that.addClass("fa-angle-double-up")
                    that.removeClass("fa-angle-double-down")
                    $("#shared_select_condition").show()
                    $("#toggle_hide_container").addClass("hidden")
                    $("#team_text").text("")
                    $("#type_text").text("")
                    $("#name_text").text("")
                    $("#visitor_text").text("")
                    $("#visit_date").text("")
                    $("#sort_text").text("")
                    $("#status_text").text("")
                    $("#freezing_record").css("height", document.documentElement.clientHeight - $(".navbar-default.navbar-fixed-top").outerHeight(true) - $("#toggle_view_div").outerHeight(true) - 46 - 10 - 6 + "px")
                }
            })
        })
    </script>
    }