
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>代提报销量</strong></div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-createcheckin">
        <div class="page-content">
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">欧尚-上海南汇1店</div>
                                <div class="item-after">2016-07-26</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">提报信息</div>
            <div class="list-block media-list">
                <ul>
                    <li>
                        <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="促销员姓名" data-searchbar-cancel="取消">
                            <select name="storelist">
                                <option value="165">胡红</option>
                                <option value="320">唐青梅</option>
                                <option value="321">唐志君</option>
                                <option value="342">许亦安</option>
                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">人员</div>
                                        <div class="item-after smart-select-value">- 请选择 -</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">签到图片上传</div>
                                    <div class="item-after">0/1</div>
                                </div>
                                <div class="item-subtitle" id="photo-list">
                                    <ul class="rep-imglist" id="sellerreport-imglist"><li><a href="javascript:;" class="rep-imgitem-btn" id="upload-btn"><i class="fa fa-plus"></i></a></li></ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">签退图片上传</div>
                                    <div class="item-after">0/1</div>
                                </div>
                                <div class="item-subtitle" id="photo-list">
                                    <ul class="rep-imglist" id="sellerreport-imglist"><li><a href="javascript:;" class="rep-imgitem-btn" id="upload-btn"><i class="fa fa-plus"></i></a></li></ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="border-bottom:1px #D6D6D6 solid;margin-left:15px;">
                        <div class="row">
                            <div class="col-25 text-center">红糖姜茶</div>
                            <div class="col-25"><input type="number" placeholder="销量" /></div>
                            <div class="col-25"><input type="number" placeholder="库存" /></div>
                            <div class="col-25 hidden"><input type="number" placeholder="销售额" /></div>
                        </div>
                        <div class="row">
                            <div class="col-25 text-center">黑糖姜茶</div>
                            <div class="col-25"><input type="number" placeholder="销量" /></div>
                            <div class="col-25"><input type="number" placeholder="库存" /></div>
                            <div class="col-25 hidden"><input type="number" placeholder="销售额" /></div>
                        </div>
                        <div class="row">
                            <div class="col-25 text-center">蜂蜜姜茶</div>
                            <div class="col-25"><input type="number" placeholder="销量" /></div>
                            <div class="col-25"><input type="number" placeholder="库存" /></div>
                            <div class="col-25 hidden"><input type="number" placeholder="销售额" /></div>
                        </div>
                        <div class="row">
                            <div class="col-25 text-center">柠檬姜茶</div>
                            <div class="col-25"><input type="number" placeholder="销量" /></div>
                            <div class="col-25"><input type="number" placeholder="库存" /></div>
                            <div class="col-25 hidden"><input type="number" placeholder="销售额" /></div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">销量图片上传</div>
                                    <div class="item-after">0/7</div>
                                </div>
                                <div class="item-subtitle" id="photo-list">
                                    <ul class="rep-imglist" id="sellerreport-imglist"><li><a href="javascript:;" class="rep-imgitem-btn" id="upload-btn"><i class="fa fa-plus"></i></a></li></ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <textarea placeholder="请输入代签到备注"></textarea>
                                <div class="item-title-row">
                                    <div class="item-title"></div>
                                    <div class="item-after"><span>0</span>/500</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <a href="javascript:;" class="button button-big button-fill">提交</a>
            </div>
        </div>
    </div>
</div>
