@model PeriodAid.Models.Off_Checkin_Schedule
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding"><strong>添加活动日程</strong></div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-addschedule">
        <div class="page-content">
            <div class="content-block-title">活动日程</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">活动时间</div>
                                <div class="item-input">
                                    <input type="text" id="startDate" placeholder="请选择日期">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="smart-select item-link" data-back-text="返回" data-searchbar="true" data-searchbar-placeholder="店铺名称" data-searchbar-cancel="取消">
                            <select multiple>
                                <optgroup label="大润发">
                                    <option value="1">大润发-安徽当涂店</option>
                                    <option value="2">大润发-安徽阜阳店</option>
                                    <option value="3">大润发-安徽淮南店</option>
                                    <option value="4">大润发-安庆店</option>
                                </optgroup>
                                <optgroup label="欧尚">
                                    <option value="5">欧尚-蚌埠店</option>
                                    <option value="6">欧尚-常熟黄河店</option>
                                    <option value="7">欧尚-常州五星店</option>
                                    <option value="8">欧尚-丹阳店</option>
                                </optgroup>
                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">选择门店</div>
                                    <div class="item-after smart-select-value">- 请选择 -</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">标准上班时间</div>
                                <div class="item-input">
                                    <input id="startTime" type="text" placeholder="请输入时间">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">标准上班时间</div>
                                <div class="item-input">
                                    <input id="endTime" type="text" placeholder="请输入时间">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="item-link smart-select" data-back-text="返回" data-back-on-select="true" data-searchbar="true" data-searchbar-placeholder="选择模板" data-searchbar-cancel="取消">
                            <select>
                                <option value="1">日常销售</option>
                                <option value="2">欧尚日常销售</option>
                                <option value="3">大润发日常销售</option>
                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">选择模板</div>
                                    <div class="item-after smart-select-value">- 请选择 -</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">标准薪资</div>
                                <div class="item-input">
                                    <input id="Salary" type="text" placeholder="请输入标准薪资">
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <a href="javascript:;" class="button button-big button-fill" id="manangerschedule-btn">提交</a>
            </div>
        </div>
    </div>
</div>