
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">添加签到信息</div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-task-addchekin">
        <div class="page-content">
            <div class="content-block-title">操作</div>
            <div class="list-block">
                <ul>
                    <li>
                        <a href="#" class="item-link item-content">
                            <div class="item-inner">
                                <div class="item-title"><i class="fa fa-exclamation-circle color-blue" aria-hidden="true"></i>&nbsp;&nbsp;上传位置信息</div>
                                <div class="item-after">未上传</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">提交信息</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">图片上传</div>
                                <div class="item-after">0/3</div>
                            </div>
                        </div>
                        <div class="item-content" id="photo-list">
                            <div class="item-inner">
                                <ul class="rep-imglist" id="sellerreport-imglist"><li><a href="javascript:;" class="rep-imgitem-btn" id="upload-btn"><i class="fa fa-plus"></i></a></li></ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <textarea id="manager-task-remark" name="manager-task-remark" placeholder="请输入签到备注"></textarea>
                        </div>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"></div>
                                <div class="item-after"><span id="manager-task-currentlength">0</span>/<span id="manager-task-totallength">50</span></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <a href="javascript:;" class="button button-big button-fill">提交</a>
            </div>
        </div>
    </div>
</div>
