@model IEnumerable<PeriodAid.Models.Off_Checkin_Schedule>

<div class="content-block-title">@Html.Encode(ViewBag.Today.ToString("MM-dd")):&nbsp;活动门店列表&nbsp;(@Html.Encode(Model.Count()))</div>
<div class="list-block">
    <ul>
@foreach (var item in Model)
{
    <li class="swipeout">
        <a href="/Seller/Manager_CreateCheckIn" class="item-content item-link swipeout-content">
            <div class="item-inner">
                <div class="item-title">@Html.Encode(item.Off_Store.StoreName)</div>
                <div class="item-after">
                    <i class="fa fa-sign-in margin-top-3"></i>&nbsp;@Html.Encode(item.Off_Checkin.Count(m => m.Status >= 0 && m.Status < 4))&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-pencil-square-o margin-top-3"></i>&nbsp;@Html.Encode(item.Off_Checkin.Count(m => m.Status >= 4))
                </div>
            </div>
        </a>
        <div class="swipeout-actions-right">
            <a href="#" class="swipeout-delete" data-confirm="确定要删除吗？">删除</a>
        </div>
    </li>
}
    </ul>
</div>
