@model IEnumerable<PeriodAid.Models.Off_SellerTask>

    @foreach (var item in Model)
    {
        <li>
            <a href="/Seller/" class="item-content item-link">
                <div class="item-inner">
                    <div class="item-title">@item.Off_Seller.Name</div>
                    <div class="item-after">@item.ApplyDate</div>
                </div>
            </a>
        </li>
    }