@model IEnumerable<PeriodAid.Models.Off_Store>
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">门店列表</div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-storelist">
        <div class="page-content">
            <div class="content-block-title">店铺巡查（共<span>@Html.Encode(Model.Count())</span>家）</div>
            <div class="list-block">
                <ul>
                    @foreach (var item in Model)
                    {
                    <li>
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">@Html.Encode(item.StoreName)</div>
                                <div class="item-after">点击查看</div>
                            </div>
                        </a>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>