
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">门店列表</div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-storelist">
        <form class="searchbar">
            <div class="searchbar-input">
                <input type="search" placeholder="搜索">
                <a href="#" class="searchbar-clear"></a>
            </div>
            <a href="#" class="searchbar-cancel">取消</a>
        </form>
        <div class="searchbar-overlay"></div>
        <div class="page-content">
            <div class="content-block searchbar-not-found">
                查询信息不存在
            </div>
            <div class="content-block-title">店铺巡查（共<span>96</span>家）</div>
            <div class="list-block list-block-search searchbar-found">
                <ul id="manager-storelist-content">
                    <li>
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">大润发-安徽当涂店</div>
                                <div class="item-after">点击查看</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">大润发-安徽当涂店</div>
                                <div class="item-after">点击查看</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">大润发-安徽当涂店</div>
                                <div class="item-after">点击查看</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">大润发-安徽当涂店</div>
                                <div class="item-after">点击查看</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>