
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>督导管理</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <link href="~/Content/framework7.ios.min.css" rel="stylesheet" />
    <link href="~/Content/framework7.ios.colors.min.css" rel="stylesheet" />
    <link href="~/Content/Manager.css" rel="stylesheet" />
</head>
<body>
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-reveal left-nav">
        <div class="img-center">
            <div class="row">
                <div class="col-40">
                    <img src="~/Content/images/i-f7-ios.png" class="img-circle img-responsive" />
                </div>
                <div class="col-40">
                    <div style="margin:10px 0;">
                        <span class="h4">陈皮</span>
                    </div>
                    <a href="#" class="button active h6">更换头像</a>
                </div>
                <div class="col-20"></div>
            </div>
            <div class="list-block">
                <div class="list-group">
                    <ul>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">真实姓名</div>
                                <div class="item-after">陈皮</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-inner">
                                <div class="item-title">手机</div>
                                <div class="item-after">13636314852</div>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">区域</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-block">
                                    <ul>
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">大润发</div>
                                            </div>
                                        </li>
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">乐购</div>
                                            </div>
                                        </li>
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">湖南步步高</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="accordion-item">
                            <a href="" class="item-link item-content">
                                <div class="item-inner">
                                    <div class="item-title">门店</div>
                                    <div class="item-after">江山店</div>
                                </div>
                            </a>
                            <div class="accordion-item-content">
                                <div class="list-block">
                                    <ul>
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">先锋岛店</div>
                                            </div>
                                        </li>
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">相山南店</div>
                                            </div>
                                        </li>
                                        <li class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">石桥路店</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Views -->
    <div class="views">
        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="center sliding"><strong>督导管理系统</strong></div>
                    <div class="right">
                        <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
                    </div>
                </div>
            </div>
            <div class="pages navbar-through toolbar-through">
                <div class="page" data-page="Home">
                    <div class="page-content">
                        <div class="content-block-title">店铺巡查</div>
                        <div class="list-block">
                            <ul>
                                <li>
                                    <a href="/Seller/Manager_UnCheckInList" class="item-link item-content">
                                        <div class="item-inner">
                                            <div class="item-title">今日未签到</div>
                                            <div class="item-after">1</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Seller/Manager_UnCheckOutList" class="item-link item-content">
                                        <div class="item-inner">
                                            <div class="item-title">今日未签退</div>
                                            <div class="item-after">0</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Seller/Manager_UnCheckInList" class="item-link item-content">
                                        <div class="item-inner">
                                            <div class="item-title">未提报销量</div>
                                            <div class="item-after">0</div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Seller/Manager_UnCheckInList" class="item-link item-content">
                                        <div class="item-inner">
                                            <div class="item-title">销量待确认</div>
                                            <div class="item-after">0</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="toolbar tabbar tabbar-labels">
            <div class="toolbar-inner">
                <a href="javascript:;" id="tab-link" class="tab-link" data-href="/Seller/Manager_Task">
                    <i class="fa fa-map-marker padding-top-2"></i>
                    <span class="tabbar-label padding-bottom-2">签到</span>
                </a>
                <a href="javascript:;" class="tab-link active" data-href="/Seller/Manager_Home">
                    <i class="fa fa-street-view padding-top-2"></i>
                    <span class="tabbar-label padding-bottom-2">巡店</span>
                </a>
                <a href="javascript:;" class="tab-link" data-href="/Seller/Manager_Tools">
                    <i class="fa fa-cog padding-top-2"></i>
                    <span class="tabbar-label padding-bottom-2">管理</span>
                </a>
                <a href="javascript:;" class="tab-link" data-href="/Seller/Manager_Tempseller">
                    <i class="fa fa-user padding-top-2"></i>
                    <span class="tabbar-label padding-bottom-2">暗促</span>
                </a>
            </div>
        </div>
            <!-- Bottom Toolbar-->
    </div>
    <!-- Path to Framework7 Library JS-->
    <script src="~/Scripts/framework7.min.js"></script>
    <!-- Path to your app js-->
    <script src="~/Scripts/Manager.js"></script>
</body>
</html>