@model IEnumerable<PeriodAid.Models.Off_Checkin_Schedule>

@foreach (PeriodAid.Models.Off_Checkin_Schedule item in Model)
{

    <li class="swipeout">
        <div class="swipeout-content">
            <a href="#" class="item-content item-link">
                <div class="item-inner">
                    <div class="item-title">@Html.Encode(item.Off_Store.StoreName)</div>
                    <div class="item-after">无数据</div>
                </div>
            </a>
        </div>
        <div class="swipeout-actions-right">
            <a href="#" class="bg-blue">代签到</a>
        </div>
    </li>
}
