
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">本周工作</div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-task-announcementlist">
        <div class="page-content">
            <div class="content-block-title">督导重点工作列表</div>
            <div class="list-block media-list">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title color-lightblue">标题</div>
                                </div>
                                <div class="item-subtitle margin-top-7">
                                    内容
                                </div>
                                <div class="item-text margin-top-7" style="height:auto">2016-08-04&nbsp;&nbsp;|&nbsp;&nbsp;优先级：5</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>