
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">查看签到信息</div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page" data-page="manager-chekinview">
        <div class="page-content">
            <div class="content-block-title">选择/编辑数据</div>
            <div class="list-block">
                <ul>
                    <li>
                        <a href="#" class="item-link smart-select" data-back-on-select="true" data-back-text="返回" data-searchbar="true" data-searchbar-placeholder="搜索日期" data-searchbar-cancel="取消">
                            <select name="date">
                                <option value="2016-07-07" selected>2016-07-07</option>
                                <option value="2016-07-22">2016-07-22</option>
                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">日期</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/Seller/Manager_TaskReport" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">编辑日报信息</div>
                                <div class="item-after"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">签到数据列表(<span>2</span>)</div>
            <div class="list-block media-list">
                <ul>
                    <li class="swipeout">
                        <a href="javascript:;" class="swipeout-content item-content item-link">
                            <div class="item-media"><img src="~/Content/images/i-f7-ios.png" class="img-responsive" width="72" /></div>
                            <div class="item-inner" style="background: url('../../fonts/right.svg') no-repeat; background-position:calc(100% - 15px) center;background-size:10px 20px">
                                <div class="item-title">测试</div>
                                <div class="item-subtitle color-gray">红果上海市闵行开发区</div>
                                <div class="item-text">签到时间：<span>2016-07-12</span></div>
                            </div>
                        </a>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">删除</a>
                        </div>
                    </li>
                    <li class="swipeout">
                        <a href="javascript:;" class="swipeout-content item-content item-link manager-chekin-data">
                            <div class="item-media"><img src="~/Content/images/i-f7-ios.png" class="img-responsive" width="72" /></div>
                            <div class="item-inner" style="background: url('../../fonts/right.svg') no-repeat; background-position:calc(100% - 15px) center;background-size:10px 20px">
                                <div class="item-title">测试</div>
                                <div class="item-subtitle color-gray">红果上海市闵行开发区</div>
                                <div class="item-text">签到时间：<span>2016-07-12</span></div>
                            </div>
                        </a>
                        <div class="swipeout-actions-right">
                            <a href="#" class="swipeout-delete">删除</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>