
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">修改个人信息</div>
        @*<div class="right">
            <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>*@
    </div>
</div>
<div class="pages">
    <div class="page" data-page="seller-creditinfo">
        <div class="page-content">
            <div class="content-block-title">基本信息</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">张三</div>
                                <div class="item-after">010-123456</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">个人信息</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">证件</div>
                                <div class="item-input">
                                    <input id="idCard" name="idCard" placeholder="请输入身份证号码" type="number" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="item-link smart-select" data-back-on-select="true" data-back-text="返回">
                            <select id="CardName" name="CardName">
                                <option value="中国工商银行">中国工商银行</option>
                                <option value="中国建设银行">中国建设银行</option>
                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">选择银行</div>
                                    <div class="item-after">中国工商银行</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">开户行</div>
                                <div class="item-input">
                                    <input placeholder="请输入开户行名字" type="text" id="BankBranch" name="BankBranch" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">户名</div>
                                <div class="item-input">
                                    <input placeholder="请输入开户人姓名" type="text" id="UserName" name="UserName" />
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title label">卡号</div>
                                <div class="item-input">
                                    <input placeholder="请输入银行卡号" type="number" id="CardNo" name="CardNo" />
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <a href="javascript:;" class="button button-big button-fill">提交</a>
            </div>
        </div>
    </div>
</div>
