
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">促销员 签退</div>
        @*<div class="right">
            <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>*@
    </div>
</div>
<div class="pages">
    <div class="page" data-page="seller-checkout">
        <div class="page-content">
            <div class="content-block-title">基本信息</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">张三</div>
                                <div class="item-after">欧尚-上海南汇店</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">时间</div>
                                <div class="item-after">2016-08-17</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">操作</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"><i class="fa fa-check-circle color-blue" aria-hidden="true"></i>&nbsp;&nbsp;上传位置信息</div>
                                <div class="item-after">未上传</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title"><i class="fa fa-check-circle color-blue" aria-hidden="true"></i>&nbsp;&nbsp;上传图片</div>
                                <div class="item-after">未上传</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block">
                <a href="javascript:;" class="button button-big button-fill">提交</a>
            </div>
        </div>
    </div>
</div>
