

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>促销员系统</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/font-awesome-ie7.min.css" rel="stylesheet" />
    <link href="~/Content/framework7.ios.min.css" rel="stylesheet" />
    <link href="~/Content/framework7.ios.colors.min.css" rel="stylesheet" />
    <link href="~/Content/Seller.css" rel="stylesheet" />
</head>
<body>
    <!-- Status bar overlay for full screen mode (PhoneGap) -->
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <div class="panel panel-left panel-reveal left-nav">
        <div class="img-center">
            <div class="row">
                <div class="col-40">
                    <img src="~/Content/images/i-f7-ios.png" class="img-circle img-responsive" />
                </div>
                <div class="col-40">
                    <div class="leftnav-margin-10">
                        <span class="h4">张三</span>
                    </div>
                    <a href="#" class="button active h6">更新头像</a>
                </div>
                <div class="col-20"></div>
            </div>
        </div>
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">真实姓名</div>
                            <div class="item-after">张三</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">绑定门店</div>
                            <div class="item-after">欧尚-上海南汇店</div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">电话</div>
                            <div class="item-after">010-123456</div>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#" class="item-content item-link">
                        <div class="item-inner">
                            <div class="item-title">使用指南</div>
                            <div class="item-after"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-inner">
                            <div class="item-title">当前版本</div>
                            <div class="item-after">v 1.5</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Views -->
    <div class="views">
        <!-- Your main view, should have "view-main" class -->
        <div class="view view-main">
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="center sliding"><strong>促销员系统</strong></div>
                    <div class="right">
                        <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
                    </div>
                </div>
            </div>
            <div class="pages navbar-through toolbar-through">
                <div class="page" data-page="manager-home">
                    <div class="page-content">
                        <div class="content-block-title">今日任务</div>
                        <div class="list-block media-list">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">店铺同期平均销量</div>
                                            </div>
                                            <div class="subtitle color-gray font-style-01">今日可签到</div>
                                        </div>
                                        <div class="item-media media-box" style="border-bottom:1px solid #c8c7cc;"><span class="color-lightblue font-style-02">50</span>&nbsp;盒</div>
                                    </div>
                                </li>
                                <li>
                                    <a href="/Seller/Seller_CheckIn" class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">开始签到</div>
                                                <div class="item-after">可签到</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Seller/Seller_CheckOut" class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">开始签退</div>
                                                <div class="item-after">可签退</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Seller/Seller_Report" class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="item-title-row">
                                                <div class="item-title">销售报表</div>
                                                <div class="item-after">待提交：<span>0</span>次</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="content-block-title">工具</div>
                        <div class="list-block">
                            <ul>
                                <li>
                                    <a href="#" class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="item-title">排班表</div>
                                            <div class="item-after"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="item-title">考勤数据</div>
                                            <div class="item-after"></div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="item-content item-link">
                                        <div class="item-inner">
                                            <div class="item-title">完善账户信息</div>
                                            <div class="item-after"></div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Bottom Toolbar-->
    </div>
    <!-- Path to Framework7 Library JS-->
    <script src="~/Scripts/framework7.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.form.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <!-- Path to your app js-->
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>
    <script src="~/Scripts/my-validate.js"></script>
    <script src="~/Scripts/Seller.js"></script>
</body>
</html>

