
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">查看签到数据</div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page no-toolbar" data-page="manager-allchekinlist">
        <div class="page-content">
            <div class="content-block-title">选择日期</div>
            <div class="list-block">
                <ul>
                    <li>
                        <a href="#" class="item-link smart-select" data-back-on-select="true" data-back-text="返回" data-searchbar="true" data-searchbar-placeholder="搜索日期" data-searchbar-cancel="取消">
                            <select name="date">
                                <option value="2016-07-07" selected>2016-07-07</option>
                                <option value="2016-07-22">2016-07-22</option>
                            </select>
                            <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">日期</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">当日签到数（<span>3</span>）</div>
            <div class="list-block">
                <ul>
                    <li>
                        <a href="/Seller/Senior_CheckInDetails" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">陈皮</div>
                                <div class="item-after">1</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">张三</div>
                                <div class="item-after">2</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">李四</div>
                                <div class="item-after">3</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>