
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <a href="#" class="back link">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <span>返回</span>
            </a>
        </div>
        <div class="center sliding">查看签到信息</div>
        <div class="right">
            <a href="" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
    </div>
</div>
<div class="pages">
    <div class="page no-toolbar" data-page="manager-chekindetails">
        <div class="page-content">
            <div class="content-block-title">基本信息</div>
            <div class="list-block">
                <ul>
                    <li>
                        <div class="item-content">
                            <div class="item-inner">
                                <div class="item-title">陈皮</div>
                                <div class="item-after">010-4545454</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">签到数据列表（<span>2</span>）</div>
            <div class="list-block media-list">
                <ul>
                    <li>
                        <a href="javascript:;" class="item-content item-link manager-chekinphoto">
                            <div class="item-media"><img src="~/Content/images/i-f7-ios.png" class="img-responsive" width="72" /></div>
                            <div class="item-inner" style="background: url('../../fonts/right.svg') no-repeat; background-position:calc(100% - 15px) center;background-size:10px 20px">
                                <div class="item-title">测试</div>
                                <div class="item-subtitle color-gray">红果上海市闵行开发区</div>
                                <div class="item-text">签到时间：<span>2016-07-12</span></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="item-content item-link">
                            <div class="item-media"><img src="~/Content/images/i-f7-ios.png" class="img-responsive" width="72" /></div>
                            <div class="item-inner" style="background: url('../../fonts/right.svg') no-repeat; background-position:calc(100% - 15px) center;background-size:10px 20px">
                                <div class="item-title">测试</div>
                                <div class="item-subtitle color-gray">红果上海市闵行开发区</div>
                                <div class="item-text">签到时间：<span>2016-07-12</span></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content-block-title">提报信息</div>
            <div class="list-block">
                <ul>
                    <li>
                        <a href="#" class="item-content item-link">
                            <div class="item-inner">
                                <div class="item-title">查看图片</div>
                                <div class="item-after"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="content-block">
                            <div class="color-orange"><strong>重点工作内容</strong></div>
                            <p>
                                今日工作内容：<br>1_闵行欧尚辅试饮。今天闵行欧尚买一送一活动恢复，门店赠品丰盈。<br>由于近几天门店严禁试饮台出现。所以今天特住店帮忙，一天客流恢复正常，促销员叫卖给力，再次破百销量。
                            </p>
                            <div class="color-orange"><strong>普通工作内容</strong></div>
                            <p>
                                无
                            </p>
                            <div class="color-orange"><strong>须协调工作</strong></div>
                            <p>
                                无
                            </p>
                            <br />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
