
@{
    ViewBag.Title = "督导管理 工具";
    ViewBag.Current = 2;
    Layout = "~/Views/Seller/_Wx_Manager_Layout.cshtml";
}


    <input type="hidden" value="0" name="currentid" id="currentid" />
    <div class="weui_cells_title">选择日期</div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label for="" class="weui_label">日期</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text" value="@ViewBag.today.ToString("yyyy-MM-dd")" name="list_date" id="list_date">
            </div>
        </div>
    </div>
    <div id="list-content">
    </div>
    <br />
    <div class="container">
        @if (User.IsInRole("Senior"))
        {
        <a href="/Seller/Wx_Manager_CreateEvent" class="weui_btn weui_btn_primary">
            新增活动
        </a>
        }
        <a href="/Seller/Wx_Manager_Tools" class="weui_btn weui_btn_default" style="margin-top:5px;">
            返回首页
        </a>
    </div>
    <div id="toast_success" style="display: none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <i class="weui_icon_toast"></i>
            <p class="weui_toast_content">已删除</p>
        </div>
    </div>
    <div class="weui_dialog_confirm" style="display:none;" id="dialog_confirm">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">确认操作</strong></div>
            <div class="weui_dialog_bd">是否确定作废&nbsp;<span id="storetext"></span>&nbsp;活动？</div>
            <div class="weui_dialog_ft">
                <a href="javascript:;" class="weui_btn_dialog default" id="dialog_cancel_btn">取消</a>
                <a href="javascript:;" class="weui_btn_dialog primary" id="dialog_confirm_btn">确定</a>
            </div>
        </div>
    </div>
    <div class="weui_dialog_alert" id="dialog_alert" style="display:none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd">提示</div>
            <div class="weui_dialog_bd" id="dialog_text">无法删除当前活动</div>
            <div class="weui_dialog_ft">
                <a href="#" class="weui_btn_dialog primary" id="alert-btn">确定</a>
            </div>
        </div>
    </div>
    <div id="actionSheet_wrap">
        <div class="weui_mask_transition" id="mask"></div>
        <div class="weui_actionsheet" id="weui_actionsheet">
            <div class="weui_actionsheet_action">
                <div class="weui_actionsheet_cell action_sheet_cell_primary" id="add-checkin-btn">代签到</div>
                @if (User.IsInRole("Senior"))
                {
                    <div class="weui_actionsheet_cell action_sheet_cell_danger" id="cancel-schedule-btn">作废</div>
                }
            </div>
            <div class="weui_actionsheet_action">
                <div class="weui_actionsheet_cell" id="cancel-btn">取消</div>
            </div>
            <br /><br /><br />
        </div>
    </div>
    <br /><br />
<script src="~/Scripts/jeDate-gh-pages/jedate/jedate.min.js"></script>
@section scripts{
    <script>
        var mask = $('#mask');
        var weuiActionsheet = $('#weui_actionsheet');
        $("#cancel-btn").click(function () {
            hideActionSheet(weuiActionsheet, mask);
        });
        $(function () {
            $.ajax({
                url: "/Seller/Wx_Manager_EventList_Partial",
                data: {
                    date: $("#list_date").val()
                },
                type: "post",
                success: function (data) {
                    $("#list-content").html(data);
                }
            });
        });
        jeDate({
            dateCell: '#list_date',
            format: 'YYYY-MM-DD',
            isTime: true,// 分隔符可以任意定义，该例子表示只显示年月
            choosefun: function (date) {
                $.ajax({
                    url: "/Seller/Wx_Manager_EventList_Partial",
                    data: {
                        date: $("#list_date").val(),
                        storesystem: $("#storesystem").val()
                    },
                    type: "post",
                    success: function (data) {
                        $("#list-content").html(data);
                    }
                });
            }
        });
        function openactionsheet(schedule, text) {
            $("#currentid").val(schedule);
            $("#storetext").text(text);
            weuiActionsheet.addClass('weui_actionsheet_toggle');
            mask.show().addClass('weui_fade_toggle').click(function () {
                hideActionSheet(weuiActionsheet, mask);
            });
            weuiActionsheet.unbind('transitionend').unbind('webkitTransitionEnd');
        }
        function hideActionSheet(weuiActionsheet, mask) {
            weuiActionsheet.removeClass('weui_actionsheet_toggle');
            mask.removeClass('weui_fade_toggle');
            weuiActionsheet.on('transitionend', function () {
                mask.hide();
            }).on('webkitTransitionEnd', function () {
                mask.hide();
            });
        }
        $("#cancel-schedule-btn").click(function () {
            hideActionSheet(weuiActionsheet, mask);
            $("#dialog_confirm").show();
        });
        $("#dialog_cancel_btn").click(function () {
            $("#dialog_confirm").hide();
            return false;
        });
        $("#alert-btn").click(function () {
            $("#dialog_alert").hide();
        })
        $("#dialog_confirm_btn").click(function () {
            $("#dialog_confirm").hide();
            $.ajax({
                url: "/Seller/Wx_Manager_DeleteEvent",
                data: {
                    scheduleid: $("#currentid").val()
                },
                type: "post",
                success: function (data) {
                    if (data == "SUCCESS") {
                        $("#toast_success").show();
                        $.ajax({
                            url: "/Seller/Wx_Manager_EventList_Partial",
                            data: {
                                date: $("#list_date").val()
                            },
                            type: "post",
                            success: function (data) {
                                $("#list-content").html(data);
                                $("#toast_success").fadeOut(500);
                            }
                        });
                    }
                    else {
                        $("#dialog_alert").show();
                    }
                }
            })
        });
        $("#add-checkin-btn").click(function () {
            var id = $("#currentid").val();
            window.location.href = "/Seller/Wx_Manager_CreateCheckIn?sid=" + id;
        });
    </script>
    }