
@{
    ViewBag.Title = "督导管理 - 红包管理";
    Layout = "~/Views/Seller/_Wx_Manager_Layout.cshtml";
    ViewBag.Current = 2;
}
<div class="navbar">
    <div class="bd" style="height: 100%;">
        <div class="weui_tab">
            <div class="weui_navbar">
                <div class="weui_navbar_item weui_bar_item_on" data-rel="/Seller/Wx_Manager_BonusList_Ajax">
                    红包发放
                </div>
                <div class="weui_navbar_item" data-rel="/Seller/Wx_Manager_BonusHistory_Ajax">
                    红包记录
                </div>
            </div>
            <div class="weui_tab_bd">

            </div>
        </div>
    </div>
</div>
<div id="bonuslist"></div>

<div class="weui_dialog_confirm" id="dismiss_dialog" style="display:none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
        <div class="weui_dialog_bd">是否要驳回选中的红包申请</div>
        <div class="weui_dialog_ft">
            <a href="javascript:cancel_dialog();" class="weui_btn_dialog default">取消</a>
            <a href="javascript:;" id="bonus_dismiss_btn" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
<div class="weui_dialog_confirm" id="confirm_dialog" style="display:none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd"><strong class="weui_dialog_title">提示</strong></div>
        <div class="weui_dialog_bd">是否确认红包并发放红包申请</div>
        <div class="weui_dialog_ft">
            <a href="javascript:cancel_dialog();" class="weui_btn_dialog default">取消</a>
            <a href="javascript:;" id="bonus_submit_btn" class="weui_btn_dialog primary">确定</a>
        </div>
    </div>
</div>
<div id="toast_success" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content">已完成</p>
    </div>
</div>
<div id="loadingToast" class="weui_loading_toast" style="display:none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <div class="weui_loading">
            <!-- :) -->
            <div class="weui_loading_leaf weui_loading_leaf_0"></div>
            <div class="weui_loading_leaf weui_loading_leaf_1"></div>
            <div class="weui_loading_leaf weui_loading_leaf_2"></div>
            <div class="weui_loading_leaf weui_loading_leaf_3"></div>
            <div class="weui_loading_leaf weui_loading_leaf_4"></div>
            <div class="weui_loading_leaf weui_loading_leaf_5"></div>
            <div class="weui_loading_leaf weui_loading_leaf_6"></div>
            <div class="weui_loading_leaf weui_loading_leaf_7"></div>
            <div class="weui_loading_leaf weui_loading_leaf_8"></div>
            <div class="weui_loading_leaf weui_loading_leaf_9"></div>
            <div class="weui_loading_leaf weui_loading_leaf_10"></div>
            <div class="weui_loading_leaf weui_loading_leaf_11"></div>
        </div>
        <p class="weui_toast_content">提交中...</p>
    </div>
</div>
<br /><br />
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "/Seller/Wx_Manager_BonusList_Ajax",
                success: function (data) {
                    $("#bonuslist").html(data);
                }
            });
            $("#bonuslist").delegate(".weui_check", "change", function () {
                if ($(".weui_check:checked").length > 0) {
                    $("button.weui_btn").removeClass("weui_btn_disabled").removeAttr("disabled");
                }
                else {
                    $("button.weui_btn").addClass("weui_btn_disabled").attr("disabled");
                }
            });
        });
        $(".weui_navbar_item").click(function () {
            var url = $(this).attr("data-rel");
            $(".weui_navbar_item").removeClass("weui_bar_item_on");
            $(this).addClass("weui_bar_item_on");
            $.ajax({
                url: url,
                success: function (data) {
                    $("#bonuslist").html(data);
                }
            })
        });
        
        $(document).delegate("#confirm_bonus", "click", function () {
            $("#confirm_dialog").show();
        });
        $(document).delegate("#dismiss_bonus", "click", function () {
            $("#dismiss_dialog").show();
        });
        function cancel_dialog() {
            $(".weui_dialog_confirm").hide();
        }
        $("#bonus_dismiss_btn").click(function () {
            $("#dismiss_bonus").attr("disabled", "disabled").addClass("weui_btn_disabled");
            $("#dismiss_dialog").hide();
            var id_Array = new Array();
            $(".weui_check:checked").each(function () {
                id_Array.push($(this).attr("id"));
            })
            $.ajax({
                url: "/Seller/Wx_Manager_BonusList_Dismiss",
                data: {
                    bonuslist: id_Array.toString()
                },
                type: "post",
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        $("#toast_success").show();
                        setTimeout(function () {
                            $("#toast_success").hide();
                        }, 1000);
                        $.ajax({
                            url: "/Seller/Wx_Manager_BonusList_Ajax",
                            success: function (data) {
                                $("#bonuslist").html(data);
                            }
                        });
                    }
                }
            });
        });
        $("#bonus_submit_btn").click(function () {
            $(this).attr("disabled", "disabled").addClass("weui_btn_disabled");
            $("#confirm_bonus").attr("disabled", "disabled").addClass("weui_btn_disabled");
            $("#confirm_dialog").hide();
            var id_Array = new Array();
            $(".weui_check:checked").each(function () {
                id_Array.push($(this).attr("id"));
            });
            alert(id_Array.toString());
            $("#loadingToast").show();
            $.ajax({
                url: "/Seller/Wx_Manager_BonusList_Confirm",
                data: {
                    bonuslist: id_Array.toString()
                },
                type: "post",
                success: function (data) {
                    $("#loadingToast").hide();
                    if (data.result == "SUCCESS") {
                        $("#toast_success").show();
                        setTimeout(function () {
                            $("#toast_success").hide();
                        }, 1000);
                        $.ajax({
                            url: "/Seller/Wx_Manager_BonusList_Ajax",
                            success: function (data) {
                                $("#bonuslist").html(data);
                            }
                        });
                    }
                }
            });
        });
        function start_query() {
            $("#loadingToast").show();
            $.ajax({
                url: "/Seller/Wx_Manager_BonusQuery_Ajax",
                type: "post",
                success: function (data) {
                    $("#loadingToast").hide();
                    if (data.result == "SUCCESS") {
                        $("#toast_success").show();
                        setTimeout(function () {
                            $("#toast_success").hide();
                        }, 1000);
                        $.ajax({
                            url: "/Seller/Wx_Manager_BonusHistory_Ajax",
                            success: function (data) {
                                $("#bonuslist").html(data);
                            }
                        });
                    }
                }
            })
        }
    </script>
    }
