@{
    ViewBag.Title = "督导管理 工具";
    ViewBag.Current = 2;
    Layout = "~/Views/Seller/_Wx_Manager_Layout.cshtml";
}

<div class="weui_cells_title">选择日期</div>
<div class="weui_cells weui_cells_form">
    <div class="weui_cell">
        <div class="weui_cell_hd"><label for="" class="weui_label">日期</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="date" value="@ViewBag.today.ToString("yyyy-MM-dd")" name="list_date" id="list_date">
        </div>
        <div class="weui_cell_ft">
        </div>
    </div>
    <div class="weui_cell weui_cell_select weui_select_after">
        <div class="weui_cell_hd">
            <label for="" class="weui_label">系统</label>
        </div>
        <div class="weui_cell_bd weui_cell_primary">
            @Html.DropDownList("checklist", ViewBag.StoreSystem as SelectList, new { @class = "weui_select", @id = "storesystem", style="padding-left:0"})
        </div>
    </div>

</div>
<div id="list-content">
</div>
<br />
<div class="container">
    <a href="/Seller/Wx_Manager_Tools" class="weui_btn weui_btn_default">
        返回首页
    </a>
</div>
<div id="toast_success" style="display: none;">
    <div class="weui_mask_transparent"></div>
    <div class="weui_toast">
        <i class="weui_icon_toast"></i>
        <p class="weui_toast_content">已提交</p>
    </div>
</div>
<div class="error-label container" style="display:none;">
    <div class="col-xs-12 text-center">提交错误，请根据提示修改</div>
    <span class="col-xs-12 text-right" id="error-label-close"><i class="fa fa-times"></i></span>
</div>
<br /><br />
@section scripts{
    <script>
        $(function () {
            $.ajax({
                url: "Wx_Manager_ReportList_Partial",
                data: {
                    date: $("#list_date").val(),
                    storesystem: $("#storesystem").val()
                },
                type: "post",
                success: function (data) {
                    $("#list-content").html(data);
                }
            });
        });
        
        $("#list_date").change(function (data) {
            $.ajax({
                url: "/Seller/Wx_Manager_ReportList_Partial",
                data: {
                    date: $("#list_date").val(),
                    storesystem: $("#storesystem").val()
                },
                type: "post",
                success: function (data) {
                    $("#list-content").html(data);
                }
            });
        });
        $("#storesystem").change(function (data) {
            $.ajax({
                url: "/Seller/Wx_Manager_ReportList_Partial",
                data: {
                    date: $("#list_date").val(),
                    storesystem: $("#storesystem").val()
                },
                type: "post",
                success: function (data) {
                    $("#list-content").html(data);
                }
            });
        });
    </script>
}