@model IEnumerable<PeriodAid.Models.Off_Checkin>

@{
    ViewBag.Title = "督导管理 巡店";
    ViewBag.Current = 1;
    Layout = "~/Views/Seller/_Wx_Manager_Layout.cshtml";
}


    <div class="hd">
        <h2 class="page_title text-center">销量确认</h2>
    </div>
    <div class="weui_cells_title">待确认销量列表</div>
    <div class="weui_cells weui_cells_access">
        @foreach (var item in Model)
        {
            <a class="weui_cell" href="/Seller/Wx_Manager_CheckReport?CheckId=@item.Id">
                <div class="weui_cell_bd weui_cell_primary">
                    <p>@Html.Encode(item.Off_Checkin_Schedule.Off_Store.StoreName)</p>
                </div>
                <div class="weui_cell_ft">@Html.Encode(item.Off_Checkin_Schedule.Subscribe.ToString("MM-dd"))</div>
            </a>
        }
    </div>
    <br />
    <div class="container">
        <a href="/Seller/Wx_Manager_Home" class="weui_btn weui_btn_default">
            返回首页
        </a>
    </div>
    <br /><br />