
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>促销员 使用指南</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/example.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        h1 {
            color: #3cc51f;
        }

        h2, h3 {
            color: #de7c23;
            font-weight: bold;
        }

        h4 {
            color: #337ab7;
            font-size: 14px;
        }

        p {
            font-size: 14px;
            line-height: 24px;
        }
    </style>
</head>
<body>
    <article class="weui_article">
        <h1>使用指南</h1>
        <div class="container">
            <div id="mod_player_wrap" class="mod_player_wrap" data-content="t0191jjrtls">
                <div class="mod_inner">
                    <div id="mod_inner" class="mod_player_section center mod_independent">
                        <div>
                            <div id="mod_player" class="mod_player">
                                <div id="mod_player_skin"><embed wmode="transparent" flashvars="vid=d0157vytxq5&amp;autoplay=0&amp;list=2&amp;adplay=1&amp;showcfg=1&amp;tpid=0&amp;pic=http://www.shouquanzhai.cn/Content/image/web/video01.jpg&amp;share=1" src="http://imgcache.qq.com/tencentvideo_v1/player/TPout.swf?max_age=86400&amp;v=20130507" quality="high" name="tenvideo_flash_player_1459498358401" id="tenvideo_flash_player_1459498358401" bgcolor="#000000" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" pluginspage="http://get.adobe.com/cn/flashplayer/"></div>
                                <!-- 这个div是播放器准备输出的位置 --><!-- 引入腾讯视频播放器组件 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <h2 class="title">1. 促销员每日工作流程及要求</h2>
            <p>
                <img src="~/Content/images/guide-01-1.jpg" class="img-responsive" />
                每日工作流程主要分为：<br />1. 签到；2. 签退；3.提报销量；<br />
                促销员完成以上考勤流程，即视作完成当日促销，我们在确认销量后将及时将您的工资和奖金进行结算
            </p>
            <br />
            <h2 class="title">2. 准备工作</h2>
            <section>
                <h3>2.1 登陆</h3>
                <p>
                    关注“寿全斋官方微信”(sqz1760)，直接回复"促销员"，进入页面。<br />
                    <img src="~/Content/images/guide-01-3.jpg" class="img-responsive" />
                </p>
            </section>
            <section>
                <h3>2.2 注册</h3>
                <p>
                    首次进入系统后台需要使用您的微信号进行注册，请正确填写您的姓名、手机号码以及我们发送的短信验证码进行注册。
                </p>
            </section>
            <section>
                <h3>2.3 等待绑定</h3>
                <p>
                    注册完成后需要等待工作人员将您的账户与您的工作店铺进行绑定。完成注册后请尽快与您的督导或管理人员联系，尽快进行店铺绑定并进行日常的操作。<br />
                    (PS:注册与绑定的工作仅需要在第一次进入系统时操作；促销员已绑定状态时，促销员可以看到自己所在店铺的平均销量。未进行任何操作时销售报表显示“0”，说明没有要提交的报表数据)<br />
                    <img src="~/Content/images/guide-01-2.jpg" class="img-responsive" />
                </p>
            </section>
            <br />
            <h2 class="title">3. 每日操作内容</h2>
            <section>
                <h3>3.1 签到</h3>
                <p>
                    如当天促销员有促销任务，须在上班前完成签到工作。签到流程分为获取地址信息以及上传一张签到图片。两步操作完成后点击提交按钮完成签到。多次签到或签退会覆盖前一次的签到签退信息。<br />签到完成之后会在平均销量下方显示信息“已签到”，并且刷新签到时间<br />
                    <img src="~/Content/images/guide-02-1.jpg" class="img-responsive" />
                    (PS:如获取位置信息失败，请确保手机处于有信号状态并且手机开启位置信息)<br />
                    <img src="~/Content/images/guide-02-2.jpg" class="img-responsive" />
                    <img src="~/Content/images/new_xiaomi.jpg" class="img-responsive" />
                    <img src="~/Content/images/new_huawei.jpg" class="img-responsive" />
                    <img src="~/Content/images/new_sanxing.jpg" class="img-responsive" />
                </p>
            </section>
            <section>
                <h3>3.2 签退</h3>
                <p>
                    促销工作结束后，须在手机上完成签退工作。提交位置信息后，点击提交完成签退工作。多次签到或签退会覆盖前一次的签到签退信息。<br />签退完成后在平均销量下方显示信息“已签退”，并且刷新签退时间，提交销售报表会显示未提交的销售报表数量。<br />
                    <img src="~/Content/images/guide-02-3.jpg" class="img-responsive" />
                </p>
            </section>
            <section>
                <h3>3.3 提报销量数据</h3>
                <p>
                    完成签退以后，促销员须根据门店拉出来的销量数据提报各品类销售数据，并提交至少1张图片作为销量依据。同时也可以添加备注信息告知督导或管理人员当日活动的异常信息。<br />
                    提交图片一次最多7张图片，如有误传图片，可以点击错误的图片进行删除，并上传或补充正确的图片。<br />
                    <img src="~/Content/images/guide-02-4.jpg" class="img-responsive" />
                </p>
            </section>
            <br />
            <h2 class="title">4. 其他功能</h2>
            <section>
                <h3>4.1 查看排班时间表</h3>
                <p>
                    点击排班表功能可查询促销员对应门店的排班情况。排班表不代表促销员个人的排班计划，请各位促销员知悉。<br />
                    <img src="~/Content/images/guide-03-1.jpg" class="img-responsive" />
                </p>
            </section>
            <section>
                <h3>4.2 查看月度结算统计</h3>
                <p>
                    促销员可以查看当月以及上月的结算统计明细。结算信息可能会在确认销量后1-2天结算，请耐心等待。如结算信息有错误，请及时与督导或管理人员联系。<br />
                    <img src="~/Content/images/guide-03-2.jpg" class="img-responsive" />
                </p>
            </section>
            <section>
                <h3>4.3 修改银行卡信息</h3>
                <p>
                    促销员需要及时绑定个人的银行卡信息，方便月度结算的时候，我们可以顺利的将款项转入对应的账户。<br />
                    <img src="~/Content/images/guide-03-3.jpg" class="img-responsive" />
                </p>
            </section>
        </section>
    </article>
    <div class="container">
        @if (User.Identity.IsAuthenticated)
        {
            <a href="/Seller/Wx_Seller_Home" class="weui_btn weui_btn_primary" id="submit-btn">
                返回首页
            </a>
        }
    </div>
    <br /><br />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script language="javascript" src="http://qzs.qq.com/tencentvideo_v1/js/tvp/tvp.player.js" charset="utf-8"></script>
    <script type="text/javascript">
        $(function () {
            var device_width = $(window).width();
            var scale = 400 / 480;
            var video_width = 0
            var video_height = 0;
                video_width = device_width * 0.85;
                video_height = device_width * 0.85 * scale;
            
                //$("#myModalLabel").html($(this).attr("data-title"));
                var video = new tvp.VideoInfo();
                //向视频对象传入视频vid
                video.setVid("t0191jjrtls");
                //定义播放器对象
                var player = new tvp.Player(video_width, video_height);
                //设置播放器初始化时加载的视频
                player.setCurVideo(video);
                //设置精简皮肤，仅点播有效
                //player.addParam("flashskin", "http://imgcache.qq.com/minivideo_v1/vd/res/skins/TencentPlayerMiniSkin.swf");
                //输出播放器,参数就是上面div的id，希望输出到哪个HTML元素里，就写哪个元素的id
                player.addParam("autoplay", "0");
                player.addParam("wmode", "transparent");
                player.addParam("pic", "http://cdn2.shouquanzhai.cn/userguide_pic.jpg");
                player.write("mod_player_skin");
                //$('#myModal').modal();
                $("#mod_player_wrap").attr({
                    "width": video_width,
                    "height": video_height
                });
            
        });

    </script>
</body>
</html>
