
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>促销员考勤</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/example.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div class="hidden">
        <span id="seller_id">@ViewBag.SellerId</span>
    </div>
    <div class="hd">
        <h2 class="page_title text-center">考勤数据汇总</h2>
    </div>
    <div class="weui_cells weui_cells_access">
        <a class="weui_cell" href="javascript:;" id="date-btn">
            <div class="weui_cell_hd"><i class="weui_icon_waiting" style="margin:0 10px 0 0; height:24px;"></i></div>
            <div class="weui_cell_bd weui_cell_primary">
                <p>修改时间</p>
            </div>
            <div class="weui_cell_ft">点击查看上月数据</div>
        </a>
    </div>
    <div id="salary_content"></div>
    <br />
    <div class="container">
        <a href="/Seller/Wx_Seller_Home" class="weui_btn weui_btn_primary" id="submit-btn">
            返回首页
        </a>
    </div>
    <br /><br />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(function () {
            $.ajax({
                url: "/Seller/Wx_Seller_SalaryResult",
                data: {
                    SellerId: $("#seller_id").text(),
                    current: true
                },
                success: function (data) {
                    $("#salary_content").html(data)
                }
            });
        })
        $("#date-btn").click(function () {
            var btn_text = $(this).find(".weui_cell_ft");
            if ($(btn_text).text() == "点击查看上月数据") {
                $(btn_text).text("点击查看本月数据");
                $.ajax({
                    url: "/Seller/Wx_Seller_SalaryResult",
                    data: {
                        SellerId: $("#seller_id").text(),
                        current: false
                    },
                    success: function (data) {
                        $("#salary_content").html(data)
                    }
                })
            }
            else if ($(btn_text).text() == "点击查看本月数据") {
                $(btn_text).text("点击查看上月数据");
                $.ajax({
                    url: "/Seller/Wx_Seller_SalaryResult",
                    data: {
                        SellerId: $("#seller_id").text(),
                        current: true
                    },
                    success: function (data) {
                        $("#salary_content").html(data)
                    }
                })
            }
        });
    </script>
</body>
</html>
