

@{
    ViewBag.Title = "ScheduleStatistic";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingFive";
}
<table class="offline-search-box">
    <tr>
        <td>
            <label>活动时间：</label>
            <input class="form-control input-sm offline-search-inline" id="start-date" name="start-date" placeholder="活动时间" value="@(Convert.ToDateTime(ViewBag.CurrentDate).ToString("yyyy-MM-dd"))"/>
            <a class="btn btn-info btn-sm" id="offsales-schedule-search"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<div class="row">
    <div class="col-md-5">
        <ul class="list-unstyled">
            <li class="row offline-list-padding">
                <div class="col-md-4 h5"><strong>门店总数：</strong></div>
                <div class="col-md-8">
                    <div id="totalcount" class="progress-bar-success text-center" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                        60%
                    </div>
                </div>
            </li>
            <li class="row offline-list-padding">
                <div class="col-md-4 h5"><strong>已签到：</strong></div>
                <div class="col-md-8">
                    <div id="selfcount" class="progress-bar-danger text-center" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                        60%
                    </div>
                </div>
            </li>
            <li class="row offline-list-padding">
                <div class="col-md-4 h5"><strong>代签到：</strong></div>
                <div class="col-md-8">
                    <div id="proxycount" class="progress-bar-warning text-center" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        60%
                    </div>
                </div>
            </li>
            <li class="row offline-list-padding">
                <div class="col-md-4 h5"><strong>其他：</strong></div>
                <div class="col-md-8">
                    <div id="restcount" class="progress-bar-info text-center" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;">
                        60%
                    </div>
                </div>
            </li>
            <li class="row offline-list-padding">
                <div class="col-md-4 h5"><strong>签到率：</strong></div>
                <div class="col-md-8">
                    <div id="rate" style="margin-top:-7px;"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-7">
        <div class="row text-center">
            <div id="myChart_Pie" style="min-width:400px;height:400px"></div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $.ajax({
            url: "/OffCheckin/ScheduleStatisticAjax",
            type: "post",
            data: {
                datetime: $("#start-date").val()
            },
            success: function (data) {
                if (data.result == "SUCCESS") {
                    showstatistic(data);
                }
            }
        });
        $("#offsales-schedule-search").click(function () {
            $.ajax({
                url: "/OffCheckin/ScheduleStatisticAjax",
                type: "post",
                data: {
                    datetime: $("#start-date").val()
                },
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        showstatistic(data);
                    }
                }
            });
        });
    });

    function showstatistic(data) {
        $("#totalcount").text(data.totalcount);
        $("#totalcount").addClass("width", data.totalcount + "%");
        $("#totalcount").attr({
            "aria-valuenow": data.totalcount,
            "aria-valuemax": data.totalcount
        });
        $("#selfcount").text(data.selfcount);
        $("#selfcount").css("width", ((parseFloat(data.selfcount) / parseFloat(data.totalcount)) * 100 + "%"));
        $("#selfcount").attr({
            "aria-valuenow": data.selfcount,
            "aria-valuemax": data.totalcount
        });
        $("#proxycount").text(data.proxycount);
        $("#proxycount").css("width", ((parseFloat(data.proxycount) / parseFloat(data.totalcount)) * 100 + "%"));
        $("#proxycount").attr({
            "aria-valuenow": data.proxycount,
            "aria-valuemax": data.totalcount
        });
        $("#restcount").text(data.restcount);
        $("#restcount").css("width", ((parseFloat(data.restcount) / parseFloat(data.totalcount)) * 100 + "%"));
        $("#restcount").attr({
            "aria-valuenow": data.restcount,
            "aria-valuemax": data.totalcount
        });
        $("#rate").text(((data.selfcount / data.totalcount) * 100).toFixed(2) + "%");
        $("#myChart_Pie").highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: '活动签到数据饼状图'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: '活动签到',
                data: [
                    {
                        name: '签到',
                        y: data.selfcount,
                        color: "#d9534f"
                    },
                    {
                        name: '代签到',
                        y: data.proxycount,
                        color: "#f0ad4e"
                    },
                    {
                        name: '其他',
                        y: data.restcount,
                        color: "#5bc0de"
                    }]
            }]
        });
    }
</script>


