<div class="tm-calendar-view-panel">
    <div class="tm-calendar-inner">
        <div class="tm-calendar-inner-header tm-calendar-month-header">
            <ul class="clear-float">
                <li>星期一</li>
                <li>星期二</li>
                <li>星期三</li>
                <li>星期四</li>
                <li>星期五</li>
                <li>星期六</li>
                <li>星期日</li>
            </ul>
        </div><div class="tm-calendar-inner-body tm-caleder-month-body">
            <ul class="tm-calendar-weekofmonth clear-float">
                <li class="tm-calendar-weekofday">31</li>
                <li class="tm-calendar-weekofday">1</li>
                <li class="tm-calendar-weekofday">2</li>
                <li class="tm-calendar-weekofday">3</li>
                <li class="tm-calendar-weekofday">4</li>
                <li class="tm-calendar-weekofday">5</li>
                <li class="tm-calendar-weekofday">6</li>
            </ul>
            <ul class="tm-calendar-weekofmonth clear-float">
                <li class="tm-calendar-weekofday">7</li>
                <li class="tm-calendar-weekofday">8</li>
                <li class="tm-calendar-weekofday">9</li>
                <li class="tm-calendar-weekofday">10</li>
                <li class="tm-calendar-weekofday">11</li>
                <li class="tm-calendar-weekofday">12</li>
                <li class="tm-calendar-weekofday">13</li>
            </ul>
            <ul class="tm-calendar-weekofmonth clear-float"><li class="tm-calendar-weekofday">14</li><li class="tm-calendar-weekofday">15</li><li class="tm-calendar-weekofday">16</li><li class="tm-calendar-weekofday">17</li><li class="tm-calendar-weekofday">18</li><li class="tm-calendar-weekofday">19</li><li class="tm-calendar-weekofday">20</li></ul><ul class="tm-calendar-weekofmonth clear-float">
                <li class="tm-calendar-weekofday">21</li>
                <li class="tm-calendar-weekofday">22</li>
                <li class="tm-calendar-weekofday">23</li>
                <li class="tm-calendar-weekofday">24</li>
                <li class="tm-calendar-weekofday">25</li>
                <li class="tm-calendar-weekofday">26</li>
                <li class="tm-calendar-weekofday">27</li>
            </ul><ul class="tm-calendar-weekofmonth clear-float">
                <li class="tm-calendar-weekofday">28</li>
                <li class="tm-calendar-weekofday">29</li>
                <li class="tm-calendar-weekofday">30</li>
                <li class="tm-calendar-weekofday">31</li>
                <li class="tm-calendar-weekofday tm-calendar-prevmonth-weekofday">1</li>
                <li class="tm-calendar-weekofday tm-calendar-prevmonth-weekofday">2</li>
                <li class="tm-calendar-weekofday tm-calendar-prevmonth-weekofday">3</li>
            </ul><ul class="tm-calendar-weekofmonth clear-float">
                <li class="tm-calendar-weekofday tm-calendar-prevmonth-weekofday">4</li>
                <li class="tm-calendar-weekofday tm-calendar-prevmonth-weekofday">5</li>
                <li class="tm-calendar-weekofday tm-calendar-prevmonth-weekofday">6</li>
                <li class="tm-calendar-weekofday tm-calendar-prevmonth-weekofday">7</li>
                <li class="tm-calendar-weekofday tm-calendar-prevmonth-weekofday">8</li>
                <li class="tm-calendar-weekofday tm-calendar-prevmonth-weekofday">9</li>
                <li class="tm-calendar-weekofday tm-calendar-prevmonth-weekofday">
                    10
                </li>
            </ul>
        </div>
    </div>
</div>