@{
    ViewBag.Title = "CheckinList";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingFive";
}

<table class="offline-search-box">
    <tbody>
        <tr>
            <td class="pull-right">
                <label>门店名称：</label>
                <input class="form-control input-sm offline-search-inline" id="offcheckin-search-query" placeholder="搜索内容">
                <a class="btn btn-info btn-sm" id="offcheckin-search-btn"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
            </td>
        </tr>
    </tbody>
</table>
<div class="container">
    <ul class="nav nav-tabs row">
        <li role="presentation"><a class="offexpenses-label" href="javascript:;" data-rel="-1">已作废</a></li>
        <li role="presentation"><a class="offexpenses-label" href="javascript:;" data-rel="0">无数据</a></li>
        <li role="presentation"><a class="offexpenses-label" href="javascript:;" data-rel="1">已签到</a></li>
        <li role="presentation"><a class="offexpenses-label" href="javascript:;" data-rel="2">已签退</a></li>
        <li role="presentation"><a class="offexpenses-label" href="javascript:;" data-rel="3">已提报</a></li>
        <li role="presentation" class="active"><a class="offexpenses-label" href="javascript:;" data-rel="4">已确认</a></li>
        <li role="presentation"><a class="offexpenses-label" href="javascript:;" data-rel="5">已结算</a></li>
    </ul>
</div>
<div class="container-fluid" id="checkinlist">
</div>
<input type="hidden" id="offcheckin-status-val" value="4" />
<script>
    $(function () {
        $.ajax({
            url: "/OffCheckin/CheckinListPartial",
            success: function (data) {
                $("#checkinlist").html(data);
            }
        });
        $(document).delegate(".offcheckin-cancel-checkin", "click", function () {
            var cfm = confirm("确认要删除签到信息吗？");
            if (cfm) {
                var link_url = $(this).attr("href");
                $.ajax({
                    url: link_url,
                    type: "post",
                    success: function (data) {
                        if (getDeleteResult(data)){
                            $.ajax({
                                url: "/OffCheckin/CheckinListPartial",
                                data: {
                                    status: $("#offcheckin-status-val").val(),
                                    query: $("#offcheckin-search-query").val()
                                },
                                success: function (data) {
                                    $("#checkinlist").html(data);
                                }
                            });
                        }
                    }
                });
            }
            return false;
        });
    });
    $(".offexpenses-label").click(function () {
        $("#offcheckin-status-val").val($(this).attr("data-rel"));
        $(this).parent("li").addClass("active").siblings().removeClass("active");
        $.ajax({
            url: "/OffCheckin/CheckinListPartial",
            data: {
                status: $("#offcheckin-status-val").val(),
                query: $("#offcheckin-search-query").val()
            },
            success: function (data) {
                $("#checkinlist").html(data);
            }
        });
        return false;
    });
    $("#offcheckin-search-btn").click(function () {
        $.ajax({
            url: "/OffCheckin/CheckinListPartial",
            data: {
                status: $("#offcheckin-status-val").val(),
                query: $("#offcheckin-search-query").val()
            },
            success: function (data) {
                $("#checkinlist").html(data);
            }
        });
    });
</script>

