
@{
    ViewBag.Title = "ScheduleList";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingFive";
}
<div>
    <ul class="nav nav-tabs row">
        <li role="presentation" class="active"><a class="offsales-label" href="javascript:;" type="button" data-rel="true">历史记录</a></li>
        <li role="presentation"><a class="offsales-label" href="javascript:;" type="button" data-rel="false">预约记录</a></li>
    </ul>
</div><br />
<div>
    <ul class="list-inline list-unstyled row">
        <li><a class="btn btn-info btn-sm" href="/OffCheckin/AddSchedule" id="offsales-add-schedule"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增活动预约</a></li>
    </ul>
</div>
<div id="offsales-list-schedule">

</div>
<input type="hidden" id="offsales-label-status" />
<script>
    $(function () {
        $.ajax({
            url: "/OffCheckin/ScheduleListPartial",
            success: function (data) {
                $("#offsales-list-schedule").html(data)
            }
        })
    });
    $(".offsales-label").click(function () {
        $("#offsales-label-status").val($(this).attr("data-rel"));
        var button = $(this);
        $(this).parent("li").addClass("active").siblings().removeClass("active");
        $("#offsales-label-status").val($(button).attr("data-rel"));
        $.ajax({
            url: "/OffCheckin/ScheduleListPartial?history=" + $("#offsales-label-status").val(),
            success: function (data) {
                $("#offsales-list-schedule").html(data);
            }
        });
    });
</script>
