@{
    ViewBag.Title = "ViewScheduleDetails";
    Layout = "~/Views/Shared/_OffLayout.cshtml";
    ViewBag.Current = "headingFive";
}
<table class="offline-search-box">
    <tr>
        <td class="pull-right">
            <label>手工数据:</label>&nbsp;&nbsp;
            <input type="checkbox" id="offchechin-manualbox" />&nbsp;&nbsp;&nbsp;
            <label>门店名称：</label>
            <input class="form-control input-sm offline-search-inline" id="offsalesschedule-search-query" placeholder="搜索内容" />
            <a class="btn btn-info btn-sm" id="offsalesschedule-search-btn"><i class="fa fa-search"></i>&nbsp;&nbsp;搜索</a>
        </td>
    </tr>
</table>
<div class="container">
    <ul class="list-inline list-unstyled row">
        <li><a class="btn btn-info btn-sm" href="/OffCheckin/AddSchedule"><i class="fa fa-plus"></i>&nbsp;&nbsp;新增活动预约</a></li>
        <li><a class="btn btn-danger btn-sm" id="offsalesschedule-batchdelete">删除信息</a></li>
        <li><a class="btn btn-warning btn-sm" id="offsalesschedule-batchedit">修改时间及工资</a></li>
    </ul>
</div><br />
<div id="offsalesschedule-list">

</div>
@Html.Partial("modal")
<div class="modal fade" id="offsalesschedule-modal-batchedit">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改活动时间</h4>
            </div>
            <div class="modal-body" id="Modcontent">
                <div class="row">
                    <div class="col-md-6"><input class="form-control checkTimeIn" type="time" placeholder="签到时间" value="" disabled /></div>
                    <div class="col-md-6"><input class="form-control editTimeIn" type="time" placeholder="修改" value="" /></div>
                </div><br />
                <div class="row">
                    <div class="col-md-6"><input class="form-control checkTimeOut" type="time" placeholder="签退时间" value="" disabled /></div>
                    <div class="col-md-6"><input class="form-control editTimeOut" type="time" placeholder="修改" value="" /></div>
                </div><br />
                <div class="row">
                    <div class="col-md-6"><input class="form-control checkSalary" type="text" placeholder="工资" value="" disabled /></div>
                    <div class="col-md-6"><input class="form-control editSalary" type="text" placeholder="修改" value="" /></div>
                </div>
            </div>
            <div class="modal-footer" style="margin-top:0;">
                <button type="button" class="btn btn-success check-sure">确定</button>
                <button type="button" class="btn btn-danger check-fail">取消</button>
            </div>
            <input class="dataTime hidden" />
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<input type="hidden" value="@ViewBag.Date" id="offsalesschedule-current-date" />
<script>
    $(function () {
        $.ajax({
            url: "/OffCheckin/ViewScheduleDetailsPartial",
            data: {
                date:$("#offsalesschedule-current-date").val()
            },
            success: function (data) {
                $("#offsalesschedule-list").html(data)
            }
        })
    });
    //搜索
    $("#offsalesschedule-search-btn").click(function () {
        var query = $("#offsalesschedule-search-query").val();
        $.ajax({
            url: "/OffCheckin/ViewScheduleDetailsPartial",
            data: {
                date: $("#offsalesschedule-current-date").val(),
                query: query,
                canceled: $("#offchechin-manualbox").prop("checked")
            },
            success: function (data) {
                $("#offsalesschedule-list").html(data);
                $("#offsalesschedule-search-query").val(query);
            }
        });
    });
    //批量删除
    $("#offsalesschedule-batchdelete").click(function () {
        var url = "/OffCheckin/DeleteScheduleBatchAjax"
        var link_url = "/OffCheckin/ViewScheduleDetailsPartial"
        var $list = $("#offsalesschedule-list")
        // 判断是否至少选择一项
        var checkedNum = $("input[name='subChk']:checked").length;
        if (checkedNum == 0) {
            alert("请选择至少一项！");
            return;
        }
        // 批量选择
        if (confirm("确定要删除所选项目？")) {
            var checkedList = new Array();
            $("input[name='subChk']:checked").each(function () {
                checkedList.push($(this).val());
            });
            $.ajax({
                url: url,
                type: "post",
                data: {
                    ids: checkedList.toString()
                },
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        setTimeout(function () {
                            $.ajax({
                                url: link_url,
                                data: {
                                    date: $("#offsalesschedule-current-date").val()
                                },
                                success: function (data) {
                                    $list.html(data)
                                }
                            })
                            alert("删除成功")
                        }, 1000);
                    }
                }
            });
            return false
        }
    })
    //批量修改时间及工资
    $("#offsalesschedule-batchedit").click(function () {
        var checkedNum = $("input[name='subChk']:checked").length;
        if (checkedNum == 0) {
            alert("请选择至少一项！");
            return;
        } else {
            var checkedList = new Array();
            var checkedIn = new Array();
            var checkedOut = new Array();
            var checkedSalary = new Array();
            var chechedTime = new Array();
            $("input[name='subChk']:checked").each(function () {
                checkedList.push($(this).val());
                checkedIn.push($(this).attr("data-timeIn"));
                checkedOut.push($(this).attr("data-timeOut"));
                checkedSalary.push($(this).attr("data-salary"));
                chechedTime.push($(this).attr("data-time"));
            });
            for (var i = 0; i < chechedTime.length; i++) {
                $(".dataTime").val(chechedTime[0]);
            }
            for (var i = 0; i < checkedIn.length; i++) {
                $(".checkTimeIn").val(checkedIn[0]);
            }
            for (var i = 0; i < checkedOut.length; i++) {
                $(".checkTimeOut").val(checkedOut[0]);
            }
            for (var i = 0; i < checkedSalary.length; i++) {
                $(".checkSalary").val(checkedSalary[0]);
            }
            $("#offsalesschedule-modal-batchedit").modal('show');
        }
    });
    $(".check-sure").click(function () {
        if (confirm("确认要修改所选门店的相关信息吗？")) {
            var link_url = "/OffCheckin/EditScheduleBatchAjax";
            var checkedList = new Array();
            $("input[name='subChk']:checked").each(function () {
                checkedList.push($(this).val());
            });
            var starttime = $(".editTimeIn").val();
            var finishtime = $(".editTimeOut").val();
            var salary = $(".editSalary").val();
            var time = $(".dataTime").val();
            $.ajax({
                type: "post",
                url: link_url,
                data: {
                    ids: checkedList.toString(),
                    date: time,
                    starttime: starttime,
                    finishtime: finishtime,
                    salary: salary
                },
                success: function (data) {
                    if (data.result == "SUCCESS") {
                        $("#offsalesschedule-modal-batchedit").modal('hide');
                        var attr = $.getUrlParam("date");
                        window.location = "/OffCheckin/ViewScheduleDetails?date=" + attr;
                    }
                }
            })
        }
    });
    $(".check-fail").click(function () {
        $("#offsalesschedule-modal-batchedit").modal('hide')
    });
</script>